<% provide :title do %>Convocatorias<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposal_topics_url %>
<% end %>
<% content_for :body_class, "proposals-page" %>

<div class="proposals-container">
  <%= render Custom::ProposalTopicsPageComponent.new(
    'Convocatorias para propuestas ciudadanas',
    'Revisa los diferentes temas en los que puedes subir tus propuestas',
    '/images/process/proposals-circle.svg',
    'convocatorias',
    'a',
    '/images/process/proposals.svg',
    @proposal_topics,
    @proposal_topic,
    @proposal_topic.present? ? new_proposal_path(proposal_topic_id: @proposal_topic.id) : nil,
  ) %>

  <% if @proposal_topic.present? %>
    <%= render Custom::ProposalsPageComponent.new(
      'Propuestas',
      nil,
      nil,
      'propuestas',
      'a',
      '/images/process/proposals.svg',
      @proposals,
      @proposal,
      nil,
      'title',
      'image_url'
    ) %>

    <% if @proposal.present? %>
      <div class="comments-container">
        <div class="row">
          <div class="small-12 column">
            <% if feature?(:allow_attached_documents) %>
              <%= render "documents/documents",
                          documents: @proposal.documents,
                          max_documents_allowed: Proposal.max_documents_allowed %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <% if @proposal.video_url.present? %>
            <div class="small-12 medium-7 small-centered">
              <div class="flex-video">
                <div id="js-embedded-video" data-video-code="<%= embedded_video_code(@proposal) %>"></div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="row">
          <%= render "proposals/social_share", proposal: @proposal, share_title: t("proposals.show.share") %>
        </div>
        <%= render Shared::CommentsComponent.new(@proposal, @comment_tree, !@proposal.proposal_topic.is_active?) do %>
          <h3>
            <%= t("debates.show.comments_title") %>
            <span class="js-comments-count">(<%= @proposal.comments_count %>)</span>
          </h3>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>