<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @proposal_topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @proposal_topic.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @proposal_topic.image %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @proposal_topic.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @proposal_topic.end_date %>
</p>
