<%= render "shared/globalize_locales", resource: @proposal %>

<% @q4_options = [
  'Mujeres',
  'Niños, niñas y adolescentes',
  'Personas con discapacidad',
  'LGBTIQ+',
  'Personas mayores',
  'Personas migrantes y refugiadas',
  'Personas privadas de libertad',
  'Pueblos indígenas y tribales',
] %>

<%= form_for(@quiz, url: form_url) do |f| %>

  <div class="row column quiz-form">
    <div class="small-12 column custom-form">
      <%= f.label :q1, 'Del siguiente listado, selecciona el que crees es el principal problema de derechos humanos para este tema' %><br><br>
        <% @options.each do |option| %>
          <%= f.radio_button :q1, option, label: nil, class: 'custom-radio' %><br><br>
        <% end %>
    </div>

    <div class="small-12 column" id="hidden-field" style="display: none;">
      <%= f.text_area :q5,
        rows: 1,
        maxlength: 500,
        label: 'Si respondiste otro en la pregunta anterior, describe a continuación cuál es el principal problema de derechos humanos de este tema',
        hint: '(máximo 500 caracteres)' %>
      <br/>
    </div>

    <div class="small-12 column">
      <label>OPCIONAL: ¿De qué forma se manifiesta este problema? (casos, ejemplos, situaciones)?</label>

      <%= f.text_field :name,
        label: 'Título',
        hint: 'Indica un nombre que sirva para identificar la descripción del problema que abordarás (máximo 80 caracteres)',
        maxlength: 80,
        required: nil %>

      <%= f.text_area :description,
        maxlength: 500,
        label: 'Descripción',
        hint: 'Indica de qué forma crees que se manifiesta este problema (máximo 500 caracteres)',
        rows: 3,
        required: nil %>
    </div>

    <div class="small-12 column">
      <%= f.label :q3, 'OPCIONAL: ¿Cuál es el alcance geográfico de este problema? (selecciona una de las siguientes opciones)' %><br>
      <%= f.radio_button :q3, 'Afecta a mi comuna o comunidad', label: 'Afecta a mi comuna o comunidad' %><br>
      <%= f.radio_button :q3, 'Afecta a mi región', label: 'Afecta a mi región' %><br>
      <%= f.radio_button :q3, 'Afecta a todo el país', label: 'Afecta a todo el país' %>
      <br/><br/>
    </div>

    <div class="small-12 column" id="hidden-field-comuna" style="display: none;">
      <%= f.text_area :q2,
        rows: 1, maxlength: 120, label: 'Ingresa tu comuna o comunidad' %>
      <br/>
    </div>

    <div class="small-12 column" id="hidden-field-region" style="display: none;">
      <%= f.text_area :q2,
        rows: 1, maxlength: 120, label: 'Ingresa tu región' %>
      <br/>
    </div>

    <div class="small-12 column">
      <%= f.label :q4, 'OPCIONAL: ¿A qué grupos de población afecta particularmente este problema (selecciona todas las opciones que quieras)?' %><br>
      <% @q4_options.each do |option| %>
        <% unless option.downcase == Tag.find(params[:chapter].to_i).name.downcase %>
          <%= label_tag nil, style: 'font-weight: normal' do %>
            <%= check_box_tag 'q4[]', option %>
            <%= option %>
          <% end %>
        <% end %>
      <% end %>
      <br/>
    </div>

    <%= f.hidden_field :quiz_type, value: 1 %>
    <%= f.hidden_field :tag_id, value: params[:chapter] %>

      <div class="small-12 column">
        <label>¿Quieres que este aporte sea público? Esto permite que sea visible a otras personas en esta plataforma, y que pueda recibir apoyo de ellas.</label>
        <small>Importante: Debes completar los campos Título y Descripción si quieres hacer visible tu propuesta al público.</small><br/><br/>
        <%= f.check_box :visible, label: 'Sí, que sea público', checked: false %>
      <br/>
      </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: 'Enviar', data: { disable_with: false }) %>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('#quiz_q1').attr('required', true)
  $('#quiz_name').attr('required', false)
  $('#quiz_description').attr('required', false)

  $('input[name="quiz[q1]"]').on('change', function() {
    if (this.value === 'Otro' || this.value === 'otro') {
      $('#hidden-field').css('display', 'block');
    } else {
      $('#hidden-field').css('display', 'none');
    }
  })

  $('#quiz_q3_afecta_a_mi_comuna_o_comunidad').click(function() {
    if ($('#quiz_q3_afecta_a_mi_comuna_o_comunidad').is(':checked')) {
      $('#hidden-field-comuna').css('display', 'block');
      $('#hidden-field-region').css('display', 'none');
      $('#hidden-field-region').find('textarea').val('')
    } else {
      $('#hidden-field-comuna').css('display', 'none');
    }
  })

  $('#quiz_q3_afecta_a_mi_región').click(function() {
    if ($('#quiz_q3_afecta_a_mi_región').is(':checked')) {
      $('#hidden-field-region').css('display', 'block');
      $('#hidden-field-comuna').css('display', 'none');
      $('#hidden-field-comuna').find('textarea').val('')
    } else {
      $('#hidden-field-region').css('display', 'none');
    }
  })

  $('#hidden-field-comuna').on('keyup', function(e) {
    $('#quiz_q3_afecta_a_mi_comuna_o_comunidad').val('Afecta a mi comuna o comunidad: ' + e.target.value)
  })

  $('#hidden-field-region').on('keyup', function(e) {
    $('#quiz_q3_afecta_a_mi_región').val('Afecta a mi región: ' + e.target.value)
  })

  $('#quiz_q3_afecta_a_todo_el_país').click(function() {
    if ($('#quiz_q3_afecta_a_todo_el_país').is(':checked')) {
      $('#hidden-field-region').css('display', 'none');
      $('#hidden-field-comuna').css('display', 'none');
      $('#hidden-field-region').find('textarea').val('')
      $('#hidden-field-comuna').find('textarea').val('')
    }
  })

  $('#new_quiz').on('submit', function(e) {
    if ($('input[name="quiz[q1]"]:checked').length <= 0) {
      $('[for="quiz_q1"]').css('color', 'red');
      e.preventDefault();
      window.scrollTo(0, 0);
      return false;
    } else {
      $('[for="quiz_q1"]').css('color', 'black');
    }
  })

  if ($('#quiz_visible').is(':checked')) {
    $('#quiz_name').attr('required', true)
    $('#quiz_description').attr('required', true)
  } else {
    $('#quiz_name').attr('required', false)
    $('#quiz_description').attr('required', false)
  }

  $('#quiz_visible').on('change', function() {
    if ($('#quiz_visible').is(':checked')) {
      $('#quiz_name').attr('required', true)
      $('#quiz_description').attr('required', true)
    } else {
      $('#quiz_name').attr('required', false)
      $('#quiz_description').attr('required', false)
    }
  })
})
</script>