<% @q1_options = [
  'Memoria, verdad, justicia y reparación frente a las violaciones de derechos humanos.',
  'Educación para una sociedad sin discriminación',
  'Salud y bienestar físico, mental y social de las personas',
  'Acceso al agua',
  'Trabajo digno y derechos de las y los trabajadores',
  'Vivienda para vivir con seguridad, paz y dignidad',
  'Pensiones dignas y apoyo económico frente a la necesidad',
  'Alimentación para una vida sana y protección contra el hambre',
  'Valoración de la diversidad cultural y acceso a la cultura',
  'Protección del medio ambiente para la sostenibilidad de la vida en el planeta',
  'Prevención de la tortura y de la violencia institucional',
  'Datos protegidos y uso seguro del internet',
  'Acceso a la justicia',
  'Educación en derechos humanos para una sociedad centrada en las personas',
  'Participación',
] %>

<% @q2_options = [
  'Memoria, verdad, justicia y reparación frente a las violaciones de derechos humanos.',
  'Educación para una sociedad sin discriminación',
  'Salud y bienestar físico, mental y social de las personas',
  'Acceso al agua',
  'Trabajo digno y derechos de las y los trabajadores',
  'Vivienda para vivir con seguridad, paz y dignidad',
  'Pensiones dignas y apoyo económico frente a la necesidad',
  'Alimentación para una vida sana y protección contra el hambre',
  'Valoración de la diversidad cultural y acceso a la cultura',
  'Protección del medio ambiente para la sostenibilidad de la vida en el planeta',
  'Prevención de la tortura y de la violencia institucional',
  'Datos protegidos y uso seguro del internet',
  'Acceso a la justicia',
  'Educación en derechos humanos para una sociedad centrada en las personas',
  'Participación',
] %>

<% @q5_options = [
  'A personas mayores (mayores de 65 años)',
  'A mujeres',
  'A personas de la diversidad sexual LGBTIQ+',
  'A personas con discapacidad',
  'A Pueblos Indígenas y Tribales',
  'A personas privadas de libertad',
  'A personas migrantes y/o refugiadas',
  'A niños, niñas y adolescentes',
  'A otras personas. Especificar:',
]%>

<% @q6_options = [
  'En casa de mi familia o personas cercanas',
  'En mi barrio',
  'En mi escuela',
  'En mi comuna',
  'En mi región',
  'En todo el país',
]%>

<% if params[:type].present? && params[:type] == 'grupal' %>
  <%= render 'form_1_group', form_url: form_url %>
<% else %>
  <%= form_for(@quiz, url: form_url) do |f| %>
  <div class="row column quiz-form">

    <div class="small-12 column">
      <label for="q1">1. ¿Cuáles de estos temas de derechos humanos son para tí los tres más importantes?</label>
      <small class="help-text">Puedes escoger hasta tres.</small>
      <div><br/>
      <% @q1_options.each_with_index do |option, idx| %>
        <%= check_box_tag 'q1[]', option, false, {id: 'q1_%s' % [idx]} %>
        <%= label_tag 'q1_%s' % [idx], option %><br/>
      <% end %>
      </div>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q2">2. ¿En cuál de estos temas crees que se respetan menos los derechos humanos de las personas?</label>
      <small class="help-text">Puedes escoger sólo uno.</small>
      <br/><br/>
      <% @q2_options.each_with_index do |option, idx| %>
        <%= radio_button_tag 'q2', option, nil, id: 'q2_%s' % [idx] %>
        <%= label_tag "q2_%s" % [idx], option %><br/>
      <% end %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q3">3. En aquel tema en que se respetan menos los derechos humanos, ¿En qué notas que no se respetan?</label>
      <span class="help-text">No es sencillo identificar un problema, así que puedes editar esta respuesta las veces que quieras.</span>
      <p id="text-after-q2"></p>
      <small>(Limite: 1000 caracteres)</small>
      <% if params[:quiz_id].present? %>
        <%= text_area_tag 'q3', Quiz.find(params[:quiz_id]).q1.nil? ? '' : eval(Quiz.find(params[:quiz_id]).q1).fetch('q3', ''), rows: 4, maxlength: 1000 %>
      <% else %>
        <%= text_area_tag 'q3', nil, rows: 4, maxlength: 1000 %>
      <% end %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q4">4. ¿Cuál o cuáles crees que son las causas de ese problema?</label>
      <small class="help-text">Los problemas tienen múltiples causas. Escribe las que identifiques.</small><br/>
      <small>(Limite: 1000 caracteres)</small>
      <% if params[:quiz_id].present? %>
        <%= text_area_tag 'q4', Quiz.find(params[:quiz_id]).q1.nil? ? '' : eval(Quiz.find(params[:quiz_id]).q1).fetch('q4', ''), rows: 4, maxlength: 1000 %>
      <% else %>
        <%= text_area_tag 'q4', nil, rows: 4, maxlength: 1000 %>
      <% end %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q5">5. ¿Qué efectos tiene en las personas?</label>
      <p>Este problema provoca:</p>
      <small>(Limite: 1000 caracteres)</small>
      <% if params[:quiz_id].present? %>
        <%= text_area_tag 'q5', Quiz.find(params[:quiz_id]).q1.nil? ? '' : eval(Quiz.find(params[:quiz_id]).q1).fetch('q5', ''), rows: 4, maxlength: 1000 %>
      <% else %>
        <%= text_area_tag 'q5', nil, rows: 4, maxlength: 1000 %>
      <% end %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q6">6. ¿A quienes crees que afecta este problema?</label>
      <small class="help-text">Marca todas las casillas que creas necesario</small>
      <div><br/>
      <% @q5_options.each_with_index do |option, idx| %>
        <%= check_box_tag 'q6[]', option, false, {id: 'q6_%s' % [idx]} %>
        <%= label_tag 'q6_%s' % [idx], option %><br/>
      <% end %>
      </div>
      <input type="text" id="other-people" disabled>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q7">7. ¿En qué lugares crees que se vive este problema?</label>
      <small class="help-text">Marca todas las casillas que creas necesario</small>
      <div><br/>
      <% @q6_options.each_with_index do |option, idx| %>
        <%= check_box_tag 'q7[]', option, false, {id: 'q7_%s' % [idx]} %>
        <%= label_tag 'q7_%s' % [idx], option %><br/>
      <% end %>
      </div>
      <br/><br/>
    </div>

    <% if params[:quiz_id].present? %>
      <% @current_quiz = Quiz.find(params[:quiz_id].to_i) %>
    <% else %>
      <% @current_quiz = Quiz.create(name: 'TMP', user_id: current_user.id, visible: false) %>
    <% end %>

    <input type="hidden" id="quiz_id" name="quiz_id" value="<%= @current_quiz.id %>">
    <input type="hidden" id="step" name="step" value="1">
    <input type="hidden" id="type" name="type" value="<%= locals[:type].present? ? locals[:type] : '' %>">
    <input type="hidden" id="group" name="group" value="<%= params[:group].present? ? params[:group] : '' %>">

    <div class="actions small-12 column">
      <button id="submit" type="submit" class="button">Continuar</button>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('#text-after-q2').text('El problema que veo es...')

  $('input[name="q1[]"]').on('change', function() {
    if ($('input[name="q1[]"]:checked').length >= 3) {
      $('input[name="q1[]"]').each(function() {
        if (!this.checked) {
          $(this).attr('disabled', true)
        }
      })
    } else {
      $('input[name="q1[]"]').each(function() {
        $(this).attr('disabled', false)
      })
    }
  })

  $('input[name="quiz[q1]"]').on('change', function() {
    if (this.value === 'Otro' || this.value === 'otro') {
      $('#hidden-field').css('display', 'block');
    } else {
      $('#hidden-field').css('display', 'none');
    }
  })

  $('input[name="q2"]').on('change', function() {
    $('#text-after-q2').text('El problema que veo en ' + this.value + ' es:')
  })

  $('#q6_8').on('change', function() {
    if ($('#q6_8').is(':checked')) {
      $('#other-people').attr('disabled', false)
    } else {
      $('#other-people').val('')
      $('#other-people').attr('disabled', 'disabled')
    }
  })

  $('#other-people').on('keyup', function(e) {
    $('#q6_8').val(`A otras personas: ${e.target.value}`)
  })
})
</script>
<% end %>
