<% @q10_options = [
  'Somos compañeros y compañeras de curso/escuela',
  'Somos miembros de un Centro de Estudiantes',
  'Somos un grupo de amigos y amigas',
  'Vivimos en la misma casa',
  'Somos familiares',
  'Otro',
  'Preferimos no decir',
] %>

<% @q11_options = [
  'Actividades artísticas y/o culturales',
  'Actividades educativas',
  'Actividades de defensa y promoción de derechos humanos',
  'Actividades deportivas',
  'Actividades recreativas',
  'Actividades religiosas',
  'Actividades laborales',
  'Otras actividades',
  'Preferimos no decir',
] %>

<% @q14_options = [
  'Mapuche',
  'Aymara',
  'Rapa Nui',
  'Quechua',
  'Colla',
  'Diaguita',
  'Chango',
  'Kawashkar',
  'Licanantay',
  'Yámana o Yagán',
  'Afrodescendiente',
  'Otro',
  'No pertenezco a ningún pueblo indígena ni tribal',
  'Prefiero no decir',
] %>

<%= form_for(@quiz, url: form_url) do |f| %>
  <div class="row column quiz-form">
    <div class="small-12 column">
      <label for="q10">¿Qué tipo de grupo forman ustedes?</label><br/>
      <%= select_tag 'q10', options_for_select(@q10_options), prompt: 'Elijan una opción' %><br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q11">¿Qué actividad o actividades definen mejor los intereses del grupo?</label><br/>
      <% @q11_options.each_with_index do |option, idx| %>
        <%= check_box_tag 'q11[]', option, false, {id: 'q11_%s' % [idx]} %>
        <%= label_tag 'q11_%s' % [idx], option %><br/>
      <% end %><br/>
    </div>

    <div class="small-12 column">
      <label for="q12">¿En qué país nacieron?</label><br/>
      Chile: <%= number_field_tag 'q12_chile', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Bolivia: <%= number_field_tag 'q12_bolivia', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Venezuela: <%= number_field_tag 'q12_venezuela', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Colombia: <%= number_field_tag 'q12_colombia', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Haití: <%= number_field_tag 'q12_haiti', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Perú: <%= number_field_tag 'q12_peru', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Otro: <%= number_field_tag 'q12_otro', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Prefiero no decir: <%= number_field_tag 'q12_prefiero no decir', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      <br/>
    </div>

    <div class="small-12 column">
      <label for="q13">¿Hay algún miembro del grupo con algún tipo de discapacidad?</label><br/>
        Si: <%= number_field_tag 'q13_si', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        No: <%= number_field_tag 'q13_no', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        Prefiero no decir: <%= number_field_tag 'q13_prefiero no decir', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      <br/>
    </div>

    <div class="small-12 column">
      <label for="q14">¿A qué pueblo o pueblos indígenas o tribales pertenecen los miembros del grupo?</label><br/>
      <%= select_tag 'q14', options_for_select(@q14_options), prompt: 'Elijan una opción' %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q15">¿Dónde viven los miembros del grupo actualmente?</label><br/>
        En un hospital, por tratamiento médico prolongado: <%= number_field_tag 'q15_En un hospital, por tratamiento médico prolongado', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        En casa de familiares: <%= number_field_tag 'q15_En casa de familiares', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        En un centro privativo de libertad: <%= number_field_tag 'q15_En un centro privativo de libertad', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        En el internado de mi escuela: <%= number_field_tag 'q15_En el internado de mi escuela', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        En una residencia de protección: <%= number_field_tag 'q15_En una residencia de protección', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        Otro: <%= number_field_tag 'q15_Otro', 0, class: 'number-selection', min: 0 %><br/>
        Preferimos no decir: <%= number_field_tag 'q15_Preferimos no decir', 0, class: 'number-selection', min: 0 %><br/>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q16">¿Qué edad tiene el o la participante más pequeño del grupo?</label>
      <%= number_field_tag 'q16', 0, min: 0, max: 100 %>
      <label for="q17">¿Qué edad tiene el o la participante más grande del grupo?</label>
      <span class="help-text">Si los acompañó una persona adulta, no consideren su edad, sólo la de los miembros del grupo.</span>
      <%= number_field_tag 'q17', 0, min: 0, max: 100 %><br/>
    </div>

    <div class="small-12 column">
      <small>Si marcas esta alternativa, las <u>preguntas abiertas</u> serán visibles para otros usuarios.</small>
      <%= f.check_box :visible, label: 'Visible para los otros usuarios' %>
    </div>


    <input type="hidden" id="quiz_id" name="quiz_id" value="<%= params[:quiz_id] %>">
    <input type="hidden" id="step" name="step" value="4">

    <div class="actions small-12 column">
      <button id="submit" type="submit" class="button">Finalizar</button>
    </div>
  </div>
<% end %>