<% @q1_options = [
  'Memoria, verdad, justicia y reparación frente a las violaciones de derechos humanos',
  'Derecho a la educación',
  'Derecho a la salud',
  'Derecho al trabajo ',
  'Derecho al agua ',
  'Derecho a  Económicos, sociales, culturales y ambientales',
  'Trata y tráfico de personas',
  'Prevención de la tortura y de la violencia institucional',
  'Derechos Digitales',
  'Acceso a la justicia',
  'Personas Mayores',
  'Mujeres',
  'LGBTIQ+',
  'Personas con Discapacidad',
  'Pueblos Indígenas y Tribales',
  'Personas Privadas de Libertad',
  'Personas Migrantes y Refugiadas',
  'Niños, niñas y adolescentes',
  'Educación en Derechos Humanos',
  'Enfoque Basado en Derechos Humanos',
  'Sistemas internacionales de Derechos Humanos',
] %>

<% @q2_options = [
  'Memoria, verdad, justicia y reparación',
  'Derechos Económicos, sociales, culturales y ambientales',
  'Trata y tráfico de personas',
  'Prevención de la tortura y de la violencia institucional',
  'Derechos Digitales',
  'Acceso a la justicia',
  'Personas Mayores',
  'Mujeres',
  'LGBTIQ+',
  'Personas con Discapacidad',
  'Pueblos Indígenas y Tribales',
  'Personas Privadas de Libertad',
  'Personas Migrantes y Refugiadas',
  'Niños, niñas y adolescentes',
  'Educación en Derechos Humanos',
  'Enfoque Basado en Derechos Humanos',
  'Sistemas internacionales de Derechos Humanos',
] %>

<% @q5_options = [
  'Personas Mayores',
  'Mujeres',
  'LGBTIQ+',
  'Personas con Discapacidad',
  'Pueblos Indígenas y Tribales',
  'Personas Privadas de Libertad',
  'Personas Migrantes y Refugiadas',
  'Niños, niñas y adolescentes',
]%>

<% @q6_options = [
  'En casa de mi familia o personas cercanas',
  'En mi barrio',
  'En mi escuela',
  'En mi comuna',
  'En mi región',
  'En todo el país',
]%>


<%= form_for(@quiz, url: form_url) do |f| %>
  <div class="row column quiz-form">

    <div class="jumbo" style="padding: 15px;">
      ¡Bienvenidxs! Esta es una encuesta que busca conocer las opiniones de su grupo / curso sobre temas de derechos humanos.<br/><br/>
      Como estamos atravesando por una crisis sanitaria por el Covid-19 les recomendamos reunirse a través de videollamada. Pueden hacerlo desde la plataforma que prefieran. Acá te dejamos tres opciones gratuitas: Jitsi meet (no necesitas iniciar sesión, videollamada ilimitada) Meet (necesitas iniciar sesión en google, videollamada por tiempo ilimitado) / Zoom (necesitas registrarte en zoom, videollamada por 45 minutos).<br/><br/>Tus compañeros/as podrán ingresar a la videollamada a través del enlace que compartas y como guía de grupo podrás compartir pantalla de este sitio para que todos puedan ver la consulta y responder entre todos. 
    </div>

    <div class="small-12 column">
      <label for="q1">¿Cuáles de estos temas de derechos humanos son para ustedes los tres más importantes?</label>
      <small class="help-text">Sugerencia: Elegir 3 opciones por persona.</small>
      <div><br/>
      <% @q1_options.each do |option| %>
        <%= option %>: <%= number_field_tag 'q1_%s' % [option], 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');" %><br/>
      <% end %>
      </div>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q2">¿En cuál de estos temas crees que se respetan menos los derechos humanos de las personas?</label><br/>
      <% @q2_options.each do |option| %>
        <%= option %>: <%= number_field_tag 'q2_%s' % [option], 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      <% end %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q3">En aquel tema en que se respetan menos los derechos humanos, ¿En qué notas que no se respetan?</label>
      <p id="text-after-q2"></p>
      <small>(Limite: 1000 caracteres)</small>
      <%= text_area_tag 'q3', nil, rows: 4, maxlength: 1000, required: true %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q4">¿Cuál o cuáles crees que son las causas de ese problema?</label>
      <p>Este problema se produce por...</p>
      <small>(Limite: 1000 caracteres)</small>
      <%= text_area_tag 'q4', nil, rows: 4, maxlength: 1000, required: true %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q5">¿A quienes crees que afecta este problema?</label>
      <div><br/>
      <% @q5_options.each do |option| %>
        <%= option %>: <%= number_field_tag 'q5_%s' % [option], 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      <% end %>
      </div>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q6">¿En qué lugares crees que se vive este problema?</label>
      <div><br/>
      <% @q6_options.each do |option| %>
        <%= option %>: <%= number_field_tag 'q6_%s' % [option], 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      <% end %>
      </div>
      <br/><br/>
    </div>

    <% @current_quiz = Quiz.create(name: 'TMP', user_id: current_user.id, visible: false) %>

    <input type="hidden" id="quiz_id" name="quiz_id" value="<%= @current_quiz.id %>">
    <input type="hidden" id="step" name="step" value="1">
    <input type="hidden" id="type" name="type" value="<%= params[:type].present? ? params[:type] : '' %>">
    <input type="hidden" id="group" name="group" value="<%= params[:group].present? ? params[:group] : '' %>">

    <div class="actions small-12 column">
      <button id="submit" type="submit" class="button">Continuar</button>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('#text-after-q2').text('El problema que veo es...')
})
</script>