<%= render "shared/globalize_locales", resource: @proposal %>

<%= form_for(@quiz, url: form_url) do |f| %>

  <div class="row column quiz-form">
    <div class="small-12 column">
      <%= f.label :q1, 'Pregunta 1' %><br>
      <%= f.radio_button :q1, 'Opción 1', label: 'Opción 1' %><br>
      <%= f.radio_button :q1, 'Opción 2', label: 'Opción 2' %><br>
      <%= f.radio_button :q1, 'Otro', label: 'Otro' %>
      <br/><br>
    </div>

    <div class="small-12 column" id="hidden-field" style="display: none;">
      <%= f.text_area :q5,
        rows: 1, maxlength: 200, label: 'Respuesta para "Otro"' %>
      <br/>
    </div>

    <div class="small-12 column">
      <label>Pregunta abierta</label>

      <div class="small-12 column">
        <%= f.check_box :visible, label: 'Visible para los otros usuarios' %>
      </div>

      <%= f.text_field :name,
        label: 'Título',
        maxlength: 25 %>

      <%= f.text_area :description,
        maxlength: 250,
        rows: 3 %>
    </div>

    <div class="small-12 column">
      <%= f.label :q3, 'Pregunta 3' %><br>
      <%= f.radio_button :q3, 'Opción 1', label: 'Opción 1' %><br>
      <%= f.radio_button :q3, 'Opción 2', label: 'Opción 2' %><br>
      <%= f.radio_button :q3, 'Opción 3', label: 'Opción 3' %>
      <br/><br>
    </div>

    <div class="small-12 column">
      <%= f.label :q4, 'Pregunta 4' %><br>
      <%= label_tag nil, style: 'font-weight: normal' do %>
        <%= check_box_tag 'q4[]', 'Opción multiple 1' %>
        Opción multiple 1
      <% end %>
      <%= label_tag nil, style: 'font-weight: normal' do %>
        <%= check_box_tag 'q4[]', 'Opción multiple 2' %>
        Opción multiple 2
      <% end %>
      <%= label_tag nil, style: 'font-weight: normal' do %>
        <%= check_box_tag 'q4[]', 'Opción multiple 3' %>
        Opción multiple 3
      <% end %>
      <br/>
    </div>

    <%= f.hidden_field :quiz_type, value: 1 %>
    <%= f.hidden_field :tag_id, value: params[:chapter] %>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: 'Enviar', data: { disable_with: false }) %>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('#quiz_q1').attr('required', true)

  $('input[name="quiz[q1]"]').on('change', function() {
    if (this.value === 'Otro' || this.value === 'otro') {
      $('#hidden-field').css('display', 'block');
    } else {
      $('#hidden-field').css('display', 'none');
    }
  })

  $('#new_quiz').on('submit', function(e) {
    if ($('input[name="quiz[q1]"]:checked').length <= 0) {
      $('[for="quiz_q1"]').css('color', 'red');
      e.preventDefault();
      window.scrollTo(0, 0);
      return false;
    } else {
      $('[for="quiz_q1"]').css('color', 'black');
    }
  })
})
</script>