<% @q11_options = [
  'Somos compañeros y compañeras de curso/escuela',
  'Somos miembros de un Centro de Estudiantes',
  'Somos un grupo de amigos y amigas',
  'Vivimos en la misma casa',
  'Somos familiares',
  'Otro',
  'Preferimos no decir',
] %>

<% @q12_options = [
  'Actividades artísticas y/o culturales',
  'Actividades educativas',
  'Actividades de defensa y promoción de derechos humanos',
  'Actividades deportivas',
  'Actividades recreativas',
  'Actividades religiosas',
  'Actividades laborales',
  'Otras actividades',
  'Preferimos no decir',
] %>

<% @q15_options = [
  'Mapuche',
  'Aymara',
  'Rapa Nui',
  'Quechua',
  'Colla',
  'Diaguita',
  'Chango',
  'Kawashkar',
  'Licanantay',
  'Yámana o Yagán',
  'Afrodescendiente',
  'Otro',
  'No pertenezco a ningún pueblo indígena ni tribal',
  'Prefiero no decir',
] %>

<% uri = URI('https://apis.digital.gob.cl/dpa/comunas') %>
<% res = Net::HTTP.get_response(uri) %>
<% @comunas = JSON.parse(res.body).map{|c| c['nombre']} %>

<%= form_for(@quiz, url: form_url) do |f| %>
  <div class="row column quiz-form">
    <div class="small-12 column">
      <label for="q11">11. ¿Qué tipo de grupo forman ustedes?</label><br/>
      <%= select_tag 'q11', options_for_select(@q11_options), prompt: 'Elijan una opción' %>
      <label id="custom-group-label" style="display: none">Especificar:</label>
      <input type="text" id="custom-group" style="display: none"><br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q12">12. ¿Qué actividad o actividades definen mejor los intereses del grupo?</label><br/>
      <% @q12_options.each_with_index do |option, idx| %>
        <%= check_box_tag 'q12[]', option, false, {id: 'q12_%s' % [idx]} %>
        <%= label_tag 'q12_%s' % [idx], option %><br/><br/>
      <% end %><br/>
    </div>

    <div class="small-12 column">
      <label for="q13">13. ¿En qué país nacieron?</label><br/>
      Chile: <%= number_field_tag 'q13_chile', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Bolivia: <%= number_field_tag 'q13_bolivia', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Venezuela: <%= number_field_tag 'q13_venezuela', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Colombia: <%= number_field_tag 'q13_colombia', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Haití: <%= number_field_tag 'q13_haiti', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Perú: <%= number_field_tag 'q13_peru', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Otro: <%= number_field_tag 'q13_otro', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      Prefiero no decir: <%= number_field_tag 'q13_prefiero no decir', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      <br/>
    </div>

    <div class="small-12 column">
      <label for="q14">14. ¿Hay algún miembro del grupo con algún tipo de discapacidad?</label><br/>
        Si: <%= number_field_tag 'q14_si', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        No: <%= number_field_tag 'q14_no', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        Prefiero no decir: <%= number_field_tag 'q14_prefiero no decir', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
      <br/>
    </div>

    <div class="small-12 column">
      <label for="q15">15. ¿A qué pueblo o pueblos indígenas o tribales pertenecen los miembros del grupo?</label>
      <span class="help-text">En caso de que haya integrantes de más de un pueblo indígena o tribal, seleccionen la opción “Otros” y escríbanlos en el espacio disponible para ello. </span><br/>
      <%= select_tag 'q15', options_for_select(@q15_options), prompt: 'Elijan una opción' %>
      <label id="custom-indigenous-label" style="display: none">Especificar:</label>
      <input type="text" id="custom-indigenous" style="display: none">
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q16">16. ¿Dónde viven los miembros del grupo actualmente?</label><br/>
        En un hospital, por tratamiento médico prolongado: <%= number_field_tag 'q16_En un hospital, por tratamiento médico prolongado', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        En casa de familiares: <%= number_field_tag 'q16_En casa de familiares', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        En un centro privativo de libertad: <%= number_field_tag 'q16_En un centro privativo de libertad', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        En el internado de mi escuela: <%= number_field_tag 'q16_En el internado de mi escuela', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        En una residencia de protección: <%= number_field_tag 'q16_En una residencia de protección', 0, class: 'number-selection', min: 0, oninput: "this.value=this.value.replace(/[^0-9]/g,'');"  %><br/>
        Otro: <%= number_field_tag 'q16_Otro', 0, class: 'number-selection', min: 0 %><br/>
        Preferimos no decir: <%= number_field_tag 'q16_Preferimos no decir', 0, class: 'number-selection', min: 0 %><br/>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q17">17. ¿Qué edad tiene el o la participante más pequeño del grupo?</label>
      <%= number_field_tag 'q17', 0, min: 0, max: 100 %><br/>
      <label for="q18">18. ¿Qué edad tiene el o la participante más grande del grupo?</label>
      <span class="help-text">Si los acompañó una persona adulta, no consideren su edad, sólo la de los miembros del grupo.</span>
      <%= number_field_tag 'q18', 0, min: 0, max: 100 %><br/>
    </div>

      <div class="small-12 column">
        <label for="q19">19. ¿En qué comuna vive la mayoría de los miembros del grupo?</label>
        <small class="help-text">Puedes escoger sólo una.</small>
        <%= select_tag 'q19', options_for_select(@comunas), prompt: 'Elijan una opción' %><br/><br/>
      </div>

    <div class="small-12 column">
      <small>Si marcas esta alternativa, las <u>preguntas abiertas</u> (3, 8 y 9) serán visibles para otros usuarios.</small>
      <%= f.check_box :visible, label: 'Visible para los otros usuarios' %>
    </div>


    <input type="hidden" id="quiz_id" name="quiz_id" value="<%= params[:quiz_id] %>">
    <input type="hidden" id="step" name="step" value="4">

    <div class="actions small-12 column">
      <button id="submit" type="submit" class="button">Finalizar</button>
    </div>
  </div>
<% end %>

<script>
$('#q11').on('change', function() {
  if (this.value == 'Otro') {
    $('#custom-group').css('display', 'block')
    $('#custom-group-label').css('display', 'block')
  } else {
    $('#custom-group').css('display', 'none')
    $('#custom-group-label').css('display', 'none')
  }
})

$('#q15').on('change', function() {
  if (this.value == 'Otro') {
    $('#custom-indigenous').css('display', 'block')
    $('#custom-indigenous-label').css('display', 'block')
  } else {
    $('#custom-indigenous').css('display', 'none')
    $('#custom-indigenous-label').css('display', 'none')
  }
})

$('#custom-group').on('change', function(e) {
    if (document.getElementById('temp-group')) {
      document.getElementById('temp-group').outerHTML = '';
    }

    if(e.target.value != '') {
      $('#q11').append(`<option id="temp-group" value="${e.target.value}">${e.target.value}</option>`)
      $(`option[value="${e.target.value}"]`).attr('selected', true)
    }
})

$('#custom-indigenous').on('change', function(e) {
    if (document.getElementById('temp-indi')) {
      document.getElementById('temp-indi').outerHTML = '';
    }

    if(e.target.value != '') {
      $('#q15').append(`<option id="temp-indi" value="${e.target.value}">${e.target.value}</option>`)
      $(`option[value="${e.target.value}"]`).attr('selected', true)
    }
})
</script>