<%= render "shared/globalize_locales", resource: @proposal %>

<%= form_for(@quiz, url: form_url) do |f| %>

  <div class="row column quiz-form">
    <div class="small-12 column">
      <label>Pregunta abierta</label>
      <%= f.text_field :name,
        label: 'Título',
        hint: 'Indica un nombre que sirva para identificar la propuesta que realizarás (máximo 80 caracteres)',
        maxlength: 80,
        required: true %>

      <%= f.text_area :description,
        maxlength: 500,
        rows: 3,
        label: 'Ingresa una propuesta de iniciativa que creas deba ser comprometida por alguna institución pública en el Segundo PNDH',
        hint: '(máximo 500 caracteres)',
        required: true %>
    </div>

    <div class="small-12 column">
      <%= f.select :q2, [['Opción 1', 'Opción 1'], ['Opción 2', 'Opción 2']],
        label: 'OPCIONAL: Selecciona la institución pública que debería comprometerse a realizar la iniciativa que sugeriste',
        prompt: "Elija una opción" %>
      <br/><br/>
    </div>

    <%= f.hidden_field :quiz_type, value: 3 %>
    <%= f.hidden_field :tag_id, value: params[:chapter] %>

      <div class="small-12 column">
        <label>¿Quieres que este aporte sea público? Esto permite que sea visible a otras personas en esta plataforma, y que pueda recibir apoyo de ellas</label>
        <%= f.check_box :visible, label: 'Sí, que sea público' %>
        <br/>
      </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: 'Enviar', data: { disable_with: false }) %>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('#quiz_q1').attr('required', true)

  if ($('#quiz_visible').is(':checked')) {
    $('#quiz_name').attr('required', true)
    $('#quiz_description').attr('required', true)
  } else {
    $('#quiz_name').attr('required', false)
    $('#quiz_description').attr('required', false)
  }

  $('#quiz_visible').on('change', function() {
    if ($('#quiz_visible').is(':checked')) {
      $('#quiz_name').attr('required', true)
      $('#quiz_description').attr('required', true)
    } else {
      $('#quiz_name').attr('required', false)
      $('#quiz_description').attr('required', false)
    }
  })
})
</script>