<% @q11_options = [
  'Chile',
  'Bolivia',
  'Venezuela',
  'Colombia',
  'Haití',
  'Perú',
  'Prefiero no decir',
  'Otro',
] %>

<% @q14_options = [
  'Mapuche',
  'Aymara',
  'Rapa Nui',
  'Quechua',
  'Colla',
  'Diaguita',
  'Chango',
  'Kawashkar',
  'Licanantay',
  'Yámana o Yagán',
  'Afrodescendiente',
  'Otro',
  'No pertenezco a ningún pueblo indígena ni tribal',
  'Prefiero no decir',
] %>

<% uri = URI('https://apis.digital.gob.cl/dpa/comunas') %>
<% res = Net::HTTP.get_response(uri) %>
<% @comunas = JSON.parse(res.body).map{|c| c['nombre']} %>

<% if Quiz.find(params[:quiz_id]).group_id.nil? %>
  <%= form_for(@quiz, url: form_url) do |f| %>

    <div class="row column quiz-form">
      <div class="small-12 column">
        <label for="q17">¿En qué comuna vives?</label>
        <%= select_tag 'q17', options_for_select(@comunas), prompt: 'Elige una opción', required: true %><br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q10">¿Con cuál género te identificas?</label><br/>
          <%= radio_button_tag 'q10', 'Femenino' %>
          <%= label_tag "q10_Femenino", 'Femenino' %><br/>
          <%= radio_button_tag 'q10', 'Masculino' %>
          <%= label_tag "q10_Masculino", 'Masculino' %><br/>
          <%= radio_button_tag 'q10', 'Transgénero' %>
          <%= label_tag "q10_Transgénero", 'Transgénero' %><br/>
          <%= radio_button_tag 'q10', 'Otro' %>
          <%= label_tag "q10_Otro", 'Otro' %><br/>
          <%= radio_button_tag 'q10', 'No sé' %>
          <%= label_tag "q10_No sabe", 'No sé' %><br/>
          <%= radio_button_tag 'q10', 'Prefiero no decir' %>
          <%= label_tag "q10_No sabe", 'Prefiero no decir' %><br/>
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q11">¿En qué país naciste?</label><br/>
          <%= select_tag 'q11', options_for_select(@q11_options), required: true %>
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q12">¿Cuántos años tienes?</label>
        <span class="help-text">Deja el número en 0 si prefieres no decir tu edad.</span>
        <%= number_field_tag 'q12', nil, min: 0, max: 99, required: true %>
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q13">¿Tienes algún tipo de discapacidad?</label><br/>
          <%= radio_button_tag 'q13', 'Si' %>
          <%= label_tag "q13_Si", 'Si' %><br/>
          <%= radio_button_tag 'q13', 'No' %>
          <%= label_tag "q13_No", 'No' %><br/>
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q14">¿Perteneces a algún pueblo indígena o tribal?</label><br/>
          <%= select_tag 'q14', options_for_select(@q14_options), required: true, prompt: 'Elige una opción' %>
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q15">¿Dónde vives actualmente?</label><br/>
          <%= radio_button_tag 'q15', 'En casa de mi familia o familiares' %>
          <%= label_tag "q15_En casa de mi familia o familiares", 'En casa de mi familia o familiares' %><br/>
          <%= radio_button_tag 'q15', 'En un hospital, por tratamiento médico prolongado.' %>
          <%= label_tag "q15_En un hospital, por tratamiento médico prolongado.", 'En un hospital, por tratamiento médico prolongado.' %><br/>
          <%= radio_button_tag 'q15', 'En un centro privativo de libertad' %>
          <%= label_tag "q15_En un centro privativo de libertad", 'En un centro privativo de libertad' %><br/>
          <%= radio_button_tag 'q15', 'En el internado de mi escuela' %>
          <%= label_tag "q15_En el internado de mi escuela", 'En el internado de mi escuela' %><br/>
          <%= radio_button_tag 'q15', 'En una residencia de protección' %>
          <%= label_tag "q15_En una residencia de protección", 'En una residencia de protección' %><br/>
          <%= radio_button_tag 'q15', 'Otro' %>
          <%= label_tag "q15_Otro", 'Otro' %><br/>
          <%= radio_button_tag 'q15', 'Prefiero no decir' %>
          <%= label_tag "q15_Prefiero no decir", 'Prefiero no decir' %><br/>
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q16">¿Cuál es tu orientación sexual?</label><br/>
          <%= radio_button_tag 'q16', 'Bisexual' %>
          <%= label_tag "q16_Bisexual", 'Bisexual' %><br/>
          <%= radio_button_tag 'q16', 'Heterosexual' %>
          <%= label_tag "q16_Heterosexual", 'Heterosexual' %><br/>
          <%= radio_button_tag 'q16', 'Homosexual (Lesbiana, gay)' %>
          <%= label_tag "q16_Homosexual (Lesbiana, gay)", 'Homosexual (Lesbiana, gay)' %><br/>
          <%= radio_button_tag 'q16', 'No sé' %>
          <%= label_tag "q16_No sé", 'No sé' %><br/>
          <%= radio_button_tag 'q16', 'Otra' %>
          <%= label_tag "q16_Otra", 'Otra' %><br/>
          <%= radio_button_tag 'q16', 'Prefiero no decir' %>
          <%= label_tag "q16_Prefiero no decir", 'Prefiero no decir' %><br/>
        <br/><br/>
      </div>

      <div class="small-12 column">
        <small>Si marcas esta alternativa, las <u>preguntas abiertas</u> serán visibles para otros usuarios.</small>
        <%= f.check_box :visible, label: 'Visible para los otros usuarios' %>
      </div>

      <input type="hidden" id="quiz_id" name="quiz_id" value="<%= params[:quiz_id] %>">
      <input type="hidden" id="step" name="step" value="4">

      <div class="actions small-12 column">
        <button id="submit" type="submit" class="button">Finalizar</button>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render 'form_4_group', form_url: form_url %>
<% end %>

<script>
$(document).ready(function() {
  $('input[name="q10"]').attr('required', true)
  $('input[name="q13"]').attr('required', true)
  $('input[name="q16"]').attr('required', true)
})
</script>