<%= render "shared/globalize_locales", resource: @proposal %>

<%= form_for(@quiz, url: form_url) do |f| %>

  <div class="row column quiz-form">
    <div class="small-12 column">
      <%= f.select :q1, [
          ['Acceso a información sobre el estado de implementación del Plan.', 'Acceso a información sobre el estado de implementación del Plan.'],
          ['Instancias de encuentro entre sociedad civil.', 'Instancias de encuentro entre sociedad civil.'],
          ['Canales de comunicación entre sociedad civil e instituciones con compromisos en el Plan.', 'Canales de comunicación entre sociedad civil e instituciones con compromisos en el Plan.'],
          ['Instancias de rendición de cuentas sobre el estado de implementación del Plan.', 'Instancias de rendición de cuentas sobre el estado de implementación del Plan.'],
          ['Descentralización de los mecanismos para el seguimiento a la implementación del Plan.', 'Descentralización de los mecanismos para el seguimiento a la implementación del Plan.'],
          ['Otra.', 'Otra.'],
        ],
        label: 'Selecciona el área en la que quieres ingresar tu sugerencia para que la sociedad civil pueda dar seguimiento activo a la implementación del Segundo PNDH',
        prompt: "Elija una opción" %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label>Pregunta abierta</label>
      <%= f.text_field :name,
        label: 'Título',
        hint: 'Indica un nombre que sirva para identificar la propuesta que realizarás (máximo 80 caracteres)',
        maxlength: 25 %>

      <%= f.text_area :description,
        maxlength: 250,
        label: 'Ingresa una propuesta de iniciativa que creas deba ser comprometida por alguna institución pública en el Segundo PNDH',
        hint: '(máximo 500 caracteres)',
        rows: 3 %>
    </div>

    <div class="small-12 column">
      <%= f.label :q3, 'Ingrese la institución o tipo de instituciones que deben ser responsable de que su sugerencia se pueda realizar (Seleccione todas las que estime pertinente)' %><br/>
      <%= label_tag nil, style: 'font-weight: normal' do %>
        <%= check_box_tag 'q3[]', 'Subsecretaría de Derechos Humanos' %>
        Subsecretaría de Derechos Humanos
      <% end %>
      <%= label_tag nil, style: 'font-weight: normal' do %>
        <%= check_box_tag 'q3[]', 'Todas las instituciones con compromisos en el Plan' %>
        Todas las instituciones con compromisos en el Plan
      <% end %>
      <%= label_tag nil, style: 'font-weight: normal' do %>
        <%= check_box_tag 'q3[]', 'Organismos autónomos de derechos humanos (INDH, Defensoría de la Niñez).' %>
        Organismos autónomos de derechos humanos (INDH, Defensoría de la Niñez).
      <% end %>
      <br/>
    </div>

    <%= f.hidden_field :quiz_type, value: 2 %>

    <div class="small-12 column">
      <label>¿Quieres que este aporte sea público? Esto permite que sea visible a otras personas en esta plataforma, y que pueda recibir apoyo de ellas</label>
      <%= f.check_box :visible, label: 'Sí, que sea público' %>
      <br/>
    </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: 'Enviar', data: { disable_with: false }) %>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('#quiz_q1').attr('required', true)
  $('#quiz_q2').attr('required', true)

  $('#new_quiz').on('submit', function(e) {
    if ($('input[id="q3_"]:checked').length <= 0) {
      $('[for="quiz_q3"]').css('color', 'red');
      e.preventDefault();
      return false;
    } else {
      $('[for="quiz_q3"]').css('color', 'black');
    }
  })

  if ($('#quiz_visible').is(':checked')) {
    $('#quiz_name').attr('required', true)
    $('#quiz_description').attr('required', true)
  } else {
    $('#quiz_name').attr('required', false)
    $('#quiz_description').attr('required', false)
  }

  $('#quiz_visible').on('change', function() {
    if ($('#quiz_visible').is(':checked')) {
      $('#quiz_name').attr('required', true)
      $('#quiz_description').attr('required', true)
    } else {
      $('#quiz_name').attr('required', false)
      $('#quiz_description').attr('required', false)
    }
  })
})
</script>