<% @q1_options = [
  'Memoria, verdad, justicia y reparación frente a las violaciones de derechos humanos',
  'Derecho a la educación',
  'Derecho a la salud',
  'Derecho al trabajo ',
  'Derecho al agua ',
  'Derecho a  Económicos, sociales, culturales y ambientales',
  'Trata y tráfico de personas',
  'Prevención de la tortura y de la violencia institucional',
  'Derechos Digitales',
  'Acceso a la justicia',
  'Personas Mayores',
  'Mujeres',
  'LGBTIQ+',
  'Personas con Discapacidad',
  'Pueblos Indígenas y Tribales',
  'Personas Privadas de Libertad',
  'Personas Migrantes y Refugiadas',
  'Niños, niñas y adolescentes',
  'Educación en Derechos Humanos',
  'Enfoque Basado en Derechos Humanos',
  'Sistemas internacionales de Derechos Humanos',
] %>

<% @q2_options = [
  'Memoria, verdad, justicia y reparación',
  'Derechos Económicos, sociales, culturales y ambientales',
  'Trata y tráfico de personas',
  'Prevención de la tortura y de la violencia institucional',
  'Derechos Digitales',
  'Acceso a la justicia',
  'Personas Mayores',
  'Mujeres',
  'LGBTIQ+',
  'Personas con Discapacidad',
  'Pueblos Indígenas y Tribales',
  'Personas Privadas de Libertad',
  'Personas Migrantes y Refugiadas',
  'Niños, niñas y adolescentes',
  'Educación en Derechos Humanos',
  'Enfoque Basado en Derechos Humanos',
  'Sistemas internacionales de Derechos Humanos',
] %>

<% @q5_options = [
  'Personas Mayores',
  'Mujeres',
  'LGBTIQ+',
  'Personas con Discapacidad',
  'Pueblos Indígenas y Tribales',
  'Personas Privadas de Libertad',
  'Personas Migrantes y Refugiadas',
  'Niños, niñas y adolescentes',
]%>

<% @q6_options = [
  'En casa de mi familia o personas cercanas',
  'En mi barrio',
  'En mi escuela',
  'En mi comuna',
  'En mi región',
  'En todo el país',
]%>

<%= form_for(@quiz, url: form_url) do |f| %>
  <div class="row column quiz-form">
    <div class="small-12 column">
      <label for="q1">¿Cuáles de estos temas de derechos humanos son para tí los tres más importantes?</label>
      <small class="help-text">Debes elegir 3 opciones.</small>
      <div><br/>
      <% @q1_options.each_with_index do |option, idx| %>
        <%= check_box_tag 'q1[]', option, false, {id: 'q1_%s' % [idx]} %>
        <%= label_tag 'q1_%s' % [idx], option %><br/>
      <% end %>
      </div>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q2">¿En cuál de estos temas crees que se respetan menos los derechos humanos de las personas?</label><br/>
      <% @q2_options.each_with_index do |option, idx| %>
        <%= radio_button_tag 'q2', option, nil, id: 'q2_%s' % [idx] %>
        <%= label_tag "q2_%s" % [idx], option %><br/>
      <% end %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q3">En aquel tema en que se respetan menos los derechos humanos, ¿En qué notas que no se respetan?</label>
      <p>El problema que veo es...</p>
      <%= text_area_tag 'q3', nil, rows: 4, maxlength: 1000, required: true %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q4">¿Cuál o cuáles crees que son las causas de ese problema?</label>
      <p>Este problema se produce por...</p>
      <%= text_area_tag 'q4', nil, rows: 4, maxlength: 1000, required: true %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q5">¿A quienes crees que afecta este problema?</label>
      <div><br/>
      <% @q5_options.each_with_index do |option, idx| %>
        <%= check_box_tag 'q5[]', option, false, {id: 'q5_%s' % [idx]} %>
        <%= label_tag 'q5_%s' % [idx], option %><br/>
      <% end %>
      </div>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <label for="q6">¿En qué lugares crees que se vive este problema?</label>
      <div><br/>
      <% @q6_options.each_with_index do |option, idx| %>
        <%= check_box_tag 'q6[]', option, false, {id: 'q6_%s' % [idx]} %>
        <%= label_tag 'q6_%s' % [idx], option %><br/>
      <% end %>
      </div>
      <br/><br/>
    </div>

    <% @current_quiz = Quiz.create(name: 'TMP') %>

    <input type="hidden" id="quiz_id" name="quiz_id" value="<%= @current_quiz.id %>">
    <input type="hidden" id="step" name="step" value="1">

    <div class="actions small-12 column">
      <button id="submit" type="submit" class="button">Continuar</button>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('input[name="q2"').attr('required', true)

  $('input[name="q1[]"]').on('change', function() {
    if ($('input[name="q1[]"]:checked').length >= 3) {
      $('input[name="q1[]"]').each(function() {
        if (!this.checked) {
          $(this).attr('disabled', true)
        }
      })
    } else {
      $('input[name="q1[]"]').each(function() {
        $(this).attr('disabled', false)
      })
    }
  })

  $('input[name="quiz[q1]"]').on('change', function() {
    if (this.value === 'Otro' || this.value === 'otro') {
      $('#hidden-field').css('display', 'block');
    } else {
      $('#hidden-field').css('display', 'none');
    }
  })

  $('#new_quiz').on('submit', function(e) {
    if ($('input[name="q1[]"]:checked').length < 3) {
      $('[for="q1"]').css('color', 'red');
      e.preventDefault();
      window.scrollTo(0, 0);
      return false;
    } else {
      $('[for="q1"]').css('color', 'black');
    }
  })

  if ($('#quiz_visible').is(':checked')) {
    $('#quiz_name').attr('required', true)
    $('#quiz_description').attr('required', true)
  } else {
    $('#quiz_name').attr('required', false)
    $('#quiz_description').attr('required', false)
  }

  $('#quiz_visible').on('change', function() {
    if ($('#quiz_visible').is(':checked')) {
      $('#quiz_name').attr('required', true)
      $('#quiz_description').attr('required', true)
    } else {
      $('#quiz_name').attr('required', false)
      $('#quiz_description').attr('required', false)
    }
  })
})
</script>