<%= render "shared/globalize_locales", resource: @proposal %>

<%= form_for(@quiz, url: form_url) do |f| %>

  <div class="row column quiz-form">
    <div class="small-12 column">
      <label for="q8">¿Cómo podrían los niños, niñas y adolescentes ayudar a monitorear que las autoridades cumplan con sus compromisos de derechos humanos?</label>
      <small>(Limite: 1000 caracteres)</small>
      <%= text_area_tag 'q8', nil, rows: 4, maxlength: 1000, required: true %>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <% if params[:group].present? %>
      <label for="q9">¿Les interesaría participar del monitoreo o seguimiento al Plan Nacional de Derechos Humanos?</label><br/>
      <% else %>
      <label for="q9">¿Te interesaría participar del monitoreo o seguimiento al Plan Nacional de Derechos Humanos?</label><br/>
      <% end %>
        <%= radio_button_tag 'q9', 'Si' %>
        <%= label_tag "q9_Si", 'Si' %><br/>
        <%= radio_button_tag 'q9', 'No' %>
        <%= label_tag "q9_No", 'No' %><br/>
      <br/><br/>
    </div>

    <input type="hidden" id="quiz_id" name="quiz_id" value="<%= params[:quiz_id] %>">
    <input type="hidden" id="step" name="step" value="3">

    <div class="actions small-12 column">
      <button id="submit" type="submit" class="button">Continuar</button>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('input[name="q9"]').attr('required', true)
})
</script>