<%= render "shared/globalize_locales", resource: @proposal %>

<% @institutions = [
  'Ministerio del Interior y Seguridad Pública',
  'Ministerio de Relaciones Exteriores',
  'Ministerio de Defensa Nacional',
  'Ministerio de Hacienda',
  'Ministerio Secretaría General de la Presidencia',
  'Ministerio Secretaría General de Gobierno',
  'Ministerio de Economía, Fomento y Turismo',
  'Ministerio de Desarrollo Social y Familia',
  'Ministerio de Educación',
  'Ministerio de Justicia y Derechos Humanos',
  'Ministerio del Trabajo y Previsión Social',
  'Ministerio de Obras Públicas',
  'Ministerio de Salud',
  'Ministerio de Vivienda y Urbanismo',
  'Ministerio de Agricultura',
  'Ministerio de Minería',
  'Ministerio de Transportes y Telecomunicaciones',
  'Ministerio de Bienes Nacionales',
  'Ministerio de Energía',
  'Ministerio del Medioambiente',
  'Ministerio del Deporte',
  'Ministerio de la Mujer y la Equidad de Género',
  'Ministerio de las Culturas, las Artes y el Patrimonio',
  'Ministerio de Ciencia, Tecnología, Conocimiento e Innovación',
  'Carabineros de Chile',
  'Policía de Investigaciones de Chile',
  'Agencia Nacional de Inteligencia',
  'Oficina Nacional de Emergencia',
  'SENDA - Servicio Nacional para la Prevención y Rehabilitación del Consumo de Drogas y Alcohol',
  'DIPRES - Dirección de Presupuestos',
  'Chile Compra - Dirección de Compras y Contratación Pública',
  'Servicio de Impuestos Internos',
  'Dirección Nacional del Servicio Civil',
  'Consejo para la Transparencia',
  'Consejo Nacional de Televisión',
  'CORFO - Corporación de Fomento de la Producción',
  'SERNAC - Servicio Nacional del Consumidor',
  'INE - Instituto Nacional de Estadísticas',
  'INAPI - Instituto Nacional de Propiedad Intelectual',
  'INJUV - Instituto Nacional de la Juventud',
  'SENADIS - Servicio Nacional de la Discapacidad',
  'FOSIS - Fondo de Solidaridad e Inversión Social',
  'SENAMA - Servicio Nacional del Adulto Mayor',
  'CONADI - Corporación Nacional de Desarrollo Indígena',
  'Agencia de Calidad de la Educación',
  'JUNAEB - Junta Nacional de Auxilio Escolar y Becas',
  'JUNJI - Junta Nacional de Jardines Infantiles',
  'SML - Servicio Médico Legal',
  'GENCHI - Gendarmería de Chile',
  'SENAME - Servicio Nacional de Menores',
  'Servicio de Registro Civil e Identificación',
  'DPP - Defensoría Penal Pública',
  'SENCE - Servicio Nacional de Capacitación y Empleo',
  'Dirección del Trabajo',
  'Dirección General del Crédito Prendario',
  'IPS - Instituto de Previsión Social',
  'ISL - Instituto de Seguridad Laboral',
  'FONASA - Fondo Nacional de Salud',
  'ISP - Instituto de Salud Pública de Chile',
  'Servicios de Salud',
  'INDAP - Instituto de Desarrollo Agropecuario',
  'SAG - Servicio Agrícola y Ganadero',
  'Comisión Nacional de Riego',
  'SEA - Servicio de Evaluación Ambiental',
  'IND - Instituto Nacional del Deporte',
] %>

<%= form_for(@quiz, url: form_url) do |f| %>

  <div class="row column quiz-form">
    <div class="small-12 column">
      <label>Ingresa una propuesta de iniciativa que creas deba ser comprometida por alguna institución pública en el Segundo PNDH</label>
      <%= f.text_field :name,
        label: 'Título',
        hint: 'Indica un nombre que sirva para identificar la propuesta que realizarás (máximo 80 caracteres)',
        maxlength: 80,
        required: true %>

      <%= f.text_area :description,
        maxlength: 500,
        rows: 3,
        label: 'Descripción',
        hint: 'Indica tu propuesta (máximo 500 caracteres)',
        required: true %>
    </div>

    <div class="small-12 column">
      <%= f.select :q2, options_for_select(@institutions),
        label: 'OPCIONAL: Selecciona la institución pública que debería comprometerse a realizar la iniciativa que sugeriste',
        prompt: "Elija una opción" %>
      <br/><br/>
    </div>

    <%= f.hidden_field :quiz_type, value: 3 %>
    <%= f.hidden_field :tag_id, value: params[:chapter] %>

      <div class="small-12 column">
        <label>¿Quieres que este aporte sea público? Esto permite que sea visible a otras personas en esta plataforma, y que pueda recibir apoyo de ellas</label>
        <%= f.check_box :visible, label: 'Sí, que sea público' %>
        <br/>
      </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: 'Enviar', data: { disable_with: false }) %>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('#quiz_q1').attr('required', true)

  if ($('#quiz_visible').is(':checked')) {
    $('#quiz_name').attr('required', true)
    $('#quiz_description').attr('required', true)
  } else {
    $('#quiz_name').attr('required', false)
    $('#quiz_description').attr('required', false)
  }

  $('#quiz_visible').on('change', function() {
    if ($('#quiz_visible').is(':checked')) {
      $('#quiz_name').attr('required', true)
      $('#quiz_description').attr('required', true)
    } else {
      $('#quiz_name').attr('required', false)
      $('#quiz_description').attr('required', false)
    }
  })
})
</script>