<% @q13_options = [
  'Chile',
  'Bolivia',
  'Venezuela',
  'Colombia',
  'Haití',
  'Perú',
  'Prefiero no decir',
  'Otro',
] %>

<% @q16_options = [
  'Mapuche',
  'Aymara',
  'Rapa Nui',
  'Quechua',
  'Colla',
  'Diaguita',
  'Chango',
  'Kawashkar',
  'Licanantay',
  'Yámana o Yagán',
  'Afrodescendiente',
  'Otro',
  'No pertenezco a ningún pueblo indígena ni tribal',
  'Prefiero no decir',
] %>

<% uri = URI('https://apis.digital.gob.cl/dpa/comunas') %>
<% res = Net::HTTP.get_response(uri) %>
<% @comunas = JSON.parse(res.body).map{|c| c['nombre']} %>

<% if Quiz.find(params[:quiz_id]).group_id.nil? %>
  <%= form_for(@quiz, url: form_url) do |f| %>

    <div class="row column quiz-form">
      <div class="small-12 column">
        <label for="q11">11. ¿En qué comuna vives?</label>
        <small class="help-text">Puedes escoger sólo una.</small>
        <%= select_tag 'q11', options_for_select(@comunas), prompt: 'Elige una opción' %><br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q12">12. ¿Con cuál género te identificas?</label><br/>
          <%= radio_button_tag 'q12', 'Femenino' %>
          <%= label_tag "q12_Femenino", 'Femenino' %><br/>
          <%= radio_button_tag 'q12', 'Masculino' %>
          <%= label_tag "q12_Masculino", 'Masculino' %><br/>
          <%= radio_button_tag 'q12', 'Transgénero' %>
          <%= label_tag "q12_Transgénero", 'Transgénero' %><br/>
          <%= radio_button_tag 'q12', 'Otro' %>
          <%= label_tag "q12_Otro", 'Otro' %><br/>
          <%= radio_button_tag 'q12', 'No sé' %>
          <%= label_tag "q12_No sé", 'No sé' %><br/>
          <%= radio_button_tag 'q12', 'Prefiero no decir' %>
          <%= label_tag "q12_Prefiero no decir", 'Prefiero no decir' %><br/>
        <br/>
      </div>

      <div class="small-12 column">
        <label for="q13">13. ¿En qué país naciste?</label><br/>
          <%= select_tag 'q13', options_for_select(@q13_options) %>
        <label id="custom-country-label" style="display: none">Ingresa el país</label>
        <input type="text" id="custom-country" style="display: none">
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q14">14. ¿Cuántos años tienes?</label>
        <span class="help-text">Deja el número en 0 si prefieres no decir tu edad.</span>
        <%= number_field_tag 'q14', nil, min: 0, max: 99 %>
        <br/>
      </div>

      <div class="small-12 column">
        <label for="q15">15. ¿Tienes algún tipo de discapacidad?</label><br/>
          <%= radio_button_tag 'q15', 'Si' %>
          <%= label_tag "q15_Si", 'Si' %><br/>
          <%= radio_button_tag 'q15', 'No' %>
          <%= label_tag "q15_No", 'No' %><br/>
          <%= radio_button_tag 'q15', 'Prefiero no decir' %>
          <%= label_tag "q15_Prefiero no decir", 'Prefiero no decir' %><br/>
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q16">16. ¿Perteneces a algún pueblo indígena o tribal?</label><br/>
          <%= select_tag 'q16', options_for_select(@q16_options), prompt: 'Elige una opción' %>
          <label id="custom-indigenous-label" style="display: none">¿Cuál?</label>
          <input type="text" id="custom-indigenous" style="display: none">
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q17">17. ¿Dónde vives actualmente?</label><br/>
          <%= radio_button_tag 'q17', 'En casa de mi familia o familiares' %>
          <%= label_tag "q17_En casa de mi familia o familiares", 'En casa de mi familia o familiares' %><br/><br/>
          <%= radio_button_tag 'q17', 'En un hospital, por tratamiento médico prolongado.' %>
          <%= label_tag "q17_En un hospital, por tratamiento médico prolongado.", 'En un hospital, por tratamiento médico prolongado.' %><br/><br/>
          <%= radio_button_tag 'q17', 'En un centro privativo de libertad' %>
          <%= label_tag "q17_En un centro privativo de libertad", 'En un centro privativo de libertad' %><br/><br/>
          <%= radio_button_tag 'q17', 'En el internado de mi escuela' %>
          <%= label_tag "q17_En el internado de mi escuela", 'En el internado de mi escuela' %><br/><br/>
          <%= radio_button_tag 'q17', 'En una residencia de protección' %>
          <%= label_tag "q17_En una residencia de protección", 'En una residencia de protección' %><br/><br/>
          <%= radio_button_tag 'q17', 'Otro' %>
          <%= label_tag "q17_Otro", 'Otro' %><br/><br/>
          <%= radio_button_tag 'q17', 'Prefiero no decir' %>
          <%= label_tag "q17_Prefiero no decir", 'Prefiero no decir' %><br/>
        <br/><br/>
      </div>

      <div class="small-12 column">
        <label for="q18">18. ¿Cuál es tu orientación sexual?</label><br/>
          <%= radio_button_tag 'q18', 'Bisexual' %>
          <%= label_tag "q18_Bisexual", 'Bisexual' %><br/>
          <%= radio_button_tag 'q18', 'Heterosexual' %>
          <%= label_tag "q18_Heterosexual", 'Heterosexual' %><br/>
          <%= radio_button_tag 'q18', 'Homosexual (Lesbiana, gay)' %>
          <%= label_tag "q18_Homosexual (Lesbiana, gay)", 'Homosexual (Lesbiana, gay)' %><br/>
          <%= radio_button_tag 'q18', 'No sé' %>
          <%= label_tag "q18_No sé", 'No sé' %><br/>
          <%= radio_button_tag 'q18', 'Otra' %>
          <%= label_tag "q18_Otra", 'Otra' %><br/>
          <%= radio_button_tag 'q18', 'Prefiero no decir' %>
          <%= label_tag "q18_Prefiero no decir", 'Prefiero no decir' %><br/>
        <br/>
      </div>

      <div class="small-12 column">
        <small>Si marcas esta alternativa, las <u>preguntas abiertas</u> (3, 8 y 9) serán visibles para otros usuarios.</small><br/>
        <small><strong>Importante:</strong> Para marcar esta casilla debes haber respondido las preguntas mencionadas anteriormente.</small><br/>
        <%= f.check_box :visible, checked: false, label: 'Visible para los otros usuarios', disabled: [eval(Quiz.find(params[:quiz_id]).q1).fetch('q3').empty?, eval(Quiz.find(params[:quiz_id]).q2).fetch('q8').empty?, eval(Quiz.find(params[:quiz_id]).q3).fetch('q9').empty?].any? %>
      </div>

      <input type="hidden" id="quiz_id" name="quiz_id" value="<%= params[:quiz_id] %>">
      <input type="hidden" id="step" name="step" value="4">

      <div class="actions small-12 column">
        <button id="submit" type="submit" class="button">Finalizar</button>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render 'form_4_group', form_url: form_url %>
<% end %>

<script>
$(document).ready(function() {
  $('#q13').on('change', function() {
    if (this.value == 'Otro') {
      $('#custom-country').css('display', 'block')
      $('#custom-country-label').css('display', 'block')
    } else {
      $('#custom-country').css('display', 'none')
      $('#custom-country-label').css('display', 'none')
    }
  })

  $('#custom-country').on('change', function(e) {
    if (document.getElementById('temp-country')) {
      document.getElementById('temp-country').outerHTML = '';
    }

    $('#q13').append(`<option id="temp-country" value="${e.target.value}">${e.target.value}</option>`)
    $(`option[value="${e.target.value}"]`).attr('selected', true)
  })

  $('#q16').on('change', function() {
    if (this.value == 'Otro') {
      $('#custom-indigenous').css('display', 'block')
      $('#custom-indigenous-label').css('display', 'block')
    } else {
      $('#custom-indigenous').css('display', 'none')
      $('#custom-indigenous-label').css('display', 'none')
    }
  })

  $('#custom-indigenous').on('change', function(e) {
    if (document.getElementById('temp-indigenous')) {
      document.getElementById('temp-indigenous').outerHTML = '';
    }

    $('#q14').append(`<option id="temp-indigenous" value="${e.target.value}">${e.target.value}</option>`)
    $(`option[value="${e.target.value}"]`).attr('selected', true)
  })
})
</script>