<% provide :title do %>Sugerencias de mecanismos de monitoreo<% end %>
<% content_for :header_addon do %>
<% end %>
<% if params[:order].present? %>
  <% if params[:order] == 'new' %>
    <% @quizzes = Quiz.where(quiz_type: 2).order(created_at: :desc) %>
  <% else %>
    <% @quizzes = Quiz.where(quiz_type: 2) %>
    <% # TODO: Orden por mas apoyadas %>
  <% end %>
<% else %>
  <% @quizzes = Quiz.where(quiz_type: 2) %>
<% end%>
<main>
  <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_polls.png", alt: t("poll.icon_alt"), class: "align-sub" %>
        <h1 class="inline-block">Sugerencias de mecanismos de monitoreo</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-9 column end">
        <p>Esto es una descripción sobre el proceso participativo.</p>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/back_to' %>
    </div>
  </div>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">
      <div class="show-for-small-only">
        <%= link_to 'Crear tu monitoreo',
          current_user ? new_quiz_path(type: 2) : nil,
          class: "button expanded",
          disabled: !current_user %>
      </div>
      <ul class="no-bullet submenu">
        <% @orders = [['Más apoyadas', 'support'], ['Nuevas', 'new']] %>
        <% @orders.each do |name, order| %>
          <li class="inline-block">
            <%= link_to current_path_with_query_params(order: order), class: order == params[:order] ? "is-active" : "" do %>
              <%= content_tag(order == @current_order ? :h2 : :span) do %>
                <% name %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div id="proposals-list">
        <% if @quizzes.any? %>
          <% @quizzes.each do |quiz| %>
            <div class="proposal clear">
              <div class="panel">
                <div class="row">
                  <div class="small-12 medium-3 column">
                    <h4><%= quiz.name || '(Sin título)' %></h4>
                    <strong>Fecha</strong><br/>
                    <%= quiz.created_at.to_date %>
                  </div>
                  <div class="small-12 medium-6 column supports-container">
                    <h4>Descripción</h4>
                    <p><%= quiz.description || 'Sin descripción.' %></p>
                  </div>
                  <div class="small-12 medium-3 column supports-container">
                    <div class="supports text-center">
                      <span class="total-supports">
                        <%= Vote.where(votable_type: "Quiz", votable_id: quiz.id).count %>
                      </span>
                        <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id).count == 1 %>
                          apoyo
                        <% else %>
                          apoyos
                        <% end %>
                      <div class="in-favor">
                        <% if current_user %>
                          <%= link_to Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? ? nil : vote_quizzes_path(quiz_id: quiz.id),
                              class: "button button-support small expanded",
                              title: 'Apoyar',
                              method: "post",
                              onclick: 'doVote(this);',
                              disabled: Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists?,
                              remote: true do %>
                            <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? %>
                              Ya apoyaste
                            <% else %>
                              Apoyar
                            <% end %>
                          <% end %>
                        <% else %>
                          <button disabled class="button button-support small expanded">Ingresa para votar</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <%= link_to 'Crear tu monitoreo',
          current_user ? new_quiz_path(type: 2) : nil,
          class: "button expanded",
          disabled: !current_user %>
      </aside>
    </div>

  </div>
</main>

<script>
function doVote(e) {
  if (!e.getAttribute('disabled')) {
    e.parentElement.parentElement.getElementsByClassName("total-supports")[0].innerText++;
    e.setAttribute('disabled', 'disabled');
    e.innerText = 'Ya apoyaste';
  }
}
</script>