<div class="proposal-form row">
	<div class="small-12 medium-9 column">
		<% if @type == 1 %>
			<%= back_link_to chapters_proposals_path %>
		<% elsif @type == 2 %>
			<%= back_link_to monitoring_quizzes_path %>
		<% end %>

		<h1><%= @title %></h1>

		<% if @type == 1 %>
			<h4>Capítulo: <%= @chapter.name %></h4>
			<br>
    		<%= render "quizzes/form_1", form_url: quizzes_path %>
		<% else %>
			<br>
    		<%= render "quizzes/form_2", form_url: quizzes_path %>
		<% end %>
	</div>

	<div class="small-12 medium-3 column">
		<span class="icon-proposals float-right"></span>
		<h2>Texto de ayuda</h2>
		<ul class="recommendations">
			<li>Ayuda 1</li>
			<li>Ayuda 2</li>
			<li>Ayuda 3</li>
		</ul>
	</div>
</div>