<div class="proposal-form row">
	<div class="small-12 medium-9 column">
		<% if @type == 1 %>
			<%= back_link_to chapters_proposals_path %>
		<% elsif @type == 2 %>
			<%= back_link_to monitoring_quizzes_path %>
		<% elsif @type == 3 %>
			<%= back_link_to proposals_path %>
		<% end %>

		<h1><%= @title %></h1>

		<% if @type == 1 %>
			<h3>Tema: <%= @chapter.name %></h3>
			<small>Llevas <%= Quiz.where(quiz_type: @type, user_id: current_user.id).count %> de 6 diagnósticos</small>
			<br>
			<br>
    		<%= render "quizzes/form_1", form_url: quizzes_path %>
		<% elsif @type == 2 %>
			<small>Llevas <%= Quiz.where(quiz_type: @type, user_id: current_user.id).count %> de 6 sugerencias</small>
			<br>
			<br>
    		<%= render "quizzes/form_2", form_url: quizzes_path %>
		<% elsif @type == 3 %>
			<h3>Tema: <%= @chapter.name %></h3>
			<small>Llevas <%= Quiz.where(quiz_type: @type, user_id: current_user.id).count %> de 6 sugerencias</small>
			<br>
			<br>
    		<%= render "quizzes/form_3", form_url: quizzes_path %>
		<% end %>
	</div>

	<div class="small-12 medium-3 column">
		<aside class="margin-bottom">
			<% if current_user.is_individual == false %>
				<div class="sidebar-divider"></div>
				<h2 class="sidebar-title"><i class="fas fa-users" style="color: #004a83;"></i> Participación grupal</h2>
				<div>
				<small>
					Estás participando junto a:
					<ul>
						<% Group.find(current_user.group_id).users.each do |user| %>
							<li><%= user[:name] %></li>
						<% end %>
					</ul>
				</small>
				</div>
				<small>
					¿Quieres agregar más participantes?<br/>
					<%= link_to 'Haz clic aquí', groups_path, target: '_blank' %>
				</small>
			<% end %>
			<div class="sidebar-divider"></div>
			<h2 class="sidebar-title">Información de apoyo</h2><br/>
			<small>Si quieres conocer más información sobre los temas que son parte del segundo Plan Nacional de Derechos Humanos, puedes revisarlo <a href="https://www.tuopinioncuenta.gob.cl/temasddhh" target="_blank">acá</a>.</small>
		</aside>
	</div>
</div>