<% @progress = 1 %>
<% @allowed = ['1', '2', '3', '4'] %>

<% if params[:type].present? %>
	<% if params[:type] == 'grupal' %>
		<% if Group.where(user_id: current_user.id).exists? %>
			<% @type = params[:type] %>
		<% else %>
			<% @type = 'individual' %>
		<% end %>
	<% end %>
<% else%>
	<% @type = 'individual' %>
<% end %>

<% if params[:step].present? && @allowed.include?(params[:step]) %>
	<% @progress = params[:step].to_i %>
	<% if params[:group].present? %>
		<% unless params[:group].present? && Group.where(id: params[:group].to_i).exists? && Group.where(id: params[:group].to_i).first.user_id == current_user.id %>
			<% controller.redirect_to root_path %>
		<% end %>

		<% @group = Group.find(params[:group].to_i) %>

		<% if @group.users.count <= 1 %>
			<% controller.redirect_to root_path %>
		<% end %>
	<% end %>
	
<% else %>
	<% if @type == 'grupal' %>
		<% if params[:group].present? && Group.where(id: params[:group].to_i).exists? && Group.where(id: params[:group].to_i).first.user_id == current_user.id %>
			<% controller.redirect_to new_quiz_path(step: '1', type: @type, group: params[:group]) %>
			<% @group = Group.find(params[:group].to_i) %>

			<% if @group.users.count <= 1 %>
				<% controller.redirect_to root_path %>
			<% end %>
		<% else %>
			<% controller.redirect_to root_path %>
		<% end%>
	<% else %>
		<% controller.redirect_to new_quiz_path(step: '1', type: @type) %>
	<% end %>
<% end %>



<div class="proposal-form row">
	<div class="small-12 medium-9 column">
		<%= back_link_to root_path %>
		<h1><%= @title %></h1>
		<h4><%= @progress < 4 ? 'Objetivo ' + 'I' * @progress : 'Caracterización' %></h4>
		<small>Progreso: <%= @progress.to_s %> de 4 páginas</small>
		<div class="success progress" role="progressbar" tabindex="0" aria-valuenow="<%= @progress * 25 %>" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-meter" style="width: <%= @progress * 25 %>%"></div>
		</div>
		<br>
		<%= render "quizzes/form_%s" % [@progress.to_s], form_url: quizzes_path, locals: {type: @type} %>
	</div>

	<div class="small-12 medium-3 column">
		<aside class="margin-bottom">
			<% if @group %>
				<div class="sidebar-divider"></div>
				<h2 class="sidebar-title"><i class="fas fa-users" style="color: #004a83;"></i> Participación grupal</h2>
				<div>
				<small>
					Estás participando con tu grupo <strong><%= @group.name %></strong>.<br/>
					Participantes:
					<ul>
						<li>Tú (<%= current_user.username %>)</li>
						<% @group.users.each do |user| %>
							<% if user[:email] != current_user.email %>
								<li><%= user[:name] %></li>
							<% end %>
						<% end %>
					</ul>
				</small>
				</div>
				<small>
					¿Quieres agregar más participantes?<br/>
					<%= link_to 'Haz clic aquí', @group, target: '_blank' %>
				</small>
			<% end %>
			<div class="sidebar-divider"></div>
			<h2 class="sidebar-title">Información</h2><br/>
			<small><i class="fas fa-file-pdf" style="color: #004a83;"></i> documento_falso.pdf</small>
			<div class="sidebar-divider"></div>
			<h2 class="sidebar-title">Enlaces</h2><br/>
			<small>
				<a href="https://meet.google.com/" target="_blank"><i class="fas fa-globe" style="color: #004a83;"></i> Ir a Google Meet<br/></a>
				<a href="https://zoom.us/" target="_blank"><i class="fas fa-globe" style="color: #004a83;"></i> Ir a Zoom<br/></a>
			</small>
			<div class="sidebar-divider"></div>
			<h2 class="sidebar-title">Ayuda</h2>
			<ul class="recommendations" style="margin: 0 !important;">
				<li style="margin: 0 !important;">Ayuda 1</li>
				<li style="margin: 0 !important;">Ayuda 2</li>
				<li style="margin: 0 !important;">Ayuda 3</li>
			</ul>
		</aside>
	</div>
</div>