<% @progress = 1 %>
<% @allowed = ['1', '2', '3', '4'] %>
<% if params[:step].present? && @allowed.include?(params[:step]) %>
	<% @progress = params[:step].to_i %>
<% else %>
	<% controller.redirect_to new_quiz_path(step: '1') %>
<% end %>

<div class="proposal-form row">
	<div class="small-12 medium-9 column">
		<%= back_link_to root_path %>
		<h1><%= @title %></h1>
		<h4><%= @progress < 4 ? 'Objetivo ' + 'I' * @progress : 'Caracterización' %></h4>
		<small>Progreso: <%= @progress.to_s %> de 4 páginas</small>
		<div class="success progress" role="progressbar" tabindex="0" aria-valuenow="<%= @progress * 25 %>" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-meter" style="width: <%= @progress * 25 %>%"></div>
		</div>
		<br>
		<%= render "quizzes/form_%s" % [@progress.to_s], form_url: quizzes_path %>
	</div>

	<div class="small-12 medium-3 column">
		<aside class="margin-bottom">
			<% if current_user.is_individual == false %>
				<div class="sidebar-divider"></div>
				<h2 class="sidebar-title"><i class="fas fa-users" style="color: #004a83;"></i> Participación grupal</h2>
				<div>
				<small>
					Estás participando junto a:
					<ul>
						<% Group.find(current_user.group_id).users.each do |user| %>
							<li><%= user[:name] %></li>
						<% end %>
					</ul>
				</small>
				</div>
				<small>
					¿Quieres agregar más participantes?<br/>
					<%= link_to 'Haz clic aquí', groups_path, target: '_blank' %>
				</small>
			<% end %>
			<div class="sidebar-divider"></div>
			<h2 class="sidebar-title">Información</h2><br/>
			<small><i class="fas fa-file-pdf" style="color: #004a83;"></i> documento_falso.pdf</small>
			<div class="sidebar-divider"></div>
			<h2 class="sidebar-title">Enlaces</h2><br/>
			<small>
				<a href="https://meet.google.com/" target="_blank"><i class="fas fa-globe" style="color: #004a83;"></i> Ir a Google Meet<br/></a>
				<a href="https://zoom.us/" target="_blank"><i class="fas fa-globe" style="color: #004a83;"></i> Ir a Zoom<br/></a>
			</small>
			<div class="sidebar-divider"></div>
			<h2 class="sidebar-title">Ayuda</h2>
			<ul class="recommendations" style="margin: 0 !important;">
				<li style="margin: 0 !important;">Ayuda 1</li>
				<li style="margin: 0 !important;">Ayuda 2</li>
				<li style="margin: 0 !important;">Ayuda 3</li>
			</ul>
		</aside>
	</div>
</div>