<% @progress = 1 %>
<% @allowed = ['1', '2', '3', '4'] %>

<% if params[:type].present? %>
	<% if params[:type] == 'grupal' %>
		<% if Group.where(user_id: current_user.id).exists? %>
			<% @type = params[:type] %>
		<% else %>
			<% @type = 'individual' %>
		<% end %>
	<% end %>
<% else%>
	<% @type = 'individual' %>
<% end %>

<% if params[:step].present? && @allowed.include?(params[:step]) %>
	<% @progress = params[:step].to_i %>
	<% if params[:group].present? %>
		<% unless params[:group].present? && Group.where(id: params[:group].to_i).exists? && Group.where(id: params[:group].to_i).first.user_id == current_user.id %>
			<% controller.redirect_to root_path %>
		<% end %>

		<% @group = Group.find(params[:group].to_i) %>

		<% if @group.users.count <= 1 %>
			<% controller.redirect_to root_path %>
		<% end %>
	<% end %>
	
<% else %>
	<% if @type == 'grupal' %>
		<% if params[:group].present? && Group.where(id: params[:group].to_i).exists? && Group.where(id: params[:group].to_i).first.user_id == current_user.id %>
			<% controller.redirect_to new_quiz_path(step: '1', type: @type, group: params[:group]) %>
			<% @group = Group.find(params[:group].to_i) %>

			<% if @group.users.count <= 1 %>
				<% controller.redirect_to root_path %>
			<% end %>
		<% else %>
			<% controller.redirect_to root_path %>
		<% end%>
	<% else %>
		<% controller.redirect_to new_quiz_path(step: '1', type: @type) %>
	<% end %>
<% end %>



<div class="proposal-form row">
	<div class="small-12 medium-9 column">
		<%= back_link_to @progress == 1 ? root_path : go_prev_quiz_quizzes_path(progress: @progress, quiz_id: params[:quiz_id].to_i) %>
		<h1><%= @title %></h1>
		<% if @progress == 1 %>
			<h4>Parte 1: IDENTIFICANDO LAS PARTES DE NUESTRO “ÁRBOL DE PROBLEMAS”</h4>
			<small>
				<% if @type == 'grupal' %>
				Hay muchos temas de derechos humanos que aún necesitan soluciones. En las siguientes preguntas queremos saber qué tema les gustaría ayudar a resolver como grupo, para luego identificar el problema, sus causas y efectos, y armar su árbol de problemas.
				<% else %>
				Hay muchos temas de derechos humanos que aún necesitan soluciones. En las siguientes
				preguntas queremos saber qué tema te gustaría ayudar a resolver, para luego identificar el
				problema, sus causas y efectos, y armar tu árbol de problemas.
				<% end %>
			</small><br/><br/>
		<% elsif @progress == 2 %>
			<h4>Parte 2: EN BUSCA DE LA SOLUCIÓN AL PROBLEMA</h4>
			<small>
				<% if params[:group].present? %>
				Han identificado un problema de derechos humanos, las personas afectadas, los lugares en que este problema se manifiesta y algunas de sus causas. Ahora que conocen las causas del problema es momento de pensar en soluciones que puedan incluirse en el Segundo Plan Nacional de Derechos Humanos.
				<% else %>
				Ya has identificado un problema de derechos humanos, algunas de sus causas, las
				personas afectadas y los lugares en que este problema se manifiesta. Ahora que conoces
				las causas del problema es momento de pensar en soluciones, que puedan incluirse en el
				Segundo Plan Nacional de Derechos Humanos.
				<% end %>
			</small><br/><br/>
		<% elsif @progress == 3 %>
			<h4>Parte 3: IDEAS PARA DAR SEGUIMIENTO A LOS COMPROMISOS DEL SEGUNDO PLAN NACIONAL DE DERECHOS HUMANOS</h4>
			<small>
				Este año los ministerios y servicios definirán compromisos para mejorar la situación de los
				derechos humanos en Chile. Estos compromisos formarán el Plan Nacional de Derechos
				Humanos 2022-2025.
			</small><br/><br/>	
		<% elsif @progress == 4 %>
			<h4>Caracterización</h4>
			<small>
				<% if params[:group].present? %>
				Las siguientes preguntas nos servirán para conocer más a su grupo.  Recuerden que toda la información de esta encuesta será tratada de manera confidencial, lo que quiere decir que nadie podrá asociar sus respuestas a los miembros del grupo.
				<% else %>
				Las siguientes preguntas tienen por objetivo conocerte un poco más.
				Puedes contestarlas todas, una o varias si así lo deseas. Toda la información de esta parte
				de la encuesta será tratada de manera confidencial, lo que quiere decir que nadie podrá
				asociar tus respuestas con tu persona.
				<% end %>
			</small><br/><br/>
		<% end %>
		<small>Progreso: <%= @progress.to_s %> de 4 páginas</small>
		<div class="success progress" role="progressbar" tabindex="0" aria-valuenow="<%= @progress * 25 %>" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-meter" style="width: <%= @progress * 25 %>%"></div>
		</div>
		<br>
		<%= render "quizzes/form_%s" % [@progress.to_s], form_url: quizzes_path, locals: {type: @type} %>
	</div>

	<div class="small-12 medium-3 column">
		<aside class="margin-bottom">
			<% if @group %>
				<div class="sidebar-divider"></div>
				<h2 class="sidebar-title"><i class="fas fa-users" style="color: #378370;"></i> Participación grupal</h2>
				<div>
				<small>
					Estás participando con tu grupo <strong><%= @group.name %></strong>.<br/>
					Participantes:
					<ul>
						<li>Tú (<%= current_user.username %>)</li>
						<% @group.users.each do |user| %>
							<% if user[:email] != current_user.email %>
								<li><%= user[:name] %></li>
							<% end %>
						<% end %>
					</ul>
				</small>
				</div>
				<small>
					¿Quieres agregar más participantes?<br/>
					<%= link_to 'Haz clic aquí', @group, target: '_blank' %>
				</small>
			<% end %>
			<div class="sidebar-divider"></div>
			<h2 class="sidebar-title">Información</h2><br/>
			<small><i class="fas fa-file-pdf" style="color: #378370;"></i> documento_falso.pdf</small><br/>
			<small><i class="fas fa-file-pdf" style="color: #378370;"></i> documento_falso.pdf</small>
			<% if @group and @progress == 1 %>
				<div class="sidebar-divider"></div>
				<h2 class="sidebar-title">Enlaces para videollamada</h2><br/>
				<small>
					<a href="https://meet.google.com/" target="_blank"><i class="fas fa-globe" style="color: #378370;"></i> Google Meet<br/></a>
					<a href="https://zoom.us/" target="_blank"><i class="fas fa-globe" style="color: #378370;"></i> Zoom<br/></a>
					<a href="https://meet.jit.si/" target="_blank"><i class="fas fa-globe" style="color: #378370;"></i> Jitsi Meet<br/></a>
				</small>
			<% end %>
			<% if @progress == 1 %>
				<% if @group %>
					<div class="sidebar-divider"></div>
					<h2 class="sidebar-title">Indicaciones</h2>
					<small><br/>
						<p><small>Tiempo aproximado Parte 1: 30 minutos</small></p>
						<p><small>Cada miembro del grupo puede votar por un (1) tema en que le parece que es más urgente avanzar. El guía de grupo anotará la cantidad de votos que tiene cada tema y abrirá la conversación para escuchar las razones de cada miembro para su elección. Después de la discusión el grupo definirá cuál es aquel tema en que es más urgente avanzar y trabajará sobre él en las siguientes preguntas.</small></p>
						<p><small>En las preguntas 3, 4, 5 , 6 y 7: pueden utilizar El árbol de problemas para la discusión grupal.</small></p>
					</small>
				<% else %>
					<div class="sidebar-divider"></div>
					<h2 class="sidebar-title">Indicaciones</h2>
					<small><br/>
						<p><small>Sabemos que todos estos temas son igualmente importantes. Escoge aquel tema que te parezca más urgente y en el que quieras profundizar en las siguientes preguntas: para buscar sus causas, sus efectos e idear soluciones.</small></p>
						<p><small>En las preguntas 3, 4, 5 , 6 y 7: puedes apoyarte en El árbol de problemas para identificar bien el problema, sus causas y efectos.</small></p> 
					</small>
				<% end %>
			<% end %>
			<% if @progress == 2 %>
				<% if @group %>
					<div class="sidebar-divider"></div>
					<h2 class="sidebar-title">Indicaciones</h2>
					<small><br/>
						<p><small>Tiempo aproximado Parte 2: 20 minutos</small></p> 
						<p><small>Recuerden que las soluciones deben apuntar a las causas del problema, para resolverlo. Si identificaron varias causas, pueden proponer una solución para cada una, o una gran solución que incluya todas las causas. Procuren considerar todas las opiniones del grupo y armar una respuesta que incluya la diversidad de opiniones.</small></p> 
						<p><small>Si utilizan el ”Árbol del problema”, les recomendamos que las propuestas apunten a solucionar aquello que escribieron en las raíces del árbol.</small></p> 
					</small>
				<% else %>
					<div class="sidebar-divider"></div>
					<h2 class="sidebar-title">Indicaciones</h2>
					<small><br/>
						Recuerda que para solucionar un problema es importante atacar las <u>causas</u>
						que lo producen. Si identificaste varias causas, puedes proponer una
						solución para cada una, o una gran solución que incluya todas las causas.
						<br/><br/>
						Si tienes dudas, apóyate en “El árbol de problemas”.
					</small>
				<% end %>
			<% end %>
		</aside>
	</div>
</div>