<% provide :title do %><%= @title_text %><% end %>

<div class="row">
  <div class="small-12 medium-12 column">
    <h1><%= @title_text %></h1>

    <% unless @chapter.nil? %>
      <h3>Tema: <%= Tag.category.find(@chapter) %></h3>
    <% end %>
    <br/>
    <p>
      <span>Muchas gracias por participar.</span><br>
    </p>
    <br/>

    <div class="margin-bottom" style="margin-left: 1rem;">
      <div class="row">
        <div class="small-12 medium-3 inline-block">
          <%= link_to @send_text,
            @send_path,
            class: "button expanded" %>
        </div>
        <div class="small-12 medium-3 inline-block">
          <%= link_to 'Volver a la página de inicio',
            root_path,
            class: "button expanded" %>
        </div>
        <% if @show_next_button %>
          <div class="small-12 medium-3 inline-block">
            <%= link_to 'Ir a Sugerencias de acciones',
                    new_quiz_path(chapter: @chapter, type: 3),
                    class: "button expanded" %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <%= render "shared/social_share",
          share_title: 'Compartir',
          title: 'Participa con nosotros en:',
          url: request.base_url,
          description: 'Participaciones individuales y grupales de plataforma de Derechos Humanos',
          mobile: 'Participa con nosotros en:' %>
      </div>
    </div>
  </div>
</div>
