<% provide :title do %><%= @title_text %><% end %>

<div class="row">
  <div class="small-12 medium-12 column">
    <h1><%= @title_text %></h1>

    <% unless @chapter.nil? %>
      <h3>Capítulo: <%= Tag.category.find(@chapter) %></h3>
    <% end %>
    <br/>
    <p>
      <span>Muchas gracias por participar.</span><br>
    </p>
    <br/>

    <div class="margin-bottom" style="margin-left: 1rem;">
      <div class="row">
        <div class="small-12 medium-3 inline-block">
          <%= link_to @send_text,
            Quiz.where(quiz_type: @type).where(user_id: current_user.id).count >= 6 ? '#' : new_quiz_path(type: @type, chapter: @chapter),
            class: "button expanded",
            disabled: Quiz.where(quiz_type: @type).where(user_id: current_user.id).count >= 6 %>
        </div>
        <div class="small-12 medium-3 inline-block">
          <%= link_to 'Volver a la página de inicio',
            root_path,
            class: "button expanded" %>
        </div>
        <% if @show_next_button %>
          <div class="small-12 medium-3 inline-block">
            <%= link_to 'Ir a Sugerencias de acciones',
                    new_quiz_path(chapter: @chapter, type: 3),
                    class: "button expanded" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
