<div class="margin-top">
  <%= form_with(model: [:admin, @survey], local: true) do |form| %>

    <div class="field">
      <%= form.text_field :title, label: 'Título', required: true %>
    </div>

    <div class="field">
      <%= form.datetime_field :start_time, label: 'Fecha de inicio', required: true %>
    </div>

    <div class="field">
      <%= form.datetime_field :end_time, label: 'Fecha de termino', required: true %>
    </div>

    <div class="field">
      <%= form.text_area :body, label: 'Cuerpo', class: 'html-area' %>
    </div>

    <%= render Shared::ImageFieldComponent.new(@survey, form) %>

    <div class="actions">
      <% if action_name == 'edit' %>
        <%= form.submit 'Editar encuesta', class: 'button' %>
      <% else %>
        <%= form.submit 'Crear encuesta', class: 'button' %>
      <% end %>
    </div>
  <% end %>
</div>
