<p id="notice"><%= notice %></p>

<h1>Neighborhood Council Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Neighborhood council</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @neighborhood_council_events.each do |neighborhood_council_event| %>
      <tr>
        <td><%= neighborhood_council_event.name %></td>
        <td><%= neighborhood_council_event.place %></td>
        <td><%= neighborhood_council_event.email %></td>
        <td><%= neighborhood_council_event.phone_number %></td>
        <td><%= neighborhood_council_event.neighborhood_council %></td>
        <td><%= neighborhood_council_event.event %></td>
        <td><%= link_to 'Show', neighborhood_council_event %></td>
        <td><%= link_to 'Edit', edit_neighborhood_council_event_path(neighborhood_council_event) %></td>
        <td><%= link_to 'Destroy', neighborhood_council_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neighborhood Council Event', new_neighborhood_council_event_path %>
