<% if user_signed_in? %>
<div class="desktop-view">
  <li class="menu-desktop perfil-dropdown">
    <a class="btn-perfil btn-negrita" rel="nofollow" title="Ir a la página de Mi cuenta">
      <%= avatar_image(current_user, seed: current_user.id, size: 18) %>
    </a>
    <div class="perfil-dropdown-content">
      <% if current_user.administrator? %>
          <%= link_to t("layouts.header.administration"), admin_root_path %>
      <% end %>
      <hr>
      <% if current_user.is_individual == false %>
        <%= layout_menu_link_to 'Mi grupo',
                                groups_path,
                                controller_name == "groups",
                                rel: "nofollow",
                                title: t("shared.go_to_page") +
                                      t("layouts.header.my_account_link") %>
      <% end %>
      <%= link_to t("devise_views.menu.login_items.logout"),
                destroy_user_session_path, rel: "nofollow", class: "btn-negrita", method: :delete %>
    </div>
  </li>
</div>
<div class="mobile-view">
  <div class="mobile-menu">
    <% if current_user.administrator? %>
        <%= link_to t("layouts.header.administration"), admin_root_path %>
    <% end %>
    <hr>
      <% if current_user.is_individual == false %>
        <%= layout_menu_link_to 'Mi grupo',
                                groups_path,
                                controller_name == "groups",
                                rel: "nofollow",
                                title: t("shared.go_to_page") +
                                      t("layouts.header.my_account_link") %>
      <% end %>
    <%= link_to t("devise_views.menu.login_items.logout"),
              destroy_user_session_path, rel: "nofollow", class: "btn-negrita", method: :delete %>
  </div>
</div>
<% else %>
  <li>
    <%= link_to t("devise_views.menu.login_items.login"),
                new_user_session_path, rel: "nofollow", class: "btn-negrita"%>
  </li>
  <li>
    <%= link_to t("devise_views.menu.login_items.signup"),
                new_user_registration_path, rel: "nofollow", class: "button btn-registrar btn-negrita" %>
  </li>
<% end %>