<% if user_signed_in? %>
  <li>
    <%= layout_menu_link_to t("layouts.header.my_activity_link"),
                              user_path(current_user),
                              controller_name == "users",
                              rel: "nofollow",
                              title: t("shared.go_to_page") +
                                     t("layouts.header.my_activity_link") %>
  </li>
  <li class="menu-mobile">
    <%= layout_menu_link_to t("layouts.header.my_account_link"),
                              account_path,
                              controller_name == "account",
                              rel: "nofollow",
                              title: t("shared.go_to_page") +
                                     t("layouts.header.my_account_link") %>
  </li>
  <li class="menu-desktop">
    <a class="btn-perfil btn-negrita" rel="nofollow" title="Ir a la página de Mi cuenta" href="/account">
      <%= avatar_image(current_user, seed: current_user.id, size: 18) %> <%= current_user.name %>
    </a>
  </li>
  <li>
    <%= link_to t("devise_views.menu.login_items.logout"),
                destroy_user_session_path, rel: "nofollow", method: :delete %>
  </li>
<% else %>
  <li>
    <%= link_to t("devise_views.menu.login_items.login"),
                new_user_session_path, rel: "nofollow", class: "btn-negrita"%>
  </li>
  <li>
    <%= link_to t("devise_views.menu.login_items.signup"),
                new_user_registration_path, rel: "nofollow", class: "button btn-registrar btn-negrita" %>
  </li>
<% end %>
