<%= form_tag request.path, id: "advanced_search_form", class: "advanced-search-form", method: :get do %>
  <div>
    <div class="general-search" style="font-size: 2em; color: #727176; font-weight: 200;">
      Filtrar por
    </div>

    <div class="filters-container">
      <div class="date-filters">
        <div class="filter">
          <%= select_tag("advanced_search[date_min]", date_range_options,
                        include_blank: t("shared.advanced_search.date_range_blank"),
                        id: "js-advanced-search-date-min") %>
        </div>

        <div id="js-custom-date" class="custom-date-filters" style="display: none">
          <div class="filter">
            <%= text_field_tag "advanced_search[date_min]",
                                advanced_search[:date_min],
                                class: "js-calendar" %>
          </div>
          <div class="filter">
            <%= text_field_tag "advanced_search[date_max]",
                                advanced_search[:date_max],
                                class: "js-calendar" %>
          </div>
        </div>
      </div>

      <% if sdg? %>
        <div class="filter">
          <%= select_tag("advanced_search[goal]", goal_options,
                        include_blank: t("shared.advanced_search.goal_blank")) %>
        </div>
        <div class="filter">
          <%= select_tag("advanced_search[target]", target_options,
                        include_blank: t("shared.advanced_search.target_blank")) %>
        </div>
      <% end %>

      <div>
        <%= submit_tag t("shared.advanced_search.search"), class: "button expanded", style: 'margin: 0;' %>
      </div>
    </div>
  </div>
<% end %>
