<div class="card-component">
  <header>
    <h4 class="text-center">
      <%= link_to @title, @instance %>
    </h4>
    <% if @subtitle.present? %>
      <h6 class="text-center">
        <%= @subtitle %>
      </h6>
    <% end %>
  </header>
  <section>
    <div class="image-container">
      <%= image_tag @image %>
    </div>

    <% if @alert.present? %>
      <div class="alert-container">
        <div class="alert-text-container">
          <h4><%= @alert %></h4>
        </div>
      </div>
    <% end %>
  </section>
  <footer class="margin-top margin-bottom">
    <%= @description.truncate_words(20) %>
  </footer>
</div>
