<div class="card-component">

  <div class="image-container">
    <% if @image %>
      <%= image_tag @image %>
    <% else %>
      <div class="no-image">
        Sin imagen
      </div>
    <% end %>

    <% if @alert.present? %>
      <div class="alert-container">
        <div class="alert-text-container">
          <h4><%= @alert %></h4>
        </div>
      </div>
    <% end %>
  </div>

  <section>

    <header>
      <h4 class="text-center">
        <%= link_to @title, @instance %>
      </h4>
    </header>

    <footer class="margin-bottom">
      <% if @extra_info.present? %>
        <p><%= @extra_info %></p>
      <% end %>

      <%= @description.truncate_words(20) %>

      <% if @footer_text.present? %>
        <div class="text-center margin-top">
          <strong><%= @footer_text %></strong>
        </div>
      <% end %>
    </footer>
  </section>
</div>
