<div class="in-favor-against">
  <div>
    <h4 class="option-text">Estoy de acuerdo</h4>
    <%= link_to polymorphic_path(votable, action: :vote, value: "yes"),
        title: t("votes.agree"),
        "aria-label": agree_aria_label,
        method: "post",
        remote: true,
        disabled: @is_disabled do %>
      <%= image_tag "/images/global/like-#{current_user&.voted_as_when_voted_for(votable) == true ? 'active' : 'available'}.svg" %>
    <% end %>
    <span class="percentage"><%= votes_percentage("likes", votable) %></span>
  </div>

  <div>
    <h4 class="option-text">No estoy de acuerdo</h4>
    <%= link_to polymorphic_path(votable, action: :vote, value: "no"),
        title: t("votes.disagree"),
        "aria-label": disagree_aria_label,
        method: "post",
        remote: true,
        disabled: @is_disabled do %>
      <%= image_tag "/images/global/dislike-#{current_user&.voted_as_when_voted_for(votable) == false ? 'active' : 'available'}.svg" %>
    <% end %>
    <span class="percentage"><%= votes_percentage("dislikes", votable) %></span>
  </div>
</div>
