<%= form_with(model: news, local: true, url: action_name == 'edit' ? admin_news_path : admin_news_index_path) do |form| %>
  <div class="field">
    <%=
      form.text_field :title,
      label: 'Título',
      required: true,
      class: 'custom-input'
    %>
  </div>

  <div class="field">
    <%=
      form.text_area :summary,
      label: 'Bajada de título',
      rows: 5,
      required: true,
      class: "html-area",
      maxlength: 1000
    %>
  </div>

  <div class="field">
    <%=
      form.text_area :body,
      label: 'Cuerpo',
      rows: 5,
      required: true,
      class: "html-area",
      maxlength: 1000
    %>
  </div>

  <div class="field">
    <% if news.miniature.attached? %>
      <%= form.file_field :miniature, accept: 'image/png,image/jpeg', label: 'Miniatura' %>
      <span class="help-text">Miniatura actual:</span><br>
      <%= image_tag news.miniature, style: 'width: 250px;' %>
    <% else %>
      <%= form.file_field :miniature, accept: 'image/png,image/jpeg', label: 'Miniatura', required: true %>
    <% end %>
  </div>

  <div class="field mt-1">
    <% if news.image.attached? %>
      <%= form.file_field :image, accept: 'image/png,image/jpeg', label: 'Imagen' %>
      <span class="help-text">Imagen actual:</span><br>
      <%= image_tag news.image, style: 'width: 250px;' %>
    <% else %>
      <%= form.file_field :image, accept: 'image/png,image/jpeg', label: 'Imagen', required: true %>
    <% end %>
  </div>

  <div class="field mt-1">
    <%=
      form.select :news_type,
      News::TYPES_TRANSLATE.map{ |k, v| [v, k] },
      {
        include_blank: 'Elija una opción',
        label: 'Tipo de noticia'
      },
      {
        required: true,
        class: 'custom-input'
      }
    %>
  </div>

  <div id="neighborhood-council-container" class="field mt-1">
    <%=
      form.collection_select :neighborhood_council_id,
      NeighborhoodCouncil.all,
      :id,
      :name,
      {prompt: 'Elige una opción', label: 'Junta de vecinos'},
      {class: 'custom-input', style: 'width: 100%;'}
    %>
  </div>

  <div id="main-theme-container" class="field">
    <%=
      form.collection_select :main_theme_id,
      MainTheme.all,
      :id,
      :name,
      { prompt: 'Elige un eje temático', label: 'Eje Temático'},
      { class: 'custom-input', style: 'width: 100%;' }
    %>
  </div>

  <div id="highlight-container" class="field mt-1">
    <%= form.check_box :is_hightlighted, label: '¿Destacada?' %>
    <div id="highlight-form" style="display: none;">
      Duración:
      <%=
        form.number_field :highlight_until_days,
        label: false,
        style: 'width: 120px; display: inline-block',
        min: 1,
        max: 365
      %>
      días
    </div>
  </div>

  <div class="actions mt-2">
    <% if action_name == 'edit' %>
      <%= form.submit 'Editar', class: 'solid-button-sm', style: 'text-decoration: none; color: white;' %>
    <% else %>
      <%= form.submit 'Crear', class: 'solid-button-sm', style: 'text-decoration: none; color: white;' %>
    <% end %>
  </div>
<% end %>

<script>
  function toggleNewsType(newsType) {
    $('#news_main_theme_id').attr("required", false)
    $('#news_neighborhood_council_id').attr("required", false)
    $('#main-theme-container').hide()
    $('#highlight-container').hide()
    $('#neighborhood-council-container').hide()

    if (newsType === '<%= News::CITIZEN_PARTICIPATION %>') {
      $('#main-theme-container').show()
      $('#highlight-container').show()
      $('#news_main_theme_id').attr("required", true)
    } else if (newsType === '<%= News::NEIGHBORHOOD_COUNCIL %>') {
      $('#neighborhood-council-container').show()
      $('#news_neighborhood_council_id').attr("required", true)
    }
  }

  $(document).ready(function() {
    $('#main-theme-container').hide()
    $('#highlight-container').hide()
    $('#neighborhood-council-container').hide()

    <% if news.news_type.present? %>
      toggleNewsType('<%= news.news_type %>')
    <% end %>

    <% if news.is_hightlighted? %>
      $('#news_is_hightlighted').prop('checked', true)
      $('#highlight-form').show()
      $('#news_highlight_until_days').val(<%= news.highlight_until - Date.current %>)
    <% end %>

    $('#news_is_hightlighted').on('change', function() {
      if ($(this).is(':checked')) {
        $('#highlight-form').show()
      } else {
        $('#highlight-form').hide()
      }
    })

    $('#news_news_type').on('change', function() {
      var selectedNewsType = $(this).find(':selected').val()
      toggleNewsType(selectedNewsType)
    })
  })
</script>
