<div class="margin-top">
  <%=
    form_with model: [:admin, @survey_item],
    url: action_name == 'edit' ? admin_survey_survey_item_path(@survey.id, @survey_item.id) : admin_survey_survey_items_path(@survey.id),
    local: true do |form|
  %>
    <div class="field">
      <%= form.number_field :position, label: 'Posición', min: 1, step: 1, value: @survey_item.position || 1, required: true %>
    </div>

    <div class="field">
      <%= form.text_field :title, label: 'Título', required: true %>
    </div>

    <div class="field">
      <%= form.select :item_type,
        Survey::Item::ITEM_TYPES.map { |item_type| [
            Survey::Item::ITEM_TYPE_TRANSLATIONS[item_type],
            item_type
          ]
        },
        {
          include_blank: 'Elige un tipo de votación',
          label: 'Tipo de votación',
        },
        {
          required: true
        }
      %>
    </div>

    <div class="field" id="item_data_container">
      <%= form.text_field :data,
        label: 'Opciones',
        required: true,
        hint: 'Ingresa las opciones separadas por punto y coma (;)',
        value: action_name == 'edit' ? @survey_item.data.join(';') : ''
      %>
    </div>

    <div class="field" id="required-field">
      <%=
        form.check_box :required,
        label: "¿Campo obligatorio?"
      %>
    </div>

    <div class="actions">
      <% if action_name == 'edit' %>
        <%= form.submit 'Editar elemento', class: 'button' %>
      <% else %>
        <%= form.submit 'Crear elemento', class: 'button' %>
      <% end %>
    </div>
  <% end %>
</div>

<script>
$(document).ready(function() {
  if ($('#survey_item_item_type').val() === '<%= Survey::Item::ITEM_TYPE_TEXT %>') {
    $('#item_data_container').hide()
    $('#survey_item_data').prop('required', false)
  }
})

$('#survey_item_item_type').on('change', function() {
  if (this.value === '<%= Survey::Item::ITEM_TYPE_TEXT %>') {
    $('#item_data_container').hide()
    $('#survey_item_data').prop('required', false)
  } else if (this.value === '<%= Survey::Item::ITEM_TYPE_RANKING %>') {
    $('#required-field').hide()
  } else {
    $('#required-field').show()
    $('#item_data_container').show()
    $('#survey_item_data').prop('required', true)
  }
})

$('#survey_item_data').keyup(function() {
  if (this.value !== '<%= Survey::Item::ITEM_TYPE_TEXT %>') {
    let element = document.getElementById('survey_item_data')

    if (element.value.trim().split(';').length <= 1) {
      element.setCustomValidity('Debes ingresar al menos una opción.')
    }
    else if (element.value.trim().substring(0, 1) === ';') {
      element.setCustomValidity('No puede comenzar con un punto y coma.')
    }
    else if (element.value.trim().slice(-1) === ';') {
      element.setCustomValidity('No puede terminar con un punto y coma.')
    } else {
      element.setCustomValidity('')
    }
  }
})
</script>
