<%= form_with(model: proposals_theme, local: true) do |form| %>
  <div class="field">
    <%= form.text_field :title, required: true, class: 'custom-input', label: 'Título' %>
  </div>

  <div class="field">
    <%= form.text_field :pdf_link, class: 'custom-input', label: 'Link PDF' %>
  </div>

  <div class="field">
    <%= form.text_area :description, required: true, class: 'html-area', label: 'Descripción', rows: 4 %>
  </div>

  <div class="field">
    <% if proposals_theme.image.attached? %>
      <%= form.file_field :image, accept: 'image/png,image/jpeg', label: 'Imagen' %>
      <span class="help-text">Imagen actual:</span><br>
      <%= image_tag proposals_theme.image, style: 'width: 250px;' %>
    <% else %>
      <%= form.file_field :image, accept: 'image/png,image/jpeg', label: 'Imagen', required: true %>
    <% end %>
  </div>

  <div class="field mt-1">
    <%= form.date_field :start_date, required: true, class: 'custom-input', label: 'Fecha de inicio', value: Time.now.strftime('%Y-%m-%d') %>
  </div>

  <div class="field">
    <%= form.date_field :end_date, required: true, class: 'custom-input', label: 'Fecha de término', min: Time.now + 1.days %>
  </div>

  <div class="small-12 column">
    <div class="field">
      <%= render Segmentation::FormComponent.new(
        Segmentation.find_by(entity_name: proposals_theme.class.name, entity_id: proposals_theme.id)
      ) %>
    </div>
  </div>

  <div class="actions text-center mt-2">
    <%= form.submit button_name, class: 'solid-button' %>
  </div>
<% end %>
