<%= render "shared/section_header",
  color: "#33cc9d",
  section_image: "/images/propuestas-image.svg",
  title: @proposals_theme.title,
  show_buildings: true
%>

<div class="row">
  <div class="small-12 column">
    <h2 class="custom-h">Sube tus propuestas relacionadas a <%= @proposals_theme.title %></h2>
    <p class="text-gray"><%= wysiwyg(@proposals_theme.description) %></p>
    <% if Time.now.to_date <= @proposals_theme.end_date %>
    <div class="text-center mt-3">
      <% if current_user %>
        <% if @can_participate %>
          <div>
            <a href="<%= new_proposal_path(proposals_theme_id: @proposals_theme.id) %>" title="<%= t("proposals.index.start_proposal") %>" data-turbolinks="false" class="create-button">
              <%= t("proposals.index.start_proposal") %>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if not @can_participate %>
      <div style="display: flex; justify-content: center">
        <div class="custom-icon-message mt-3" style="background-color: #33cc9d;">
          <div class="c-i-m-left" style="background-color: #33cc9d;">
            !
          </div>
          <div class="c-i-m-right" style="background-color: #33cc9d;">
            <%= sanitize @reason %>
          </div>
        </div>
      <% end %>

      <% if not current_user %>
        <div class="text-center" style="display: flex; flex-direction: column; padding: 65px;">
          <h4>
            Debes ingresar con tu cuenta para participar en esta convocatoria de propuestas ciudadanas
          </h4>

          <%= link_to 'Ingresa aquí', new_user_registration_path, class: 'text-link' %>
        </div>
      <% end %>
    <% end %>

    <% if @proposals_theme.pdf_link.present? %>
      <div class="mt-2">
      <%= link_to @proposals_theme.pdf_link, target: '_blank', style: 'color: #727176; text-decoration: none;' do %>
        <%= image_tag '/images/pdf-icon.svg', style: 'width: 2em' %> <small><strong><u>Ver bases</u></strong></small>
      <% end %>
      </div>
    <% end %>

    <div class="proposals-subtitle mt-3">
      <h2>Revisa las propuestas ciudadanas para <%= @proposals_theme.title %></h2>
    </div>

    <div class="column small-12">
      <div style="display: flex; flex-direction: row; justify-content: end;">
        <div style="display: flex; flex-direction: column;">
        <strong>Ordenar por</strong>
        <%= form_tag proposals_theme_path(@proposals_theme.id), method: :get do %> 
          <% if params.include?('page') %>
            <%= hidden_field_tag :page, params[:page] %>
          <% end %>
          <%= select_tag 'order',
            options_for_select(@orders, @selected_order),
            onchange: 'this.form.submit()'
          %>
        <% end %>
        </div>
      </div>
    </div>

    <div id="proposals" class="proposals-list small-12 medium-9 column">
    <% if @proposals.any? %>
      <div class="custom-cards-container">
        <div class="custom-cards">
          <%= render partial: "proposals/proposal", collection: @proposals %>
        </div>
      </div>
    <% else %>
      <div class="text-center mt-5">
        No hay propuestas creadas para este tema.
      </div>
    <% end %>
    </div>
    <%= paginate @proposals %>

  </div>
</div>

<div class="general-footer-container">
  <%= render 'shared/waves_footer', color1: '#16664d', color2: '#33cc9d' do %>
  <% end %>
</div>