<%= render "shared/section_header",
  color: "#9346b8",
  section_image: "/images/h-presupuestos1.svg",
  title: 'Presupuestos Participativos',
  description: 'Lorem ipsum',
  show_buildings: true
%>

<% provide :title do %><%= t("budgets.index.title") %><% end %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<main class="budgets-index">
  <div class="row">
    <% if @budget.present? %>
      <%= render Budgets::BudgetComponent.new(@budget, can?(:show, @ballot)) %>

      <% if @finished_budgets.present? %>
        <%= render "finished", budgets: @finished_budgets %>
      <% end %>
    <% else %>
      <header>
        <h1><%= t("budgets.index.title") %></h1>
      </header>

      <div class="row">
        <div class="small-12 column">
          <div class="callout primary">
            <%= t("budgets.index.empty_budgets") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#cfa7f0', color2: '#8148b3' do %>
    <% end %>
  </div>
</main>
