<% provide :title do %><%= t("budgets.index.title") %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<main class="budgets-index">
  <%= render "shared/section_header", i18n_namespace: "budgets.index.section_header", image: "budgets" %>
  <div class="row">
    <div id="budgets" class="small-12 column">
      <% if @budgets.any? %>
        <div class="cards-container-component">
          <% @budgets.each do |topic| %>
            <%= render Shared::CardComponent.new(
              topic,
              topic.name,
              topic.image.variant(:medium),
              topic.custom_description,
              topic.finished? ? 'Presupuesto finalizado' : nil
            ) %>
          <% end %>
        </div>
        <%= paginate @budgets %>
      <% else %>
        <div class="callout primary">
          No hay consultas ciudadanas.
        </div>
      <% end %>
    </div>
  </div>
</main>
