<% provide :title do %><%= t("budgets.index.title") %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<div class="budgets-container">
  <% if !@budgets.any? %>
    <%= render Custom::SinglePageEmptyComponent.new(
      'Presupuestos Participativos',
      'En esta sección podrás realizar propuestas con el objetivo de mejorar la Región y/o nuestra comunidad. Para publicar tus ideas debes completar un formulario sencillo que permite adjuntar documentos relevantes',
      '/images/process/budgets-circle.svg',
      'presupuestos',
      'o',
    ) %>
  <% else %>
    <%= render Custom::PageHeaderComponent.new(
      'Presupuestos Participativos',
      'En esta sección podrás realizar propuestas con el objetivo de mejorar la Región y/o nuestra comunidad. Para publicar tus ideas debes completar un formulario sencillo que permite adjuntar documentos relevantes',
      '/images/process/budgets-circle.svg',
    ) %>

    <div class="record-selector" id="record-selector">
      <div class="row">
        <div class="small-12 medium-6 column">
          <%= render Custom::BigCircleFullComponent.new(
            @budget.name,
            @budget.image.present? ? @budget.image.variant(:large) : '/images/process/budgets.svg',
            @budget.custom_description,
          ) %>
        </div>
        <div class="small-12 medium-6 column">
          <div class="record-list-container">
            <h2>Revisa otros presupuestos aquí!</h2>
            <div class="record-list">
              <ul>
                <% @budgets.each do |budget| %>
                  <%= link_to "#{url_for(budgets_path)}?budget=#{@budget.id}#record-selector" do %>
                    <li class="<%= @budget.id == budget.id ? 'is-active' : '' %>"><%= budget.name %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render Budgets::BudgetComponent.new(@budget) %>
  <% end %>
</div>
