<%= translatable_form_for heading, url: path, html: { class: "budget-headings-form" } do |f| %>
  <%= render "shared/globalize_locales", resource: heading %>

  <%= render "shared/errors", resource: heading %>

  <%= render Admin::BudgetsWizard::ModeFieldComponent.new %>

  <%= f.translatable_fields do |translations_form| %>
    <%= translations_form.hidden_field :name, value: "Partida #{heading.budget.name}" %>
  <% end %>

  <div class="small-12 medium-6">
    <% if @budget.show_money? %>
      <%= f.text_field :price %>
    <% else %>
      <%= f.hidden_field :price, value: 0 %>
    <% end %>
  </div>

  <div class="clear">
    <% if respond_to?(:single_heading?) && single_heading? %>
      <%= f.submit t("admin.budgets_wizard.headings.continue"), class: "button success" %>
    <% else %>
      <%= f.submit t("admin.budget_headings.form.#{action}"), class: "button hollow" %>
    <% end %>
  </div>
<% end %>
