<div class="single-page-component">
  <div class="page-header">
    <div class="row">
      <div class="small-12 medium-8 column">
        <h1>Resultados de Consultas</h1>
        <h4>Las consultas ciudadanas consisten en una forma ágil y segura de votación, la cual permite poner aescrutinio público distintas ideas, temáticas y/o proyectos</h4>
      </div>
      <div class="small-12 medium-4 column">
        <%= image_tag "/images/process/polls-circle.svg" %>
      </div>
    </div>
  </div>

  <div class="record-selector" id="record-selector">
    <div class="row">
      <div class="small-12 medium-6 column">
        <%= render Custom::BigRoundCardComponent.new(
          @poll.title,
          @poll.image.present? ? @poll.image_url : '/images/process/polls.svg',
          '',
        ) %>
      </div>
      <div class="small-12 medium-6 column">
        <div class="record-list-container">
          <h2>Revisa otros resultados aquí!</h2>
          <div class="record-list">
            <ul>
            <% @polls.each do |poll| %>
                <%= link_to "#{url_for(result_path(poll))}#record-selector" do %>
                <li class="<%= @poll.id == poll.id ? 'is-active' : '' %>"><%= poll.title %></li>
                <% end %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="polls-show margin-bottom">
  <div class="row margin-top">
    <h3>Cantidad de votos<h3>
    <h1><%= @total_votes %></h1>
  </div>

  <div class="row margin-top">
    <h3>Resultados de la consulta<h3>
    <% @poll.questions.each do |question| %>
      <div class="small-12 medium-6 column">
        <h3 class="text-center" id="<%= question.title.parameterize %>"><%= question.title %></h3>
        <%= pie_chart question.question_answers.map { |a| [a.title, a.total_votes] } %>
      </div>
    <% end %>
  </div>

  <% if @stats.present? and @stats.advanced? %>
    <div class="row margin-top">
      <div class="small-12 medium-6 column">
        <h3>Votos por género<h3>
        <%= pie_chart [
          ["Masculino", @stats.total_male_participants],
          ["Femenino", @stats.total_female_participants],
          ["Otro", @stats.participants.count - @stats.total_male_participants - @stats.total_female_participants]
        ]%>
      </div>
      <div class="small-12 medium-6 column">
        <h3>Votos por rango etario<h3>
        <%= column_chart @stats.participants_by_age.map { |k, v| [k, v[:count]] } %>
      </div>
    </div>
  <% end %>
</div>
