<%= form_with(model: group, local: true) do |form| %>
  <% if params[:add].present? %>
    <%= form.hidden_field :name %>
    <%= form.hidden_field :description %>

    <label>Nombre</label>
    <%= text_field_tag :name, params[:name],
      pattern: '^[a-zA-Z\u00C0-\u00FF ]*$',
      title: 'Solo letras.',
      maxlength: User.username_max_length,
      autofocus: true,
      required: true %>

    <label>Email</label>
    <%= email_field_tag :email, params[:email], required: true %>
  <% else %>
    <%= form.text_field :name, label: 'Nombre', required: true %>
    <%= form.text_field :description, label: 'Descripción' %>
    <%= hidden_field_tag :is_group_edit, params[:is_group_edit], value: true %>
  <% end %>
  <div class="actions">
    <%= form.submit 'Agregar', class: 'button' %>
  </div>
<% end %>
