<%= form_with(model: group, local: true) do |form| %>
    <%= form.hidden_field :name %>
    <%= form.hidden_field :description %>

    <label>Nombre</label>
    <%= text_field_tag :name, params[:name],
      pattern: '^[a-zA-Z\u00C0-\u00FF ]*$',
      title: 'Solo letras.',
      maxlength: User.username_max_length,
      autofocus: true,
      required: true %>

    <label>Email</label>
    <%= email_field_tag :email, params[:email], required: true %>

  <div class="actions">
    <%= form.submit 'Agregar', class: 'button' %>
  </div>
<% end %>
