<% provide :title do %>Grupos<% end %>
<% content_for :header_addon do %>
<% end %>

<% unless flash.empty? %>
  <% @flash = flash.to_hash().to_a[0] %>
  <div id="<%= @flash[0] %>" data-alert class="notice-container callout-slide" style="z-index: 9999;" data-closable>
    <div class="callout notice <%= @flash[0] %>">
      <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="notice-text">
        <%= sanitize(@flash[1]) %>
      </div>
    </div>
  </div>
<% end %>

<% flash.each do |flash_key, flash_message| %>
  <div id="<%= flash_key %>" data-alert class="notice-container callout-slide" data-closable>
    <div class="callout notice <%= flash_key %>">
      <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="notice-text">
        <%= sanitize(flash_message) %>
      </div>
    </div>
  </div>
<% end %>

<main>

</main>
