<% provide :title do %>Mi grupo<% end %>
<% content_for :header_addon do %>
<% end %>

<% unless flash.empty? %>
  <% @flash = flash.to_hash().to_a[0] %>
  <div id="<%= @flash[0] %>" data-alert class="notice-container callout-slide" style="z-index: 9999;" data-closable>
    <div class="callout notice <%= @flash[0] %>">
      <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="notice-text">
        <%= sanitize(@flash[1]) %>
      </div>
    </div>
  </div>
<% end %>

<% flash.each do |flash_key, flash_message| %>
  <div id="<%= flash_key %>" data-alert class="notice-container callout-slide" data-closable>
    <div class="callout notice <%= flash_key %>">
      <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="notice-text">
        <%= sanitize(flash_message) %>
      </div>
    </div>
  </div>
<% end %>

<main>
  <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_debates.png", alt: t("poll.icon_alt"), class: "align-sub" %>
        <h1 class="inline-block">Mi grupo</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-9 column end">
        <p>Este es el grupo en el que estás participando</p>
        <p>Representante: <%= User.find(@group.user_id).name %></p>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/back_to' %>
    </div>
  </div>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">
      <h3 class="sidebar-title">Participantes (<%= @group.users.count %>)</h3>
      <ul>
        <% @group.users.each do |user| %>
          <li>
            <i class="fas fa-user" style="margin-right: 5px;"></i> <%= user[:name] %>
              <ul>
                <li><small>Email: <%= user[:email] %></small></li>
                <li><small>Registrado: <%= user[:exists] ? 'Si' : 'No' %></small></li>
              </ul>
          </li><br/>
        <% end %>
      </ul>
    </div>
    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <div class="sidebar-divider"></div>
        <h2 class="sidebar-title">Acciones</h2>
        <% if @group.users.count < 15 %>
          <%= link_to 'Agregar participante', edit_group_path(@group), class: 'button expanded' %>
        <% else %>
          <button disabled class="button expanded">Agregar participante</button>
          <small>El grupo alcanzó el limite de 15 participantes</small>
        <% end %>
      </aside>
    </div>
  </div>
</main>
