<% if header.present? %>
  <div class="jumbo highlight">
    <div class="row">
      <div class="small-12 medium-6 column <%= "medium-12 small-centered text-center" unless header.image.present? %>" style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
        <span><%= header.label %></span>
        <h1><%= header.title %></h1>
        <p><%= header.description %></p>
        <div class="small-12 medium-6 large-6 <%= "small-centered" unless header.image.present? %>">
          <%= link_to header.link_text, header.link_url, class: "button expanded" %>
        </div>
      </div>

      <% if header.image.present? %>
        <div class="small-12 medium-6 column">
          <%= image_tag(header.image_url(:large),
                        class: "margin",
                        alt: header.image.title) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
