<% if header.present? %>
  <div
    class="header-card jumbo highlight custom-jumbo"
    style="<%= header.image.present? ? "background-image: url('#{url_for(header.image.variant(:original))}');" : '' %>"
  >
    <div class="custom-jumbo-overlay">
      <div class="row">
        <div class="column small-12">
          <span><%= header.label %></span>
          <h1><%= header.title %></h1>
          <p class="lead"><%= header.description %></p>
        </div>
        
        <% if header.link_text.present? && header.link_url.present? %>
          <div class="column small-12">
            <div class="small-12">
              <%= link_to header.link_text, header.link_url, class: "button large" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
