<nav>
  <!-- Desktop view -->
  <ul class="dropdown menu desktop-view custom-parent-menu" data-dropdown-menu>
    <%= raw content_block("subnavigation_left") %>

    <li>
      <a href="/">Inicio</a>
    </li>

    <li>
      <a href="/sobre-nosotros">Sobre nosotros</a>
    </li>

    
    <% if true == false %>
    <li>
      <a href="/news">Noticias</a>
    </li>
    <% end %>

    <li>
      <a href="/participar">¡Participa!</a>
    </li>

    <li>
      <a href="/events">Eventos</a>
    </li>

    <li>
      <a href="/resultados">Resultados</a>
    </li>

    <li>
      <a href="/news">Noticias</a>
    </li>

    <li>
      <a href="/portal-fiscalizacion">Portal de Fiscalización</a>
    </li>

    <% if feature?(:help_page) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.help"),
                                help_path,
                                current_page?(help_path),
                                accesskey: "7" %>
      </li>
    <% end %>

    <%= raw content_block("subnavigation_right") %>
  </ul>

  <!-- Mobile view -->
  <ul class="mobile-view">
    <%= raw content_block("subnavigation_left") %>

    <li>
      <a href="/">Inicio</a>
    </li>

    <li>
      <a href="/sobre-nosotros">Sobre nosotros</a>
    </li>

    
    <% if true == false %>
    <li>
      <a href="/news">Noticias</a>
    </li>
    <% end %>

    <li>
      <a href="/participar">¡Participa!</a>
    </li>
    <li>
      <a href="/events">Eventos</a>
    </li>

    <li>
      <a href="/resultados">Resultados</a>
    </li>

    <li>
      <a href="/news">Noticias</a>
    </li>

    <li>
      <a href="/portal-fiscalizacion">Fiscalización Ciudadana</a>
    </li>
  
    <% if feature?(:help_page) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.help"),
                                help_path,
                                current_page?(help_path),
                                accesskey: "7" %>
      </li>
    <% end %>


    <%= raw content_block("subnavigation_right") %>
  </ul>
</nav>
