<%= raw content_block("subnavigation_left") %>

<li>
  <%= render Shared::DropdownMenuComponent.new(
    'Procesos consultivos',
    ActiveRecord::Base.connection.execute(
      "SELECT " \
      " proposal_id AS id, " \
      " 'proposals' AS url_path, " \
      " title AS title, " \
      " created_at AS created_at " \
      "FROM proposal_translations " \
      "UNION " \
      "SELECT " \
      " poll_id AS id, " \
      " 'polls' AS url_path, " \
      " name AS title, " \
      " created_at AS created_at " \
      "FROM poll_translations " \
      "UNION " \
      "SELECT " \
      " id AS id, " \
      " 'surveys' AS url_path, " \
      " title AS title, " \
      " created_at AS created_at " \
      "FROM surveys " \
      "ORDER BY created_at DESC " \
      "LIMIT 10"
    ).to_a.map { |record| { url: "/#{record['url_path']}/#{record['id']}", name: record['title'] } }
  ) %>
</li>

<li>
  <%=
    layout_menu_link_to 'Noticias',
    news_index_path,
    current_page?(news_index_path),
    accesskey: "1"
  %>
</li>

<li>
  <%=
    layout_menu_link_to 'Eventos',
    events_path,
    current_page?(events_path),
    accesskey: "2"
  %>
</li>

<% SiteCustomization::Page.order(created_at: :desc).limit(2).each do |page| %>
  <li>
    <%=
      layout_menu_link_to page.title,
      page_path(page.slug),
      current_page?(page_path(page.slug)),
      accesskey: "3"
    %>
  </li>
<% end %>

<%= raw content_block("subnavigation_right") %>
