<div class="small-12 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>

      <li>
        <%= layout_menu_link_to 'Cómo participar',
                                'https://opinionnna.minjusticia.gob.cl/',
                                controller_name == "https://opinionnna.minjusticia.gob.cl/",
                                target: '_blank',
                                accesskey: "1" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Conoce más sobre DDHH',
                                'https://opinionnna.minjusticia.gob.cl/derechoshumanos/',
                                controller_name == "https://opinionnna.minjusticia.gob.cl/derechoshumanos/",
                                target: '_blank',
                                accesskey: "2" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Sobre el Plan',
                                'https://opinionnna.minjusticia.gob.cl/que-es/',
                                controller_name == "https://opinionnna.minjusticia.gob.cl/que-es/",
                                target: '_blank',
                                accesskey: "3" %>
      </li>

    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
