<%= raw content_block("subnavigation_left") %>

<li>
    <%=
      layout_menu_link_to "Cuenta Pública",
      participatory_public_accounts_path,
      controller_name == "debates",
      accesskey: "1"
    %>
</li>

<li>
    <%=
      layout_menu_link_to "Plan Regulador",
      'https://lobarnechea.cl/municipalidad/plan-regulador/',
      controller_name == "debates",
      accesskey: "2",
      target: '_blank'
    %>
</li>

<% if feature?(:proposals) %>
  <li>
    <%= layout_menu_link_to 'Propuestas Georreferenciadas',
                            proposals_path,
                            controller.class == ProposalTopicsController || controller.class == ProposalsController,
                            accesskey: "3" %>
  </li>
<% end %>

<li>
  <%= layout_menu_link_to 'Presupuestos Participativos',
                            surveys_path,
                            controller.class == SurveysController,
                            accesskey: "5" %>
</li>

<% if true == false && feature?(:legislation) %>
  <li>
    <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                            legislation_processes_path,
                            controller.class.module_parent == Legislation,
                            accesskey: "6" %>
  </li>
<% end %>

<% if feature?(:budgets) %>
  <li>
    <%= layout_menu_link_to "Consultas Ciudadanas",
                              budgets_path,
                              controller_name == "budgets" || controller_name == "investments",
                              accesskey: "7" %>
  </li>
<% end %>

<% if true == false && feature?(:sdg) %>
  <li>
    <%= layout_menu_link_to t("layouts.header.sdg"),
                            sdg_goals_path,
                            controller_path == "sdg/goals" && action_name != "help",
                            accesskey: "8" %>
  </li>
<% end %>

<li>
  <%= layout_menu_link_to 'Eventos',
                          events_path,
                          current_page?(events_path),
                          accesskey: "9" %>
</li>

<%= raw content_block("subnavigation_right") %>