<%= raw content_block("subnavigation_left") %>

<%
  @proposal_topics = ProposalTopic.published.order(created_at: :desc).limit(10)
  @polls = Poll.created_by_admin.not_budget.visible.published.order(created_at: :desc).limit(10)
  @surveys = Survey.published.order(created_at: :desc).limit(10)

  if current_user && !current_user.without_organization?
    @proposal_topics = ProposalTopic.published.order(created_at: :desc).where(
        ':organizations = ANY (organizations)',
        organizations: current_user.organization_name,
      ).limit(10)
    @polls = Poll.created_by_admin.not_budget.visible.published.order(created_at: :desc).where(
        ':organizations = ANY (organizations)',
        organizations: current_user.organization_name,
      ).limit(10)
    @surveys = Survey.published.order(created_at: :desc).where(
        ':organizations = ANY (organizations)',
        organizations: current_user.organization_name,
      ).limit(10)
  end
%>

<li>
  <%= render Shared::DropdownMenuComponent.new(
    'Procesos consultivos',
    [
      *@proposal_topics.map { |r|
        { id: r.id, title: r.title, created_at: r.created_at, url: "/proposal_topics/#{r.id}" }
      },
      *@polls.map { |r|
        { id: r.id, title: r.name, created_at: r.created_at, url: "/polls/#{r.id}" }
      },
      *@surveys.map { |r| 
        { id: r.id, title: r.title, created_at: r.created_at, url: "/surveys/#{r.id}"}
      },
    ].sort_by { |record| record[:created_at] }.reverse.take(10)
  ) %>
</li>

<li>
  <%=
    layout_menu_link_to 'Noticias',
    news_index_path,
    current_page?(news_index_path),
    accesskey: "1"
  %>
</li>

<li>
  <%=
    layout_menu_link_to 'Eventos',
    events_path,
    current_page?(events_path),
    accesskey: "2"
  %>
</li>

<% SiteCustomization::Page.published.where.not(slug: ['condiciones', 'accesibilidad']).order(created_at: :desc).limit(2).each do |page| %>
  <li>
    <%=
      layout_menu_link_to page.title,
      page_path(page.slug),
      current_page?(page_path(page.slug)),
      accesskey: "3"
    %>
  </li>
<% end %>

<%= raw content_block("subnavigation_right") %>
