<%= raw content_block("subnavigation_left") %>

<li>
  <%= render Shared::DropdownMenuComponent.new(
    'Procesos consultivos',
    [
      *ProposalTopic.published.order(created_at: :desc).limit(10).map { |r|
        { id: r.id, title: r.title, created_at: r.created_at, url: "/proposal_topics/#{r.id}" }
      },
      *Poll.created_by_admin.not_budget.visible.order(created_at: :desc).limit(10).map { |r|
        { id: r.id, title: r.name, created_at: r.created_at, url: "/polls/#{r.id}" }
      },
      *Survey.published.order(created_at: :desc).limit(10).map { |r| 
        { id: r.id, title: r.title, created_at: r.created_at, url: "/surveys/#{r.id}"}
      },
    ].sort_by { |record| record[:created_at] }.reverse.take(10)
  ) %>
</li>

<li>
  <%=
    layout_menu_link_to 'Noticias',
    news_index_path,
    current_page?(news_index_path),
    accesskey: "1"
  %>
</li>

<li>
  <%=
    layout_menu_link_to 'Eventos',
    events_path,
    current_page?(events_path),
    accesskey: "2"
  %>
</li>

<% SiteCustomization::Page.published.order(created_at: :desc).limit(2).each do |page| %>
  <li>
    <%=
      layout_menu_link_to page.title,
      page_path(page.slug),
      current_page?(page_path(page.slug)),
      accesskey: "3"
    %>
  </li>
<% end %>

<%= raw content_block("subnavigation_right") %>
