<div class="small-12 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>

      <li>
        <%= layout_menu_link_to 'Ver participaciones',
                                proposals_path,
                                controller_name == "1",
                                accesskey: "1" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Enlace 1',
                                '#',
                                controller_name == "1",
                                accesskey: "1" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Enlace 2',
                                '#',
                                controller_name == "2",
                                accesskey: "2" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Enlace 3',
                                '#',
                                controller_name == "3",
                                accesskey: "3" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Accesibilidad',
                                '/accesibilidad',
                                controller_name == "accesibilidad",
                                accesskey: "4" %>
      </li>

    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
