<div class="small-12 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>

    <li>
      <%= layout_menu_link_to 'Inicio',
                              root_path,
                              url_for(only_path: true) == '/',
                              accesskey: "1" %>
    </li>

    <li>
      <%= layout_menu_link_to '¿Qué es el PAN?',
                              'que-es-el-pan',
                              url_for(only_path: true) == '/que-es-el-pan',
                              accesskey: "2" %>
    </li>

    <li>
      <%= layout_menu_link_to '¿Qué son los DD.HH. y empresas?',
                              'que-son-ddhh-empresas',
                              url_for(only_path: true) == '/que-son-ddhh-empresas',
                              accesskey: "3" %>
    </li>

    <li>
      <%= layout_menu_link_to '¿Cómo participar?',
                              'como-participar',
                              url_for(only_path: true) == '/como-participar',
                              accesskey: "4" %>
    </li>

      <li>
        <%= layout_menu_link_to 'Accesibilidad',
                                'accesibilidad',
                                url_for(only_path: true) == '/accesibilidad',
                                accesskey: "5" %>
      </li>
    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
