<%= raw content_block("subnavigation_left") %>

<li>
  <%= render Shared::DropdownMenuComponent.new(
    'Procesos consultivos',
    Proposal.published.pluck(:id, :title).map { |id, title| { url: poll_path(id), name: title } } +
    Poll.visible.pluck(:id, :name).map  { |id, name| { url: proposal_path(id), name: name } }
  ) %>
</li>

<li>
  <%=
    layout_menu_link_to 'Noticias',
    events_path,
    current_page?(events_path),
    accesskey: "1"
  %>
</li>

<li>
  <%=
    layout_menu_link_to 'Eventos',
    events_path,
    current_page?(events_path),
    accesskey: "2"
  %>
</li>

<% SiteCustomization::Page.order(created_at: :desc).limit(2).each do |page| %>
  <li>
    <%=
      layout_menu_link_to page.title,
      page_path(page.slug),
      current_page?(page_path(page.slug)),
      accesskey: "3"
    %>
  </li>
<% end %>

<%= raw content_block("subnavigation_right") %>
