<div class="small-12 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>

    <li>
      <%= layout_menu_link_to 'Diagnósticos',
                              chapters_proposals_path(order: 'new'),
                              current_page?(chapters_proposals_path),
                              accesskey: "1" %>
    </li>

    <li>
      <%= layout_menu_link_to 'Acciones',
                              proposals_path(order: 'new'),
                              current_page?(proposals_path),
                              accesskey: "2" %>
    </li>

    <li>
      <%= layout_menu_link_to 'Monitoreo',
                              monitoring_quizzes_path(order: 'new'),
                              current_page?(monitoring_quizzes_path),
                              accesskey: "3" %>
    </li>

    <li>
      <%= layout_menu_link_to 'Cómo participar',
                              'https://www.tuopinioncuenta.gob.cl/como-participo',
                              current_page?(''),
                              target: '_blank',
                              accesskey: "3" %>
    </li>

      <li>
        <%= layout_menu_link_to 'Accesibilidad',
                                '/accesibilidad',
                                current_page?('accesibilidad'),
                                accesskey: "5" %>
      </li>
    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
