<div class="small-12 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>

      <li>
        <%= layout_menu_link_to 'Cómo participar',
                                '#',
                                controller_name == "1",
                                accesskey: "1" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Conoce más sobre DDHH',
                                '#',
                                controller_name == "2",
                                accesskey: "2" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Sobre el PNDH',
                                '#',
                                controller_name == "3",
                                accesskey: "3" %>
      </li>

    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
