<div class="small-12 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>

      <li>
        <%= layout_menu_link_to 'Cómo participar',
                                'https://www.tuopinioncuenta.gob.cl/nna/como-participo',
                                controller_name == "https://www.tuopinioncuenta.gob.cl/nna/como-participo",
                                target: '_blank',
                                accesskey: "1" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Conoce más sobre DDHH',
                                '#',
                                controller_name == "2",
                                accesskey: "2" %>
      </li>
      <li>
        <%= layout_menu_link_to 'Sobre el Plan',
                                'https://www.tuopinioncuenta.gob.cl/nna/que-es',
                                controller_name == "https://www.tuopinioncuenta.gob.cl/nna/que-es",
                                target: '_blank',
                                accesskey: "3" %>
      </li>

    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
