<%= raw content_block("subnavigation_left") %>

  <li>
    <%= layout_menu_link_to '¡Participa!', root_path(anchor: 'participation'), nil, accesskey: '1' %>
  </li>

  <li>
    <%= render Custom::DropdownMenuComponent.new(
      '¿Quiénes somos?',
      [
        {url: '/ugpc', name: 'Unidad de Gobernanza y Participación Ciudadana'},
        {url: '/politicas', name: 'Política de participación'},
        {url: '/formacion-ciudadana', name: 'Formación ciudadana'},
        {url: '/cosoc', name: 'COSOC'},
        {url: '/plan-unidos-bonilla', name: 'Plan Unidos por Bonilla'},
        {url: '/gore', name: 'GORE en su sala'},
        {url: '/piloto-presupuestos-participativos', name: 'Piloto de presupuestos participativos'},
        {url: '/politicas', name: 'Política de participación'}
      ]
    ) %>
  </li>

  <li class="hide-for-small-only">
    <%= layout_menu_link_to 'Piloto de presupuestos participativos', '/piloto-presupuestos-participativos', nil, accesskey: '2' %>
  </li>

  <li class="hide-for-small-only">
    <%= layout_menu_link_to 'COSOC', '/cosoc', nil, accesskey: '3' %>
  </li>

  <li>
    <%= layout_menu_link_to 'CORE', '/core', nil, accesskey: '4' %>
  </li>
  
  <li>
    <%= layout_menu_link_to 'Resultados', results_path, nil, accesskey: '5' %>
  </li>

<% if feature?(:help_page) %>
  <li>
    <%= layout_menu_link_to t("layouts.header.help"),
                            help_path,
                            current_page?(help_path),
                            accesskey: "2" %>
  </li>
<% end %>

<%= raw content_block("subnavigation_right") %>