<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "shared/header", header: @header %>

<div class="jumbo highlight proceso-main">
    <div class="row flexbox">
    <%= link_to chapters_proposals_path, :action => 'go' do %>
      <div class="proceso-card">
        <div class="card-section">
          <img
            class="process-card-image"
            src="https://www.meetingsnet.com/sites/meetingsnet.com/files/styles/article_featured_retina/public/collaborate_puzzle.jpg"\
          >
        </div>
        <div class="card-section text-center">
          <h4>Diagnósticos de acción por tema</h4>
        </div>
      </div>
    <% end %>
    <%= link_to proposals_path, :action => 'go' do %>
      <div class="proceso-card">
        <div class="card-section">
          <img 
            class="process-card-image"
            src="https://www.coe.int/documents/9219724/14989924/participation.jpg/756b1497-3d6b-476e-96d5-d8b41cd62985?t=1456913070000"
          >
        </div>
        <div class="card-section text-center">
          <h4>Sugerencias de acciones por tema</h4>
        </div>
      </div>
    <% end %>
    <%= link_to monitoring_quizzes_path, :action => 'go' do %>
      <div class="proceso-card">
        <div class="card-section">
          <img 
            class="process-card-image"
            src="https://noticias.uai.cl/assets/uploads/2020/12/gettyimages-1264842213-980x470-c-default.jpg"
          >
        </div>
        <div class="card-section text-center">
          <h4>Sugerencias de mecanismos de monitoreo</h4>
        </div>
      </div>
    <% end %>
    <%= link_to monitoring_quizzes_path, :action => 'go' do %>
      <div class="proceso-card">
        <div class="card-section">
          <img 
            class="process-card-image"
            src="https://noticias.uai.cl/assets/uploads/2020/12/gettyimages-1264842213-980x470-c-default.jpg"
          >
        </div>
        <div class="card-section text-center">
          <h4>Participación grupal</h4>
        </div>
      </div>
    <% end %>
  </div>
</div>

<main>
  <%= render "feeds" %>

  <div class="row">
    <% if @cards.any? %>
      <div class="small-12 column <%= "large-8" if feed_processes_enabled? %>">
        <h2 class="title"><%= t("welcome.cards.title") %></h2>

        <%= render "shared/cards", cards: @cards %>
      </div>
    <% end %>

    <% if feed_processes_enabled? %>
      <div class="small-12 large-4 column">
        <%= render "processes" %>
      </div>
    <% end %>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>
