<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "shared/header", headers: @headers %>

<main>
  <% if @proposals.any? %>
    <%= render Welcome::SectionComponent.new("Propuestas Georreferenciadas", proposals_path) do %>
      <div class="cards-container-component">
        <% @proposals.each do |proposal| %>
          <%= render Shared::CardComponent.new(
            proposal,
            proposal.title,
            proposal.image.present? ? proposal.image.variant(:medium) : nil,
            proposal.summary,
            proposal.in_development ? 'Propuesta en desarrollo' : nil,
            nil,
            "#{proposal.total_votes} apoyo#{proposal.total_votes != 1 ? 's' : ''}"
          ) %>
        <% end %>
      </div>
    <% end %>
  <% end %>


  <% if @surveys.any? %>
    <div class="margin-top"></div>
    <%= render Welcome::SectionComponent.new("Presupuestos Participativos", surveys_path) do %>
      <div class="cards-container-component">
        <% @surveys.each do |survey| %>
          <%= render Shared::CardComponent.new(
            survey,
            survey.title,
            survey.image.present? ? survey.image : nil,
            ActionView::Base.full_sanitizer.sanitize(survey.body).truncate_words(8, separator: '...'),
            survey.is_expired? ? 'Consulta finalizada' : nil,
            I18n.t("polls.dates", open_at: l(survey.start_time.to_date), closed_at: l(survey.end_time.to_date))
          ) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @debates.any? %>
    <div class="margin-top"></div>
    <%= render Welcome::SectionComponent.new("Cuenta Pública y Plan Regulador", nil) do %>
      <div class="cards-container-component">
        <% @debates.each do |debate| %>
          <%= render Shared::CardComponent.new(
            debate,
            debate.title,
            debate.image,
            ActionView::Base.full_sanitizer.sanitize(debate.description),
            debate.finished? ? 'Finalizado' : nil
          ) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @cards.any? %>
    <div class="margin-top"></div>
    <%= render Welcome::SectionComponent.new("Destacados") do %>
      <%= render "shared/cards", cards: @cards %>
    <% end %>
  <% end %>
</main>
