<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<main class="home">
  <%= render 'welcome/sections/section_1' %>
  <%= render 'welcome/sections/section_2' %>
  <%= render 'welcome/sections/section_3' %>
</main>
