<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "shared/header", header: @header %>

<main>
  <div class="row">
    <div class="small-12 column">
      <h2 class="title" style="border-bottom: none; margin-bottom: 25px;">Cómo participo</h2>
      <div class="cards-container">
        <div class="card small-12 medium-4 column margin-bottom end">
          <a href="/como-participar?section=0" target="_blank" class="custom-card-container">
            <figure class="figure-card custom-card">
              <%= image_tag('pndhe-09.png', style: 'object-fit: contain') %>
              <figcaption>
                <h5>Consulta Digital</h5>
              </figcaption>
            </figure>
            <p>Ingresa y aporta con tus ideas para definir desafíos y acciones por el 2° Plan de Acción Nacional.</p>
          </a>
        </div>
        <div class="card small-12 medium-4 column margin-bottom end">
          <a href="/como-participar?section=1" target="_blank" class="custom-card-container">
            <figure class="figure-card custom-card">
              <%= image_tag('pndhe-10.png', style: 'object-fit: contain') %>
              <figcaption>
                <h5>Proceso participativo para representantes de la sociedad civil</h5>
              </figcaption>
            </figure>
            <p>Inscríbete y participa de una sesión telemática para aportar en el 2° Plan de Acción Nacional.</p>
          </a>
        </div>
        <div class="card small-12 medium-4 column margin-bottom end">
          <a href="/como-participar?section=2" target="_blank" class="custom-card-container">
            <figure class="figure-card custom-card">
              <%= image_tag('pndhe-11.png', style: 'object-fit: contain') %>
              <figcaption>
                <h5>Proceso participativo para representantes de pueblos indígenas y tribales</h5>
              </figcaption>
            </figure>
            <p>Inscríbete y participa de una sesión telemática para aportar en el 2° Plan de Acción Nacional.</p>
          </a>
        </div>
      </div>
    </div>


    <div class="small-12 column" style="margin-top: 5vh">
      <h2 class="title" style="border-bottom: none; margin-bottom: 25px;">Conoce más de los derechos humanos</h2>
      <div class="cards-container">
        <div class="card small-12 medium-4 column margin-bottom end custom-card-container-border">
          <div class="custom-card">
            <%= image_tag('pndhe-12.png', style: 'object-fit: contain') %>
            <h5>Plan de acción nacional de ddhh y empresas</h5>
            <div>
              <a href="/docs/plan_de_accion.pdf" target="_blank" class="button"><i class="fas fa-download"></i> Descargar PDF</a>
            </div>
          </div>
        </div>
        <div class="card small-12 medium-4 column margin-bottom end custom-card-container-border">
          <div class="custom-card">
            <%= image_tag('pndhe-13.png', style: 'object-fit: contain') %>
            <h5>Reporte de finalización plan 2017- 2020</h5>
            <div>
              <a href="/docs/reporte_finalización_2017-2020.pdf" target="_blank" class="button"><i class="fas fa-download"></i> Descargar PDF</a>
            </div>
          </div>
        </div>
        <div class="card small-12 medium-4 column margin-bottom end custom-card-container-border">
          <div class="custom-card">
            <%= image_tag('pndhe-14.png', style: 'object-fit: contain') %>
            <h5>Reporte 2017 - 2019</h5>
            <div>
              <a href="/docs/reporte_2017-2019.pdf" target="_blank" class="button"><i class="fas fa-download"></i> Descargar PDF</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 column" style="margin-top: 5vh; display: flex; justify-content: center;">
      <%= image_tag('pndhe-25.png', style: 'width: 97%') %>
    </div>
  </div>
</main>
