<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "shared/header", header: @header %>

<%= render 'choose_type' %>
<div class="jumbo highlight proceso-main">
    <div class="row flexbox">
    <%= link_to new_quiz_path(type: 'individual'), :action => 'go' do %>
      <div class="proceso-card">
        <div class="card-section">
          <img
            class="process-card-image"
            src="https://www.meetingsnet.com/sites/meetingsnet.com/files/styles/article_featured_retina/public/collaborate_puzzle.jpg"\
          >
        </div>
        <div class="card-section text-center">
          <h4>Participar solo</h4>
        </div>
      </div>
    <% end %>
    <% if current_user %>
      <% if Group.where(user_id: current_user.id).exists? %>
        <% if Group.where(user_id: current_user.id).first.users.count > 1 %>
          <%= link_to new_quiz_path(type: 'grupal'), :action => 'go' do %>
            <div class="proceso-card">
              <div class="card-section">
                <img
                  class="process-card-image"
                  src="https://www.coe.int/documents/9219724/14989924/participation.jpg/756b1497-3d6b-476e-96d5-d8b41cd62985?t=1456913070000"\
                >
              </div>
              <div class="card-section text-center">
                <h4>Participar grupalmente</h4>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to groups_path, :action => 'go' do %>
              <div class="proceso-card disabled">
                <div class="card-section">
                  <img
                    class="process-card-image"
                    src="https://www.coe.int/documents/9219724/14989924/participation.jpg/756b1497-3d6b-476e-96d5-d8b41cd62985?t=1456913070000"\
                  >
                </div>
                <div class="card-section text-center">
                  <h4>Participar grupalmente</h4>
                  <small>Tu grupo debe tener dos o más integrantes.</small>
                </div>
              </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to set_participation_groups_path(type: 'grupal'), method: 'post' do %>
              <div class="proceso-card disabled">
                <div class="card-section">
                  <img
                    class="process-card-image"
                    src="https://www.coe.int/documents/9219724/14989924/participation.jpg/756b1497-3d6b-476e-96d5-d8b41cd62985?t=1456913070000"\
                  >
                </div>
                <div class="card-section text-center">
                  <h4>Participar grupalmente</h4>
                  <small>No tienes un grupo creado, haz clic para crear uno.</small>
                </div>
              </div>
          <% end %>
      <% end %>
    <% else %>
      <%= link_to new_quiz_path(type: 'grupal'), :action => 'go' do %>
        <div class="proceso-card">
          <div class="card-section">
            <img
              class="process-card-image"
              src="https://www.coe.int/documents/9219724/14989924/participation.jpg/756b1497-3d6b-476e-96d5-d8b41cd62985?t=1456913070000"\
            >
          </div>
          <div class="card-section text-center">
            <h4>Participar grupalmente</h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br/>
</div>

<main>
  <% @quizzes_type = [
    [1, 'Diagnósticos de acción'],
    [3, 'Sugerencias de acciones'],
    [2, 'Sugerencias de monitoreo']] %>


<div class="row">
    <section id="feed" class="widget-feed">
      <% @quizzes_type.each do |type, description| %>
        <div class="small-12 medium-4 column">
          <% if Quiz.where(quiz_type: type, visible: true).any? %>
            <div class="feed-content">
            <h3 class="title"><%= description %></h3>
              <% Quiz.where(quiz_type: type, visible: true).sort_by {|quiz| quiz.votes}.reverse[0, 3].each do |quiz| %>
                <div class="proposal">
                  <h5><%= quiz.name or 'Sin título' %></h5>
                  <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= quiz.description or 'Sin descripción' %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
  </div>
</div>

  <div class="row">
    <% if @cards.any? %>
      <div class="small-12 column <%= "large-8" if feed_processes_enabled? %>">
        <h2 class="title"><%= t("welcome.cards.title") %></h2>

        <%= render "shared/cards", cards: @cards %>
      </div>
    <% end %>

    <% if feed_processes_enabled? %>
      <div class="small-12 large-4 column">
        <%= render "processes" %>
      </div>
    <% end %>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>
