<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "shared/header", header: @header %>

<main>
  <% if @proposal_topics.any? %>
    <%= render Welcome::SectionComponent.new("Convocatorias", proposal_topics_path) do %>
      <div class="cards-container-component">
        <% @proposal_topics.each do |topic| %>
          <%= render Shared::CardComponent.new(
            topic,
            topic.title,
            topic.image,
            topic.description,
            topic.is_expired? ? 'Convocatoria finalizada' : nil
          ) %>
        <% end %>
      </div>
    <% end %>
  <% end %>


  <% if @polls.any? %>
    <div class="margin-top"></div>
    <%= render Welcome::SectionComponent.new("Consultas", polls_path) do %>
      <div class="cards-container-component">
        <% @polls.each do |poll| %>
          <%= render Shared::CardComponent.new(
            poll,
            poll.title,
            poll.image.variant(:medium),
            poll.description,
            poll.expired? ? 'Consulta finalizada' : nil
          ) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @cards.any? %>
    <div class="margin-top"></div>
    <%= render Welcome::SectionComponent.new("Destacados") do %>
      <%= render "shared/cards", cards: @cards %>
    <% end %>
  <% end %>
</main>
