<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %> 

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "shared/header", headers: @headers %>

<main>
  <% if @processes.any? %>
    <%= render Welcome::SectionComponent.new("Procesos consultivos", '/processes') do %>
      <% if @processes.length == 1 %>
        <%= render Shared::HorizontalCardComponent.new(
          @processes[0],
          @processes[0].instance_of?(Poll) ? @processes[0].name : @processes[0].title,
          (@processes[0].instance_of?(Poll) || @processes[0].instance_of?(Proposal)) ?
            @processes[0].image.variant(:medium) :
            @processes[0].image.present? ?
              @processes[0].image :
              nil,
          ActionView::Base.full_sanitizer.sanitize(
            (@processes[0].instance_of?(Poll) || @processes[0].instance_of?(Proposal)) ? @processes[0].description : @processes[0].body
          ).truncate_words(8, separator: '...'),
          nil,
        ) %>
      <% elsif @processes.length == 2 %>
        <div style="display: flex; flex-direction: column; gap: 1rem;">
          <% @processes.each do |process| %>
            <%= render Shared::HorizontalCardComponent.new(
              process,
              process.instance_of?(Poll) ? process.name : process.title,
              (process.instance_of?(Poll) || process.instance_of?(Proposal)) ?
                process.image.variant(:medium) :
                process.image.present? ?
                  process.image :
                  nil,
              ActionView::Base.full_sanitizer.sanitize(
                (process.instance_of?(Poll) || process.instance_of?(Proposal)) ? process.description : process.body
              ).truncate_words(8, separator: '...'),
              nil,
            ) %>
          <% end %> 
        </div>
      <% elsif @processes.length == 3 %>
        <%= render Shared::HorizontalCardComponent.new(
          @processes[0],
          @processes[0].instance_of?(Poll) ? @processes[0].name : @processes[0].title,
          (@processes[0].instance_of?(Poll) || @processes[0].instance_of?(Proposal)) ?
            @processes[0].image.variant(:medium) :
            @processes[0].image.present? ?
              @processes[0].image :
              nil,
          ActionView::Base.full_sanitizer.sanitize(
            (@processes[0].instance_of?(Poll) || @processes[0].instance_of?(Proposal)) ? @processes[0].description : @processes[0].body
          ).truncate_words(8, separator: '...'),
          nil,
        ) %>
        <br />

        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 1rem;">
          <% @processes[1..].each do |process| %>
            <%= render Shared::CardComponent.new(
              process,
              process.instance_of?(Poll) ? process.name : process.title,
              (process.instance_of?(Poll) || process.instance_of?(Proposal)) ?
                process.image.variant(:medium) :
                process.image.present? ?
                  process.image :
                  nil,
              ActionView::Base.full_sanitizer.sanitize(
                (process.instance_of?(Poll) || process.instance_of?(Proposal)) ? process.description : process.body
              ).truncate_words(8, separator: '...'),
              nil,
            ) %>
          <% end %> 
        </div>
      <% elsif @processes.length >= 4 %>
        <%= render Shared::HorizontalCardComponent.new(
          @processes[0],
          @processes[0].instance_of?(Poll) ? @processes[0].name : @processes[0].title,
          (@processes[0].instance_of?(Poll) || @processes[0].instance_of?(Proposal)) ?
            @processes[0].image.variant(:medium) :
            @processes[0].image.present? ?
              @processes[0].image :
              nil,
          ActionView::Base.full_sanitizer.sanitize(
            (@processes[0].instance_of?(Poll) || @processes[0].instance_of?(Proposal)) ? @processes[0].description : @processes[0].body
          ).truncate_words(8, separator: '...'),
          nil,
        ) %>
        <br />

        <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem;">
          <% @processes[1..4].each do |process| %>
            <%= render Shared::CardComponent.new(
              process,
              process.instance_of?(Poll) ? process.name : process.title,
              (process.instance_of?(Poll) || process.instance_of?(Proposal)) ?
                process.image.variant(:medium) :
                process.image.present? ?
                  process.image :
                  nil,
              ActionView::Base.full_sanitizer.sanitize(
                (process.instance_of?(Poll) || process.instance_of?(Proposal)) ? process.description : process.body
              ).truncate_words(8, separator: '...'),
              nil,
            ) %>
          <% end %> 
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @cards.any? %>
    <div class="margin-top"></div>
    <%= render Welcome::SectionComponent.new("Destacados") do %>
      <%= render "shared/cards", cards: @cards %>
    <% end %>
  <% end %>
</main>
