<%= render "shared/section_header",
    color: "#6295d6",
    title: 'Tarjeta',
    title2: 'Vecino',
    show_buildings: true,
    small_height: true
%>
<div class="row pfc-page">
  <div class="small-12 column">
    <% if not @renewal %>
      <h2>Te invitamos a formar parte de nuestra comunidad y podrás participar de:</h2>
    <% else %>
      <h2>Para que puedas participar de todos nuestros procesos te invitamos a renovar tu tarjeta</h2>
    <% end %>

    <% if not @renewal %>
      <div style="display: flex; flex-direction: row; gap: 25px; align-items: center;">
        <ul>
          <li>Consultas ciudadanas</li>
          <li>Encuestas</li>
          <li>Propuestas ciudadanas</li>
          <li>Iniciativas municipales</li>
          <li>Debates</li>
          <li>Presupuestos participativos</li>
        </ul>

        <%= link_to 'https://app.tvlascondes.cl/signup', target: '_blank' do %>
          <%= image_tag '/images/tv-button.png' %>
        <% end %>
      </div>
    <% else %>
      <%= link_to 'https://app.tvlascondes.cl/login', target: '_blank' do %>
        <%= image_tag '/images/tv-button.png' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#7aa7de', color2: '#6295d6' do %>
    <% end %>
</div>
