<%= render "shared/section_header",
    color: "#6295d6",
    title: 'Tarjeta',
    title2: 'Vecino',
    show_buildings: true,
    small_height: true
%>
<div class="row pfc-page">
  <div class="small-12 column">

    <% if true == false %>
    <div class="text-center">
      <%= link_to '/polls/1', target: '_blank' do %>
        <%= image_tag '/images/popup.png', class: 'image-lgsm-smlg' %>
      <% end %>
    </div>
    <% end %>

    <% if @type == 1 %>
      <h2 class="text-center mt-2">
        Estimado Vecino, hoy <strong>NO</strong> cuentas con <strong>Tarjeta Vecino</strong>. Sin tarjeta vecino,
        no podrás participar de la totalidad de los procesos participativos
      </h2>
    <% elsif @type == 2 %>
      <h2 class="text-center mt-2">
        Estimado Vecino, tu Tarjeta Vecino <strong>NO</strong> se encuentra vigente.<br>
        ¡Te invitamos a renovarla!
      </h2>
    <% elsif @type == 3 %>
      <h2 class="text-center mt-2">
        ¡Bienvenido, ya eres parte de nuestra comunidad!<br>
        Tu Tarjeta Vecino se encuentra <strong>vigente</strong>.<br>
        ¡Te invitamos a actualizar tus datos para mantenernos conectados!
      </h2>
    <% end %>

    <div class="row mt-2">
      <div class="small-12 medium-10 column" style="overflow-x: auto;">
        <table style="text-align: center;">
          <thead>
            <tr>
              <th></th>
              <th colspan="2" class="text-center">Procesos <strong>CON</strong> Tarjeta Vecino</th>
              <th colspan="1" class="text-center" style="border-left: 1px solid #f0f0f0;">Procesos <strong>SIN</strong><br> Tarjeta Vecino</th>
            </tr>
            <tr>
              <th></th>
              <th class="text-center">Residente</th>
              <th class="text-center">Población Flotante</th>
              <th style="border-left: 1px solid #f0f0f0;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Consultas Ciudadanas</td>
              <td><i class="gg-check-o margin-auto"></i></td>
              <td><i class="gg-danger margin-auto"></i></td>
              <td style="border-left: 1px solid #f0f0f0;"><i class="gg-danger margin-auto" ></i></td>
            </tr>
            <tr>
              <td>Encuestas</td>
              <td><i class="gg-check-o margin-auto"></i></td>
              <td><i class="gg-danger margin-auto"></i></td>
              <td style="border-left: 1px solid #f0f0f0;"><i class="gg-danger margin-auto"></i></td>
            </tr>
            <tr>
              <td>Propuestas Ciudadanas</td>
              <td><i class="gg-check-o margin-auto"></i></td>
              <td><i class="gg-danger margin-auto"></i></td>
              <td style="border-left: 1px solid #f0f0f0;"><i class="gg-close-o margin-auto"></i></td>
            </tr>
            <tr>
              <td>Iniciativas Municipales</td>
              <td><i class="gg-check-o margin-auto"></i></td>
              <td><i class="gg-danger margin-auto"></i></td>
              <td style="border-left: 1px solid #f0f0f0;"><i class="gg-danger margin-auto"></i></td>
            </tr>
            <tr>
              <td>Debates</td>
              <td><i class="gg-check-o margin-auto"></i></td>
              <td><i class="gg-danger margin-auto"></i></td>
              <td style="border-left: 1px solid #f0f0f0;"><i class="gg-danger margin-auto"></i></td>
            </tr>
            <tr>
              <td>Presupuestos Participativos</td>
              <td><i class="gg-check-o margin-auto"></i></td>
              <td><i class="gg-danger margin-auto"></i></td>
              <td style="border-left: 1px solid #f0f0f0;"><i class="gg-close-o margin-auto"></i></td>
            </tr>
          </tbody>
        </table>
        <div class="flex" style="justify-content: flex-end;">
          <div>
            <div class="flex">
              <i class="gg-check-o"></i>&nbsp;Si
            </div>
            <div class="flex">
              <i class="gg-danger"></i>&nbsp;Sujeto a bases del proceso
            </div>
            <div class="flex">
              <i class="gg-close-o"></i>&nbsp;No
            </div>
          </div>
        </div>
      </div>
      <div class="small-12 medium-2 column text-center">
        <% if @type == 1 %>
          <%= link_to 'https://app.tvlascondes.cl/signup', target: '_blank' do %>
            <h5 class="text-center">Obtén tu Tarjeta Vecino</h5>
            <%= image_tag '/images/tv-button.png' %>
          <% end %>
        <% elsif @type == 2 %>
          <%= link_to 'https://app.tvlascondes.cl/login', target: '_blank' do %>
            <h5 class="text-center">Renueva tu Tarjeta Vecino</h5>
            <%= image_tag '/images/tv-button.png' %>
          <% end %>
        <% elsif @type == 3 %>
          <%= link_to 'https://app.tvlascondes.cl/login', target: '_blank' do %>
            <h5 class="text-center">Actualiza tus datos de Tarjeta Vecino</h5>
            <%= image_tag '/images/tv-button.png' %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="row mt-4" id="user-form">
  <div class="small-12 column">
    <div class="info-card">
      <div class="info-card-header" style="background-color: #fe6b01;">
        <h1 style="font-size: 2em;">¡Queremos conocerte mejor!</h1>
      </div>
      <div class="info-card-body" style="padding: 0;">
        <div data-tf-widget="vpGHZTNx" data-tf-iframe-props="title=Encuesta Caracterización" data-tf-medium="snippet" data-tf-hidden="rut=<%= current_user.document_number.insert(-2, '-') %>" style="width:100%;height:600px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
      </div>
    </div>
  </div>
</div>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#7aa7de', color2: '#6295d6' do %>
    <% end %>
</div>
