<div class="row">
  <%= month_calendar(events: @events) do |date, events| %>
    <% if Time.zone.now.strftime('%Y%m%d') == date.strftime('%Y%m%d') %>
      <strong>
    <% end %>

    <div>
      <%= date.strftime('%d') %>
      <% if Time.zone.now.strftime('%Y%m%d') == date.strftime('%Y%m%d') %>
      <small>(Hoy)</small></strong>
      <% end %>
    </div>

    <div class="custom-event" style="visibility: hidden; height: 1px;">
      <div class="plus-button-xsm"></div> <span>1 2 3 4 5 6 7 8 9 10 11 12 13 14</span>
    </div>
    <% events.first(2).each do |event| %>
      <%= link_to event, style: 'text-decoration: none;' do %>
        <div class="custom-event">
          <div class="plus-button-xsm"></div> <span><%= event.title %></span>
        </div>
      <% end %>
    <% end %>
    <% if events.length() > 2 %>
      <div class="day-dropdown">
        <button class="show-more-button">
          Otros eventos del día +
        </button><br>
        <div class="day-dropdown-content">
          <% events[2..].each do |event| %>
            <%= link_to event, style: 'text-decoration: none;' do %>
              <div class="custom-event">
                <div class="plus-button-xsm"></div> <span><%= event.title %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
