<%= form_with(model: event, local: true) do |form| %>
  <div class="field">
    <%=
      form.text_field :title,
      maxlength: 50,
      label: 'Título',
      required: true,
      class: 'custom-input'
    %>
  </div>

  <div class="field">
    <%=
      form.text_area :description,
      label: 'Descripción',
      rows: 5,
      required: true,
      class: "html-area"
    %>
  </div>

  <div class="field">
    <%=
      form.datetime_local_field :start_time,
      required: true,
      label: 'Desde',
      class: 'custom-input'
    %>
  </div>

  <div class="field">
    <%=
      form.datetime_local_field :end_time,
      required: true,
      label: 'Hasta',
      class: 'custom-input'
    %>
  </div>

  <div class="field">
    <%=
      form.collection_select :main_theme_id,
      MainTheme.all,
      :id,
      :name,
      {prompt: 'Elige un eje temático', label: 'Eje Temático'},
      {class: 'custom-input', style: 'width: 100%;', required: true}
    %>
  </div>

  <div class="actions">
    <% if action == 'edit' %>
      <%= form.submit 'Editar' %>
    <% else %>
      <%= form.submit 'Crear' %>
    <% end %>
  </div>
<% end %>
