<% provide :title do %>Eventos<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>
  <%= render "shared/section_header",
      color: "#2f4ac6",
      section_image: "/images/h-eventos.svg",
      title: 'Calendario',
      title2: 'de Eventos',
      description: 'Aquí encontrarás los principales eventos relacionados a Participación Ciudadana en la comuna',
      show_buildings: true
  %>
  <div class="row">
    <div style="text-align: center;">
      <h2 style="color: #727176; letter-spacing: -1px;">¡Descubre qué se viene durante este mes!</h2>
    </div>
    <ul class="tabs" data-tabs data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" id="events-tabs">
      <li class="tabs-title is-active"><a href="#all-events" aria-selected="true">Todos los eventos</a></li>
      <% if current_user %>
        <li class="tabs-title"><a data-tabs-target="my-events" href="#my-events">Mis eventos</a></li>
      <% end %>
    </ul>
    <div class="tabs-content" data-tabs-content="events-tabs">
      <div class="tabs-panel is-active" id="all-events">
        <%= render 'all_events' %>
      </div>
      <% if current_user %>
        <div class="tabs-panel" id="my-events">
          <%= render 'user_events' %>
        </div>
      <% end %>
    </div>
  </div>
</main>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#236ad8', color2: '#2f4ac6' do %>
    <% end %>
</div>
