<% @has_prev = !defined?(prev).nil? %>

<div class="card" id="<%= news.id %>">
  <%= image_tag news.miniature %>
  <div class="card-content">
    <div class="card-info">
      <h3><%= news.title %></h3>
      <span class="card-creation-info">
        <%= image_tag("/images/b-icono.svg") %> Equipo Participación Ciudadana <%= image_tag '/images/verified-icon.png' %>
        <span class="separator">·</span>
        <%= news.created_at_text %>
      </span>
      <p class="margin-top"><%= wysiwyg(news.summary) %></p>
    </div>
    <div class="card-actions">
      <%= link_to 'Ver más', news, class: 'solid-button-xsm' %>
      <% if current_user %>
        <%=
          link_to like_news_index_path(id: news.id),
          method: "post",
          remote: true,
          title: t("votes.agree"),
          onclick: "toggleLike(#{news.id})" do %>
            <span id="icon-like-<%= news.id %>" class="icon-like <%= news.user_like(current_user) ? 'active' : '' %>" data-active="<%= news.user_like(current_user) %>">
              <span class="show-for-sr"><%= t("votes.agree") %></span>
              <small id="count-like-<%= news.id %>"><%= news.likes %></small>
            </span>
        <% end %>
        <%=
          link_to dislike_news_index_path(id: news.id),
          method: "post",
          remote: true,
          title: t("votes.disagree"),
          onclick: "toggleUnlike(#{news.id})" do %>
            <span id="icon-unlike-<%= news.id %>" class="icon-unlike <%= news.user_dislike(current_user) ? 'active' : '' %>" data-active="<%= news.user_dislike(current_user) %>">
              <span class="show-for-sr"><%= t("votes.disagree") %></span>
              <small id="count-unlike-<%= news.id %>"><%= news.dislikes %></small>
            </span>
        <% end %>
      <% else %>
        <span class="icon-like">
          <span class="show-for-sr"><%= t("votes.agree") %></span>
          <small><%= news.likes %></small>
        </span>
        <span class="icon-unlike">
          <span class="show-for-sr"><%= t("votes.disagree") %></span>
          <small><%= news.dislikes %></small>
        </span>
      <% end %>
    </div>
  </div>
</div>
