<%= render "shared/section_header",
  color: "#82be78",
  title: 'Noticias',
  show_buildings: true,
  small_height: true
%>

<div class="row">
  <div class="column small-12">
    <ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#participacion-ciudadana" aria-selected="true">Participación ciudadana</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="participacion-ciudadana">
        <%= render 'news/collections/citizen_participation' %>
      </div>
      <div class="tabs-panel" id="juntas-de-vecinos">
        <%= render 'news/collections/neighborhood_council' %>
      </div>
      <div class="tabs-panel" id="cosoc">
        <%= render 'news/collections/cosoc' %>
      </div>
    </div>
  </div>
</div>

<div class="general-footer-container">
  <%= render 'shared/waves_footer', color1: '#60a360', color2: '#82be78' do %>
  <% end %>
</div>


<script>
  function toggleLike(id) {
    var isActiveLike = $(`#icon-like-${id}`).data('active')
    var isActiveUnlike = $(`#icon-unlike-${id}`).data('active')

    if (isActiveUnlike) {
      $(`#icon-unlike-${id}`).data('active', false)
      $(`#icon-unlike-${id}`).removeClass('active')
      $(`#count-unlike-${id}`).text(parseInt($(`#count-unlike-${id}`).text()) - 1)
    }

    if (isActiveLike) {
      $(`#icon-like-${id}`).data('active', false)
      $(`#icon-like-${id}`).removeClass('active')
      $(`#count-like-${id}`).text(parseInt($(`#count-like-${id}`).text()) - 1)
    } else {
      $(`#icon-like-${id}`).data('active', true)
      $(`#icon-like-${id}`).addClass('active')
      $(`#count-like-${id}`).text(parseInt($(`#count-like-${id}`).text()) + 1)
    }
  }
  
  function toggleUnlike(id) {
    var isActiveLike = $(`#icon-like-${id}`).data('active')
    var isActiveUnlike = $(`#icon-unlike-${id}`).data('active')

    if (isActiveLike) {
      $(`#icon-like-${id}`).data('active', false)
      $(`#icon-like-${id}`).removeClass('active')
      $(`#count-like-${id}`).text(parseInt($(`#count-like-${id}`).text()) - 1)
    }

    if (isActiveUnlike) {
      $(`#icon-unlike-${id}`).data('active', false)
      $(`#icon-unlike-${id}`).removeClass('active')
      $(`#count-unlike-${id}`).text(parseInt($(`#count-unlike-${id}`).text()) - 1)
    } else {
      $(`#icon-unlike-${id}`).data('active', true)
      $(`#icon-unlike-${id}`).addClass('active')
      $(`#count-unlike-${id}`).text(parseInt($(`#count-unlike-${id}`).text()) + 1)
    }
  }
</script>
