<div id="<%= dom_id(debate) %>" class="custom-card" data-type="debate">
  <div class="custom-card-header">
    <%= link_to debate.main_theme, style: 'text-decoration: none;', target: '_blank' do %>
      <div class="c-c-h-theme-container">
        <div><%= image_tag debate.main_theme.icon %></div>
        <h3><%= debate.main_theme.name %></h3>
      </div>
    <% end %>
  </div>

  <div class="custom-card-image">
    <% if debate.image.attached? %>
      <%= image_tag debate.image %>
    <% else %>
      <%= image_tag debate.main_theme.icon %>
    <% end %>

    <% if debate.is_finished %>
      <div class="custom-card-image-container-text">
        <div class="custom-card-image-text">
          <h4>Debate finalizado</h4>
        </div>
      </div>
    <% end %>
  </div>

  <div class="custom-card-content" style="<%= debate.image.present? ? 'height: 50%;' : 'height: 100%;' %>">
    <div>
      <h3 style="text-align: center !important;"><%= debate.title %></h3>
    </div>
    <div class="custom-card-content-footer">
      <div class="text-center mb-1">
        <%= Rails::Html::FullSanitizer.new.sanitize(debate.description).truncate_words(10) %>
      </div>
      <%= link_to 'Ver más', debate_path(debate.id), class: 'button expanded large', style: "#{current_user and current_user.administrator? ? 'margin-bottom: 5px;' : ''}" %>
      <% if current_user and current_user.administrator? %>
        <%= link_to 'Editar', edit_debate_path(debate), class: 'button expanded large', style: 'margin-bottom: 5px;' %>
        <%= link_to 'Eliminar', debate_path(debate.id), method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar este Tema?' }, class: 'button expanded large', style: 'margin-bottom: 5px;' %>
      <% end %>
    </div>
  </div>
</div>
