<%= render "shared/section_header",
    color: "#9ecc46",
    title: 'Debates',
    description: 'Permite a las/os usuarias/os abrir hilos de discusión y generar espacios de debate sobre las temáticas que consideren más relevantes.',
    section_image: "/images/h-debates.svg",
    image_style: 'bottom: 10%;'
%>
<div class="debate-edit">
  <div class="row">
    <div class="small-12 column">
      <%= back_link_to %>

      <div class="float-right">
        <%= link_to t("debates.edit.show_link"), @debate %>
      </div>

      <h1><%= t("debates.edit.editing") %></h1>

      <%= render "form" %>
    </div>
  </div>
</div>
