<% provide :title do %><%= t("debates.index.title") %><% end %>
<% content_for :header_addon do %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: debates_url %>
<% end %>

<main>
  <%= render "shared/section_header",
    color: "#9ecc46",
    title: 'Debates',
    description: 'Permite a las/os usuarias/os abrir hilos de discusión y generar espacios de debate sobre las temáticas que consideren más relevantes.',
    section_image: "/images/h-debates.svg",
    image_style: 'bottom: 10%;'
  %>

  <div class="row">
    <div class="small-12 column">
      <% if current_user %>
      <div class="section-header-container">
        <%= link_to 'Empieza un debate', new_debate_path, class: 'create-debate' %>
      </div>
      <% end %>

        <div class="custom-cards-container">
          <div class="custom-cards">
            <% if @debates.any? %>
              <%= render partial: "debate", collection: @debates %>
            <% else %>
              <p>No hay debates publicados.</p>
            <% end %>
          </div>
        </div>
        <%= paginate @debates %>

    </div>
  </div>
  <div class="general-footer-container">
      <%= render 'shared/waves_footer', color1: '#61841c', color2: '#9ecc46' do %>
      <% end %>
  </div>
</main>
