<% provide :title do %><%= t("debates.index.title") %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: debates_path(page: 1),
             i18n_namespace: "debates.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: debates_url %>
<% end %>

<main>
  <% if @search_terms || @advanced_search_terms %>
    <%= render Shared::SearchResultsSummaryComponent.new(
      results: @debates,
      search_terms: @search_terms,
      advanced_search_terms: @advanced_search_terms
    ) %>
  <% else %>
    <%= render "shared/section_header", i18n_namespace: "debates.index.section_header", image: "debates" %>
  <% end %>

  <% if feature?("user.recommendations") && @recommended_debates.present? %>
    <%= render "shared/recommended_index", recommended: @recommended_debates,
                                           disable_recommendations_path: recommendations_disable_debates_path,
                                           namespace: "debates" %>
  <% end %>

  <div class="row">
    <div id="debates" class="debates-list small-12 column">

      <%= render Shared::BannerComponent.new("debates") %>


      <ul class="tabs" data-tabs id="debates-tabs">
        <li class="tabs-title is-active"><a href="#open-tab" aria-selected="true">Abiertos</a></li>
        <li class="tabs-title"><a data-tabs-target="results-tab" href="#results-tab">Resultados</a></li>
      </ul>

      <div class="tabs-content" data-tabs-content="debates-tabs">
        <div class="tabs-panel is-active" id="open-tab">
          <%= render 'index_open' %>
        </div>
        <div class="tabs-panel" id="results-tab">
          <%= render 'index_finished' %>
        </div>
      </div>
    </div>

  </div>
</main>
