<% provide :title do %>Plan Regulador Participativo<% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: debates_path(page: 1),
             i18n_namespace: "debates.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: debates_url %>
<% end %>

<main>
  <div class="help-header">
    <div class="row">
      <div class="small-12 column" data-magellan>
        <%= image_tag "help/help_icon_debates.png", alt: "Ãcono", class: "align-top" %>
        <h1 class="inline-block">Plan Regulador Participativo</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <% if current_user and current_user.administrator? %>
      <div class="small-12 column">
        <%= link_to "Crear", new_debate_path(type: Debate::TYPE_PARTICIPATORY_REGULATORY_PLANS), class: "button" %>
      </div>
    <% end %>

    <div id="debates" class="debates-list small-12 column margin-top">
      <% if @debates.any? %>
        <div class="cards-container-component">
          <% @debates.each do |debate| %>
            <%= render Shared::CardComponent.new(
              debate,
              debate.title,
              debate.image,
              ActionView::Base.full_sanitizer.sanitize(debate.description),
              debate.finished? ? 'Finalizado' : nil
            ) %>
          <% end %>
        </div>
        <%= paginate @debates %>
      <% else %>
        <div class="callout primary">
          No hay planes reguladores participativos.
        </div>
      <% end %>
    </div>
  </div>

</main>
