<% provide :title do %><%= @debate.title %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: debate_url(@debate) %>
<% end %>

<%= render Custom::SinglePageComponent.new(
  'Debates',
  'Permite a las/os usuarias/os abrir hilos de discusión y generar espacios de debate sobre las temáticas que consideren más relevantes',
  '/images/process/debates-circle.svg',
  'debates',
  'o',
  '/images/process/debates.svg',
  @debates,
  @debate,
  new_debate_path
) %>

<% cache [locale_and_user_status(@debate),
          @debate,
          @debate.author,
          Flag.flagged?(current_user, @debate),
          current_user&.voted_as_when_voted_for(@debate)] do %>
  <div class="debate-show">
    <div id="<%= dom_id(@debate) %>" class="row">
      <div class="small-12 medium-6 column">
        <div class="debate-info">
          <%= render "/shared/author_info", resource: @debate %>

          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= l @debate.created_at.to_date %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= render Shared::CommentsCountComponent.new(@debate.comments_count, url: "#comments") %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <span class="js-flag-actions">
            <%= render "shared/flag_actions", flaggable: @debate %>
          </span>
        </div>

        <h3><%= @debate.question %></h3>

        <%= auto_link_already_sanitized_html wysiwyg(@debate.description) %>
      </div>

      <div class="small-12 medium-6 column">
        <h1 class="flag-title">¿Qué opinas?</h1>
        <div id="<%= dom_id(@debate) %>_votes" class="margin-top">
          <div class="in-favor-against">
            <div>
              <h4 class="option-text">Estoy de acuerdo</h4>
              <% if can?(:vote, Debate) and !@debate.finished? and @debate.can_participate?(current_user) %>
                <%= link_to polymorphic_path(@debate, action: :vote, value: "yes"),
                    title: t("votes.agree"),
                    method: "post",
                    remote: true,
                    disabled: @is_disabled do %>
                  <%= image_tag "/images/global/like-#{current_user&.voted_as_when_voted_for(@debate) == true ? 'active' : 'available'}.svg" %>
                <% end %>
              <% else %>
                <%= image_tag "/images/global/like-#{current_user&.voted_as_when_voted_for(@debate) == true ? 'active' : 'available'}.svg" %>
              <% end %>
              <span class="percentage strong-italic"><%= votes_percentage("likes", @debate) %></span>
            </div>

            <div>
              <h4 class="option-text">No estoy de acuerdo</h4>
              <% if can?(:vote, Debate) and !@debate.finished? and @debate.can_participate?(current_user) %>
                <%= link_to polymorphic_path(@debate, action: :vote, value: "no"),
                    title: t("votes.disagree"),
                    method: "post",
                    remote: true,
                    disabled: @is_disabled do %>
                  <%= image_tag "/images/global/dislike-#{current_user&.voted_as_when_voted_for(@debate) == false ? 'active' : 'available'}.svg" %>
                <% end %>
              <% else %>
                <%= image_tag "/images/global/dislike-#{current_user&.voted_as_when_voted_for(@debate) == false ? 'active' : 'available'}.svg" %>
              <% end %>
              <span class="percentage strong-italic"><%= votes_percentage("dislikes", @debate) %></span>
            </div>
          </div>
        </div>
        <div class="text-center margin-top">
          <span class="total-votes strong-italic">
            <%= t("debates.debate.votes", count: @debate.total_votes) %>
          </span>
          <div class="margin-top">
            <% if current_user.nil? %>
              <p><strong>Debes <%= link_to 'iniciar sesión o registrarte', new_user_session_path %> para participar.</strong></p>
            <% elsif @debate.finished? %>
              <div class="callout warning">
                Debate finalizado.
              </div>
            <% elsif !@debate.can_participate?(current_user) %>
              <div class="callout warning">
                No puedes participar. <%== @debate.cant_participate_reason(current_user) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 column">
        <% if current_user && @debate.editable_by?(current_user) %>
          <%= link_to edit_debate_path(@debate), class: "button" do %>
            <span class="icon-edit"></span>
            <%= t("debates.show.edit_debate_link") %>
          <% end %>
        <% end %>

        <% if current_user and current_user.administrator? %>
          <%= link_to toggle_finished_debate_path(@debate), method: :patch, class: "button" do %>
            <span class="icon-edit"></span>
            <%= @debate.finished? ? 'Quitar' : 'Marcar' %> "Finalizado"
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "comments" %>
