<% provide :title do %><%= @debate.title %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: debate_url(@debate) %>
<% end %>

<% cache [locale_and_user_status(@debate), @debate, @debate.author, Flag.flagged?(current_user, @debate), @debate_votes] do %>
  <%= render "shared/section_header",
    color: @debate.main_theme.primary_color.present? ? @debate.main_theme.primary_color : "#f6b617",
    section_image: @debate.main_theme.image,
    title: @debate.title,
    pre_title: @debate.main_theme.name,
    show_buildings: true
  %>
  <div id="<%= dom_id(@debate) %>" class="row">
    <div class="small-12 medium-12 column">
      <div class="debate-info" style="font-size: 0.9em;">
        <%= render "/shared/author_info", resource: @debate %>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <%= l @debate.created_at.to_date %>
      </div>

      <div class="debate-show mt-2">
        <div class="proposal-content-container">
          <div class="p-c-duo">

            <div>
              <h3><%= @debate.question %></h3>
              <%= auto_link_already_sanitized_html wysiwyg(@debate.description) %>
            </div>

            <div style="display: flex; flex-direction: column; align-items: center;">
              <% if current_user and current_user.administrator? %>
              <div class="mb-2">
                <%=
                  link_to @debate.is_finished? ? 'Quitar "Finalizada"' : 'Marcar "Finalizada"',
                  toggle_is_finished_moderation_debate_path(@debate.id),
                  method: :patch,
                  class: 'solid-button-sm',
                  style: 'text-decoration: none; color: white; background-color: #9ecc46;'
                %>
              </div>
              <% end %>
              <div class="info-card">
                <% if !@debate.is_finished %>
                  <% if current_user %>
                    <% if @can_participate %>
                      <%= render "debates/votes", debate: @debate %>
                    <% end %>
                  <% else %>
                    <p class="text-center mt-2 mb-2">
                      Debes ingresar con tu cuenta para participar en esta encuesta.
                      <%= link_to 'Ingresa aquí', new_user_registration_path, class: 'text-link' %>
                    </p>
                  <% end %>
                <% else %>
                  <p class="text-center mt-2 mb-2">El debate está finalizado.</p>
                <% end %>
              </div>
              <div class="mt-2">
                <% if @debate.image.attached? %>
                  <%= image_tag @debate.image %>
                <% end %>
              </div>

              <% if not @can_participate %>
                <div class="custom-icon-message mt-3" style="background-color: #9ecc46;">
                  <div class="c-i-m-left" style="background-color: #9ecc46;">
                    !
                  </div>
                  <div class="c-i-m-right" style="background-color: #9ecc46;">
                    <%= sanitize @reason %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="js-moderator-debate-actions margin">
        <%= render "actions", debate: @debate %>
      </div>
      <%= render "shared/social_share",
        share_title: t("debates.show.share"),
        title: @debate.title,
        url: debate_url(@debate),
        description: @debate.title,
        mobile: @debate.title %>
    </div>
  </div>
<% end %>

<div class="mt-2">
  <%= render "comments" %>
</div>

<div class="general-footer-container">
  <%= render 'shared/waves_footer', color1: @debate.main_theme.secondary_color, color2: @debate.main_theme.primary_color do %>
  <% end %>
</div>
