<div class="custom-diagram-mobile">
  <div>
    <div class="custom-diagram-column">
      <%= image_tag '/images/pages/cosoc/icons/1.png', class: 'custom-diagram-icon section-1-color' %>
      <h5 class="section-1-text">SEGUIMIENTOS DE LAS POLÍTICAS, PLANES, PROGRAMAS GOBIERNO REGIONAL</h5>
    </div>
    <p>
      Apoyando con su experiencia y retroalimentación de información al enriquecimiento y fortalecimiento de la gestión pública, contribuyendo así al más eficiente, eficaz e inclusivo funcionamiento del Gobierno Regional.
    </p>
  </div>

  <div>
    <div class="custom-diagram-column">
      <%= image_tag '/images/pages/cosoc/icons/2.png', class: 'custom-diagram-icon section-2-color' %>
      <h5 class="section-2-text">CANALIZAR PROPUESTAS Y DEMANDAS</h5>
    </div>
    <p>
      Canalizar propuestas, demandas y requerimientos públicos y ciudadanos en torno al quehacer del Gobierno Regional.
    </p>
  </div>

  <div>
    <div class="custom-diagram-column">
      <%= image_tag '/images/pages/cosoc/icons/3.png', class: 'custom-diagram-icon section-3-color' %>
      <h5 class="section-3-text">DAR SEGUIMIENTO SOBRE LA EJECUCIÓN DE LOS F.N.D.R.</h5>
    </div>
    <p>
      Dar seguimiento sobre la ejecución y avance presupuestario del Fondo Nacional de Desarrollo Regional F.N.D.R. (o el fondo que lo reemplace en el futuro).
    </p>
  </div>

  <div>
    <div class="custom-diagram-column">
      <%= image_tag '/images/pages/cosoc/icons/4.png', class: 'custom-diagram-icon section-4-color' %>
      <h5 class="section-4-text">PROPONER MEDIDAS DE PARTICIPACIÓN CIUDADANA</h5>
    </div>
    <p>
      Proponer medidas de participación ciudadana a las unidades, divisiones y/o departamentos que tengan la participación como su principal función dentro del Gobierno Regional.
    </p>
  </div>

  <div>
    <div class="custom-diagram-column">
      <%= image_tag '/images/pages/cosoc/icons/5.png', class: 'custom-diagram-icon section-5-color' %>
      <h5 class="section-5-text">INFORMAR SOBRE LABORES A SUS ORGANIZACIONES</h5>
    </div>
    <p>
      Deberán informar y dar cuenta de su labor a sus organizaciones y a la ciudadanía y habitantes de la región de Antofagasta. El COSOC Regional deberá realizar una cuenta pública al año.
    </p>
  </div>

  <div>
    <div class="custom-diagram-column">
      <%= image_tag '/images/pages/cosoc/icons/6.png', class: 'custom-diagram-icon section-6-color' %>
      <h5 class="section-6-text">CONOCER, CONTRIBUIR Y SUGERIR OBSERVACIONES</h5>
    </div>
    <p>
      Conocer, contribuir y sugerir sus observaciones a la Cuenta Pública Participativa anual del Gobernador/a Regional, previa presentación de esta a la ciudadanía regional.
    </p>
  </div>
</div>
