<div class="ugpc-diagram-desktop">
  <div class="ugpc-diagram-column" style="padding-top: 15rem;">
    <div>
      <h5 class="section-1-text">COORDINAR Y ASESORAR</h5>
      <p>
        Coordinar, apoyar y asesorar las acciones que implemente o promueva el Gobierno Regional en materia de Gobernanza y Participación Ciudadana en la región, en general, o a través de sus divisiones y/o unidades.
      </p>
    </div>
    <div class="ugpc-diagram-mini-circle section-1-color">1</div>
    <div class="vertical-line"></div>
  </div>

  <div class="ugpc-diagram-column" style="padding-top: 5rem;">
    <div>
      <h5 class="section-2-text">IMPLEMENTACIÓN PLANES, PROGRAMAS Y PROYECTOS FORTALECIMIENTO DIRIGENCIAS</h5>
      <p>
        Promover el desarrollo e implementar planes, programas y proyectos de formación y/o fortalecimiento de liderazgos y dirigencias sociales en la Región de Antofagasta.
      </p>
    </div>
    <div class="ugpc-diagram-mini-circle section-2-color">2</div>
    <div class="vertical-line"></div>
  </div>

  <div class="ugpc-diagram-column">
    <div>
      <h5 class="section-3-text">FORMULAR E IMPLEMENTAR MECANISMOS DE PARTICIPACIÓN</h5>
      <p>
        Formular, implementar y realizar seguimiento de los mecanismos de gobernanza y participación ciudadana al interior del Gobierno Regional.
      </p>
    </div>
    <div class="ugpc-diagram-mini-circle section-3-color">3</div>
    <div class="vertical-line"></div>
  </div>

  <div class="ugpc-diagram-column">
    <div>
      <h5 class="section-4-text">PROMOVER E IMPLEMENTAR PROGRAMAS DE FORMACIÓN EN CIUDADANIA Y DEMOCRACIA</h5>
      <p>
        Promover el desarrollo e implementar planes, programas y proyectos de formación en democracia, derechos y ciudadanía en y para la Región de Antofagasta.
      </p>
    </div>
    <div class="ugpc-diagram-mini-circle section-4-color">4</div>
    <div class="vertical-line"></div>
  </div>

  <div class="ugpc-diagram-column" style="padding-top: 5rem;">
    <div>
      <h5 class="section-5-text">PROMOVER CULTURA DE PARTICIPACIÓN</h5>
      <p>
        Proponer y/o disponer de las medidas necesarias para el desarrollo de una cultura organizacional sensible a la articulación y participación interna, así como a los procesos de gobernanza y participación ciudadana al interior del Gobierno Regional y servicios regionales dependientes del Gobierno Regional.
      </p>
    </div>
    <div class="ugpc-diagram-mini-circle section-5-color">5</div>
    <div class="vertical-line"></div>
  </div>

  <div class="ugpc-diagram-column" style="padding-top: 15rem;">
    <div>
      <h5 class="section-6-text">COORDINAR</h5>
      <p>
        Coordinar, apoyar y asesorar las acciones que implemente o promueva el Gobierno Regional en materia de Gobernanza y Participación Ciudadana en la región, en general, o a través de sus divisiones y/o unidades.
      </p>
    </div>
    <div class="ugpc-diagram-mini-circle section-6-color">6</div>
    <div class="vertical-line"></div>
  </div>

  <div class="ugpc-diagram-footer">
    <div class="ugpc-diagram-footer-arc"></div>

    <div class="ugpc-diagram-footer-icons">
      <div class="ugpc-diagram-footer-icons-column">
        <%= image_tag '/images/pages/ugpc/icons/1.png', class: 'ugpc-diagram-icon section-1-color' %>
      </div>
      <div class="ugpc-diagram-footer-icons-column" style="margin-top: -2rem;">
        <%= image_tag '/images/pages/ugpc/icons/2.png', class: 'ugpc-diagram-icon section-2-color' %>
      </div>
      <div class="ugpc-diagram-footer-icons-column" style="margin-top: -4rem;">
        <%= image_tag '/images/pages/ugpc/icons/3.png', class: 'ugpc-diagram-icon section-3-color' %>
      </div>
      <div class="ugpc-diagram-footer-icons-column" style="margin-top: -4rem;">
        <%= image_tag '/images/pages/ugpc/icons/4.png', class: 'ugpc-diagram-icon section-4-color' %>
      </div>
      <div class="ugpc-diagram-footer-icons-column" style="margin-top: -2rem;">
        <%= image_tag '/images/pages/ugpc/icons/5.png', class: 'ugpc-diagram-icon section-5-color' %>
      </div>
      <div class="ugpc-diagram-footer-icons-column">
        <%= image_tag '/images/pages/ugpc/icons/6.png', class: 'ugpc-diagram-icon section-6-color' %>
      </div>
    </div>
  </div>
</div>
