<%= content_for :body_class, "custom-single-page" %>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <%= render Custom::CustomPageHeaderComponent.new('¿Qué es el Consejo de la Sociedad Civil Regional - COSOC Regional?', '/images/pages/cosoc/header.jpeg') %>  
  </div>
</div>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <p>
      El Consejo de la Sociedad Civil Regional de Antofagasta es un órgano ciudadano y consultivo del Gobierno Regional, creado en virtud de la ley 20.500 sobre asociaciones y participación ciudadana en la gestión pública. El objetivo de este cuerpo colegiado es incidir en el diseño, ejecución y evaluación de las políticas públicas que ejecuta el GORE. Además, es parte del compromiso del Gobierno Regional de generar instancias reales de participación ciudadana.
    </p>
    <p>
      Actualmente está compuesto por 26 consejeros y consejeras de organizaciones de la sociedad civil y de COSOC Municipales de las 9 comunas de la región.
    </p>
    <p>
      También busca favorecer la relación entre la Sociedad Civil y el Gobierno Regional, generando un canal de comunicación directo entre las organizaciones sociales y quienes lideran el Gobierno Regional.
    </p>

    <div style="margin-top: 3rem;">
      <%= render 'cosoc_diagram_desktop' %>
      <%= render 'cosoc_diagram_mobile' %>
    </div>

    <br>
    <h3>¿En qué está el COSOC REGIONAL?</h3>
    <p>
      El COSOC Regional, desde su fecha de constitución en febrero de 2022 se encuentra activo y en funcionamiento. Entre las actividades desarrolladas se encuentran:
    </p>

    <p>
      <ul>
        <li>Desarrollo de sesiones ordinarias mensuales. A diciembre de 2023 cuentan con 14 sesiones ordinarias y 2 sesiones extraordinarias.</li>
        <li>Conformación de 3 comisiones provinciales: Antofagasta, El Loa y Tocopilla.</li>
        <li>Conformación de comisión seguimiento F.N.D.R 8%</li>
        <li>Participación de representantes COSOC en distintas instancias de participación a nivel regional: Cuenta Pública 2023, Mesa del Agua, Urbano, Consejo Asesor Multiactor de Litio Y Salares, PARCC, entre otros.</li>
        <li>Trabajo de fortalecimiento interno, a través de la detección de necesidades de formación y capacitación de consejeros y consejeras.</li>
        <li>Participación en Jornadas de capacitación: sesión extraordinaria realizada con el objetivo de capacitar al órgano consultivo en materias de inversión del Gobierno Regional, dictado por funcionarios y funcionarias del Gobierno Regional.</li>
        <li>La secretaría ejecutiva elabora propuesta de programa en líneas de fortalecimiento y capacitación para el Consejo de La Sociedad Civil, AGES 2024.</li>
      </ul>
    </p>

    <br>

    <p>
      Para mayor información del COSOC Regional, dirigirse a la siguiente dirección:<br>
      <a href="https://goreantofagasta.cl/cosoc-regional/goreantofagasta/2022-07-18/172136.html" target="_blank">
        https://goreantofagasta.cl/cosoc-regional/goreantofagasta/2022-07-18/172136.html
      </a>
    </p>

    <div class="pages-gallery-container">
      <%= render Custom::BigCircleSliderComponent.new([
        '/images/pages/cosoc/1.png',
        '/images/pages/cosoc/2.png',
        '/images/pages/cosoc/3.png'
      ]) %>
    </div>
  </div>
</div>
