<%
    @cards = [
        {
            :title => 'Consultas',
            :title2 => 'ciudadanas',
            :color => '#f25b86',
            :image => '/images/p-icon-1.svg',
            :text => 'Vota en las consultas',
            :path => polls_path,
            :is_active => feature?(:polls)
        },
        {
            :title => 'Encuestas',
            :title2 => nil,
            :color => '#fe6b01',
            :image => '/images/p-icon-2.svg',
            :text => 'Responde una encuesta',
            :path => '/encuestas',
            :is_active => true
        },
        {
            :title => 'Propuestas ciudadanas',
            :title2 => nil,
            :color => '#33cc9d',
            :image => '/images/p-icon-3.svg',
            :text => 'Sube tu propuesta',
            :path => proposals_themes_path,
            :is_active => feature?(:proposals)
        },
        {
            :title => 'Iniciativas municipales',
            :title2 => nil,
            :color => '#3ba5df',
            :image => '/images/p-icon-4.svg',
            :text => 'Apoya las iniciativas',
            :path => '/iniciativas',
            :is_active => feature?(:proposals)
        },
        {
            :title => 'Debates',
            :title2 => nil,
            :color => '#9ecc46',
            :image => '/images/p-icon-5.svg',
            :text => 'Abrir debate',
            :path => debates_path,
            :is_active => feature?(:debates)
        },
        {
            :title => 'Presupuestos',
            :title2 => 'Participativos',
            :color => '#8148b3',
            :image => '/images/p-icon-6.svg',
            :text => 'Revisa presupuestos',
            :path => budgets_path,
            :is_active => feature?(:budgets)
        },
    ]
%>
<%= render "shared/section_header",
    color: "#568ade",
    section_image: "/images/p-slider-1.svg",
    title: '¡Conoce todas las formas de participar!',
    show_buildings: true,
    extra_image: '/images/p-slider-text.svg',
    extra_image_style: 'position: absolute; bottom: 20%; left: 50%; width: 30%;'
%>
<div class="lc-section">
    <div class="lc-container">
        <div class="lc-cards-container">
        <% @cards.each do |card| %>
            <% if card[:is_active] %>
                <%= link_to card[:path], class: "lc-card-container" do %>
                    <div class="lc-card">
                        <div class="lc-card-header" style="background-color: <%= card[:color] %>">
                            <%= card[:title] %> <% unless card[:title2].nil? %><br><%= card[:title2] %><% end %>
                        </div>
                        <div class="lc-card-body" style="text-align: center;">
                            <%= image_tag "#{card[:image]}" %>
                            <h3><%= card[:text] %></h3>
                            <div class="plus-button-participa"></div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        </div>
    </div>
</div>
<div class="p-footer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250"><path fill="white" fill-opacity="1" d="M0,160L60,176C120,192,240,224,360,213.3C480,203,600,149,720,122.7C840,96,960,96,1080,106.7C1200,117,1320,139,1380,149.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    <div class="p-f-image">
        <%= image_tag "/images/p-slider-2.svg" %>
    </div>
    <div class="p-f-tree">
        <%= image_tag "/images/p-arbol.svg", class: 'p-f-t-1' %>
        <%= image_tag "/images/p-arbusto.svg", class: 'p-f-t-2' %>
    </div>
</div>
