<%= render "shared/section_header",
    color: "#6295d6",
    section_image: "/images/h-pfc.svg",
    title: 'Portal de Fiscalización',
    title2: 'Ciudadana',
    show_buildings: true
%>
<div class="row pfc-page">
    <div class="small-12 column">
        <h2>Portal de Fiscalización Ciudadana</h2>
        <p>
            Este portal te permite colaborar con la labor de fiscalización que realiza la Municipalidad de Las Condes para construir juntos una mejor comuna.
        </p>
        <p>
            <strong>¡Tu ayuda es fundamental!</strong>
        </p>
    </div>
    <div class="small-12 column">
        <div class="cards-container mt-3">
            <div class="info-card" style="flex-basis: 45%;">
                <div class="info-card-header" style="background-color: #7aa7de;">
                    <h3>Ley del Lobby</h3>
                </div>
                <div class="info-card-body">
                    <div class="group-card">
                        <%= link_to 'https://www.leylobby.gob.cl/instituciones/MU135', target: "_blank" do %>
                            <%= image_tag "/images/icon-lobby-plataforma.svg" %>
                        <% end %>
                        <%= link_to 'https://leylobby.lascondes.cl/', target: "_blank"  do %>
                            <%= image_tag "/images/historico-lobby.svg" %>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="info-card" style="flex-basis: 45%;">
                <div class="info-card-header" style="background-color: #7aa7de;">
                    <h3>Atención al vecino</h3>
                </div>
                <div class="info-card-body">
                    <%= link_to 'https://www.lascondes.cl/atencion-vecino/centro-electronico.html', target: "_blank"  do %>
                        <%= image_tag "/images/pf-aav.svg", style: 'max-height: 80%;' %>
                    <% end %>
                </div>
            </div>

            <div class="info-card" style="flex-basis: 45%;">
                <div class="info-card-header" style="background-color: #7aa7de;">
                    <h3>Ley de transparencia</h3>
                </div>
                <div class="info-card-body">
                    <div class="group-card">
                        <%= link_to 'https://www.portaltransparencia.cl/PortalPdT/directorio-de-organismos-regulados/?org=MU135', target: "_blank" do %>
                            <%= image_tag "/images/icon-transparencia-activa.svg" %>
                        <% end %>
                        <%= link_to 'https://www.portaltransparencia.cl/PortalPdT/ingreso-sai-v2?idOrg=575', target: "_blank" do %>
                            <%= image_tag "/images/icon-transparencia-solicita.svg" %>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="info-card" style="flex-basis: 45%;">
                <div class="info-card-header" style="background-color: #7aa7de;">
                    <h3>Equipo territorial</h3>
                </div>
                <div class="info-card-body">
                    <%= link_to '/equipo-territorial', target: "_blank" do %>
                        <%= image_tag "/images/i-equipo-territorial.svg" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#7aa7de', color2: '#6295d6' do %>
    <% end %>
</div>
