<div class="row" style="padding: 15px;">
  <%= form_with(model: encuestum, local: true) do |form| %>
    <div class="small-12 medium-6 column">
      <div class="field">
        <%=
          form.date_field :start_date,
          required: true,
          label: 'Fecha de inicio',
          class: 'custom-input'
        %>
      </div>
    </div>

    <div class="small-12 medium-6 column">
      <div class="field">
        <%=
          form.date_field :limit_date,
          required: true,
          label: 'Fecha límite',
          class: 'custom-input'
        %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%= form.text_field :name, label: 'Nombre', class: 'custom-input', required: true %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%= form.text_area :description, label: 'Descripción', class: 'html-area', rows: 3, required: true %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <% if encuestum.image.attached? %>
          <%= form.file_field :image, accept: 'image/png,image/jpeg', label: 'Imagen' %>
          <span class="help-text">Imagen actual:</span><br>
          <%= image_tag encuestum.image, style: 'width: 250px;' %>
        <% else %>
          <%= form.file_field :image, accept: 'image/png,image/jpeg', label: 'Imagen', required: true %>
        <% end %>
      </div>
    </div>

    <div class="small-12 column mt-1">
      <div class="field">
        <%= form.text_area :code, label: 'Código HTML', rows: 7, class: 'custom-textarea', required: true %>
      </div>
    </div>

    
    <div class="small-12 column mt-1">
      <div class="field">
        <%= form.text_area :results_code, label: 'Código HTML Resultados', rows: 7, class: 'custom-textarea' %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%= form.text_field :pdf_link, class: 'custom-input', label: 'Link PDF' %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%=
          form.collection_select :main_theme_id,
          MainTheme.all,
          :id,
          :name,
          {prompt: 'Elige un eje temático', label: 'Eje Temático'},
          {class: 'custom-input', style: 'width: 100%;', required: true}
        %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%= render Segmentation::FormComponent.new(
          Segmentation.find_by(entity_name: encuestum.class.name, entity_id: encuestum.id)
        ) %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="actions mt-2" style="text-align: center;">
        <% if @encuestum.new_record? %>
          <%= form.submit 'Agregar', class: 'create-button' %>
        <% else %>
          <%= form.submit 'Editar', class: 'create-button' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
