<div class="row">
  <%= form_with(model: encuestum, local: true) do |form| %>
    <div class="small-12 column">
      <div class="field">
        <%=
          form.datetime_local_field :limit_date,
          required: true,
          label: 'Fecha límite',
          min: (Time.now + 15.minutes).strftime('%Y-%m-%dT%H:%M:00'),
          class: 'custom-input'
        %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%= form.text_field :name, label: 'Nombre', class: 'custom-input', required: true %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%= form.text_area :description, label: 'Descripción', class: 'html-area', rows: 3, required: true %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%= form.file_field :image, accept: 'image/png,image/jpeg', label: 'Imagen', required: true %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%= form.text_area :code, label: 'Código HTML', rows: 7, class: 'custom-textarea', required: true %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="field">
        <%=
          form.collection_select :main_theme_id,
          MainTheme.all,
          :id,
          :name,
          {prompt: 'Elige un eje temático', label: 'Eje Temático'},
          {class: 'custom-input', style: 'width: 100%;', required: true}
        %>
      </div>
    </div>

    <div class="small-12 column">
      <div class="actions mt-2" style="text-align: center;">
        <% if @encuestum.new_record? %>
          <%= form.submit 'Agregar', class: 'create-button' %>
        <% else %>
          <%= form.submit 'Editar', class: 'create-button' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
