<% provide :title do %><%= @encuestum.name %><% end %>
<%= render "shared/section_header",
    color: @encuestum.main_theme.primary_color.present? ? @encuestum.main_theme.primary_color : "#fe6b01",
    section_image: @encuestum.main_theme.image,
    title: @encuestum.name,
    pre_title: @encuestum.main_theme.name,
    show_buildings: true
%>

<div class="row">
  <div class="small-12 medium-12 column">
    <small>Fecha límite: <strong><%= l @encuestum.limit_date.to_date %></strong></small>

    <div style="text-align: right;" class="mb-1">
      <% if @encuestum.pdf_link.present? %>
        <%= link_to @encuestum.pdf_link, target: '_blank', style: 'color: #727176; text-decoration: none;' do %>
          <%= image_tag '/images/pdf-icon.svg', style: 'width: 2em' %> <small><strong><u>Ver bases</u></strong></small>
        <% end %>
      <% end %>
      </div>
  </div>

  <div class="small-12 medium-12 column">
    <div class="proposal-content-container mt-1">
      <div class="p-c-duo mb-3">
        <div class="p-c-description">
          <%= wysiwyg(@encuestum.description) %>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <% if @encuestum.image.present? %>
            <div>
            <%= image_tag @encuestum.image %>
            </div>
          <% end %>
          <% if not @can_participate %>
            <div class="custom-icon-message mt-3" style="background-color: #fe6b01;">
              <div class="c-i-m-left" style="background-color: #fe6b01;">
                !
              </div>
              <div class="c-i-m-right" style="background-color: #fe6b01;">
                <%= sanitize @reason %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  
      <% if @encuestum.is_active? or (current_user and current_user.administrator?) %>
      <div class="info-card">
        <div class="info-card-header" style="background-color: #fe6b01;">
          <h1 style="font-size: 2em;">¡Participa acá!</h1>
        </div>
        <div class="info-card-body" style="padding: 0;">
          <% if @encuestum.limit_date < Time.now %>
            <div class="text-center" style="display: flex; flex-direction: column; padding: 65px;">
              <h4>Encuesta finalizada</h4>
            </div>
          <% else %>
            <% if not current_user %>
              <div class="text-center" style="display: flex; flex-direction: column; padding: 65px;">
                <h4>Debes ingresar con tu cuenta para participar en esta encuesta.</h4>
                <%= link_to 'Ingresa aquí', new_user_registration_path, class: 'text-link' %>
              </div>
            <% else %>
              <% if @can_participate %>
                <%= @code.html_safe %>
              <% end %>
            <% end %>

          <% end %>

        </div>
      </div>
      <% end %>

      <% if @encuestum.results_code.present? %>
        <div class="info-card mt-2">
          <div class="info-card-header" style="background-color: #fe6b01;">
            <h1 style="font-size: 2em;">Resultados</h1>
          </div>
          <div class="info-card-body" style="padding: 0;">
            <%= @encuestum.results_code.html_safe %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="general-footer-container">
    <%=
      render 'shared/waves_footer',
      color1: @encuestum.main_theme.primary_color,
      color2: @encuestum.main_theme.secondary_color do %>
    <% end %>
</div>