<% provide :title do %><%= @encuestum.name %><% end %>
<%= render "shared/section_header",
    color: @encuestum.main_theme.primary_color.present? ? @encuestum.main_theme.primary_color : "#fe6b01",
    section_image: @encuestum.main_theme.image,
    title: @encuestum.name,
    pre_title: @encuestum.main_theme.name,
    show_buildings: true
%>

<div class="row">
  <div class="small-12 medium-12 column">
    <small>Fecha límite: <strong><%= l @encuestum.limit_date.to_date %></strong></small>
  </div>

  <div class="small-12 medium-12 column">
    <div class="proposal-content-container mt-1">
      <div class="p-c-duo mb-3">
        <div class="p-c-description">
          <%= wysiwyg(@encuestum.description) %>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <% if @encuestum.image.present? %>
            <div>
            <%= image_tag @encuestum.image %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="info-card">
            <div class="info-card-header" style="background-color: #fe6b01;">
              <h1 style="font-size: 2em;">¡Participa acá!</h1>
            </div>
            <div class="info-card-body" style="padding: 0;">
              <% if @can_vote %>
                <% if @encuestum.limit_date < Time.now %>
                  <div class="text-center" style="display: flex; flex-direction: column; padding: 65px;">
                    <h4>Encuesta finalizada</h4>
                  </div>
                <% else %>
                  <%= @encuestum.code.html_safe %>
                <% end %>
              <% else %>
                <div class="text-center" style="display: flex; flex-direction: column; padding: 65px;">
                  <h4><%= @reason %></h4>

                  <% if not current_user %>
                    <%= link_to 'Ingresa aquí', new_user_registration_path, class: 'text-link' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="general-footer-container">
    <%=
      render 'shared/waves_footer',
      color1: @encuestum.main_theme.primary_color,
      color2: @encuestum.main_theme.secondary_color do %>
    <% end %>
</div>