<% provide :title do %><%= t("pages.titles.help", org: setting["org_name"]) %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: help_url %>
<% end %>

<%= render "shared/section_header",
  color: "#b897c0",
  section_image: "/images/h-ayuda.svg",
  title: 'Portal de Ayuda',
  show_buildings: true
%>

<div id="more-info" class="help-page">
  <div class="row">
    <div class="small-12 column">
      <h1>Portal de Ayuda</h1>
      <p>
        Podrás encontrar respuesta a las preguntas mas frecuentes que se hacen nuestros vecinos.
      </p>
      <div class="mt-5">
        <p><a href="#participacion-ciudadana">¿Qué es la Participación Ciudadana?</a></p>
        <p><a href="#participar">¿Por qué participar?</a></p>
        <p><a href="#ejes">¿Cuáles son los ejes participativos de la comuna de Las Condes?</a></p>
        <p><a href="#participacion-digital">¿Qué tipo de procesos participativos digitales implementa la Municipalidad?</a></p>
        <p><a href="#fechas-procesos">¿Cómo informarse sobre las fechas de los procesos participativos?</a></p>
      </div>

      <div class="help-page-content">
        <div class="mt-5" id="participacion-ciudadana">
          <h2>¿Qué es la Participación Ciudadana?</h2>
          <p>
            La participación ciudadana se considerará como aquel proceso descentralizador de la toma de decisiones, en donde ciudadanos y vecinos pueden colaborar con la Municipalidad en la resolución de problemas públicos relacionados al barrio en donde residen o atender las necesidades de quienes estudian, trabajan o realizan otras actividades de la vida diaria dentro de la Comuna.
          </p>
          <p>
            Corresponde a la Municipalidad generar mecanismos de participación ciudadana, para recibir y conocer la opinión de la ciudadanía en aquellas materias de interés comunal que considere relevante recibirlas.
          </p>
          <p>
            La participación ciudadana permite a la ciudadanía, en su calidad de individuos o como miembros de organizaciones, influir en el diseño, toma de decisiones y ejecución de las políticas públicas municipales.
          </p>
        </div>

        <div class="mt-5" id="participar">
          <h2>¿Por qué participar?</h2>
          <p>Es importante participar ya que la participación ciudadana permite:</p>
          <p>1) Entender mejor las necesidades de las personas y responder a una creciente diversidad social.</p>
          <p>2) Levantar información, ideas y recursos que poseen las organizaciones de la sociedad civil, los ciudadanos y otros actores relevantes para abordar problemas complejos y mejorar la calidad de los servicios públicos.</p>
          <p>3) Hacer más eficientes las políticas públicas.</p>
          <p>4) Fomentar un mayor interés de los ciudadanos en los asuntos públicos.</p>
          <p>5) Validar las decisiones adoptadas en torno a problemáticas públicas, fomentando acuerdos.</p>
        </div>

        <div class="mt-5" id="ejes">
          <h2>¿Cuáles son los ejes participativos de la comuna de Las Condes?</h2>
          <ul>
            <li>Vivir seguro</li>
            <li>Las Condes sostenible</li>
            <li>Justicia e integración</li>
            <li>Las Condes vanguardista</li>
          </ul>
        </div>

        <div class="mt-5" id="participacion-digital">
          <h2>¿Qué tipo de procesos participativos digitales implementa la Municipalidad?</h2>
          <ul>
            <li>Consultas Ciudadanas</li>
            <li>Encuestas</li>
            <li>Propuestas Ciudadanas</li>
            <li>Iniciativas Municipales</li>
            <li>Debates</li>
            <li>Presupuestos Participativos</li>
          </ul>
        </div>

        <div class="mt-5" id="fechas-procesos">
          <h2>¿Cómo informarse sobre las fechas de los procesos participativos?</h2>
          <p>
            En nuestra sección <a href="/events">Calendario de Eventos</a> podrás ver las fechas de todos las actividades relacionadas a la participación ciudadana en nuestra comuna para poder estar al tanto de los futuros eventos.
          </p>
        </div>

        <div style="text-align: center;" class="mt-5">
          <h3 style="font-weight: 400; letter-spacing: -1px;">Si tienes alguna otra duda o requerimiento, puedes escribirnos a través de nuestro formulario de contacto o a <a href="mailto:participación@lascondes.cl">participación@lascondes.cl</a></h3>
        </div>

        <div class="mt-5" id="contacto">
          <h1>Contáctanos</h1>
          <%= form_tag send_contact_form_pages_path, method: :post do %>
            <%= text_field_tag "author", nil, maxlength: 50, class: 'custom-input', placeholder: 'Nombre', required: true, value: current_user ? "#{current_user.first_name} #{current_user.last_name}" : '' %>
            <%= email_field_tag "author_email", nil, maxlength: 50, class: 'custom-input', placeholder: 'Email', required: true, value: current_user ? current_user.email : '' %>
            <%= number_field_tag "author_phone", nil, maxlength: 10, class: 'custom-input', placeholder: 'Teléfono', required: true, value: current_user ? current_user.phone_number : '' %>
            <%= text_area_tag "body", nil, rows: 5, class: 'custom-input', placeholder: 'Mensaje', style: 'padding-top: 15px !important;', required: true %>
            <div class="flex flex-row" style="justify-content: space-between; align-items: center;">
              <% if not current_user %>
              <div>¿No estás registrad@? <%= link_to 'Regístrate', new_user_registration_path, style: "color: #2fbb90 !important; font-weight: 600;" %></div>
              <% else %>
              <div></div>
              <% end %>
              <button class="solid-button rounded-xl" type="submit">Enviar</button>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#dca3c6', color2: '#b897c0' do %>
    <% end %>
</div>
