<div class="proposal-info">
  <%= l poll.starts_at.to_date %>
</div>

<div class="proposal-content-container">
  <div>
    <div class="mb-2">
      <div class="p-c-description">
      <%= auto_link_already_sanitized_html wysiwyg(poll.description) %>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div class="info-card">
        <div class="info-card-header" style="background-color: #f25b86;">
          <h1>¡Vota acá!</h1>
        </div>
        <div class="info-card-body">
          <p><%= poll.title %></p>

            <div style="display: flex; flex-direction: column;">
              <% @questions.each do |question| %>
                <%= render "polls/questions/question", question: question, token: @token %>
              <% end %>
            </div>
        </div>

        <% if current_user %>
          <% if poll.full_answered_by?(current_user) %>
            <div class="info-card-footer">
              <p>
                ¡Muchas gracias por participar!<br>
                Tus respuestas han sido registradas correctamente.
              </p>
            </div>
          <% end %>
        <% else %>
          <div class="info-card-footer">
            <p>Necesitas <span style="color: #5eb7d9;"><%= link_to "iniciar sesión", new_user_session_path %></span> o <span style="color: #5eb7d9;"><%= link_to "registrarte", new_user_registration_path %></span> para participar</p>
          </div>
        <% end %>
      </div>
      <% if not @can_participate %>
        <div class="custom-icon-message mt-3" style="background-color: #f25b86;">
          <div class="c-i-m-left" style="background-color: #f25b86;">
            !
          </div>
          <div class="c-i-m-right" style="background-color: #f25b86;">
            <%= sanitize @reason %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="poll_more_info_answers" class="expanded poll-more-info-answers mt-3">
    <div class="row padding">
      <% @questions.each do |question| %>
        <% if question.question_answers.filter{|a| a.description.present?}.any? %>
          <div>
          <h3><%= question.title %></h3>
          
          <% question.question_answers.each do |qa| %>
            <h4><%= qa.title %></h4>
            <p><%= wysiwyg(qa.description) %></p>
            <div class="row">
              <div class="small-12 medium-6 column">
                <% if qa.images.any? %>
                  <%= render "gallery", answer: qa %>
                <% end %>
              </div>
              <div class="small-12 medium-6 column">
                <% if qa.documents.present? %>
                  <div class="document-link">
                    <p>
                      <span class="icon-document"></span>&nbsp;
                      <strong><%= t("polls.show.documents") %></strong>
                    </p>

                    <% qa.documents.each do |document| %>
                        <%= link_to document.title,
                                    document.attachment.url,
                                    target: "_blank",
                                    rel: "nofollow" %><br>
                    <% end %>
                  </div>
                <% end %>

                <% if qa.videos.present? %>
                  <div class="video-link">
                    <p>
                      <span class="icon-video"></span>&nbsp;
                      <strong><%= t("polls.show.videos") %></strong>
                    </p>

                    <% qa.videos.each do |video| %>
                        <%= link_to video.title,
                                    video.url,
                                    target: "_blank",
                                    rel: "nofollow" %><br>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

          </div>
          <% if question != @questions.last %>
            <hr>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
