<div id="<%= dom_id(poll) %>" class="custom-card" data-type="poll">
  <div class="custom-card-header">
    <% if poll.main_theme.present? %>
      <%= link_to poll.main_theme, style: 'text-decoration: none;', target: '_blank' do %>
      <div class="c-c-h-theme-container">
        <div><%= image_tag poll.main_theme.icon %></div>
        <h3><%= poll.main_theme.name %></h3>
      </div>
      <% end %>
    <% else %>
      <h3>
        Categoría
      </h3>
    <% end %>
  </div>
  <% if poll.image.present? %>
    <div class="custom-card-image">
      <%= image_tag poll.image_url(:medium) %>

      <% if poll.expired? %>
        <div class="custom-card-image-container-text">
          <div class="custom-card-image-text">
            <h4>Consulta Finalizada</h4>
          </div>
        </div>
      <% end %>
    </div>
  <% elsif poll.main_theme.present? %>
    <div class="custom-card-image">
      <%= image_tag poll.main_theme.icon %>

      <% if poll.expired? %>
        <div class="custom-card-image-container-text">
          <div class="custom-card-image-text">
            <h4>Consulta Finalizada</h4>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="custom-card-image">
      <%= image_tag 'https://picsum.photos/500' %>
      <% if poll.expired? %>
        <div class="custom-card-image-container-text">
          <div class="custom-card-image-text">
            <h4>Consulta Finalizada</h4>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="custom-card-content" style="<%= poll.image.present? ? 'height: 50%;' : 'height: 100%;' %>">
    <div>
      <h3 style="text-align: center !important;"><%= poll.title %></h3>
    </div>
    <div class="custom-card-content-footer">
      <div class="c-c-c-supports-container">
        <div>
          <span>Días para cerrar la votación</span>
          <strong>
            <% if poll.current? %>
              <%= (poll.ends_at.to_date - Time.now.to_date).to_i >= 0 ? (poll.ends_at.to_date - Time.now.to_date).to_i : 0 %></strong>
            <% else %>
              0
            <% end %>
          </strong>
        </div>
        <div>
          <span>Han votado</span>
          <strong><%= poll.voters.count %></strong>
        </div>
      </div>
        
      <%= link_to poll.current? ? 'Votar' : 'Revisar resultados', poll.current? ? poll_path(poll.id) : (poll.has_results? ? results_poll_path(poll.id) : poll_path(poll.id)), class: 'button expanded large' %>
    </div>
  </div>
</div>