<% provide :title do %><%= t("polls.index.title") %><% end %>

<%= render_custom_partial "meta_description" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: polls_url %>
<% end %>

<%= render_custom_partial "social_meta_tags" %>

<%= render "shared/section_header", i18n_namespace: "polls.index.section_header", image: "polls" %>

<div class="row">
  <div class="small-12 column">
    <% if show_polls_description? %>
      <div class="polls-description">
        <%= auto_link_already_sanitized_html wysiwyg(@active_poll.description) %>
      </div>
    <% end %>

    <%= render "shared/filter_subnav", i18n_namespace: "polls.index" %>

    <% if @polls.any? %>
      <div class="cards-container-component">
        <% @polls.each do |poll| %>
          <%= render Shared::CardComponent.new(
            poll,
            poll.title,
            poll.image.variant(:medium),
            poll.description,
            poll.expired? ? 'Consulta finalizada' : nil,
            poll_dates(poll)
          ) %>
        <% end %>
      </div>

      <%= paginate @polls %>
    <% else %>
      <div class="callout primary margin-top">
        <%= t("polls.index.no_polls") %>
      </div>
    <% end %>
  </div>
</div>
