<% provide :title do %><%= t("polls.index.title") %><% end %>

<%= render_custom_partial "meta_description" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: polls_url %>
<% end %>

<%= render_custom_partial "social_meta_tags" %>

<%= render "shared/section_header",
    color: "#f25b86",
    section_image: "/images/h-consultas.svg",
    title: 'Consultas Ciudadanas',
    description: 'Las consultas ciudadanas consisten en una forma ágil y segura de votación, la cual permite poner a escrutinio público distintas ideas, temáticas y/o proyectos'
%>

<div class="row">
  <div class="small-12 column">
    <% if show_polls_description? %>
      <div class="polls-description">
        <%= auto_link_already_sanitized_html wysiwyg(@active_poll.description) %>
      </div>
    <% end %>

    <% if @polls.any? %>
      <div class="custom-cards-container">
        <div class="custom-cards">
          <% @polls.each do |poll| %>
            <%= render "poll", poll: poll %>
          <% end %>
          <%= paginate @polls %>
        </div>
      </div>
    <% else %>
      <div class="callout primary margin-top">
        <%= t("polls.index.no_polls") %>
      </div>
    <% end %>

  </div>
</div>
<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#a01f4b', color2: '#f25b86' do %>
      <%= image_tag "/images/fw-arbustorojo.svg", style: 'position: absolute; bottom: 0; right: 5%; width: 20vw;' %>
      <%= image_tag "/images/fw-arbolrojo.svg", style: 'position: absolute; bottom: 60px; left: 5%; height: 12vw;' %>
    <% end %>
</div>
