<% provide :title do %><%= @poll.name %><% end %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<%= render "shared/section_header",
    color: "#c93358",
    section_image: "/images/h-resultados.svg",
    title: @poll.title,
    pre_title: @poll.main_theme.present? ? @poll.main_theme.name : nil,
    show_buildings: true
%>
<div class="polls-results-stats">
  <div class="row">
    <div class="small-12 medium-9 column padding" style="padding-top: 0;">
      <h2 class="custom-h">Resultados</h2>
    </div>
  </div>

  <div class="row margin" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-12 column" data-equalizer-watch>
      <h3 class="custom-h">Cantidad de votos</h3>
        <h1><%= @poll.voters.count %></h1>
    </div>

    <div class="small-12 medium-12 column mt-3" data-equalizer-watch>
      <h3 class="custom-h">Resultados de la consulta</h3>

      <div class="results-questions-container">
        <%- @poll.questions.order(:created_at).each do |question| %>
          <div class="results-questions-card">
            <p class="text-gray text-center" id="<%= question.title.parameterize %>"><%= question.title %></p>
            <div style="width: 100%; display: flex; justify-content: center;">
              <div style="width: 80%;">
                <canvas id="pie-chart-<%= question.id %>"></canvas>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if @poll.show_demographics %>
    <div class="small-12 medium-12 column mt-3">
      <div class="results-questions-container" style="display: flex; justify-content: center; align-items: center">
        <div class="results-questions-card" style="width: 100%">
          <h3 class="custom-h">Votos por unidad vecinal</h3>
          <canvas id="votes-by-sector"></canvas>
        </div>
      </div>
    </div>

    <div class="small-12 medium-12 column mt-3" data-equalizer-watch>
      <div class="results-questions-container" style="display: flex; justify-content: center; align-items: center">
        <div class="results-questions-card">
          <h3 class="custom-h">Votos por género</h3>
          <canvas id="votes-by-gender"></canvas>
        </div>
        <div class="results-questions-card">
          <h3 class="custom-h">Votos por rango etario</h3>
          <canvas id="votes-by-age-group"></canvas>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% if current_page?(results_poll_path) %>
  <%= javascript_tag do %>
    function drawPieChart(id, labels, votes) {
      var dontKnowOptionIndex = labels.findIndex((label) => label === 'No sabe')

      if (votes.length) {
        var totalVotes = votes.reduce((a, b) => a + b)
      } else {
        var totalVotes = 0
      }

      var backgroundColor = [
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
        `rgb(${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)}, ${Math.floor(Math.random() * (235 - 52 + 1) + 52)})`,
      ]
      labels[dontKnowOptionIndex] = 'No sabe / No responde'

      if (totalVotes < <%= @poll.voters.count %>) {
        // labels.unshift('En blanco')
        // backgroundColor.unshift('#B8B8B8')
        // votes.unshift(<%= @poll.voters.count %> - totalVotes)

        if (dontKnowOptionIndex !== -1) {
          votes[dontKnowOptionIndex] = votes[dontKnowOptionIndex] + <%= @poll.voters.count %> - totalVotes
        }
      }

      var graphicData = {
        labels: labels,
        datasets: [{
          label: 'Pie Chart',
          data: votes,
          hoverOffset: 4,
          backgroundColor: backgroundColor,
        }]
      }

      var graphicConfig = {
        type: 'pie',
        data: graphicData,
        options: {
          
          plugins: {
            tooltip: {
              callbacks: {
                label: function(item, data) {
                  return `${item.label}: ${item.formattedValue} (${((item.raw * 100) / <%= @poll.voters.count %>).toFixed(0)}%)`
                },
              },
            },
          },
        }
      }

      var chart = new Chart(
        document.getElementById('pie-chart-' + id),
        graphicConfig
      )
    }

    function drawBarChart(id, labels, votes) {
      if (labels) {
        if (labels[0]) {
          if (Array.isArray(labels[0])) {
            labels = labels.map((label) => label[0])
          }
        }
      }
      if (votes.length) {
        var totalVotes = votes.reduce((a, b) => a + b)
      } else {
        var totalVotes = 0
      }

      var backgroundColor = [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
      ]

      if (totalVotes < <%= @poll.voters.count %>) {
        labels.unshift('Sin información')
        backgroundColor.unshift('#B8B8B8')
        votes.unshift(<%= @poll.voters.count %> - totalVotes)
      }

      var graphicData = {
        labels: labels,
        datasets: [{
          label: 'Votos',
          data: votes,
          backgroundColor: backgroundColor,
          hoverOffset: 4
        }]
      }
      var graphicConfig = {
        type: 'bar',
        data: graphicData,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          },
          plugins: {
            tooltip: {
              callbacks: {
                label: function(item, data) {
                  return `${item.label}: ${item.formattedValue} (${((parseInt(item.formattedValue) * 100) / <%= @poll.voters.count %>).toFixed(0)}%)`
                },
              },
            },
            legend: {
              display: false,
            },
          },
        },
      }
      var chart = new Chart(
        document.getElementById(id),
        graphicConfig
      )
    }

    function drawDonutChart(id, labels, votes) {
      if (votes.length) {
        var totalVotes = votes.reduce((a, b) => a + b)
      } else {
        var totalVotes = 0
      }

      var backgroundColor = [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
      ]

      if (totalVotes < <%= @poll.voters.count %>) {
        labels.unshift('Sin información')
        backgroundColor.unshift('#B8B8B8')
        votes.unshift(<%= @poll.voters.count %> - totalVotes)
      }

      var graphicData = {
        labels: labels,
        datasets: [{
          label: 'Donut Chart',
          data: votes,
          backgroundColor: backgroundColor,
          hoverOffset: 4
        }]
      }

      var graphicConfig = {
        type: 'doughnut',
        data: graphicData,
        options: {
          plugins: {
            tooltip: {
              callbacks: {
                label: function(item, data) {
                  return `${item.label}: ${item.formattedValue} (${((parseInt(item.formattedValue) * 100) / <%= @poll.voters.count %>).toFixed(0)}%)`
                },
              },
            },
          },
        }
      }

      var chart = new Chart(
        document.getElementById(id),
        graphicConfig
      )
    }

    <% @poll.questions.each do |question| %>
      drawPieChart(<%= question.id %>, <%= raw(question.question_answers.map {|answer| answer.title }) %>, <%= raw(question.question_answers.map {|answer| answer.total_votes }) %>);
    <% end %>

    <% if @poll.show_demographics %>
      drawBarChart('votes-by-sector', <%= raw(@poll.poll_result.votes_by_sector['keys']) %>, <%= raw(@poll.poll_result.votes_by_sector['values']) %>)
      drawDonutChart('votes-by-gender', <%= raw(@poll.poll_result.votes_by_gender['keys']) %>, <%= raw(@poll.poll_result.votes_by_gender['values']) %>)
      drawBarChart('votes-by-age-group', <%= raw(@poll.poll_result.votes_by_age_group['keys']) %>, <%= raw(@poll.poll_result.votes_by_age_group['values']) %>)
    <% end %>
  <% end %>
<% end %>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#a01f4b', color2: '#f25b86' do %>
    <% end %>
</div>
