<% provide :title do %><%= @poll.name %><% end %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<%
  @age_groups = {
    '16 a 19' => [16, 19],
    '20 a 24' => [20, 24],
    '25 a 29' => [25, 29],
    '30 a 34' => [30, 34],
    '35 a 39' => [35, 39],
    '40 a 44' => [40, 44],
    '45 a 49' => [45, 49],
    '50 a 54' => [50, 54],
    '55 a 59' => [55, 59],
    '60 a 64' => [60, 64],
    '65 a 69' => [65, 69],
    '70 a 74' => [70, 74],
    '75 a 79' => [75, 79],
    '80 a 84' => [80, 84],
    '85 a 89' => [85, 89],
    '90 a 150' => [90, 150]
  }
%>

<% @age_groups_votes =  @age_groups.map{ |k, v| [k, User.where(id: @poll.voters.pluck(:user_id)).where('extract(year from date_of_birth) BETWEEN ? AND ?', Time.now.year - v[1], Time.now.year - v[0]).count] }.filter{|k, v| v != 0}.to_h %>

<%= render "shared/section_header",
    color: "#c93358",
    section_image: "/images/h-resultados.svg",
    title: @poll.title,
    pre_title: @poll.main_theme.present? ? @poll.main_theme.name : nil,
    show_buildings: true
%>
<div class="polls-results-stats">
  <div class="row">
    <div class="small-12 medium-9 column padding" style="padding-top: 0;">
      <h2 class="custom-h">Resultados</h2>
    </div>
  </div>

  <div class="row margin" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-12 column" data-equalizer-watch>
      <h3 class="custom-h">Cantidad de votos</h3>
        <h1><%= @poll.voters.count %></h1>
    </div>

    <div class="small-12 medium-12 column mt-3" data-equalizer-watch>
      <h3 class="custom-h">Resultados de la consulta</h3>

      <div class="results-questions-container">
        <%- @poll.questions.order(:created_at).each do |question| %>
          <div class="results-questions-card">
            <p class="text-gray text-center" id="<%= question.title.parameterize %>"><%= question.title %></p>
            <div style="width: 100%; display: flex; justify-content: center;">
              <div style="width: 80%;">
                <canvas id="pie-chart-<%= question.id %>"></canvas>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if true == false %>
    <div class="small-12 medium-12 column mt-3">
      <div class="results-questions-container" style="display: flex; justify-content: center; align-items: center">
        <div class="results-questions-card">
          <h3 class="custom-h">Votos por unidad vecinal</h3>
          <canvas id="votes-by-sector"></canvas>
        </div>

        <div class="results-questions-card">
          <h3 class="custom-h">Votos por rango etario</h3>
          <canvas id="votes-by-age-group"></canvas>
        </div>
      </div>
    </div>
    <% end %>

    <% if true == false %>
    <div class="small-12 medium-12 column mt-3" data-equalizer-watch style="display: flex; justify-content: center; align-items: center">
      <div class="width: 50%;">
        <h3 class="custom-h">Votos por género</h3>
        <canvas id="votes-by-gender"></canvas>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% if current_page?(results_poll_path) %>
  <%= javascript_tag do %>
    function drawPieChart(id, labels, votes) {
      var dontKnowOptionIndex = labels.findIndex((label) => label === 'No sabe')

      if (votes.length) {
        var totalVotes = votes.reduce((a, b) => a + b)
      } else {
        var totalVotes = 0
      }

      var backgroundColor = [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
      ]
      labels[dontKnowOptionIndex] = 'No sabe / No responde'

      if (totalVotes < <%= @poll.voters.count %>) {
        // labels.unshift('En blanco')
        // backgroundColor.unshift('#B8B8B8')
        // votes.unshift(<%= @poll.voters.count %> - totalVotes)

        if (dontKnowOptionIndex !== -1) {
          votes[dontKnowOptionIndex] = votes[dontKnowOptionIndex] + <%= @poll.voters.count %> - totalVotes
        }
      }

      var graphicData = {
        labels: labels,
        datasets: [{
          label: 'Pie Chart',
          data: votes,
          backgroundColor: backgroundColor,
          hoverOffset: 4
        }]
      }

      var graphicConfig = {
        type: 'pie',
        data: graphicData,
        options: {
          
          plugins: {
            tooltip: {
              callbacks: {
                label: function(item, data) {
                  return `${item.label}: ${item.formattedValue} (${((item.raw * 100) / <%= @poll.voters.count %>).toFixed(0)}%)`
                },
              },
            },
          },
        }
      }

      var chart = new Chart(
        document.getElementById('pie-chart-' + id),
        graphicConfig
      )
    }

    <% @poll.questions.each do |question| %>
      drawPieChart(<%= question.id %>, <%= raw(question.question_answers.map {|answer| answer.title }) %>, <%= raw(question.question_answers.map {|answer| answer.total_votes }) %>);
    <% end %>
  <% end %>
<% end %>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#a01f4b', color2: '#f25b86' do %>
    <% end %>
</div>
