<%= provide :title, t("social_share.polls_show.title_#{@poll.id}", default: @poll.title) %>
<%= provide :meta_description, t("social_share.polls_show.description_#{@poll.id}", default: @poll.title) %>
<%= provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: poll_url,
              social_title: t("social_share.polls_show.title_#{@poll.id}", default: @poll.title),
              social_description: t("social_share.polls_show.facebook_#{@poll.id}", default: @poll.title),
              twitter_image_url:  "social_media_polls_twitter.jpg",
              og_image_url: "social_media_polls.jpg" %>
<% end %>

<%= render "shared/section_header",
    color: @poll.main_theme.primary_color.present? ? @poll.main_theme.primary_color : "#f25b86",
    section_image: @poll.main_theme.image.present? ? @poll.main_theme.image : "/images/h-consultas.svg",
    title: @poll.title,
    pre_title: @poll.main_theme.present? ? @poll.main_theme.name : nil,
    show_buildings: true
%>
<div class="polls-show">
  <div class="text-center">
  <% if @poll.pdf_link.present? %>
    <%= link_to @poll.pdf_link, target: '_blank', style: 'color: #727176; text-decoration: none;' do %>
      <%= image_tag '/images/pdf-icon.svg', style: 'width: 2em' %> <small><strong><u>Ver bases</u></strong></small>
    <% end %>
  <% end %>
  </div>
  <div id="<%= dom_id(@poll) %>" class="row">
    <div class="small-12 medium-12 column">
        <%= render "info", poll: @poll %>
      </div>
  </div>
</div>

<div class="tabs-content" data-tabs-content="polls_tabs">
  <%= render "filter_subnav" %>

  <div class="tabs-panel is-active" id="tab-comments">
    <%= render "comments" %>
  </div>
</div>


<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: @poll.main_theme.secondary_color, color2: @poll.main_theme.primary_color do %>
    <% end %>
</div>
