<%= provide :title, t("social_share.polls_show.title_#{@poll.id}", default: @poll.title) %>
<%= provide :meta_description, t("social_share.polls_show.description_#{@poll.id}", default: @poll.title) %>
<%= provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: poll_url,
              social_title: t("social_share.polls_show.title_#{@poll.id}", default: @poll.title),
              social_description: t("social_share.polls_show.facebook_#{@poll.id}", default: @poll.title),
              twitter_image_url:  "social_media_polls_twitter.jpg",
              og_image_url: "social_media_polls.jpg" %>
<% end %>

<%= render "shared/section_header",
    color: "#f25b86",
    section_image: "/images/h-consultas.svg",
    title: @poll.title,
    show_buildings: true
%>
<div class="polls-show">
  <div id="<%= dom_id(@poll) %>" class="row">
    <div class="small-12 medium-12 column">
        <%= render "info", poll: @poll %>
      </div>
  </div>
</div>

<div class="tabs-content" data-tabs-content="polls_tabs">
  <%= render "filter_subnav" %>

  <div class="tabs-panel is-active" id="tab-comments">
    <%= render "comments" %>
  </div>
</div>


<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#a01f4b', color2: '#f25b86' do %>
      <%= image_tag "/images/fw-arbustorojo.svg", style: 'position: absolute; bottom: 0; right: 5%; width: 20vw;' %>
      <%= image_tag "/images/fw-arbolrojo.svg", style: 'position: absolute; bottom: 60px; left: 5%; height: 12vw;' %>
    <% end %>
</div>