<%= provide :title, t("social_share.polls_show.title_#{@poll.id}", default: @poll.title) %>
<%= provide :meta_description, t("social_share.polls_show.description_#{@poll.id}", default: @poll.title) %>
<%= provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: poll_url,
              social_title: t("social_share.polls_show.title_#{@poll.id}", default: @poll.title),
              social_description: t("social_share.polls_show.facebook_#{@poll.id}", default: @poll.title),
              twitter_image_url:  "social_media_polls_twitter.jpg",
              og_image_url: "social_media_polls.jpg" %>
<% end %>

<%= render Custom::SinglePageComponent.new(
  'Consultas',
  'Las consultas ciudadanas consisten en una forma ágil y segura de votación, la cual permite poner a escrutinio público distintas ideas, temáticas y/o proyectos',
  '/images/process/polls-circle.svg',
  'consultas',
  'a',
  '/images/process/polls.svg',
  @polls,
  @poll,
  nil,
  'title',
  'image_url'
) %>

<div class="polls-show">
  <div class="row margin">
    <div class="small-12 medium-6 column">
      <%= auto_link_already_sanitized_html simple_format(@poll.description) %>
    </div>

    <div class="small-12 medium-6 column">
      <%= render "callout" %>

      <% if @poll.voted_in_booth?(current_user) %>
        <div class="callout warning">
          <%= t("polls.show.already_voted_in_booth") %>
        </div>
      <% else %>

        <% if current_user && @poll.full_answered_by_user?(current_user) %>
          <div class="callout success">
            ¡Muchas gracias por participar!<br>
            Tus respuestas han sido registradas correctamente.
          </div>
        <% end %>
      <% end %>

      <div class="poll-questions-container">
        <% @questions.each_with_index  do |question, index| %>
          <%= render Polls::Questions::QuestionComponent.new(question) %>

          <% if index != @questions.count - 1 %>
            <hr style="border-bottom: 1px solid #F8A21F; width: 90%;">
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "comments" %>
</div>
