<% provide :title do %><%= @poll.name %><% end %>

<div class="participation-stats polls-results-stats">
  <%= render "poll_header" %>

  <%= render "poll_subnav" %>

  <div class="row margin">
    <div class="small-12 medium-6 column">
      <h3>Votos por género<h3>
      <%= pie_chart [
        ["Masculino", @stats.total_male_participants],
        ["Femenino", @stats.total_female_participants],
        ["Otro", @stats.participants.count - @stats.total_male_participants - @stats.total_female_participants]
      ]%>
    </div>

    <div class="small-12 medium-6 column">
      <h3>Votos por comuna<h3>
      <%= pie_chart @stats.participants_by_commune %>
    </div>
  </div>

  <div class="row margin">
    <div class="small-12 medium-6 column">
      <h3>Votos por rango etario<h3>
      <%= column_chart @stats.participants_by_age.map { |k, v| [k, v[:count]] } %>
    </div>
  </div>
</div>
