<div class="big-round-card-component">
  <header>
    <h1 title="<%= @title %>"><%= @title %></h1>
  </header>

  <div class="image-container">
    <%= image_tag @image %>
  </div>

  <p class="description-container">
    <%= @description %>
  </p>

  <% if @new_record_path.present? or @extra_message.present? %>
    <footer>
      <% if @new_record_path.present? %>
        <h4>Sube tu <%= @readable_model_name %></h4>
        <%= link_to @new_record_path do %>
          <div class="plus-button"></div>
        <% end %>
      <% end %>

      <% if @extra_message.present? %>
        <h4><%= @extra_message %></h4>
      <% end %>
    </footer>
  <% end %>
</div>
