<div class="big-circle-simple-component">
  <header>
    <h1 title="<%= @title %>"><%= @title %></h1>
  </header>

  <div class="image-container">
    <%= image_tag @image %>
  </div>

  <footer>
    <% if @new_record_path.present? %>
      <h4>Sube tu <%= @readable_model_name %></h4>
      <%= link_to @new_record_path do %>
        <div class="plus-button"></div>
      <% end %>
    <% end %>
  </footer>
</div>
