<div
  id="card-<%= @id %>"
  class="big-card-component"
  onclick="window.location.replace('<%= @path %>')"
>
  <div style="<%= @supertitle.present? ? '' : 'justify-content: flex-start;' %>">
    <% if @supertitle %>
      <p class="supertitle"><%= @supertitle %></p>
    <% end %>
    <h1><%= @title %></h1>
    <% if @summary %>
      <p class="summary"><%= @summary %></p>
    <% end %>
    <p><%= WYSIWYGSanitizer.new.sanitize(@description) %></p>
    <% if @show_see_more %>
      <h4>Ver más</h4>
    <% end %>
  </div>
  <%= image_tag(@image, class: @image.is_a?(String) && @image.end_with?('.svg') ? 'default-image' : '') %>
</div>
