<div class="directive-card-component">
  <div class="image-container">
    <div class="user-icon"></div>
  </div>
  <div class="info-container">
    <h4><%= @directive.full_name %></h4>
    <p>
      <strong>Cargo:</strong> <%= @directive.position %><br>
      <strong>Profesión:</strong> <%= @directive.profession %><br>
      <strong>Email:</strong> <%= @directive.email %><br>
      <strong>Teléfono:</strong> <%= @directive.phone_number %>
    </p>
  </div>
</div>
