<% if !@records.any? %>
  <%= render Custom::SinglePageEmptyComponent.new(
    @title,
    @subtitle,
    @image,
    @readable_model_name,
    @vowel,
    @new_record_path
  ) %>
<% else %>
  <div class="single-page-component">
    <div class="page-header">
      <div class="row">
        <% if @subtitle.present? and @image.present? %>
          <div class="small-12 medium-8 column">
            <h1><%= @title %></h1>
            <h4><%= @subtitle %></h4>
          </div>
          <div class="small-12 medium-4 column">
            <%= image_tag @image %>
          </div>
        <% else %>
          <div class="small-12 column">
            <h2 class="text-center"><%= @title %></h2>
          </div>
        <% end %>
      </div>
    </div>

    <div class="record-selector" id="record-selector">
      <div class="row">
        <div class="small-12 medium-6 column">
          <%= render Custom::BigRoundCardComponent.new(
            @current_record.title,
            @current_record.image.present? ? @current_record.send(@image_field) : @default_image,
            '',
            @current_record.is_active? && @current_record.can_participate?(current_user) ? new_proposal_path(proposal_topic_id: @current_record.id) : nil,
            'propuesta',
            !@current_record.can_participate?(current_user) ? @current_record.cant_participate_reason(current_user) : nil
          ) %>
        </div>
        <div class="small-12 medium-6 column">
          <div class="record-list-container">
            <h2>Revisa otr<%= @vowel %>s <%= @readable_model_name %> aquí!</h2>
            <div class="record-list">
              <ul>
                <% @records.each do |record| %>
                  <%= link_to "#{url_for(proposal_topics_path)}?topic=#{record.id}#record-selector" do %>
                    <li class="<%= @current_record.id == record.id ? 'is-active' : '' %>"><%= record.send(@title_field) %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <%= WYSIWYGSanitizer.new.sanitize(@current_record.description) %>
      </div>
    </div>
  </div>
<% end %>
