<% if budget.pdf_link.present? %>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <% if budget.pdf_link.present? %>
      <%= render Shared::IconTextButtonComponent.new(budget.pdf_link, 'pdf-icon', 'Ver bases', true) %>
    <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="small-12 column">
    <%= render Budgets::SubheaderComponent.new(budget) %>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <%= render Budgets::PhasesComponent.new(budget) %>
  </div>
</div>

<% if current_user and budget.can_participate?(current_user) %>
  <%= render "/budgets/investments/header" %>
<% else %>
  <div class="row">
    <div class="small-12 column">
      <div class="callout warning">
        No puedes participar. <%= budget.cant_participate_reason(current_user) %>
      </div>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="small-12 column">
    <%= render Budgets::InvestmentsListComponent.new(budget) %>
  </div>
</div>

<% if budget.publishing_prices? or budget.selecting? %>
  <div class="row margin-top">
    <div class="small-12 column">
      <%= link_to 'Ver no seleccionados', unselected_budget_path(budget), class: 'button'  %>
    </div>
  </div>
<% end %>
