<% if budget.image.present? %>
  <div class="budget-header with-background-image"
       style="background-image: url(<%= polymorphic_path(budget.image.variant(:large)) %>);">
<% else %>
  <div class="budget-header">
<% end %>
  <div class="row">
    <div class="small-12 column text-center">
      <span class="budget-title"><%= t("budgets.index.title") %></span>
      <h1><%= budget.name %></h1>

      <% if budget.main_link_text.present? && budget.main_link_url.present? %>
        <%= link_to budget.main_link_text, budget.main_link_url, class: "main-link" %>
      <% end %>

      <p>
        <%= link_to t("budgets.index.section_header.help"), "#section_help" %>
      </p>
    </div>
  </div>
</div>

<% if budget.custom_description.present? %>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <h3>Descripción</h3>
    <%= budget.custom_description %>
  </div>
</div>
<% end %>

<% if budget.benefits.present? %>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <h3>Beneficios</h3>
    <%= budget.benefits %>
  </div>
</div>
<% end %>

<% if budget.pdf_link.present? %>
<div class="row margin-top">
  <div class="small-12 medium-2 column">
    <% if budget.pdf_link.present? %>
      <%= render Shared::IconTextButtonComponent.new(budget.pdf_link, 'pdf-icon', 'Ver bases', true) %>
    <% end %>
  </div>
</div>
<% end %>

<% if feature?(:allow_attached_documents) %>
  <div class="row margin">
    <div class="small-12 medium-10 column">
      <%= render "documents/documents",
                  documents: budget.documents,
                  max_documents_allowed: Budget.max_documents_allowed %>
    </div>
  </div>
<% end %>

<%= render Budgets::SubheaderComponent.new(budget) %>
<%= render Budgets::PhasesComponent.new(budget) %>

<div id="budget_info" class="budget-info">
  <div class="row margin-top">
    <div class="small-12 column">
      <% if !budget.single_heading? %>
        <%= render Budgets::GroupsAndHeadingsComponent.new(budget) %>
      <% end %>
    </div>
  </div>
</div>

<%= render "/budgets/investments/header" %>

<%= render Budgets::InvestmentsListComponent.new(budget) %>

<% if budget.publishing_prices? or budget.selecting? %>
  <div class="row margin-top">
    <div class="small-12 column">
      <%= link_to 'Ver no seleccionados', unselected_budget_path(budget), class: 'button'  %>
    </div>
  </div>
<% end %>
