<% if budget.pdf_link.present? %>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <% if budget.pdf_link.present? %>
      <%= render Shared::IconTextButtonComponent.new(budget.pdf_link, 'pdf-icon', 'Ver bases', true) %>
    <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="small-12 column">
    <%= render Budgets::SubheaderComponent.new(budget) %>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <%= render Budgets::PhasesComponent.new(budget) %>
  </div>
</div>

<%= render "/budgets/investments/header" %>


<div class="row">
  <div class="small-12 column">
    <%= render Budgets::InvestmentsListComponent.new(budget) %>
  </div>
</div>

<% if budget.publishing_prices? or budget.selecting? %>
  <div class="row margin-top">
    <div class="small-12 column">
      <%= link_to 'Ver no seleccionados', unselected_budget_path(budget), class: 'button'  %>
    </div>
  </div>
<% end %>
