<div id="<%= dom_id(investment) %>" class="investments-list-item">
  <div style="position: relative; width: 100%;">
    <% if investment.image.present? %>
      <%= image_tag investment.image.variant(:large), alt: investment.image.title.unicode_normalize, style: 'width: 100%;' %>
    <% else %>
      <%= image_tag(image_path_for("budget_investment_no_image.jpg"), alt: investment.title, style: 'width: 100%;') %>
    <% end %>

    <% if investment.winner %>
      <div style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: flex; align-items: center; justify-content: center;">
        <div style="border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; background-color: white; padding: 15px;">
          <h4 style="margin: 0;">Ganador</h4>
        </div>
      </div>
    <% end %>
  </div>

  <% if investment.should_show_vote_count? || investment.should_show_price? %>
    <div class="supports-and-price">
      <% if investment.should_show_vote_count? %>
        <span class="supports-title"><%= t("budgets.investments_list.investment.supports") %></span>
        <strong><%= investment.total_votes %></strong>
      <% end %>

      <% if investment.should_show_price? %>
        <span class="price-title"><%= t("budgets.investments_list.investment.price") %></span>
        <strong><%= investment.formatted_price %></strong>
      <% end %>
    </div>
  <% end %>

  <div class="budget-investment-content">
    <% cache [locale_and_user_status(investment), "index", investment, investment.author] do %>
      <h3><%= link_to investment.title, namespaced_budget_investment_path(investment) %></h3>

      <%= render Budgets::Investments::InfoComponent.new(investment) %>

      <% if current_user %>
        <% if investment.budget.balloting? %>
          <div id="<%= dom_id(investment) %>_ballot">
            <%= render Budgets::Investments::BallotComponent.new(
              investment: investment,
              investment_ids: [investment.id],
              ballot: investment.budget.ballots.where(user: current_user).first_or_create(user: current_user),
              show_price: false
            ) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
