<section class="budget-phases">

  <ul class="phases-list tabs" data-tabs id="budget_phases_tabs" data-deep-link="true">
    <% phases.each do |phase| %>
      <li class="phase-title tabs-title <%= "is-active current-phase-tab" if phase.current? %>">
        <a href="#<%= phase_dom_id(phase) %>">
          <% if phase.current? %>
            <span class="current-phase-timeline"><%= t("budgets.index.current_phase") %></span>
          <% end %>

          <span class="phase-name"><%= phase.name %></span>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tabs-content" data-tabs-content="budget_phases_tabs">
    <% phases.each do |phase| %>
      <div id="<%= phase_dom_id(phase) %>" class="tabs-panel <%= "is-active" if phase.current? %>">
        <div class="budget-phase">
          <div class="budget-phase-content">
            <p class="small"><%= start_date(phase) %> - <%= end_date(phase) %></p>
            
            <div style="display: flex; align-items: center; gap: 25px;">
              <%= image_tag '/images/p-icon-6.svg', style: 'width: 75px;' %>
              <h3>
                Inversión de $<%= number_to_currency(budget.headings.first.price, unit: '', precision: 0) %>
              </h3>
            </div>

            <div class="mt-3">
            <%= auto_link_already_sanitized_html(wysiwyg(phase.description)) %>

            <% if phase.main_link_text.present? && phase.main_link_url.present? %>
              <%= link_to phase.main_link_text, phase.main_link_url, class: "main-link" %>
            <% end %>
            </div>
          </div>

          <% if phase.image.present? %>
            <div class="budget-phase-image">
              <%= image_tag phase.image.attachment.url(:large), alt: "" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
