<h2>Debates pendientes de revisión</h2>

<%= form_for 'debates', method: :delete do |form| %>
  <div>
    <%=
      form.submit 'Rechazar seleccionados',
      class: 'solid-button-danger-sm mb-1',
      data: {confirm: '¿Estás seguro/a que deseas rechazar los debates seleccionados?'},
      id: 'confirm-reject',
      disabled: true
    %>
  </div>

  <table class="clear">
    <thead>
      <tr>
        <th>
          <% if @debates.unpublished.any? %>
            <input type="checkbox" id="select-all" title="Seleccionar todas">
          <% end %>
        </th>
        <th>Debate</th>
        <th>Moderar</th>
      </tr>
    </thead>

    <tbody>
      <% @debates.unpublished.each do |debate| %>
        <% if !debate.author.nil? %>
        <tr id="debate_<%= debate.id %>" onclick=>
          <td><%= check_box_tag 'selected_ids[]', debate.id, false %></td>
          <td>
            <%= link_to debate.title, debate, target: "_blank" %>
            <br>
            <span class="date"><%= l debate.updated_at.to_date %></span>
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <%= debate.author.first_name %> <%= debate.author.last_name %> (<%= debate.author.document_number %>)
            <br>
          </td>
          <td >
            <%= link_to 'Editar', edit_debate_path(debate.id), class: 'solid-button-sm', style: 'text-decoration: none; color: white;' %>
            <%= link_to 'Publicar', publish_moderation_debate_path(debate.id), method: :patch, class: 'solid-button-sm', style: 'text-decoration: none; color: white;', data: {confirm: '¿Estás seguro que deseas publicar este debate?'} %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<script>
  $('[name="selected_ids[]"]').on('change', function() {
    var checkedAmount = $('[name="selected_ids[]"]:checked').length

    if (checkedAmount > 0) {
      $('#confirm-reject').attr('value', `Rechazar seleccionados (${checkedAmount})`)
      $('#confirm-reject').prop('disabled', false)
    } else {
      $('#confirm-reject').attr('value', `Rechazar seleccionados`)
      $('#confirm-reject').prop('disabled', true)
    }
  })

  $('#select-all').on('change', function() {
    if ($('#select-all').is(':checked')) {
      $('[name="selected_ids[]"]').each(function () {
        $(this).prop('checked', true)
      })
      var checkedAmount = $('[name="selected_ids[]"]:checked').length
      $('#confirm-reject').attr('value', `Rechazar seleccionados (${checkedAmount})`)
      $('#confirm-reject').prop('disabled', false)
    } else {
      $('[name="selected_ids[]"]').each(function () {
        $(this).prop('checked', false)
      })
      $('#confirm-reject').attr('value', `Rechazar seleccionados`)
      $('#confirm-reject').prop('disabled', true)
    }
  })
</script>
