<%= translatable_form_for(debate, html: { class: "debate-form" }) do |f| %>
  <%= render "shared/errors", resource: debate %>

  <fieldset class="required-fields">

    <%= render "shared/globalize_locales", resource: debate %>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
              maxlength: Debate.title_max_length,
              data: suggest_data(debate) %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div>
        <%= translations_form.text_area :description,
              maxlength: Debate.description_max_length,
              class: "html-area" %>
      </div>
    <% end %>
  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <%= f.text_field :question, label: 'Pregunta', hint: 'Escribe una pregunta para comenzar el debate.' %>

  <%= render Shared::ImageFieldComponent.new(debate, f, true) %>

  <%= render Custom::CommunesSelectComponent.new(debate, f, false) %>

  <% if current_user.administrator? %>
    <div class="field" style="margin-top: 1rem; margin-bottom: 1rem;">
      <%= f.check_box :cu_verified_only, label: 'Sólo usuarios verificados por Clave Única' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit(class: "button", value: t("debates.#{action_name}.form.submit_button")) %>
  </div>
<% end %>
