<%= translatable_form_for(debate, html: { class: "debate-form" }) do |f| %>
  <%= render "shared/errors", resource: debate %>

  <%= f.hidden_field :debate_type, value: @type %>

  <fieldset class="required-fields">
    <legend><%= t("shared.required") %></legend>

    <%= render "shared/globalize_locales", resource: debate %>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
              maxlength: Debate.title_max_length,
              data: suggest_data(debate) %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div>
        <%= translations_form.text_area :description,
              maxlength: Debate.description_max_length,
              class: "html-area" %>
      </div>
    <% end %>

    <%= render Shared::ImageFieldComponent.new(debate, f, true) %>
  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <fieldset>
    <legend><%= t("shared.optional") %></legend>

    <% if feature?(:allow_attached_documents) %>
      <div class="documents">
        <%= render "documents/nested_documents", f: f %>
      </div>
    <% end %>

    <%= f.url_field :pdf_link, label: 'Enlace PDF' %>

    <% if @type == Debate::TYPE_PARTICIPATORY_PUBLIC_ACCOUNTS %>
      <%= f.url_field :video_url, label: 'URL de video' %>
    <% end %>
  </fieldset>

  <% if current_user.administrator? %>
    <div>
      <%= render Segmentation::FormComponent.new(
        Segmentation.find_by(entity_name: debate.class.name, entity_id: debate.id)
      ) %>
    </div>
  <% end %>

  <div class="text-center">
    <% if action_name == 'new' %>
      <%= f.submit 'Crear', class: 'button' %>
    <% else %>
      <%= f.submit 'Guardar cambios', class: 'button' %>
    <% end %>
  </div>
<% end %>
