<%= translatable_form_for(debate, html: { class: "debate-form" }) do |f| %>
  <%= render "shared/errors", resource: debate %>

  <fieldset class="required-fields">

    <%= render "shared/globalize_locales", resource: debate %>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
              maxlength: Debate.title_max_length,
              data: suggest_data(debate) %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div>
        <%= translations_form.text_area :description,
              maxlength: Debate.description_max_length,
              class: "html-area" %>
      </div>
    <% end %>

    <%= render Shared::ImageFieldComponent.new(debate, f, true) %>
  </fieldset>

  <% if feature?(:allow_attached_documents) %>
    <div class="row">
      <div class="documents small-12 column">
        <%= render "documents/nested_documents", f: f %>
      </div>
    </div>
  <% end %>

  <div class="row mt-2">
    <div class="small-12 column">
      <div class="mt-2">
        <%= render Segmentation::FormComponent.new(
          Segmentation.find_by(entity_name: debate.class.name, entity_id: debate.id)
        ) %>
      </div>
    </div>
  </div>

  <%= f.invisible_captcha :subtitle %>

  <div class="actions">
    <% if debate.new_record? %>
      <div style="display: none;">
        <%= f.check_box :terms_of_service,
          title: t("form.accept_terms_title"),
          label: t("form.accept_terms",
                   policy: link_to(t("form.policy"), "/privacy", target: "blank"),
                   conditions: link_to(t("form.conditions"), "/conditions", target: "blank")
                  ),
          checked: true %>
      </div>
    <% end %>

    <%= f.submit(class: "button", value: "Crear Plan Regulador") %>
  </div>
<% end %>
