<%= translatable_form_for(debate, html: { class: "debate-form" }) do |f| %>
  <%= render "shared/errors", resource: debate %>

  <fieldset>
    <% if current_page?(new_debate_path) %>
    <h2 class="mb-2">Hola <span style="color: #61b5d7;"><%= current_user.first_name? ? current_user.first_name : current_user.username %></span>, sube aquí tu debate.</h2>
    <% end %>

    <%= render "shared/globalize_locales", resource: debate %>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%=
          f.text_field :title,
          maxlength: Debate.title_max_length,
          data: suggest_data(debate),
          class: 'custom-input',
          required: true
        %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div>
        <%=
          f.text_area :description,
          maxlength: Debate.description_max_length,
          label: 'Descripción',
          class: "html-area",
          required: true
        %>
      </div>
    <% end %>
  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <fieldset>
    <div>
      <%=
        f.text_field :question,
        hint: 'Escribe una pregunta para comenzar el debate.',
        label: 'Pregunta',
        class: "custom-input",
        required: true
      %>
    </div>

    <div class="mt-2">
      <% if debate.image.attached? %>
        <%= f.file_field :image, accept: 'image/png,image/jpeg', label: 'Imagen' %>
        <span class="help-text">Imagen actual:</span><br>
        <%= image_tag debate.image, style: 'width: 250px;' %>
      <% else %>
        <%= f.file_field :image, accept: 'image/png,image/jpeg', label: 'Imagen' %>
      <% end %>
    </div>

    <div class="mt-1 mb-1">
      <%=
        f.collection_select :main_theme_id,
        MainTheme.all,
        :id,
        :name,
        {prompt: 'Elige un eje temático', label: 'Eje Temático'},
        {class: 'custom-input', style: 'width: 100%;', required: true}
      %>
    </div>

    <% if current_user.administrator? %>
      <%= render Segmentation::FormComponent.new(
        Segmentation.find_by(entity_name: debate.class.name, entity_id: debate.id)
      ) %>
    <% end %>
  </fieldset>

  <div class="actions" style="border: none;">
    <%= f.submit(class: "create-button", value: t("debates.#{action_name}.form.submit_button")) %>
  </div>
<% end %>
