<%= render "shared/globalize_locales", resource: @poll %>

<%= translatable_form_for [:admin, @poll] do |f| %>
  <%= render "shared/errors", resource: @poll %>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-6 column">
        <%= f.date_field :starts_at %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.date_field :ends_at %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 medium-6 column">
        <%= translations_form.text_field :name %>
      </div>

      <div class="small-12 column">
        <%= translations_form.text_area :summary, rows: 4 %>
      </div>

      <div class="small-12 column">
        <%= translations_form.text_area :description, rows: 8, class: 'html-area' %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="images small-12 column">
      <%= render "images/nested_image", f: f %>
    </div>

    <div class="clear">
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <div id="leaflet-container">
        <div style="display: none;">
          <%= f.collection_check_boxes :sector_ids, Sector.all, :name, :name, include_hidden: false, id: 'sector_ids' %>
        </div>
        <%= label_tag 'leaflet', 'Elige los sectores de la comuna en los que estar치 enfocada la consulta.' %>
        <p id="tag-list-help-text">
          Sectores seleccionados: <strong style="color: #33cc9d"><span id="selected-sectors">Todos</span></strong>
        </p>
        <div id="leaflet"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <div class="mt-2">
        <%=
          f.collection_select :main_theme_id,
          MainTheme.all,
          :id,
          :name,
          {prompt: 'Elige un eje tem치tico', label: 'Eje Tem치tico'},
          {class: 'custom-input', style: 'width: 100%;', required: true}
        %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <div class="mt-1">
        <label>Tipos de usuarios</label>
        <p class="help-text">Selecciona al menos una opci칩n</p>
        <%= f.collection_check_boxes :neighbor_types, NeighborType.all, :id, :name, include_hidden: false, id: 'neighbor_types' do |c| %>
          <div>
          <%= c.check_box(required: true, checked: @poll.neighbor_types.pluck(:id).include?(c.value)) %> <%= c.label(style: 'font-weight: normal;') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <div class="mt-2">
        <%= f.text_field :pdf_link, class: 'custom-input', label: 'Link PDF' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-4 large-2 column">
        <%= f.submit t("admin.polls.#{admin_submit_action(@poll)}.submit_button"),
                     class: "button success expanded margin-top" %>
      </div>
    </div>
  </div>

<% end %>

<script src="https://cdn.rawgit.com/aparshin/leaflet-boundary-canvas/f00b4d35/src/BoundaryCanvas.js"></script>
<script>
// MAP
var map = new L.Map('leaflet')

$.getJSON('/UV_KML.geojson', function(lasCondesSectors) {
  var osm = new L.TileLayer.BoundaryCanvas("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    boundary: lasCondesSectors,
  });
  map.addLayer(osm)

  // Variables for map
  var selectedFeatures = []
  var defaultStyle = {
      color: 'gray',
      fillOpacity: 0,
      weight: 2,
  }

  // Actions
  function colorlayer(feature, layer) {
    layer.setStyle(defaultStyle)

    layer.on('click', function(e) {
      var name = feature.properties.name.replaceAll('-', '')

      if (selectedFeatures.includes(name)) {
        layer.setStyle(defaultStyle)
        selectedFeatures = selectedFeatures.filter(sf => sf !== name)
      } else {
        selectedFeatures.push(name)
        layer.setStyle({
          color: "#00008c",
          opacity: 0.6,
          fillOpacity: 0.5
        })
      }

      Array.from(Array(25).keys()).forEach(function(n) {
        $('#poll_sector_ids_c' + (n + 1)).prop('checked', false)
      })

      selectedFeatures.forEach(function(sf) {
        $('#poll_sector_ids_' + sf.toLowerCase()).prop('checked', true)
      })
      $('#selected-sectors').text(selectedFeatures.length ? selectedFeatures.join(', ') : 'Todos')
    })
  }

  // Bounds
  var gjLayer = L.geoJSON(lasCondesSectors);
  map.fitBounds(gjLayer.getBounds());

  // Load features
  L.geoJSON(lasCondesSectors, {
      onEachFeature: colorlayer
  }).addTo(map)

  // Map config
  map.dragging.disable()
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.boxZoom.disable();
  map.keyboard.disable();
})

</script>

<script>
$(document).ready(function() {
  $('input:checkbox[name="poll[neighbor_types][]"]').on('click', function() {
    var checkedCheckboxes = $('input:checkbox[name="poll[neighbor_types][]"]:checked')
    
    if (checkedCheckboxes.length > 0) {
      $('input:checkbox[name="poll[neighbor_types][]"]').each(function(_, value) {
        $(value).prop('required', false)
      })
    } else {
      $('input:checkbox[name="poll[neighbor_types][]"]').each(function(_, value) {
        $(value).prop('required', true)
      })
    }
  })
})
</script>
