<% provide :title do %><%= t("devise_views.sessions.new.title") %><% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <h3>Ingresar</h3>

      <div class="small-12 column">
        <%= f.text_field :login, autofocus: true, class: 'custom-input', placeholder: 'Email', label: false %>
      </div>

      <div class="small-12 column">
        <%= f.hidden_field :password, autocomplete: "off", class: 'custom-input', placeholder: 'Clave', label: false, value: '12345678' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="small-12 column text-center">
          <%= f.check_box :remember_me, label: t("devise_views.sessions.new.remember_me") %>
        </div>
      <% end -%>

      <div class="small-12 text-center mb-2">
        <%= f.submit(t("devise_views.sessions.new.submit"), class: "solid-button rounded-xl") %>
      </div>
    </div>
  <% end %>
  <div style="text-align: center; color: #797b7e;">
    <p>
      <%= link_to t("devise_views.shared.links.new_password"), new_password_path(resource_name) %>
    </p>
    <p>
      <%= sanitize(t("devise_views.shared.links.signup",
          signup_link: link_to(t("devise_views.shared.links.signup_link"), new_user_registration_path))) %>
    </p>
    <%= render "devise/shared/links" %>
  </div>
