<% provide :title do %><%= @survey.title %><% end %>
<% content_for :meta_description do %><%= truncate(@survey.body) %><% end %>
<% provide :social_media_meta_tags do %>
  <%=
    render "shared/social_media_meta_tags",
    social_url: survey_url(@survey),
    social_title: @survey.title,
    social_description: truncate(@survey.body)
  %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: survey_url(@survey) %>
<% end %>

<main>
  <div id="<%= dom_id(@survey) %>" class="row">
    <div class="small-12 medium-9 column">
      <%= back_link_to surveys_path %>

      <div class="margin-top">
        <h1><%= @survey.title %></h1>
        <p>
         <%= @survey.created_at.strftime('%d/%m/%Y %H:%M') %>
        </p>

        <p class="mt-2"><%= wysiwyg(@survey.body) %></p>

        <% if current_user.nil? %>
          <div class="callout primary">
            <%= sanitize(t("polls.show.cant_answer_not_logged_in",
                  signin: link_to_signin(class: "probe-message"),
                  signup: link_to_signup(class: "probe-message"))) %>
          </div>
        <% elsif @survey.is_expired? %>
          <div class="callout warning">
            Consulta finalizada.
          </div>
        <% elsif !current_user.manager? and @survey.answered_by_user?(current_user) %>
          <div class="callout success">
            ¡Muchas gracias por participar!<br>
            Tus respuestas han sido registradas correctamente.
          </div>
        <% elsif !@can_participate %>
          <div class="callout warning">
            <%= sanitize @reason %>
          </div>
        <% else %>
          <div>
            <%= form_with url: send_answers_survey_path, scope: 'answer' do |form| %>
              <div style="display: flex; flex-direction: column; gap: 1rem;">
                <% @survey.items.order(:position, :id).each do |survey_item| %>
                  <%= render survey_item.component %>
                <% end %>
              </div>

              <% if !@survey.answered_by_user?(current_user) %>
                <%= form.submit 'Confirmar respuestas', class: 'button', name: 'confirm' %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <% if @survey.pdf_link.present? %>
        <%= render Shared::IconTextButtonComponent.new(@survey.pdf_link, 'pdf-icon', 'Ver bases', true) %>
      <% end %>

      <% if current_user and current_user.administrator? %>
        <div class="sidebar-divider"></div>
        <p class="sidebar-title">Administrar</p>
        <div class="show-actions-menu">
          <%=
            link_to 'Editar consulta',
            edit_admin_survey_path(@survey),
            style: 'color: white;',
            class: 'button small expanded'
          %>
          <%=
            link_to 'Eliminar consulta',
            admin_survey_path(@survey),
            style: 'color: white;',
            class: 'button small alert expanded',
            method: :delete,
            data: { confirm: '¿Estás segur@ que deseas eliminar esta consulta?' }
          %>
        </div>
      <% end %>
      
      <div class="sidebar-divider"></div>
      <p class="sidebar-title">Compartir</p>
      <div class="show-actions-menu">
        <%= render "shared/social_share",
          title: @survey.title,
          url: survey_url(@survey),
          description: @survey.body,
          mobile: @survey.title %>
      </div>

    </div>
  </div>
</main>
