<div class="proposal clear" data-type="proposal">
  <div class="panel with-image">
    <div class="row custom-feed-row">
      <% if proposal.image.present? %>
      <div class="small-12 medium-2 column">
        <%= image_tag proposal.image_url(:medium),
          alt: proposal.image.title.unicode_normalize,
          class: 'custom-feed-proposal-image'
        %>
      </div>
      <% end %>

    <div class="small-12 medium-7 column <%= proposal.image.present? ? 'medium-7' : 'medium-9' %>">
      <div class="proposal-content">
        <h3><%= link_to proposal.title, url_for(proposal) %></h3>
        <p class="proposal-info">
          <%= proposal.summary %>
        </p>
        <%= render SDG::TagListComponent.new(proposal, limit: 5) %>
      </div>
    </div>

    <div class="small-12 medium-3 column" style="display: flex; justify-content: end; align-items: center">
      <%= link_to 'Participa aquí', url_for(proposal), class: 'button', style: 'margin: 0;'  %>
    </div>
  </div>
</div>
