<td style="padding-bottom: 20px; padding-left: 10px;">

  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= t("mailers.budget_investment_created.title") %>
  </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= sanitize(t("mailers.budget_investment_created.intro",
           author: @investment.author.name)) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= sanitize(t("mailers.budget_investment_created.text",
           investment: @investment.title,
           budget: @investment.budget.name)) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= sanitize(t("mailers.budget_investment_created.follow",
           link: link_to(t("mailers.budget_investment_created.follow_link"), budgets_url))) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.budget_investment_created.sincerely") %>
  </p>
</td>
