<td style="<%= css_for_mailer_content %>">

  <p style="<%= css_for_mailer_text %>">
    ¡Hola <%= @user.first_name %> <%= @user.last_name %>!:<br><br>
    Tu <%= @readable_model %> "<%= @title %>" no ha sido aceptad<%= @pronoun_vowel %>.
  </p>

</td>
