<td style="padding-bottom: 20px; padding-left: 10px;">

  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= t("mailers.reply.title") %>
  </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.reply.hi") %> <strong><%= @email.recipient.first_name %> <%= @email.recipient.last_name %></strong>,
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    Hay una nueva respuesta de <strong><%= @email.reply.as_administrator? ? 'Participa Las Condes' : "#{@email.reply.author.first_name} #{@email.reply.author.last_name}" %></strong> a tu comentario en
    <%= link_to @email.commentable.title, comment_url(@email.reply.id), style: "color: #2895F1; text-decoration:none;" %>
  </p>

  <div style="border-left: 2px solid #DEE0E3;font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-style: italic;font-weight: normal;line-height: 24px;margin-left: 20px;padding: 10px;">
    <%= simple_format sanitize_and_auto_link(@email.reply.body), {}, sanitize: false %>
  </div>
</td>
