<div class="proposal-info">
  <% if !@proposal.is_initiative %>
  <%= render "/shared/author_info", resource: @proposal %>

  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <% end %>
  <%= l @proposal.created_at.to_date %>
</div>

<div class="proposal-content-container">
  <div class="p-c-duo">
    <div>
      <blockquote><%= @proposal.summary %></blockquote>

      <div class="p-c-description">
      <%= auto_link_already_sanitized_html wysiwyg(@proposal.description) %>
      </div>

      <% if @proposal.video_url.present? %>
        <div class="small-12 medium-7 small-centered">
          <div class="flex-video">
            <div id="js-embedded-video" data-video-code="<%= embedded_video_code(@proposal) %>"></div>
          </div>
        </div>
      <% end %>

      <% if @proposal.retired? %>
        <div id="retired_explanation" class="callout">
          <h2>
            <%= t("proposals.show.retired") %>:
            <%= t("proposals.retire_options.#{@proposal.retired_reason}") unless @proposal.retired_reason == "other" %>
          </h2>
          <%= simple_format sanitize_and_auto_link(@proposal.retired_explanation), {}, sanitize: false %>
        </div>
      <% end %>


      <%= render "shared/tags", taggable: @proposal %>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div class="mb-2">
        <% if !proposal.is_initiative && @proposal.proposals_theme.finished? %>
          <p style="font-weight: bold;">Convocatoria finalizada</p>
        <% end %>
      </div>
      <% if !proposal.is_initiative and (current_user and (current_user.administrator? or current_user.moderator?)) %>
        <div class="mb-2">
          <%=
            link_to @proposal.in_development? ? 'Quitar "En desarrollo"' : 'Marcar "En desarrollo"',
            toggle_in_development_proposal_path,
            method: :patch,
            class: 'solid-button-sm',
            style: 'text-decoration: none; color: white;'
          %>
        </div>
      <% end %>
      <div class="info-card">
        <div class="info-card-header" style="<%= @proposal.is_initiative ? 'background-color: #3ba5df' : '' %>">
          <% if @proposal.is_initiative %>
            <h1>Apoya</h1>
          <% else %>
            <% if @proposal.proposals_theme.is_expired? %>
              <h1 style="font-size: 2em;" class="mt-1">Convocatoria Finalizada</h1>
            <% else %>
              <h1>Apoya</h1>
            <% end %>
          <% end %>
        </div>
        <div class="info-card-body">
          <p><%= @proposal.title %></p>
          
          <div class="custom-supports">
          <%=
            render "votes",
            {
              proposal: proposal,
              vote_url: vote_proposal_path(proposal, value: "yes"),
              down_vote_url: down_vote_proposal_path(proposal, value: "no")
            }
          %>
          </div>
        </div>
        <% unless current_user %>
        <div class="info-card-footer">
          <p>Necesitas <span style="color: #5eb7d9;"><%= link_to "iniciar sesión", new_user_session_path %></span> o <span style="color: #5eb7d9;"><%= link_to "registrarte", new_user_registration_path %></span> para participar</p>
        </div>
        <% end %>
      </div>
      <% if @proposal.image.present? %>
        <div style="margin-top: 50px;">
        <%= image_tag @proposal.image_url(:original) %>
        </div>
      <% end %>

      <% if @proposal.is_initiative? %>
        <% if not @proposal.everyone_can_vote? and not @proposal.can_user_vote?(current_user) %>
          <div class="custom-icon-message mt-3" style="<%= @proposal.is_initiative ? 'background-color: #3ba5df;' : '' %>">
            <div class="c-i-m-left" style="<%= @proposal.is_initiative ? 'background-color: #3ba5df;' : '' %>">
              !
            </div>
            <div class="c-i-m-right" style="<%= @proposal.is_initiative ? 'background-color: #3ba5df;' : '' %>">
              <%= sanitize @proposal.get_restriction_message %>
            </div>
          </div>
        <% end %>
      <% else %>
        <% if not @proposal.proposals_theme.everyone_can_vote? and not @proposal.proposals_theme.can_user_vote?(current_user) %>
          <div class="custom-icon-message mt-3" style="<%= @proposal.is_initiative ? 'background-color: #3ba5df;' : '' %>">
            <div class="c-i-m-left" style="<%= @proposal.is_initiative ? 'background-color: #3ba5df;' : '' %>">
              !
            </div>
            <div class="c-i-m-right" style="<%= @proposal.is_initiative ? 'background-color: #3ba5df;' : '' %>">
              <%= sanitize @proposal.proposals_theme.get_restriction_message %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
      <% if feature?(:allow_attached_documents) %>
        <%= render "documents/documents",
                    documents: @proposal.documents,
                    max_documents_allowed: Proposal.max_documents_allowed %>
      <% end %>
  </div>
</div>
