<div class="proposal-info">
  <%= render "/shared/author_info", resource: @proposal %>

  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <%= l @proposal.created_at.to_date %>
</div>

<div class="proposal-content-container">
  <div class="p-c-duo">
    <div>
      <blockquote><%= @proposal.summary %></blockquote>
      <% if @proposal.image.present? %>
      <%= image_tag @proposal.image_url(:medium), class: 'p-c-image' %>
      <% end %>

      <div class="p-c-description">
      <%= auto_link_already_sanitized_html wysiwyg(@proposal.description) %>
      </div>

      <% if @proposal.video_url.present? %>
        <div class="small-12 medium-7 small-centered">
          <div class="flex-video">
            <div id="js-embedded-video" data-video-code="<%= embedded_video_code(@proposal) %>"></div>
          </div>
        </div>
      <% end %>

      <% if @proposal.retired? %>
        <div id="retired_explanation" class="callout">
          <h2>
            <%= t("proposals.show.retired") %>:
            <%= t("proposals.retire_options.#{@proposal.retired_reason}") unless @proposal.retired_reason == "other" %>
          </h2>
          <%= simple_format sanitize_and_auto_link(@proposal.retired_explanation), {}, sanitize: false %>
        </div>
      <% end %>


      <%= render "shared/tags", taggable: @proposal %>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div class="info-card">
        <div class="info-card-header">
          <h1>Apoya</h1>
        </div>
        <div class="info-card-body">
          <p>¿Apoya usted la idea de <%= @proposal.title %>?</p>
          <% if voted_for?(@proposal_votes, proposal) %>
            <button class="solid-button" disabled>Ya apoyaste</button>
          <% elsif user_signed_in? && proposal.votable_by?(current_user) %>
            <%= link_to vote_proposal_path(proposal, value: "yes"), method: "post", remote: true do %>
            <button class="solid-button">Apoyo</button>
            <% end %>
          <% else %>
            <button class="solid-button" disabled>Apoyo</button>
          <% end %>
          <br>
          <small>Han apoyado: <strong><%= @proposal.total_votes %></strong></small>
        </div>
        <% unless current_user %>
        <div class="info-card-footer">
          <p>Necesitas <span style="color: #5eb7d9;"><%= link_to "iniciar sesión", new_user_session_path %></span> o <span style="color: #5eb7d9;"><%= link_to "registrarte", new_user_registration_path %></span> para participar</p>
        </div>
        <% end %>
      </div>
      <% if @proposal.sectors.any? %>
      <div class="custom-icon-message mt-3">
        <div class="c-i-m-left">
          !
        </div>
        <div class="c-i-m-right">
          Esta consulta está habilitada sólo para <br>vecinos de la(s) unidad(es) vecinal(es):<br>
          <strong><%= @proposal.sectors.map{ |s| s.name }.join(', ') %>.</strong>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div>
      <% if feature?(:allow_attached_documents) %>
        <%= render "documents/documents",
                    documents: @proposal.documents,
                    max_documents_allowed: Proposal.max_documents_allowed %>
      <% end %>
  </div>
</div>
