<div id="<%= dom_id(proposal) %>" class="custom-card" data-type="proposal">
  <div class="custom-card-header">
    <% if proposal.main_theme.present? %>
      <%= link_to proposal.main_theme, style: 'text-decoration: none;', target: '_blank' do %>
      <div class="c-c-h-theme-container">
        <div><%= image_tag proposal.main_theme.icon %></div>
        <h3><%= proposal.main_theme.name %></h3>
      </div>
      <% end %>
    <% else %>
      <h3>
        Categoría
      </h3>
    <% end %>
  </div>
  <% if proposal.image.present? %>
    <div class="custom-card-image">
      <%= image_tag proposal.image_url(:medium) %>
      <% if !proposal.is_initiative %>
        <% if proposal.proposals_theme.finished? %>
          <div class="custom-card-image-container-text">
            <div class="custom-card-image-text">
              <h4>Convocatoria finalizada</h4>
            </div>
          </div>
        <% elsif proposal.in_development %>
          <div class="custom-card-image-container-text">
            <div class="custom-card-image-text">
              <h4>Propuesta en desarrollo</h4>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if proposal.is_initiative and !proposal.is_active? %>
        <div class="custom-card-image-container-text">
          <div class="custom-card-image-text">
            <h4>Iniciativa finalizada</h4>
          </div>
        </div>
      <% end %>
    </div>
  <% elsif proposal.main_theme.present? %>
    <div class="custom-card-image">
      <%= image_tag proposal.main_theme.icon %>
      <% if !proposal.is_initiative %>
        <% if proposal.proposals_theme.finished? %>
          <div class="custom-card-image-container-text">
            <div class="custom-card-image-text">
              <h4>Convocatoria finalizada</h4>
            </div>
          </div>
        <% elsif proposal.in_development %>
          <div class="custom-card-image-container-text">
            <div class="custom-card-image-text">
              <h4>Propuesta en desarrollo</h4>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if proposal.is_initiative and !proposal.is_active? %>
        <div class="custom-card-image-container-text">
          <div class="custom-card-image-text">
            <h4>Iniciativa finalizada</h4>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="custom-card-image">
      <%= image_tag 'https://picsum.photos/500' %>
      <% if !proposal.is_initiative %>
        <% if proposal.proposals_theme.finished? %>
          <div class="custom-card-image-container-text">
            <div class="custom-card-image-text">
              <h4>Convocatoria finalizada</h4>
            </div>
          </div>
        <% elsif proposal.in_development %>
          <div class="custom-card-image-container-text">
            <div class="custom-card-image-text">
              <h4>Propuesta en desarrollo</h4>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if proposal.is_initiative and !proposal.is_active? %>
        <div class="custom-card-image-container-text">
          <div class="custom-card-image-text">
            <h4>Iniciativa finalizada</h4>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="custom-card-content" style="<%= proposal.image.present? ? 'height: 50%;' : 'height: 100%;' %>">
    <div>
      <h3 style="text-align: center !important;"><%= proposal.title %></h3>
    </div>
    <div class="custom-card-content-footer">
      <div class="text-center">
        <strong><%= proposal.total_votes %></strong> <span>apoyos</span>
      </div>
      <%= link_to 'Ver más', proposal_path(proposal.id), class: 'button expanded large' %>
    </div>
  </div>
</div>
