<% provide :title do %>Proceso participativo<% end %>
<% content_for :header_addon do %>
<% end %>

<main class="proceso-main">
  <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_polls.png", alt: t("poll.icon_alt"), class: "align-sub" %>
        <h1 class="inline-block">Diagnósticos de acción por tema</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-9 column end">
        <p>Esto es una descripción sobre el proceso participativo.</p>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/back_to' %>
    </div>
  </div>
  <div class="row" style="padding-left: 1rem;">
    <ul id="categories" class="no-bullet categories">
      <% Tag.category.each_with_index do |category, index| %>
        <% css_class = { class: "is-active" } if params[:search] == category.name %>
        <%= link_to new_quiz_path(type: 1, chapter: category), css_class || {} do %>
        <li class="inline-block chapter-small <%= 'is-active' if params[:search] == category.name %>">
          <i class="fas fa-hand-paper" style="color: #<%= SecureRandom.random_number(10**6).to_s.rjust(6, '0') %>;"></i>
          <%= category.name %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</main>
