<% if @proposal.is_initiative %>
  <%= render "shared/section_header",
    color: "#3ba5df",
    section_image: "/images/h-iniciativas.svg",
    title: "Iniciativas",
    title2: "Municipales",
    description: "En esta secci칩n los usuarios podr치n participar apoyando y comentando las distintas iniciativas que sean propuestas por la Municipalidad."
  %>
<% else %>
  <%= render "shared/section_header",
    name: "proposals",
    color: "#33cc9d",
    section_image: "/images/propuestas-image.svg",
    title: "Propuestas",
    title2: "e Ideas",
    description: "En esta secci칩n podr치s realizar propuestas con el objetivo de mejorar la Municipalidad y/o nuestra comunidad. Para publicar tus ideas debes completar un formulario sencillo que permite adjuntar documentos relevantes."
  %>
<% end %>
<div class="row">
  <div class="proposal-edit">

    <div class="small-12 column">
      <%= back_link_to %>

      <div class="float-right">
        <%= link_to t("proposals.edit.show_link"), @proposal %>
      </div>

      <h1><%= t("proposals.edit.editing") %></h1>

      <%= render "form", form_url: proposal_path(@proposal) %>
    </div>
  </div>
</div>