<%= render "shared/section_header",
  color: "#33cc9d",
  section_image: "/images/propuestas-image.svg",
  title: "Propuestas",
  title2: "Ciudadanas",
  description: "En esta sección podrás realizar propuestas con el objetivo de mejorar la Municipalidad y/o nuestra comunidad. Para publicar tus ideas debes completar un formulario sencillo que permite adjuntar documentos relevantes."
%>  
<div class="row">
  <div class="proposal-edit">

    <div class="small-12 column">
      <%= back_link_to %>

      <div class="float-right">
        <%= link_to t("proposals.edit.show_link"), @proposal %>
      </div>

      <h1><%= t("proposals.edit.editing") %></h1>

      <%= render "form", form_url: proposal_path(@proposal) %>
    </div>
  </div>
</div>