<% provide :title do %><%= t("proposals.index.title") %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: proposals_path(page: 1),
             i18n_namespace: "proposals.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>
  <% if [
          @search_terms,
          @advanced_search_terms,
          params[:retired].present?,
          params[:selected].present?
        ].any? %>
    <%= render Shared::SearchResultsSummaryComponent.new(
      results: @proposals,
      search_terms: @search_terms,
      advanced_search_terms: @advanced_search_terms
    ) do %>
      <% if params[:retired].present? %>
        <h2><%= t("proposals.index.retired_proposals") %></h2>
      <% elsif params[:selected].present? %>
        <h2><%= t("proposals.index.selected_proposals") %></h2>
      <% end %>
    <% end %>
  <% else %>
    <div class="help-header">
      <div class="row">
        <div class="small-12 column" data-magellan>
          <%= image_tag "help/help_icon_proposals.png", alt: t("proposals.index.section_header.icon_alt"), class: "align-top" %>
          <h1 class="inline-block">Propuestas Georreferenciadas</h1>
        </div>
      </div>
    </div>
  <% end %>

  <% if show_recommended_proposals? %>
    <%= render "shared/recommended_index", recommended: @recommended_proposals,
                                           disable_recommendations_path: recommendations_disable_proposals_path,
                                           namespace: "proposals" %>
  <% end %>

  <div class="row">
    <div id="proposals" class="small-12 column">
      <%= render Shared::BannerComponent.new("proposals") %>

      <div class="row">
        <div class="column small-12">
          <h4>Haz clic en un lugar en el mapa para crear una propuesta</h4>
        </div>
        <div class="column small-12 medium-9 margin">
          <%= render_proposals_map("proposal", current_user && current_user.administrator?) %>
        </div>
        <div class="column small-12 medium-3 margin">
          <%= link_to t("proposals.index.start_proposal"),
            new_proposal_path,
            class: "button expanded"
          %>
        </div>
      </div>

      <div class="row">
        <div class="column small-12">
          <div class="proposals-header">
            <div></div>
            <div style="display: flex; flex-direction: column;">
              <strong>Ordenar por</strong>
              <%= form_tag proposals_path, method: :get do %> 
                <% if params.include?('page') %>
                  <%= hidden_field_tag :page, params[:page] %>
                <% end %>
                <%= select_tag 'order',
                  options_for_select(@orders, @selected_order),
                  onchange: 'this.form.submit()'
                %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div id="proposals-list" class="small-12 medium-12 column">
          <% if @proposals.any? %>
            <div class="cards-container-component">
              <% @proposals.each do |proposal| %>
                <%= render Shared::CardComponent.new(
                  proposal,
                  proposal.title,
                  proposal.image.present? ? proposal.image.variant(:medium) : nil,
                  proposal.summary,
                  proposal.in_development ? 'Propuesta en desarrollo' : nil,
                  nil,
                  "#{proposal.total_votes} apoyo#{proposal.total_votes != 1 ? 's' : ''}"
                ) %>
              <% end %>
            </div>
          <% end %>
          <%= paginate @proposals %>
        </div>
      </div>
    </div>
  </div>
</main>
