<% provide :title do %>Participaciones<% end %>
<% content_for :header_addon do %>
<% end %>

<% @quizzes = Quiz.where(visible: true).where.not(name: 'TMP') %>

<% if params[:order].present? %>
  <% if params[:order] == 'new' %>
    <% @quizzes = @quizzes.order(created_at: :desc) %>
  <% elsif params[:order] == 'support' %>
    <% @quizzes = @quizzes.sort_by {|quiz| quiz.votes}.reverse %>
  <% end %>
<% end %>

<% if params[:page].present? %>
  <% if params[:page].to_i != 0 %>
    <% @quizzes = @quizzes[params[:page].to_i * 5, 5] %>
  <% else %>
    <% @quizzes = @quizzes[0, 5] %>
  <% end %>
<% else %>
  <% @quizzes = @quizzes[0, 5] %>
<% end %>

<main>
    <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_polls.png", alt: t("poll.icon_alt"), class: "align-sub" %>
        <h1 class="inline-block">Participaciones</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-9 column end">
        <p>Esto es una descripción sobre el proceso participativo.</p>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/back_to' %>
    </div>
  </div>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-12 column">
      <br/>
      <ul class="no-bullet submenu">
        <% @orders = [['Más apoyadas', 'support'], ['Nuevas', 'new']] %>
        <% @orders.each do |name, order| %>
          <li class="inline-block">
            <%= link_to current_path_with_query_params(order: order), class: order == params[:order] ? "is-active" : "" do %>
              <%= content_tag(order == @current_order ? :h2 : :span) do %>
                <% name %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div id="proposals-list">
        <% if @quizzes && @quizzes.any? %>
          <% @quizzes.each do |quiz| %>
            <div class="proposal clear">
              <div class="panel panel-customized" id="panel-<%= quiz.id %>" onclick="controlPanel(this)">
                <div class="row">
                  <div class="small-12 medium-3 column">
                    <strong>Fecha</strong><br/>
                    <%= quiz.created_at.to_date %><br/><br/>
                    <strong>Tipo</strong><br/>
                    <% if quiz.group_id.nil? %>
                      <i class="fas fa-user" style="color: #004a83;"></i> Individual
                    <% else %>
                      <i class="fas fa-users" style="color: #004a83;"></i> Grupal
                    <% end %>
                  </div>
                  <div class="small-12 medium-6 column supports-container">
                    <p><% eval(quiz.q1).each do |key, value| %>
                        <% if ['q3'].include?(key) %>
                          <% if quiz.group_id.nil? %>
                            <strong>¿En qué notas que no se respetan los derechos humanos en: <%= eval(quiz.q1)['q2'] %>?</strong><br/>
                          <% else %>
                            <strong>En aquel tema en que se respetan menos los derechos humanos, ¿En qué notas que no se respetan?</strong><br/>
                          <% end %>
                          <% if value.is_a?(Array) %>
                            <% value.each do |v| %>
                              <li><%= v %></li>
                            <% end %><br/>
                          <% else %>
                            <%= value %><br/><br/>
                          <% end %>
                        <% end %></p>
                    <% end %>
                    <p><% eval(quiz.q1).each do |key, value| %>
                      <% if ['q4'].include?(key) %>
                        <strong>¿Cuál o cuáles crees que son las causas de ese problema?</strong><br/>
                        <% if value.is_a?(Array) %>
                          <% value.each do |v| %>
                            <li><%= v %></li>
                          <% end %><br/>
                        <% else %>
                          <%= value %><br/><br/>
                        <% end %>
                      <% end %></p>
                    <% end %>
                    <p><% eval(quiz.q2).each do |key, value| %>
                      <% if ['q7'].include?(key) %>
                        <strong>¿Qué ideas propones para que las autoridades aborden las causas que señalas y así solucionar el problema de derechos humanos?</strong><br/>
                        <% if value.is_a?(Array) %>
                          <% value.each do |v| %>
                            <li><%= v %></li>
                          <% end %><br/>
                        <% else %>
                          <%= value %><br/><br/>
                        <% end %>
                      <% end %></p>
                    <% end %>
                    <p><% eval(quiz.q3).each do |key, value| %>
                      <% if ['q8'].include?(key) %>
                        <strong>¿Cómo pueden los niños, niñas y adolescentes colaborar con el seguimiento al cumplimiento del Plan Nacional de Derechos Humanos?</strong><br/>
                        <% if value.is_a?(Array) %>
                          <% value.each do |v| %>
                            <li><%= v %></li>
                          <% end %><br/>
                        <% else %>
                          <%= value %><br/><br/>
                        <% end %>
                      <% end %></p>
                    <% end %>
                  </div>
                  <div class="small-12 medium-3 column supports-container">
                    <div class="supports text-center">
                      <span class="total-supports">
                        <%= Vote.where(votable_type: "Quiz", votable_id: quiz.id).count %>
                      </span>
                        <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id).count == 1 %>
                          apoyo
                        <% else %>
                          apoyos
                        <% end %>
                      <div class="in-favor">
                        <% if current_user %>
                          <% if quiz.user_id != current_user.id %>
                            <%= link_to Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? ? nil : vote_quizzes_path(quiz_id: quiz.id),
                                class: "button button-support small expanded",
                                title: 'Apoyar',
                                method: "post",
                                onclick: 'doVote(this);',
                                disabled: Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists?,
                                remote: true do %>
                              <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? %>
                                Ya apoyaste
                              <% else %>
                                Apoyar
                              <% end %>
                            <% end %>
                          <% else %>
                            <br/>
                          <% end %>
                        <% else %>
                          <div class="show-only-users">
                            <div class="message">
                              Debes <a href="/users/sign_in">iniciar sesión</a> o <a href="/users/sign_up">registrarte</a> para apoyar.
                            </div>
                            <button class="button button-support small expanded">Apoyar</button>
                          </div>
                        <% end %>
                        <% if current_user %>
                          <% if current_user.administrator? || current_user.moderator? %>
                            <%= link_to 'Ocultar',
                              set_invisible_quizzes_path(quiz_id: quiz.id), 
                              method: 'post',
                              data: {confirm: '¿Realmente deseas ocultar este elemento?'}, 
                              class: 'button small expanded' %>
                          <% end %>
                        <% end %>
                      </div>
                        <% if current_user%>
                          <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? || quiz.user_id == current_user.id %>
                              <%= render "shared/social_share",
                                share_title: 'Compartir',
                                title: 'Participa con nosotros en:',
                                url: request.base_url,
                                description: 'Participaciones individuales y grupales de plataforma NNA de Derechos Humanos',
                                mobile: 'Participa con nosotros en:' %>
                          <% else %>
                            <div id="social-share-item" style="display: none;">
                              <%= render "shared/social_share",
                                share_title: 'Compartir',
                                title: 'Participa con nosotros en:',
                                url: request.base_url,
                                description: 'Participaciones individuales y grupales de plataforma NNA de Derechos Humanos',
                                mobile: 'Participa con nosotros en:' %>
                            </div>
                          <% end %>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No hay nada para mostrar.</p>
        <% end %>
      </div>
    </div>
    <% @chapter_selected = params[:search].present? ? params[:search].to_i : Tag.category.ids %>
    <% if Quiz.where(visible: true).count > 5 %>
      <nav aria-label="Pagination">
        <ul class="pagination text-center">
          <li class="pagination-previous <%= params[:page].to_i == 0 ? 'disabled' : '' %>">
            <% if params[:page].to_i == 0 %>
              Anterior
            <% else %>
              <%= link_to current_path_with_query_params(page: (params[:page].to_i - 1)) do %>
                Anterior
              <% end %>
            <% end %>
          </li>
          <% Quiz.where(visible: true).in_groups_of(5, false).each_with_index do |page, index| %>
            <li class="<%= params[:page].to_i == index ? 'current' : '' %>">
              <% if params[:page].to_i == index %>
                  <%= index + 1 %>
              <% else %>
                <%= link_to current_path_with_query_params(page: index) do %>
                  <%= index + 1 %>
                <% end %>
              <% end %>
            </li>
          <% end %>
          <li class="pagination-next <%= Quiz.where(visible: true).in_groups_of(5, false).count - 1 == params[:page].to_i ? 'disabled' : '' %>">
            <% if Quiz.where(visible: true).in_groups_of(5, false).count - 1 == params[:page].to_i %>
              Siguiente
            <% else %>
              <%= link_to current_path_with_query_params(page: params[:page].to_i + 1) do %>
                Siguiente
              <% end %>
            <% end %>
          </li>
        </ul>
      </nav>
    <% end %>
  </div>
</main>

<script>
function doVote(e) {
  if (!e.getAttribute('disabled')) {
    e.parentElement.parentElement.getElementsByClassName("total-supports")[0].innerText++;
    e.setAttribute('disabled', 'disabled');
    e.innerText = 'Ya apoyaste';
    $('#social-share-item').css("display", "block");
  }
}

$(document).on('confirm:complete', function (e, answer) {
  if (answer) {
    $(e.target.parentElement.parentElement.parentElement.parentElement.parentElement).hide()
  }
});

let small = true;

function controlPanel(e) {
  if (small) {
    $(e).css('max-height', '100%');
    small = false
  } else {
    $(e).css('max-height', '225px');
    small = true
  }
}
</script>