<% provide :title do %><%= t("proposals.index.title") %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: proposals_path(page: 1),
             i18n_namespace: "proposals.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>
  <%= render "shared/section_header", i18n_namespace: "proposals.index.section_header", image: "proposals" %>
  <div class="row">
    <div id="proposal-topics" class="small-12 column">
      <h4>Haz clic en un lugar en el mapa para crear una propuesta</h4>
      <% if feature?(:map) %>
        <div class="margin">
          <%= render_proposals_map("proposal", current_user && current_user.administrator?) %>
        </div>
      <% end %>
      <% if @proposals.any? %>
        <div class="cards-container-component">
          <% @proposals.each do |proposal| %>
            <%= render Shared::CardComponent.new(
              proposal,
              proposal.title,
              proposal.image.present? ? proposal.image.variant(:thumb) : nil,
              proposal.summary,
              nil,
            ) %>
          <% end %>
        </div>
        <%= paginate @proposals %>
      <% else %>
        <div class="callout primary">
          No hay propuestas.
        </div>
      <% end %>
    </div>
  </div>
</main>
