<% provide :title do %>Sugerencias de acción por tema<% end %>
<% content_for :header_addon do %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<% if params[:order].present? %>
  <% if params[:order] == 'new' %>
    <% @quizzes = Quiz.where(quiz_type: 3).order(created_at: :desc) %>
  <% else %>
    <% @quizzes = Quiz.where(quiz_type: 3) %>
    <% # TODO: Orden por mas apoyadas %>
  <% end %>
<% else %>
  <% @quizzes = Quiz.where(quiz_type: 3) %>
<% end%>
<main>
  <div class="center-element mobile-view">
    <%= render "shared/search_form",
              search_path: proposals_path(page: 1),
              i18n_namespace: "proposals.index.search_form" %>
  </div>
    <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_polls.png", alt: t("poll.icon_alt"), class: "align-sub" %>
        <h1 class="inline-block">Sugerencias de acción por tema</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-9 column end">
        <p>Esto es una descripción sobre el proceso participativo.</p>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/back_to' %>
    </div>
  </div>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <%= render Shared::BannerComponent.new("proposals") %>
      <%= render "categories" %>

      <% if @proposals.any? %>
        <div class="show-for-small-only">
          <%= link_to 'Crear tu sugerencia',
              current_user ? new_quiz_path(chapter: @categories.where({name: params[:search]}).first.id, type: 3) : '#',
              class: "button expanded",
              disabled: !current_user %>
        </div>
      <% end %>

      <br/>
      <ul class="no-bullet submenu">
        <% @orders = [['Más apoyadas', 'support'], ['Nuevas', 'new']] %>
        <% @orders.each do |name, order| %>
          <li class="inline-block">
            <%= link_to current_path_with_query_params(order: order), class: order == params[:order] ? "is-active" : "" do %>
              <%= content_tag(order == @current_order ? :h2 : :span) do %>
                <% name %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div id="proposals-list">
        <% if @quizzes.any? %>
          <% @quizzes.each do |quiz| %>
            <div class="proposal clear">
              <div class="panel">
                <div class="row">
                  <div class="small-12 medium-3 column">
                    <h4><%= quiz.name || '(Sin título)' %></h4>
                    <strong>Capítulo</strong>
                    <% if quiz.tag %>
                      <p><i class="fas fa-hand-paper" style="color: #004a83;"></i> <%= quiz.tag %></p>
                    <% else %>
                      <p>Sin capítulo</p>
                    <% end %>
                    <strong>Fecha</strong><br/>
                    <%= quiz.created_at.to_date %>
                  </div>
                  <div class="small-12 medium-6 column supports-container">
                    <h4>Descripción</h4>
                    <p><%= quiz.description || 'Sin descripción.' %></p>
                  </div>
                  <div class="small-12 medium-3 column supports-container">
                    <div class="supports text-center">
                      <span class="total-supports">
                        <%= Vote.where(votable_type: "Quiz", votable_id: quiz.id).count %>
                        <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id).count == 1 %>
                          apoyo
                        <% else %>
                          apoyos
                        <% end %>
                      </span>
                      <div class="in-favor">
                        <% if current_user %>
                          <%= link_to Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? ? nil : vote_quizzes_path(quiz_id: quiz.id),
                              class: "button button-support small expanded",
                              title: 'Apoyar',
                              method: "post",
                              disabled: Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists?,
                              remote: true do %>
                            <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? %>
                              Ya apoyaste
                            <% else %>
                              Apoyar
                            <% end %>
                          <% end %>
                        <% else %>
                          <button disabled class="button button-support small expanded">Ingresa para votar</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <div class="desktop-view">
          <%= render "shared/search_form",
                    search_path: proposals_path(page: 1),
                    i18n_namespace: "proposals.index.search_form" %>
        </div>
        <% if params[:search] and @categories.where({name: params[:search]}).exists? %>
          <%= link_to 'Crear tu sugerencia',
              current_user ? new_quiz_path(chapter: @categories.where({name: params[:search]}).first.id, type: 3) : '#',
              class: "button expanded",
              disabled: !current_user %>
        <% end %>
        <% if true == false and params[:retired].blank? %>
          <%= render "shared/tag_cloud", taggable: "Proposal" %>
          <%= render "retired" %>
          <%= render "proposals_lists" %>
        <% end %>
      </aside>
    </div>

  </div>
</main>
