<% provide :title do %>Sugerencias de acción por tema<% end %>
<% content_for :header_addon do %>
<% end %>

<% @quizzes = Quiz.where(quiz_type: 3, visible: true) %>

<% if params[:search].present? %>
  <% @tag = Tag.category.where(name: params[:search]).first %>
  <% @quizzes = @quizzes.where(tag_id: @tag.id) %>
<% end %>

<% if params[:order].present? %>
  <% if params[:order] == 'new' %>
    <% @quizzes = @quizzes.order(created_at: :desc) %>
  <% elsif params[:order] == 'support' %>
    <% @quizzes = @quizzes.sort_by {|quiz| quiz.votes}.reverse %>
  <% end %>
<% end %>

<% if params[:page].present? %>
  <% if params[:page].to_i != 0 %>
    <% @quizzes = @quizzes[params[:page].to_i * 5, 5] %>
  <% else %>
    <% @quizzes = @quizzes[0, 5] %>
  <% end %>
<% else %>
  <% @quizzes = @quizzes[0, 5] %>
<% end %>

<main>
    <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_polls.png", alt: t("poll.icon_alt"), class: "align-sub" %>
        <h1 class="inline-block">Sugerencias de acción por tema</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-9 column end">
        <p>Selecciona el tema en el que deseas proponer iniciativas que sean parte del Segundo PNDH. Puedes hacer un máximo de seis (6) incorporaciones propias, que puedes distribuir en los diferentes temas, según tu preferencia: por ejemplo, las seis (6) en un mismo tema o repartidas en distintos temas. También puedes sumar apoyo a iniciativas propuestas por otras personas participantes, sin límite de cantidad</p>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/back_to' %>
    </div>
  </div>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-12 column">

    <div class="row">
      <div class="small-12 medium-9 column">
        <%= render "categories" %>
      </div>
      <div class="small-12 medium-3 column">
        <h2 class="sidebar-title">Participar</h2>
        <aside class="margin-bottom">
          <% if params[:search] and @categories.where({name: params[:search]}).exists? %>
            <% if current_user %>
              <% if Quiz.where(quiz_type: 3, user_id: current_user.id).count < 6 %>
                <%= link_to 'Crear tu sugerencia',
                  new_quiz_path(chapter: @categories.where({name: params[:search]}).first.id, type: 3),
                  class: "button expanded" %>
              <% else %>
                <button disabled class="button expanded">Alcanzaste el límite</button>
              <% end %>
            <% else %>
            <div class="show-only-users">
              <div class="message">
                  Debes <a href="/users/sign_in">iniciar sesión</a> o <a href="/users/sign_up">registrarte</a> para participar.
                </div>
                <button class="button expanded">Crear tu sugerencia</button>
              </div>
            <% end %>
          <% else %>
            <button disabled class="button expanded">Crear tu sugerencia</button>
            <small><i class="fas fa-exclamation-circle"></i> Primero debes seleccionar un capítulo.</small>
          <% end %>
        </aside>
      </div>
    </div>

      <br/>
      <ul class="no-bullet submenu">
        <% @orders = [['Más apoyadas', 'support'], ['Nuevas', 'new']] %>
        <% @orders.each do |name, order| %>
          <li class="inline-block">
            <%= link_to current_path_with_query_params(order: order), class: order == params[:order] ? "is-active" : "" do %>
              <%= content_tag(order == @current_order ? :h2 : :span) do %>
                <% name %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div id="proposals-list">
        <% if @quizzes && @quizzes.any? %>
          <% @quizzes.each do |quiz| %>
            <div class="proposal clear">
              <div class="panel">
                <div class="row">
                  <div class="small-12 medium-3 column">
                    <h4 style="overflow: hidden; word-wrap: break-word;"><%= quiz.name || '(Sin título)' %></h4>
                    <strong>Capítulo</strong>
                    <% if quiz.tag %>
                      <p><i class="fas fa-hand-paper" style="color: #004a83;"></i> <%= quiz.tag %></p>
                    <% else %>
                      <p>Sin capítulo</p>
                    <% end %>
                    <strong>Fecha</strong><br/>
                    <%= quiz.created_at.to_date %><br/><br/>
                    <strong>Tipo</strong><br/>
                    <% if quiz.user.is_individual? %>
                      <i class="fas fa-user" style="color: #004a83;"></i> Individual
                    <% else %>
                      <i class="fas fa-users" style="color: #004a83;"></i> Grupal
                    <% end %>
                  </div>
                  <div class="small-12 medium-6 column supports-container">
                    <h4>Descripción</h4>
                    <p><%= quiz.description || 'Sin descripción.' %></p>
                  </div>
                  <div class="small-12 medium-3 column supports-container">
                    <div class="supports text-center">
                      <span class="total-supports">
                        <%= Vote.where(votable_type: "Quiz", votable_id: quiz.id).count %>
                      </span>
                        <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id).count == 1 %>
                          apoyo
                        <% else %>
                          apoyos
                        <% end %>
                      <div class="in-favor">
                        <% if current_user %>
                          <% if quiz.user_id != current_user.id %>
                            <%= link_to Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? ? nil : vote_quizzes_path(quiz_id: quiz.id),
                                class: "button button-support small expanded",
                                title: 'Apoyar',
                                method: "post",
                                onclick: 'doVote(this);',
                                disabled: Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists?,
                                remote: true do %>
                              <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? %>
                                Ya apoyaste
                              <% else %>
                                Apoyar
                              <% end %>
                            <% end %>
                          <% end %>
                        <% else %>
                        <div class="show-only-users">
                          <div class="message">
                            Debes <a href="/users/sign_in">iniciar sesión</a> o <a href="/users/sign_up">registrarte</a> para apoyar.
                          </div>
                          <button class="button button-support small expanded">Apoyar</button>
                        </div>
                        <% end %>
                        <% if current_user %>
                          <% if current_user.administrator? || current_user.moderator? %>
                            <%= link_to 'Ocultar',
                              set_invisible_quizzes_path(quiz_id: quiz.id), 
                              method: 'post',
                              data: {confirm: '¿Realmente deseas ocultar este elemento?'}, 
                              class: 'button small expanded' %>
                          <% end %>
                        <% end %>
                      </div>
                      <% if current_user %>
                        <% if Vote.where(votable_type: "Quiz", votable_id: quiz.id, voter_id: current_user.id).exists? || quiz.user_id == current_user.id %>
                              <%= render "shared/social_share",
                                share_title: 'Compartir',
                                title: 'Participa con nosotros en:',
                                url: request.base_url,
                                description: 'Participaciones individuales y grupales de plataforma NNA de Derechos Humanos',
                                mobile: 'Participa con nosotros en:' %>
                          <% else %>
                            <div id="social-share-item" style="display: none;">
                              <%= render "shared/social_share",
                                share_title: 'Compartir',
                                title: 'Participa con nosotros en:',
                                url: request.base_url,
                                description: 'Participaciones individuales y grupales de plataforma NNA de Derechos Humanos',
                                mobile: 'Participa con nosotros en:' %>
                            </div>
                          <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No hay nada para mostrar.</p>
        <% end %>
      </div>
    </div>
    <% @chapter_selected = params[:search].present? ? params[:search].to_i : Tag.category.ids %>
    <% if Quiz.where(visible: true, quiz_type: 3, tag_id: @chapter_selected).count > 5 %>
      <nav aria-label="Pagination">
        <ul class="pagination text-center">
          <li class="pagination-previous <%= params[:page].to_i == 0 ? 'disabled' : '' %>">
            <% if params[:page].to_i == 0 %>
              Anterior
            <% else %>
              <%= link_to current_path_with_query_params(page: (params[:page].to_i - 1)) do %>
                Anterior
              <% end %>
            <% end %>
          </li>
          <% Quiz.where(visible: true, quiz_type: 3, tag_id: @chapter_selected).in_groups_of(5, false).each_with_index do |page, index| %>
            <li class="<%= params[:page].to_i == index ? 'current' : '' %>">
              <% if params[:page].to_i == index %>
                  <%= index + 1 %>
              <% else %>
                <%= link_to current_path_with_query_params(page: index) do %>
                  <%= index + 1 %>
                <% end %>
              <% end %>
            </li>
          <% end %>
          <li class="pagination-next <%= Quiz.where(visible: true, quiz_type: 3, tag_id: @chapter_selected).in_groups_of(5, false).count - 1 == params[:page].to_i ? 'disabled' : '' %>">
            <% if Quiz.where(visible: true, quiz_type: 3, tag_id: @chapter_selected).in_groups_of(5, false).count - 1 == params[:page].to_i %>
              Siguiente
            <% else %>
              <%= link_to current_path_with_query_params(page: params[:page].to_i + 1) do %>
                Siguiente
              <% end %>
            <% end %>
          </li>
        </ul>
      </nav>
    <% end %>
  </div>
</main>

<script>
function doVote(e) {
  if (!e.getAttribute('disabled')) {
    e.parentElement.parentElement.getElementsByClassName("total-supports")[0].innerText++;
    e.setAttribute('disabled', 'disabled');
    e.innerText = 'Ya apoyaste';
    $('#social-share-item').css("display", "block");
  }
}

$(document).on('confirm:complete', function (e, answer) {
  if (answer) {
    $(e.target.parentElement.parentElement.parentElement.parentElement.parentElement).hide()
  }
});
</script>