<% provide :title do %>Sugerencias de acción por tema<% end %>
<% content_for :header_addon do %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>
  <div class="center-element mobile-view">
    <%= render "shared/search_form",
              search_path: proposals_path(page: 1),
              i18n_namespace: "proposals.index.search_form" %>
  </div>
    <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_polls.png", alt: t("poll.icon_alt"), class: "align-sub" %>
        <h1 class="inline-block">Sugerencias de acción por tema</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-9 column end">
        <p>Esto es una descripción sobre el proceso participativo.</p>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/back_to' %>
    </div>
  </div>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <%= render Shared::BannerComponent.new("proposals") %>
      <%= render "categories" %>

      <% if true == false %>
        <div id="featured-proposals" class="row featured-proposals">
          <div class="small-12 column">
            <h2>
              <%= t("proposals.index.featured_proposals") %>
            </h2>
          </div>
          <% @featured_proposals.each do |featured_proposal| %>
            <%= render "featured_proposal", proposal: featured_proposal %>
          <% end %>
        </div>
      <% end %>

      <% unless params[:selected].present? %>
        <div class="row">
          <div class="small-12 column">
            <%= render "view_mode" %>
          </div>
        </div>
      <% end %>

      <% unless params[:selected].present? %>
        <%= render "shared/order_links", i18n_namespace: "proposals.index" %>
      <% end %>

      <% if @proposals.any? %>
        <div class="show-for-small-only">
          <%= link_to t("proposals.index.start_proposal"),
                      new_proposal_path,
                      class: "button expanded" %>
        </div>
      <% end %>

      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <% if proposals_default_view? %>
            <%= render partial: "proposals/proposal", collection: @proposals %>
          <% else %>
            <% @proposals.each do |proposal| %>
              <%= render "/proposals/proposal_minimal", proposal: proposal %>
            <% end %>
          <% end %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user) %>
        <% end %>
        <%= paginate @proposals %>

      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <div class="desktop-view">
          <%= render "shared/search_form",
                    search_path: proposals_path(page: 1),
                    i18n_namespace: "proposals.index.search_form" %>
        </div>
        <% if params[:search] and @categories.where({name: params[:search]}).exists? %>
          <%= link_to 'Crear sugerencia',
                      new_proposal_path(:chapter => params[:search]),
                      class: "button expanded" %>
        <% end %>
        <% if true == false and params[:retired].blank? %>
          <%= render "shared/tag_cloud", taggable: "Proposal" %>
          <%= render "retired" %>
          <%= render "proposals_lists" %>
        <% end %>
      </aside>
    </div>

  </div>
</main>
