<% provide :title do %><%= @proposal.title %><% end %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: proposal_url(@proposal),
            social_title: @proposal.title,
            social_description: @proposal.summary %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposal_url(@proposal) %>
<% end %>

<% cache [locale_and_user_status(@proposal), @proposal, @proposal.author, Flag.flagged?(current_user, @proposal), @proposal_votes] do %>
  <%= render "shared/section_header",
    color: @proposal.is_initiative ? "#3ba5df" : "#33cc9d",
    section_image: @proposal.is_initiative ? "/images/h-iniciativas.svg" : "/images/propuestas-image.svg",
    title: @proposal.is_initiative ? "Iniciativas" : "Propuestas",
    title2: "Ciudadanas",
    description: @proposal.is_initiative ? "En esta sección los usuarios pueden plantear sus iniciativas respecto a ciertos temas que se propongan desde la institución. Dichas iniciativas podrán ser apoyadas por el resto de los usuarios que lo estimen pertinente." : "En esta sección podrás realizar propuestas con el objetivo de mejorar la Municipalidad y/o nuestra comunidad. Para publicar tus ideas debes completar un formulario sencillo que permite adjuntar documentos relevantes."
  %>  
  <div id="<%= dom_id(@proposal) %>" class="row mb-5">
    <div class="small-12 medium-8 column">

      <h1>¡Has creado una <%= @proposal.is_initiative ? 'iniciativa' : 'propuesta' %>!</h1>

      <p>
        <span class="lead"><%= t("proposals.proposal.share.guide") %></span>
      </p>

      <%= render "shared/social_share",
        title: @proposal.title,
        url: proposal_url(@proposal),
        description: @proposal.summary,
        mobile: @proposal.title %>

    </div>

    <div class="small-12 medium-4 column">
      <div class="callout light">
        <p>
          <strong><%= @proposal.title %></strong><br>
          Código de la <%= @proposal.is_initiative ? 'iniciativa' : 'propuesta' %>: <%= @proposal.code %>
        </p>
      </div>
    </div>
  </div>
<% end %>
