<% preview = false unless local_assigns.has_key? :preview %>
<% provide :title do %><%= @proposal.title %><% end %>
<% content_for :meta_description do %><%= @proposal.summary %><% end %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: proposal_url(@proposal),
              social_title: @proposal.title,
              social_description: @proposal.summary,
              twitter_image_url: (@proposal.image.present? ? @proposal.image_url(:thumb) : nil),
              og_image_url: (@proposal.image.present? ? @proposal.image_url(:thumb) : nil) %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposal_url(@proposal) %>
<% end %>

<% cache [locale_and_user_status(@proposal),
          @proposal,
          @proposal.author,
          Flag.flagged?(current_user, @proposal),
          @proposal.followed_by?(current_user),
          @proposal_votes] do %>
  <div class="proposal-show">
    <% if @proposal.main_theme.present? %>
      <%= render "shared/section_header",
        color: @proposal.main_theme.primary_color.present? ? @proposal.main_theme.primary_color : "#f6b617",
        section_image: @proposal.main_theme.image,
        title: @proposal.title,
        pre_title: @proposal.main_theme.name,
        show_buildings: true
      %>
    <% else %>
      <%= render "shared/section_header",
        color: "#f6b617",
        section_image: "/images/propuestas-image.svg",
        title: @proposal.title,
        show_buildings: true
      %>
    <% end %>
    <div id="<%= dom_id(@proposal) %>" class="row">
      <div class="small-12 medium-12 column">
        <%= render "proposals/info", proposal: @proposal %>

        <%= render "proposals/social_share", proposal: @proposal, share_title: t("proposals.show.share") %>
        
        <% if current_user and current_user.administrator? %>
        <div class="mt-1">
          <%= link_to 'Editar', edit_proposal_path(@proposal.id), class: 'solid-button-sm', style: 'text-decoration: none; color: white;' %>
        </div>
        <% end %>
        <div class="js-moderator-proposal-actions margin">
          <% if @proposal.author == current_user %>
            <%= link_to 'Panel de control', progress_proposal_dashboard_path(@proposal) %> |
          <% end %>
          <%= render "proposals/actions", proposal: @proposal %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="tabs-content" data-tabs-content="proposals_tabs">
  <div class="tabs-panel is-active" id="tab-comments">
    <%= render "proposals/comments" %>
  </div>

  <%= render "proposals/notifications" %>
  <%= render "milestones/milestones", milestoneable: @proposal %>
</div>

<% if @proposal.main_theme.present? %>
  <div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: @proposal.main_theme.secondary_color, color2: @proposal.main_theme.primary_color do %>
    <% end %>
  </div>
<% else %>
  <div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#fce57d', color2: '#f5b517' do %>
    <% end %>
  </div>
<% end %>
