<h2>Comentarios</h2>

<table class="clear">
  <thead>
    <tr>
      <th>Comentario</th>
      <th>Moderar</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.where(ignored_flag_at: nil).each do |comment| %>
      <tr id="comment_<%= comment.id %>">
        <td>
          <%= comment.commentable_type.constantize.model_name.human %> -
          <%= link_to comment.commentable.title, commentable_path(comment), target: "_blank" %>
          <br>
          <span class="date"><%= l comment.updated_at.to_date %></span>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= comment.flags_count %><span class="icon-flag flag-disable"></span>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= comment.author.username %>
          <br>
          <div class="moderation-description">
            <%= comment.body %>
          </div>
        </td>
        <td>
          <%=
            link_to 'Marcar como válido',
            validate_comment_path(comment.id), 
            method: :post, 
            class: 'solid-button-sm', 
            style: 'text-decoration: none; color: white;', 
            data: {confirm: '¿Estás seguro que deseas marcar como válido este comentario?'}
          %>
          <%=
            link_to 'Ocultar',
            custom_hide_comment_path(comment.id), 
            method: :post, 
            class: 'solid-button-danger-sm', 
            style: 'text-decoration: none; color: white;', 
            data: {confirm: '¿Estás seguro que deseas ocultar este comentario?'}
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>