<% 
  @regions = [
    "Arica y Parinacota",
    "Tarapacá",
    "Antofagasta",
    "Atacama",
    "Coquimbo",
    "Valparaíso",
    "Metropolitana de Santiago",
    "Del Libertador Gral. Bernardo O’Higgins",
    "Del Maule",
    "Ñuble",
    "Del Biobío",
    "De la Araucanía",
    "De los Ríos",
    "De los Lagos",
    "Aysén del Gral. Carlos Ibáñez del Campo",
    "Magallanes y de la Antártica Chilena",
  ]
%>

<%
  @gender = [
    'Femenino',
    'Masculino',
    'Transgénero',
    'Otro',
    'No sé',
    'Prefiero no decir',
  ]
%>

<%
  @education = [
    'Sin educación formal',
    'Básica incompleta',
    'Básica completa',
    'Media incompleta',
    'Media completa',
    'Superior incompleta',
    'Superior completa',
    'Otra',
    'Prefiero no decir',
  ]
%>

<% @indigenous_options = [
  'Mapuche',
  'Aymara',
  'Rapa Nui',
  'Quechua',
  'Colla',
  'Diaguita',
  'Chango',
  'Kawashkar',
  'Licanantay',
  'Yámana o Yagán',
  'Afrodescendiente',
  'No pertenezco a ningún pueblo indígena ni tribal',
  'Prefiero no decir',
] %>

<script src="/js/jquery.steps.min.js"></script>
<%= form_with(model: form, validate: true, local: true, id: 'form') do |form| %>
  <ol class="custom-form-root">
    <div id="wizard">
      <h1>Paso 1</h1>
      <div>
      <li id="step_1">
        <label for="form_q1" style="font-weight: normal;">
          En el marco de la elaboración del segundo Plan de Acción Nacional de Derechos
          Humanos y Empresas, se han identificado diversas temáticas a profundizar. En
          su opinión, <strong>¿Cuáles de las siguientes acciones requieren de un impulso
          preferente por parte del Estado?</strong> Seleccione hasta tres opciones.
        </label>
        <br>
        <div class="custom-il">
          <%= check_box_tag 'q1[]', 'Incorporar procesos de identificación y gestión de impactos (debida diligencia) en las empresas públicas.', false, {id: 'q1_1'} %>
          <%= label_tag 'q1_1', 'Incorporar procesos de identificación y gestión de impactos (debida diligencia) en las empresas públicas.' %>
        </div>
        <div class="custom-il">
        <%= check_box_tag 'q1[]', 'Avanzar en el establecimiento de mecanismos de reparación por parte de las empresas.', false, {id: 'q1_2'} %>
        <%= label_tag 'q1_2', 'Avanzar en el establecimiento de mecanismos de reparación por parte de las empresas.' %>
        </div>
        <div class="custom-il">
        <%= check_box_tag 'q1[]', 'Que las empresas extiendan sus políticas de derechos humanos a toda su cadena de suministros.', false, {id: 'q1_3'} %>
        <%= label_tag 'q1_3', 'Que las empresas extiendan sus políticas de derechos humanos a toda su cadena de suministros.' %>
        </div>
        <div class="custom-il">
        <%= check_box_tag 'q1[]', 'Incorporar la temática de empresas y derechos humanos en las pequeñas y medianas empresas.', false, {id: 'q1_4'} %>
        <%= label_tag 'q1_4', 'Incorporar la temática de empresas y derechos humanos en las pequeñas y medianas empresas.' %>
        </div>
        <div class="custom-il">
        <%= check_box_tag 'q1[]', 'Incorporar el enfoque de género de manera transversal en las empresas.', false, {id: 'q1_5'} %>
        <%= label_tag 'q1_5', 'Incorporar el enfoque de género de manera transversal en las empresas.' %>
        </div>
        <br>
        Otro:
        <br>
        <small>(100 caracteres)</small>
        <%= form.text_field :q1o, label: false, maxlength: 100 %>
      <br>
      </li>
      </div>

      <!-- 2 -->
      <h1>Paso 2</h1>
      <div>
      <li id="step_2" value="2">
      La relación entre las personas y las empresas puede traducirse en diversos
      tipos de interacciones. Las más habituales son aquellas que sitúan a la
      persona como consumidor, trabajador(a) o miembro de una comunidad que
      convive con la actividad de una empresa.
      <br>
      <br>
        <ol>
          <!-- 2.1 -->
          <li class="custom-li" number="2" value="1">
            <label for="form_q21" style="font-weight: normal;">
              Desde su experiencia como integrante de una comunidad que convive con
              actividades empresariales, <strong>¿Cuáles de los siguientes ámbitos requieren de
              una atención preferente por parte de las empresas?</strong> Seleccione hasta tres
              opciones.
            </label>
            <br>
            <div class="custom-il">
              <%= check_box_tag 'q21[]', 'Cuidado del medio ambiente.', false, {id: 'q21_1'} %>
              <%= label_tag 'q21_1', 'Cuidado del medio ambiente.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q21[]', 'Medidas de reclamación y reparación.', false, {id: 'q21_2'} %>
            <%= label_tag 'q21_2', 'Medidas de reclamación y reparación.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q21[]', 'Salud de las personas integrantes de la comunidad.', false, {id: 'q21_3'} %>
            <%= label_tag 'q21_3', 'Salud de las personas integrantes de la comunidad.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q21[]', 'Mecanismos de información y transparencia.', false, {id: 'q21_4'} %>
            <%= label_tag 'q21_4', 'Mecanismos de información y transparencia.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q21[]', 'Políticas de calidad de vida para la comunidad.', false, {id: 'q21_5'} %>
            <%= label_tag 'q21_5', 'Políticas de calidad de vida para la comunidad.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q21[]', 'Mecanismos de participación o consulta comunitaria.', false, {id: 'q21_6'} %>
            <%= label_tag 'q21_6', 'Mecanismos de participación o consulta comunitaria.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q21[]', 'No integro una comunidad que convive con actividades empresariales.', false, {id: 'q21_7'} %>
            <%= label_tag 'q21_7', 'No integro una comunidad que convive con actividades empresariales.' %>
            </div>
            <br>
            Otro
            <br>
            <small>(100 caracteres)</small>
            <%= form.text_field :q21o, label: false, maxlength: 100 %>
          </li>
          <br>
          <!-- 2.2 -->
          <li class="custom-li" number="2" value="2">
            <label for="form_q22" style="font-weight: normal;">
              Desde su experiencia como trabajador(a), <strong>¿cuáles de los siguientes ámbitos
              requieren de una atención preferente por parte de las empresas?</strong> Seleccione
              hasta tres opciones.
            </label>
            <br>
            <div class="custom-il">
            <%= check_box_tag 'q22[]', 'Equidad salarial.', false, {id: 'q22_1'} %>
            <%= label_tag 'q22_1', 'Equidad salarial.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q22[]', 'Ejercicio de los derechos sindicales.', false, {id: 'q22_2'} %>
            <%= label_tag 'q22_2', 'Ejercicio de los derechos sindicales.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q22[]', 'Condiciones de seguridad en el trabajo.', false, {id: 'q22_3'} %>
            <%= label_tag 'q22_3', 'Condiciones de seguridad en el trabajo.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q22[]', 'Políticas de Inclusión y no discriminación.', false, {id: 'q22_4'} %>
            <%= label_tag 'q22_4', 'Políticas de Inclusión y no discriminación.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q22[]', 'Políticas de conciliación relacionadas al trabajo y familia.', false, {id: 'q22_5'} %>
            <%= label_tag 'q22_5', 'Políticas de conciliación relacionadas al trabajo y familia.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q22[]', 'Resguardo de la privacidad e intimidad de los trabajadores/as.', false, {id: 'q22_6'} %>
            <%= label_tag 'q22_6', 'Resguardo de la privacidad e intimidad de los trabajadores/as.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q22[]', 'No soy trabajador(a).', false, {id: 'q22_7'} %>
            <%= label_tag 'q22_7', 'No soy trabajador(a).' %>
            </div>
            <br>
            Otro(a):
            <br>
            <small>(100 caracteres)</small>
            <%= form.text_field :q22o, label: false, maxlength: 100 %>
          </li>
          <br>
          <!-- 2.3 -->
          <li class="custom-li" number="2" value="3">
            <label for="form_q23" style="font-weight: normal;">
              Desde su experiencia como cliente de una empresa o consumidor de un
              servicio, <strong>¿cuáles de los siguientes ámbitos requieren de una atención
              preferente por parte de las empresas?</strong> Seleccione hasta tres opciones.
            </label>
            <br>
            <div class="custom-il">
            <%= check_box_tag 'q23[]', 'Respeto al cuidado del medio ambiente y contribuir a la mitigación del cambio climático.', false, {id: 'q23_1'} %>
            <%= label_tag 'q23_1', 'Respeto al cuidado del medio ambiente y contribuir a la mitigación del cambio climático.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q23[]', 'Acceso a la información y transparencia de los productos y servicios que ofrece la empresa.', false, {id: 'q23_2'} %>
            <%= label_tag 'q23_2', 'Acceso a la información y transparencia de los productos y servicios que ofrece la empresa.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q23[]', 'Preocupación por la integridad física y mental de sus usuarios.', false, {id: 'q23_3'} %>
            <%= label_tag 'q23_3', 'Preocupación por la integridad física y mental de sus usuarios.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q23[]', 'Garantía de igualdad y no discriminación en el trato.', false, {id: 'q23_4'} %>
            <%= label_tag 'q23_4', 'Garantía de igualdad y no discriminación en el trato.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q23[]', 'Resguardo de la privacidad en el uso de los datos personales.', false, {id: 'q23_5'} %>
            <%= label_tag 'q23_5', 'Resguardo de la privacidad en el uso de los datos personales.' %>
            </div>
            <br>
            Otro(a):
            <br>
            <small>(100 caracteres)</small>
            <%= form.text_field :q23o, label: false, maxlength: 100 %>
          </li>
        </ol>
      <br>
      </li>
      </div>

      <!-- 3 -->
      <h1>Paso 3</h1>
      <div>
      <li id="step_3" value="3">
        En la relación de las empresas con las personas se pueden producir situaciones
        que impliquen la afectación de sus derechos humanos. Por ejemplo, cuando se
        discrimina a un cliente(a) por su género u origen étnico; cuando los
        trabajadores no cuentan con las condiciones mínimas de seguridad para su
        labor, o cuando se genera un daño a la salud de las personas.
        <br><br>
        <ol>
          <!-- 3.1 -->
          <li class="custom-li" number="3" value="1">
            <label for="form_q31" style="font-weight: normal;"><strong>
              En tal sentido, ¿Conoce alguna situación en que sus derechos o los de otras
              personas se vieran afectados por la actividad de una empresa?
            </strong></label>
            <br>
            <%= form.radio_button :q31, 'Sí.', label: 'Sí.' %>
            <br>
            <%= form.radio_button :q31, 'No.', label: 'No.' %>
          <br>
          <br>
          </li>
          <!-- 3.2 -->
          <li class="custom-li" number="3" value="2" id="c-q32">
            <label for="form_q32" style="font-weight: normal;"><strong>
              En caso de haber respondido afirmativamente, ¿qué acciones realizó usted, la
              persona o comunidad afectada?
            </strong></label>
            <br>
            <div class="custom-il">
              <%= check_box_tag 'q32[]', 'Nada.', false, {id: 'q32_1'} %>
              <%= label_tag 'q32_1', 'Nada.' %>
            </div>
            <div class="custom-il">
              <%= check_box_tag 'q32[]', 'Presentó una acción judicial.', false, {id: 'q32_2'} %>
              <%= label_tag 'q32_2', 'Presentó una acción judicial.' %>
            </div>
            <div class="custom-il">
              <%= check_box_tag 'q32[]', 'Presentó un reclamo ante la empresa.', false, {id: 'q32_3'} %>
              <%= label_tag 'q32_3', 'Presentó un reclamo ante la empresa.' %>
            </div>
            <div class="custom-il">
              <%= check_box_tag 'q32[]', 'Presentó una denuncia o reclamo ante un municipio o algún órgano administrativo como, por ejemplo, la Superintendencia del Medio Ambiente, Superintendencia de Salud o Dirección del Trabajo.', false, {id: 'q32_4'} %>
              <%= label_tag 'q32_4', 'Presentó una denuncia o reclamo ante un municipio o algún órgano administrativo como, por ejemplo, la Superintendencia del Medio Ambiente, Superintendencia de Salud o Dirección del Trabajo.' %>
            </div>
            <div class="custom-il">
              <%= check_box_tag 'q32[]', 'Presentó una denuncia ante organismos nacionales o internacionales de derechos humanos.', false, {id: 'q32_5'} %>
              <%= label_tag 'q32_5', 'Presentó una denuncia ante organismos nacionales o internacionales de derechos humanos.' %>
            </div>
            <br>
            Otro(a):
            <br>
            <small>(100 caracteres)</small>
            <%= form.text_field :q32o, label: false, maxlength: 100 %>
          <br>
          </li>
          <!-- 3.3 -->
          <li class="custom-li" number="3" value="3" id="c-q33">
            <label for="form_q33" style="font-weight: normal;"><strong>
              En caso de haber realizado alguna una acción, ¿obtuvo una respuesta satisfactoria?
            </strong></label>
            <br>
            <%= form.radio_button :q33, 'Sí.', label: 'Sí.' %>
            <br>
            <%= form.radio_button :q33, 'No.', label: 'No.' %>
          <br>
          <br>
          </li>
          <!-- 3.4 -->
          <li class="custom-li" id="li-34" number="3" value="4">
            <label for="form_q34" style="font-weight: normal;"><strong>
              En su opinión, ¿qué inconvenientes enfrentan las personas o comunidades
              para realizar acciones de denuncia, reclamación o queja en caso de afectación
              de derechos por parte de las empresas? Seleccione hasta tres opciones.
            </strong></label>
            <br>
            <div class="custom-il">
            <%= check_box_tag 'q34[]', 'Altos costos económicos involucrados.', false, {id: 'q34_1'} %>
            <%= label_tag 'q34_1', 'Altos costos económicos involucrados.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q34[]', 'Mecanismos de reclamación existentes son inadecuados.', false, {id: 'q34_2'} %>
            <%= label_tag 'q34_2', 'Mecanismos de reclamación existentes son inadecuados.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q34[]', 'Falta de conocimiento o de información sobre los mecanismos de reclamación existentes.', false, {id: 'q34_3'} %>
            <%= label_tag 'q34_3', 'Falta de conocimiento o de información sobre los mecanismos de reclamación existentes.' %>
            </div>
            <div class="custom-il">
            <%= check_box_tag 'q34[]', 'Excesiva demora en la tramitación de las denuncias, acciones o quejas.', false, {id: 'q34_4'} %>
            <%= label_tag 'q34_4', 'Excesiva demora en la tramitación de las denuncias, acciones o quejas.' %>
            </div>
            <br>
            Otro(a):
            <br>
            <small>(100 caracteres)</small>
            <%= form.text_field :q34o, label: false, maxlength: 100 %>
          </li>
        </ol>
      <br>
      </li>
      </div>
      
      <!-- 4 -->
      <h1>Paso 4</h1>
      <div>
      <li id="step_4a" value="4">
        <label for="form_q4" style="font-weight: normal;">
          El Primer Plan de Acción Nacional de Derechos Humanos y Empresas contempló
          146 acciones comprometidas por 17 instituciones del Estado, por ejemplo, la
          agenda de “género y energía”, cuyo objetivo fue potenciar el rol de la mujer en
          el desarrollo del sector energético nacional.
          <br><br>
          Para finalizar esta encuesta, y considerando que su opinión es muy importante,
          lo(a) invitamos a <strong>proponer un máximo de tres acciones que puedan ser
          incorporadas en el segundo Plan de Acción Nacional</strong>, indicando la institución
          pública que debería realizarla, en caso de que pueda identificarla (600
          caracteres cada una).
          <br>
        </label>
        <br>
        <label>Acción 1:</label>
        <%= form.text_area :q4, label: false, rows: 6, maxlength: 600 %>
        <label>Acción 2:</label>
        <%= form.text_area :q4, label: false, rows: 6, maxlength: 600 %>
        <label>Acción 3:</label>
        <%= form.text_area :q4, label: false, rows: 6, maxlength: 600 %>
      <br>
      </li>
      </div>

      <!-- 4 -->
      <h1>Paso 5</h1>
      <div class="row" style="margin-bottom: 30px">
        <div class="small-12 column">
          <label style="font-weight: bold;">Edad</label>
          <%= number_field_tag 'user_age', current_user.custom_age, min: 0, max: 100, placeholder: 'Edad' %>
        </div>
        <div class="small-12 column">
          <label style="font-weight: bold;">Género</label>
          <%= select_tag 'user_gender',
            options_for_select(@gender, :selected => current_user.gender || 'nil'),
            prompt: 'Elija una opción'
          %>
        </div>
        <div class="small-12 column">
          <label style="font-weight: bold;">Nacionalidad</label>
          <%= text_field_tag 'user_nationality',
            current_user.nationality, maxlength: 20, placeholder: 'Nacionalidad'
          %>
        </div>
        <div class="small-12 column">
          <label style="font-weight: bold;">Región donde reside</label>
          <%= select_tag 'user_region',
            options_for_select(@regions, :selected => current_user.region || nil),
            prompt: 'Elija una opción'
          %>
        </div>
        <div class="small-12 column">
          <label style="font-weight: bold;">Nivel educacional</label>
          <%= select_tag 'user_education',
            options_for_select(@education, :selected => current_user.education || nil),
            prompt: 'Elija una opción'
          %>
        </div>
        <div class="small-12 column">
          <label style="font-weight: bold;">¿Tiene alguna discapacidad?</label>
          <%= check_box_tag 'user_disability', current_user.disability?, current_user.disability?, label: 'Si' %> Sí
        </div>
        <div class="small-12 column">
          <label style="font-weight: bold;">¿Pertenece a algún pueblo indígena?</label>
          <%= select_tag 'user_indigenous',
            options_for_select(@indigenous_options, :selected => current_user.indigenous || nil),
            prompt: 'Elija una opción'
          %>
        </div>
        <div class="small-12 column">
        </div>
      </div>
    </div>
  </ol>
<% end %>

<script>
let firstLoad = true;

$( function() {
  $( "#sortable" ).sortable();
  $( "#sortable" ).disableSelection();
} );

$(document).ready(function() {
  let result = [];
  
  $('#sortable').sortable();

  if (firstLoad) {
    result = []
 
    $('#sortable li').each(function() {
      result.push($(this).text())
    });

    $('#form_q1').val(result.join(', '));
    firstLoad = false;
  }

  $('#sortable').on('sortstop', function() {
    result = []
 
    $('#sortable li').each(function() {
      result.push($(this).text())
    });
    $('#form_q1').val(result.join(', '));
  });

  $('input[name="q21[]"]').on('change', function() {
    if ($('input[id="q21_8"]').is(':checked')) {
      $('input[name="q21[]"]').each(function() {
        if ($(this).attr('id') !== 'q21_8') {
          $(this).attr('disabled', true)
          $(this).prop('checked', false)
        }
      })
    } else {
      if ($('input[name="q21[]"]:checked').length >= 3) {
      $('input[name="q21[]"]').each(function() {
        if (!this.checked) {
          $(this).attr('disabled', true)
        }
      })
    } else {
      $('input[name="q21[]"]').each(function() {
        $(this).attr('disabled', false)
      })
    }
    }
  })

  $('input[name="q22[]"]').on('change', function() {
    if ($('input[name="q22[]"]:checked').length >= 3) {
      $('input[name="q22[]"]').each(function() {
        if (!this.checked) {
          $(this).attr('disabled', true)
        }
      })
    } else {
      $('input[name="q22[]"]').each(function() {
        $(this).attr('disabled', false)
      })
    }
  })

  $('input[name="q23[]"]').on('change', function() {
    if ($('input[name="q23[]"]:checked').length >= 3) {
      $('input[name="q23[]"]').each(function() {
        if (!this.checked) {
          $(this).attr('disabled', true)
        }
      })
    } else {
      $('input[name="q23[]"]').each(function() {
        $(this).attr('disabled', false)
      })
    }
  })

  $('input[name="q1[]"]').on('change', function() {
    if ($('input[name="q1[]"]:checked').length >= 3) {
      $('input[name="q1[]"]').each(function() {
        if (!this.checked) {
          $(this).attr('disabled', true)
        }
      })
    } else {
      $('input[name="q1[]"]').each(function() {
        $(this).attr('disabled', false)
      })
    }
  })

  $('input[name="q34[]"]').on('change', function() {
    if ($('input[name="q34[]"]:checked').length >= 3) {
      $('input[name="q34[]"]').each(function() {
        if (!this.checked) {
          $(this).attr('disabled', true)
        }
      })
    } else {
      $('input[name="q34[]"]').each(function() {
        $(this).attr('disabled', false)
      })
    }
  })
});
</script>

<script>
  let wizard = $("#wizard").steps({
    enableKeyNavigation: false,
    transitionEffect: 0,
    labels: {
      previous: 'Anterior',
      next: 'Siguiente',
      finish: 'Finalizar',
    },
    onFinishing: function() {
      $('#form').submit();
    },
    onStepChanged: function() {window.scrollTo(0, 0);}
  });

  $('.steps').hide()
  $('.title').hide()
</script>

<script>
// Conditional q3
$(document).ready(function () {
  $('#c-q32').hide()
  $('#c-q33').hide()

  $('input[name="form[q31]"]').change(function() {
    if ($('#form_q31_sí:checked')[0]) {
      $('#c-q32').show()
      $('#c-q33').show()
    } else {
      $('#c-q32').hide()
      $('#c-q33').hide()
    }
  })
})
</script>

<script>
// Validation
$('form').submit(function(e) {
  e.preventDefault()
  if (!document.getElementById('form').checkValidity()) {
    document.getElementById('form').reportValidity();
  } else {
    document.getElementById('form').submit()
  }
})
</script>
  
<style>
ul[role=menu] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

ul[role=menu] > li {
  text-decoration: none;
  list-style: none;
  color: white;
}

ul[role=menu] > li > a {
  background-color: #66b135;
  text-decoration: none;
  color: white;
  padding: 0.85em 1em;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}

ul[role=menu] > li > a:hover {
  background-color: rgba(102, 177, 53, 0.7);
}

.disabled {
  visibility: hidden;
}
</style>