<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @form.q1 %>
</p>

<p>
  <strong>Q1o:</strong>
  <%= @form.q1o %>
</p>

<p>
  <strong>Q21:</strong>
  <%= @form.q21 %>
</p>

<p>
  <strong>Q21o:</strong>
  <%= @form.q21o %>
</p>

<p>
  <strong>Q22:</strong>
  <%= @form.q22 %>
</p>

<p>
  <strong>Q22o:</strong>
  <%= @form.q22o %>
</p>

<p>
  <strong>Q23:</strong>
  <%= @form.q23 %>
</p>

<p>
  <strong>Q23o:</strong>
  <%= @form.q23o %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @form.q3 %>
</p>

<p>
  <strong>Q41:</strong>
  <%= @form.q41 %>
</p>

<p>
  <strong>Q42:</strong>
  <%= @form.q42 %>
</p>

<p>
  <strong>Q43:</strong>
  <%= @form.q43 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @form.q5 %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
