<%= form_with(model: functional_organization, local: true, url: action_name == 'edit' ? admin_functional_organization_path : admin_functional_organizations_path) do |form| %>
  <div class="field">
    <%= form.text_field :name, label: 'Nombre', required: true, class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.date_field :conformation_date, label: 'Fecha de conformación', class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.text_field :president_name, label: 'Nombre presidente', class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.phone_field :phone_number, label: 'Teléfono', class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.email_field :email, class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.text_field :address, label: 'Dirección', class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.text_field :mission, label: 'Misión', class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.text_field :view, label: 'Visión', class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.text_field :whatsapp, class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.text_field :twitter, class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.text_field :facebook, class: 'custom-input' %>
  </div>

  <div class="field">
    <%= form.text_field :instagram, class: 'custom-input'  %>
  </div>

  <div class="field">
    <%= form.url_field :url, label: 'URL página web', class: 'custom-input'  %>
  </div>

  <div class="field">
    <%=
      form.collection_select :main_theme_id,
      MainTheme.all,
      :id,
      :name,
      {prompt: 'Elige un eje temático', label: 'Eje Temático'},
      {class: 'custom-input', style: 'width: 100%;', required: true}
    %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'solid-button-sm' %>
  </div>
<% end %>
