<div class="row stats-numbers">
  <h3>Iniciativas Municipales y Propuestas Ciudadanas</h3>
  <div class="small-12 medium-3 column">
    <p>
      Propuestas enviadas<br>
      <span class="number"><%= current_user.proposals.count %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p>
      Apoyos recibidos<br>
      <span class="number"><%= current_user.proposals.map{|p| p.total_votes}.sum %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p>
      Apoyos entregados<br>
      <span class="number"><%= current_user.votes.where(votable_type: 'Proposal').count %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p>
      Comentarios realizados<br>
      <span class="number"><%= current_user.comments.where(commentable_type: 'Proposal', hidden_at: nil).count %></span>
    </p>
  </div>
</div>

<div class="row stats-numbers mt-2">
  <h3>Consultas Ciudadanas</h3>
  <div class="small-12 medium-3 column">
    <p>
      Consultas respondidas<br>
      <span class="number"><%= Poll::Voter.where(user_id: current_user.id).count %></span>
    </p>
  </div>
  <div class="small-12 medium-9 column">
    <p>
      Comentarios realizados<br>
      <span class="number"><%= current_user.comments.where(commentable_type: 'Poll', hidden_at: nil).count %></span>
    </p>
  </div>
</div>
