<div class="account-form">
  <% if not current_user.is_cu_confirmed? %>
    <div class="row text-center" style="margin-bottom: 3rem;">
      <p>
        <strong>¡Verifica tu cuenta con Clave Única para acceder a más procesos participativos!</strong>
      </p>
      
      <div class="flex-row flex-jc-center">
        <a class="btn-cu btn-m btn-color-estandar" href="<%= current_user.clave_unica_authentication_url %>" title="Iniciar sesión en ClaveÚnica">
          <span class="cl-claveunica"></span>
          <span class="texto">Iniciar sesión</span>
        </a>
      </div>
    </div>
  <% end %>

  <%= form_for @account, as: :account, url: account_path do |f| %>
    <%= render "shared/errors", resource: @account %>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.text_field :first_name, label: 'Nombre', disabled: true %>
      </div>
      <div class="small-12 medium-6 column">
        <%= f.text_field :last_name, label: 'Apellido', disabled: true %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.text_field :document_number, label: 'RUT', disabled: true %>
      </div>
      <div class="small-12 medium-6 column">
        <%=
          f.date_field :date_of_birth,
          label: 'Fecha de nacimiento',
          disabled: true
        %>
      </div>
    </div>


    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.select :gender,
          [
            'Masculino',
            'Femenino',
            'Otro'
          ],
          {
            include_blank: 'Elige un género',
            label: 'Género',
          },
          {
            required: true
          }
        %>
      </div>
      <div class="small-12 medium-6 column">
        <%= 
          f.collection_select :commune_id,
          [*Commune.all, OpenStruct.new(id: nil, name: 'Otra')],
          :id,
          :name,
          { prompt: 'Elige una comuna', label: 'Comuna' },
          { required: true }
        %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 column">
        <%= label_tag 'with_social_organization', '¿Pertenece a una organización social?' %>
        <%= check_box_tag 'with_social_organization', true, !current_user.social_organization.blank? %> Sí
        <div id="social-organization-input" style="<%= current_user.social_organization.blank? ? 'display: none;' : '' %>">
          <%= f.text_field :social_organization, label: '¿Cuál es el nombre de la organización social?' %>
        </div>
      </div>
    </div>

    <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
  <% end %>
</div>

<div>
  <%= link_to t("account.show.change_credentials_link"), edit_user_registration_path, class: "button hollow" %>
  <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "button hollow alert" %>
</div>

<script>
  $('#with_social_organization').on('change', function() {
    if ($('#with_social_organization').prop('checked')) {
      $('#social-organization-input').show()
      $('#user_social_organization').prop('required', true)
    } else {
      $('#user_social_organization').prop('required', false)
      $('#social-organization-input').hide()
    }
  })
</script>
