<div class="padding-top-for-header"></div>
<div class="row account mb-2">
  <div class="small-12 column">
    <div class="float-right text-right">
      <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "delete" %>
    </div>

    <h1 class="inline-block"><%= t("account.show.title") %></h1>

    <div class="row">
      <div class="small-12 medium-6 column">
        <p>
          <label><strong>
            Nombre completo
          </strong></label>
          <%= current_user.first_name %> <%= current_user.last_name %> <%= current_user.maiden_name %>
        </p>
        <% unless current_user.comuna.nil? %>
        <p>
          <label><strong>
            Comuna
          </strong></label>
          <%= current_user.comuna.downcase.titleize %>
        </p>
        <% end %>
        <% unless current_user.address.nil? %>
        <p>
          <label><strong>
            Dirección
          </strong></label>
          <%= current_user.address %>
          <% if current_user.house_reference.present? and current_user.house_reference != '' and current_user.house_type.present? and current_user.house_type != '' %>
            - <%= current_user.house_type %> <%= current_user.house_reference %>
          <% end %>
        </p>
        <% end %>
        <% if current_user.sector.present? %>
          <p>
            <label><strong>
              Sector de la comuna
            </strong></label>
              <%= current_user.sector.name %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
