<div class="padding-top-for-header"></div>
<div class="row account mb-2">
  <div class="small-12 column">
    <h1 class="inline-block">Mi cuenta</h1>
    <ul class="tabs" data-deep-link="true" data-tabs id="account-tabs">
      <li class="tabs-title is-active"><a href="#mis-datos" aria-selected="true">Mis datos</a></li>
      <li class="tabs-title"><a data-tabs-target="mi-actividad" href="#mi-actividad">Mi actividad</a></li>
      <li class="tabs-title"><a data-tabs-target="mis-preferencias" href="#mis-preferencias">Mis preferencias</a></li>
      <li class="tabs-title"><a data-tabs-target="tarjeta-vecino" href="#tarjeta-vecino">Tarjeta Vecino</a></li>
      <li class="tabs-title"><a data-tabs-target="mensajes" href="#mensajes">
        Mensajes
        <% if current_user.notifications.unread.count > 0 %>
          <span class="badge alert" style="min-width: 1.6em; font-size: 0.8em;">
            <%= current_user.notifications.unread.count %>
          </span>
        <% end %>
      </a></li>
    </ul>

    <div class="row">
      <div class="small-12 column">
        <div class="tabs-content" data-tabs-content="account-tabs">
          <div class="tabs-panel is-active" id="mis-datos">
            <%= render 'info' %>
          </div>
          <div class="tabs-panel" id="mi-actividad">
            <%= render 'activity' %>
          </div>
          <div class="tabs-panel" id="mis-preferencias">
            <%= render 'preferences' %>
          </div>
          <div class="tabs-panel" id="tarjeta-vecino">
            <%= render 'tarjeta_vecino' %>
          </div>
          <div class="tabs-panel" id="mensajes">
            <%= render 'messages' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
