<% @can_participate, @reason = can_participate_and_reason %>

<div class="supports js-participation">

  <span class="total-supports <%= "no-button" unless voting_allowed? || user_voted_for? %>">
    <%= t("budgets.investments.investment.supports", count: investment.total_votes) %>
  </span>

  <div class="in-favor">
    <% if investment.should_show_votes? %>
      <% if user_voted_for? %>
        <div class="supported">
          <div class="callout success">
            <%= t("budgets.investments.votes.already_supported") %>
          </div>
          <% if feature?(:remove_investments_supports) %>
            <%= button_to remove_support_path,
                class: "button button-remove-support expanded",
                method: "delete",
                remote: true,
                "aria-label": remove_support_aria_label do %>
              <%= t("budgets.investments.votes.remove_support") %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <% if @can_participate %>
          <%= button_to t("budgets.investments.votes.support"), support_path,
              class: "button button-support expanded",
              title: t("budgets.investments.investment.support_title"),
              method: "post",
              remote: !display_support_alert?,
              data:   ({ confirm: confirm_vote_message } if display_support_alert?),
              disabled: !current_user || investment.budget.user_votes(current_user) >= Budget.max_votes_per_user,
              "aria-label": support_aria_label %>
        <% else %>
          <div class="callout warning">
            <%= @reason %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user and investment.budget.selecting? %>
      <small>
        Votos restantes: <%= investment.budget.remaining_votes(current_user) %>
      </small>
    <% end %>
  </div>

  <% if reason.present? && !user_voted_for? %>
    <div tabindex="0">
      <div class="js-participation-not-allowed participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <small>
            <%= sanitize(t("votes.budget_investments.#{reason}",
                  count: investment.group.max_votable_headings,
                  verify_account: link_to_verify_account,
                  signin: link_to_signin,
                  signup: link_to_signup,
                  supported_headings: (current_user && current_user.headings_voted_within_group(investment.group).map(&:name).sort.to_sentence)
                 )) %>
          </small>
        </p>
      </div>
    </div>
  <% end %>
</div>
