<%= render "shared/filter_subnav", i18n_namespace: "admin.users.index" %>
<% if @users.any? %>
  <h3><%= page_entries_info @users %></h3>

  <% if @current_filter == "erased" %>
    <%= render "users_erased" %>
  <% elsif @current_filter == 'without_sector' %>
    <%= render "users_without_sector" %>
  <% elsif @current_filter == 'not_validated' %>
    <%= render "users_not_validated" %>
  <% elsif @current_filter == 'las_condes' %>
    <%= render "users_las_condes" %>
  <% else %>
    <%= render "users_all" %>
  <% end %>

  <%= paginate @users %>

<% else %>
  <div class="callout primary">
    <%= t("admin.users.index.no_users") %>
  </div>
<% end %>
