<% @ballot = @budget.balloting? ? Budget::Ballot.where(user: current_user, budget: @budget).first_or_create! : Budget::Ballot.where(user: current_user, budget: @budget).first_or_initialize %>

<% if @budget.headings.first.present? %>
  <section class="no-margin-top margin-bottom">
    <div class="expanded jumbo-budget budget-heading padding">

      <div class="row">
        <div class="small-12 column">

          <% if can? :show, @ballot %>
            <%= link_to 'Revisar mis votos',
                        budget_ballot_path(@budget),
                        class: "button" %>
            <% if @ballot.confirmed_at.nil? %>
              <%= link_to 'Confirmar mis votos',
                          confirm_budget_ballot_path(@budget),
                          method: :put,
                          class: "button",
                          data: { confirm: '¿Estás seguro que deseas confirmar tus votos? Después de confirmar no podrás seguir votando.' } %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row progress-votes margin-top">
        <div class="small-12 column">
          <% if can? :show, @ballot %>
            <div id="check-ballot" style="display: none;">
              <%= link_to t("budgets.investments.header.check_ballot"),
                          budget_ballot_path(@budget) %>
            </div>
            <% if @ballot.valid_heading?(@budget.headings.first) %>
              <div class="progress-bar-nav" data-fixed-bar>
                <div id="progress_bar">
                  <%= render "budgets/ballot/progress_bar", ballot: @ballot, heading: @budget.headings.first %>
                </div>
                <%= image_tag '/images/budgets/moneybag.svg' %>
              </div>
            <% else %>
              <div class="small-12 medium-9">
                <div class="callout warning margin-top">
                  <%= sanitize(t("budgets.investments.header.different_heading_assigned",
                        heading_link: heading_link(@assigned_heading, @budget))) %>
                  <br>
                  <small>
                    <%= sanitize(t("budgets.investments.header.change_ballot",
                        check_ballot: link_to(t("budgets.investments.header.check_ballot_link"),
                                      budget_ballot_path(@budget)))) %>
                  </small>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <div class="expanded jumbo-budget padding no-margin-top margin-bottom">
    <div class="row">
      <div class="small-12 column">
        <%= back_link_to budget_path(@budget) %>

        <h2 class="margin-top">
          <%= t("budgets.investments.index.title") %>
        </h2>
      </div>
    </div>
  </div>
<% end %>
