<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: budget_investments_path(investment),
            social_title: investment.title,
            social_description: investment.description,
            twitter_image_url: (investment.image.present? ? investment.image_url(:thumb) : nil),
            og_image_url: (investment.image.present? ? investment.image_url(:thumb) : nil) %>
<% end %>

<% cache [locale_and_user_status(investment),
          investment,
          investment.author,
          Flag.flagged?(current_user, investment),
          investment.followed_by?(current_user),
          feature?(:remove_investments_supports),
          current_user&.voted_for?(investment)] do %>
  <div id="<%= dom_id(investment) %>" class="row">
    <div class="small-12 medium-12 column">
      <div class="debate-info" style="font-size: 0.9em;">
        <%= render "/shared/author_info", resource: investment %>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <%= l investment.created_at.to_date %>
      </div>

      <div class="debate-show mt-2">
        <div class="proposal-content-container">

          <div class="p-c-duo">
            <div>
              <div class="mt-2" style="display: flex; flex-direction: row; gap: 1em;">
                <%= image_tag '/images/p-icon-6.svg', style: 'width: 5em; margin-right: 10px;' %>

                <div style="display: flex; flex-direction: column;">
                  <h2><%= investment.title %></h2>
                  <% if investment.should_show_price? and investment.formatted_price %>
                    <h4>Inversi贸n de <%= investment.formatted_price %></h4>
                  <% end %>
                  <% if investment.winner and investment.budget.finished? %>
                    <%= investment.total_votes %> votos
                  <% end %>
                </div>
              </div>
              <div class="mt-3">
                <%= auto_link_already_sanitized_html wysiwyg(investment.description) %>
              </div>
            </div>

            <div style="display: flex; flex-direction: column; align-items: center;">
              <% if investment.unfeasible? && investment.valuation_finished? %>
                  <div class="callout warning">
                    <%= sanitize(t("budgets.investments.show.project_unfeasible")) %>
                  </div>
                <% elsif investment.winner? && @budget.finished? %>
                  <div class="callout success">
                    <strong><%= t("budgets.investments.show.project_winner") %></strong>
                  </div>
                <% elsif investment.selected? and !@budget.finished? %>
                  <div class="callout success">
                    <%= sanitize(t("budgets.investments.show.project_selected")) %>
                  </div>
                <% elsif @budget.balloting_or_later? and !@budget.finished? %>
                  <div class="callout warning">
                    <%= sanitize(t("budgets.investments.show.project_not_selected")) %>
                  </div>
                <% end %>

              <% if investment.should_show_votes? %>
                <div class="info-card custom-support-budgets">
                  <div class="info-card-header" style="background-color: #9346b8;">
                    <h1 style="font-size: 2em;">Apoyos</h1>
                  </div>
                  <div class="info-card-body" style="padding: 0;">
                    <div id="<%= dom_id(investment) %>_votes" class="text-center" style="justify-content: center;">
                      <%= render Budgets::Investments::VotesComponent.new(investment) %>
                    </div>
                  </div>
                </div>
              <% end %>

              <% if investment.should_show_ballots? %>
                <div class="info-card custom-support-budgets">
                  <div class="info-card-header" style="background-color: #9346b8;">
                    <h1 style="font-size: 2em;">Apoyos</h1>
                  </div>
                  <div class="info-card-body" style="padding: 0;">
                    <div class="text-center" style="justify-content: center;">
                      <div id="<%= dom_id(investment) %>_ballot">
                        <%= render "ballot",
                          investment: investment,
                          investment_ids: investment_ids,
                          ballot: ballot %>
                      </div>
                  </div>
                </div>
                </div>
              <% end %>

              <div class="mt-2">
                <% if investment.image.present? %>
                  <%= image_tag investment.image_url(:medium) %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <div class="mt-2">
        <%= render "shared/social_share",
          title: investment.title,
          image_url: image_absolute_url(investment.image, :thumb),
          url: budget_investment_url(investment.budget, investment),
          description: investment.title,
          mobile: investment.title %>
      </div>

      <div class="curved-container mt-2 row">
        <div class="column small-12 medium-4">
          <strong>Unidades vecinales</strong><br>
          <% if not investment.sectors.any? or investment.sectors.count == Sector.count %>
            Todas
          <% else %>
            <ul>
              <% investment.sectors.each do |sector| %>
                <li><%= sector.name %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="column small-12 medium-4">
          <strong>Documentos</strong><br>
          <% if investment.documents.any? %>
            <ul>
              <% investment.documents.each do |document| %>
                <%= link_to document.attachment.url, target: "_blank", rel: "nofollow" do %>
                  <li><%= document.title %></li>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            No hay documentos.
          <% end %>
        </div>
        <div class="column small-12 medium-4">
          <strong>Informaci贸n adicional de ubicaci贸n</strong><br>
          <% if investment.location.present? %>
            <%= investment.location %>
          <% else %>
            Sin informaci贸n.
          <% end %>
        </div>
      </div>
      
      <span class="js-flag-actions">
        <%= render "shared/flag_actions", flaggable: investment %>
      </span>

      <div class="mt-2">
      </div>
    </div>
  </div>
<% end %>
