<%= form_with(model: functional_organization, local: true) do |form| %>
  <% if functional_organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(functional_organization.errors.count, "error") %> prohibited this functional_organization from being saved:</h2>

      <ul>
      <% functional_organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :conformation_date %>
    <%= form.date_select :conformation_date %>
  </div>

  <div class="field">
    <%= form.label :president_name %>
    <%= form.text_field :president_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :mission %>
    <%= form.text_field :mission %>
  </div>

  <div class="field">
    <%= form.label :view %>
    <%= form.text_field :view %>
  </div>

  <div class="field">
    <%= form.label :whatsapp %>
    <%= form.text_field :whatsapp %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :instagram %>
    <%= form.text_field :instagram %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :main_theme_id %>
    <%= form.text_field :main_theme_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
