<div>
  <% budget.groups.each do |group| %>
  <section id="<%= dom_id(group) %>" aria-labelledby="<%= dom_id(group, :header) %>">
    <h4 id="<%= dom_id(group, :header) %>"><%= group.name %></h4>

    <% if true == false %>
    <div class="groups-actions">
      <%= action(:edit, group, "aria-label": true) %>
      <%= action(:destroy, group, method: :delete, confirm: true, "aria-label": true) %>
      <div></div>
    </div>
    <% end %>

    <%= render Admin::BudgetHeadings::HeadingsComponent.new(group.headings) %>
  </section>
<% end %>
</div>

<% if true == false %>
  <%= action(:new, budget, text: t("admin.budgets.show.add_group"), path: new_admin_budget_group_path(budget)) %>
<% end %>
