<% if true %>
  <% if defined? header.image %>
    <div class="img-container">
      <div class="small-12 medium-12 <%= "medium-9 small-centered text-center" unless header.image.present? %>">
        <%= image_tag(header.image_url(:original),
        alt: header.image.title) %>
        <h1 class="h1p"><%= header.title %></h1>
        <p class="lead cenp">
          <%= header.description %>
        </p>
        <div class="small-12 medium-6 large-4 column small-centered btn">
          <%= link_to header.link_text, 
              header.link_url.starts_with?('http') ? header.link_url : "http://#{header.link_url}", 
              class: "button expanded large" %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="expanded jumbo header text-center">
    <div class="row">
      <div class="small-12 column small-centered">
        <span class="label"><%= t("welcome.header.label") %></span>
        <p class="lead-title"><%= t("welcome.header.title") %></p>
        <p class="lead">
          <%= t("welcome.header.text", supports: setting["votes_for_proposal_success"]) %>
        </p>
        <div class="small-12 medium-6 large-4 column small-centered">
          <%= link_to t("welcome.header.button"),
                      new_proposal_path,
                      class: "button expanded large", title: t("welcome.header.button") %>
        </div>
      </div>
    </div>
  </div>
<% end %>