<div class="header-card jumbo highlight custom-jumbo-home">
  <div class="banner-sky">
    <%= image_tag "/images/banner-cloud.svg", class: 'banner-cloud-1' %>
    <%= image_tag "/images/banner-cloud.svg", class: 'banner-cloud-2' %>
    <%= image_tag "/images/banner-cloud.svg", class: 'banner-cloud-3' %>

    <% if true == false and feature?(:proposals) %>
      <%= link_to '/propuestas' do %>
      <div class="banner-airplane">
        <%= image_tag "/images/b-avion.svg", class: 'banner-airplane-img' %>
        <%= image_tag "/images/b-lienzo.svg", class: 'banner-airplane-flag' %>
        <%= image_tag "/images/b-tlienzo.svg", class: 'banner-airplane-text' %>
      </div>
      <% end %>
    <% end %>

    <div class="banner-sky-title">
      <%= image_tag "/images/b-icono.svg" %>
      <h1>Participa<br>Las Condes</h1>
    </div>
    <div class="banner-sky-subtitle">
      <h4>Tu compromiso crea una mejor comuna</h4>
    </div>

    <div class="banner-sky-buttons">
      <%= link_to new_user_registration_path do %>
      <div class="banner-sky-button banner-sky-button-1">
        <p>Únete</p>
        <div class="plus-button"></div>
      </div>
      <% end %>
      <%= link_to '#themes', id: 'move-to-themes' do %>
      <div class="banner-sky-button banner-sky-button-2">
        <p>Participa</p>
        <div class="plus-button"></div>
      </div>
      <% end %>
      <%= link_to 'participar' do %>
      <div class="banner-sky-button banner-sky-button-3">
        <p>Decide</p>
        <div class="plus-button"></div>
      </div>
      <% end %>
    </div>

    <div class="reveal" id="video-popup" data-reveal style="width: 680px" data-reset-on-close="true">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/_xs4PIkqXic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="banner-slider-container">
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false" data-auto-play="false">
        <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <div class="is-active orbit-slide">
          <div class="desktop-only">
            <%= link_to 'javascript:void(0)', data: {open: 'video-popup'} do %>
              <%= image_tag "/images/slider-3-v3.png" %>
            <% end %>
          </div>
          <div class="mobile-only">
            <%= link_to 'https://www.youtube.com/embed/_xs4PIkqXic', target: '_blank' do %>
              <%= image_tag "/images/slider-3-v3.png" %>
            <% end %>
          </div>
        </div>
        <div class="orbit-slide">
          <% if current_user %>
            <%= link_to account_path(anchor: 'user-form'), target: '_blank' do %>
              <%= image_tag "/images/slider-1.png" %>
            <% end %>
          <% else %>
            <%= image_tag "/images/slider-1.png" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="banner-sky-buildings-back">
      <%= image_tag "/images/e-skyline.svg" %>
    </div>

      <div class="b-s-c-text">
        <%= link_to 'https://www.youtube.com/embed/_xs4PIkqXic', target: '_blank', style: 'text-decoration: none; color: white;' do %>
        <p>
          ¡Bienvenido!<br>Descubre cómo ser parte de nuestra comunidad<br>Haz clic aquí
        </p>
        <% end %>
      </div>
  
    <div class="banner-sky-buildings">
      <div class="banner-slider-box">
        <div>
          <%= link_to 'javascript:void(0)', data: {open: 'video-popup'}, style: 'text-decoration: none; color: white;' do %>
            <p>¡Bienvenido!<br>Descubre cómo ser parte de nuestra comunidad<br>Haz clic aquí</p>
          <% end %>
        </div>
      </div>
      <%= image_tag "/images/e-skyline-f.svg" %>
    </div>
  </div>

  <div id="themes"></div>

  <div class="banner-grass-desktop">
    <div class="grass"></div>
    <div class="last-grass">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250"><path fill="#60a360" fill-opacity="1" d="M0,160L60,176C120,192,240,224,360,213.3C480,203,600,149,720,122.7C840,96,960,96,1080,106.7C1200,117,1320,139,1380,149.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    </div>
    <div class="last-grass-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250"><path fill="#82be78" fill-opacity="1" d="M0,160L60,176C120,192,240,224,360,213.3C480,203,600,149,720,122.7C840,96,960,96,1080,106.7C1200,117,1320,139,1380,149.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    </div>

    <%= image_tag "/images/arbusto.svg", class: 'arbusto-1' %>
    <%= image_tag "/images/arbusto.svg", class: 'arbusto-2' %>

    <div class="themes">
      <div class="themes-row">
        <%= link_to MainTheme.where('name LIKE ?', 'Salud').first, style: 'text-decoration: none;', target: '_blank' do %>
        <div class="main-theme">
          <div class="title" style="cursor: pointer;"><div class="plus-button-sm"></div>Salud</div>
          <div class="circle alt-circle" style="left: -40%;"></div>
        </div>
        <% end %>

        <%= link_to MainTheme.where('name LIKE ?', 'Mejor Vivienda').first, style: 'text-decoration: none;', target: '_blank' do %>
        <div class="main-theme">
          <div class="title" style="cursor: pointer;"><div class="plus-button-sm"></div>Mejor Vivienda</div>
          <div class="circle alt-circle"></div>
        </div>
        <% end %>

        <%= link_to MainTheme.where('name LIKE ?', 'Nuevo Plan Regulador').first, style: 'text-decoration: none;', target: '_blank' do %>
        <div class="main-theme">
          <div class="title" style="cursor: pointer;"><div class="plus-button-sm"></div>Nuevo Plan Regulador</div>
          <div class="circle alt-circle" style="left: 10%;"></div>
        </div>
        <% end %>
      </div>

      <div class="themes-column-three">
        <%= link_to MainTheme.where('name LIKE ?', 'Apoyo Social').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Apoyo Social</div>
            <%= image_tag "/images/t-apoyosocial.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
        <%= link_to MainTheme.where('name LIKE ?', 'Smart City').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Smart City</div>
            <%= image_tag "/images/t-smartcity.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
        <%= link_to MainTheme.where('name LIKE ?', 'Salud Mental').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Salud Mental</div>
            <%= image_tag "/images/t-saludmental.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
      </div>

      <div class="themes-column-2">
        <%= link_to MainTheme.where('name LIKE ?', 'Emprendedores').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Emprendedores</div>
            <%= image_tag "/images/t-emprendimiento.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
        <%= link_to MainTheme.where('name LIKE ?', 'Seguridad').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Seguridad</div>
            <%= image_tag "/images/t-seguridad.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
      </div>

      <div class="themes-column-1">
        <%= link_to MainTheme.where('name LIKE ?', 'Mujeres').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Mujeres</div>
            <%= image_tag "/images/t-mujeres.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
        <%= link_to MainTheme.where('name LIKE ?', 'Eventos').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Eventos</div>
            <%= image_tag "/images/t-grandeseventos.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
      </div>

      <div class="themes-column-2">
        <%= link_to MainTheme.where('name LIKE ?', 'Adulto Mayor').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Adulto Mayor</div>
            <%= image_tag "/images/t-adultomayor.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
        <%= link_to MainTheme.where('name LIKE ?', 'Ciclovías').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Ciclovías</div>
            <%= image_tag "/images/t-ciclovia.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
      </div>

      <div class="themes-column-1">
        <%= link_to MainTheme.where('name LIKE ?', 'Jóvenes').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Jóvenes</div>
            <%= image_tag "/images/t-jovenes.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
        <%= link_to MainTheme.where('name LIKE ?', 'Desarrollo Sostenible').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Desarrollo Sostenible</div>
            <%= image_tag "/images/t-sustentable.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
      </div>

      <div class="themes-column-3">
        <%= link_to MainTheme.where('name LIKE ?', 'Mascotas').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Mascotas</div>
            <%= image_tag "/images/t-mascotas.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
        <%= link_to MainTheme.where('name LIKE ?', 'Cultura y Recreación').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Cultura y Recreación</div>
            <%= image_tag "/images/t-cultura.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
      </div>

      <div class="themes-column-1">
        <%= link_to MainTheme.where('name LIKE ?', 'Educación').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Educación</div>
            <%= image_tag "/images/t-educacion.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
        <%= link_to MainTheme.where('name LIKE ?', 'Vida al Aire Libre').first, style: 'text-decoration: none;', target: '_blank' do %>
          <div class="main-theme">
            <div class="title"><div class="plus-button-sm"></div>Vida al aire libre</div>
            <%= image_tag "/images/t-parquesycerros.svg" %>
            <div class="circle"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="banner-grass-mobile">
    <h4>Descubre los Ejes Temáticos en los que puedes participar</h4>
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false" data-auto-play="false">
      <div class="orbit-wrapper">
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Apoyo Social').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Apoyo Social</h2>
              <%= image_tag "/images/t-apoyosocial.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Smart City').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Smart City</h2>
              <%= image_tag "/images/t-smartcity.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Mascotas').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Mascotas</h2>
              <%= image_tag "/images/t-mascotas.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Emprendedores').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Emprendedores</h2>
              <%= image_tag "/images/t-emprendimiento.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Seguridad').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Seguridad</h2>
              <%= image_tag "/images/t-seguridad.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Mujeres').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Mujeres</h2>
              <%= image_tag "/images/t-mujeres.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Eventos').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Eventos</h2>
              <%= image_tag "/images/t-grandeseventos.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Adulto Mayor').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Adulto Mayor</h2>
              <%= image_tag "/images/t-adultomayor.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Ciclovías').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Ciclovías</h2>
              <%= image_tag "/images/t-ciclovia.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Jóvenes').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Jóvenes</h2>
              <%= image_tag "/images/t-jovenes.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Desarrollo Sostenible').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Desarrollo Sostenible</h2>
              <%= image_tag "/images/t-sustentable.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Cultura y Recreación').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Cultura y Recreación</h2>
              <%= image_tag "/images/t-cultura.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Educación').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Educación</h2>
              <%= image_tag "/images/t-educacion.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Vida al Aire Libre').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Vida al aire libre</h2>
              <%= image_tag "/images/t-parquesycerros.svg" %>
            </figure>
            <% end %>
          </li>
          <li class="orbit-slide">
            <%= link_to MainTheme.where('name LIKE ?', 'Salud Mental').first, style: 'text-decoration: none; color: white;', target: '_blank' do %>
            <figure class="orbit-figure">
              <h2>Salud Mental</h2>
              <%= image_tag "/images/t-saludmental.svg" %>
            </figure>
            <% end %>
          </li>
        </ul>
      </div>
      <nav class="orbit-bullets">
        <button class="is-active" data-slide="0">
          <span class="show-for-sr"></span>
          <span class="show-for-sr" data-slide-active-label></span>
        </button>
        <button data-slide="1"><span class="show-for-sr"></span></button>
        <button data-slide="2"><span class="show-for-sr"></span></button>
        <button data-slide="3"><span class="show-for-sr"></span></button>
        <button data-slide="4"><span class="show-for-sr"></span></button>
        <button data-slide="5"><span class="show-for-sr"></span></button>
        <button data-slide="6"><span class="show-for-sr"></span></button>
        <button data-slide="7"><span class="show-for-sr"></span></button>
        <button data-slide="8"><span class="show-for-sr"></span></button>
        <button data-slide="9"><span class="show-for-sr"></span></button>
        <button data-slide="10"><span class="show-for-sr"></span></button>
        <button data-slide="11"><span class="show-for-sr"></span></button>
        <button data-slide="12"><span class="show-for-sr"></span></button>
        <button data-slide="13"><span class="show-for-sr"></span></button>
      </nav>
    </div>
  </div>
</div>

<script>
  $('#move-to-themes').click(function() {
    document.getElementById("themes").scrollIntoView();
  })
</script>