<%= translatable_form_for(proposal, url: url, html: { class: "proposal-form" }) do |f| %>
  <%= render "shared/errors", resource: proposal %>
  <% @type_name = @is_initiative ? 'iniciativa' : 'propuesta' %>

  <fieldset class="required-fields">
    <% if current_page?(new_proposal_path) %>
    <h2 class="mb-2">Hola <span style="color: #61b5d7;"><%= current_user.first_name? ? current_user.first_name : current_user.username %></span>, sube aquí tu <%= @type_name %>.</h2>
    <% end %>

    <%= render "shared/globalize_locales", resource: proposal %>
    <%= f.hidden_field :is_initiative, value: @is_initiative %>
    <%= f.hidden_field :proposals_theme_id, value: @proposals_theme ? @proposals_theme.id : nil %>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
              maxlength: Proposal.title_max_length,
              data: suggest_data(proposal),
              class: 'custom-input',
              label: "Título de la #{@type_name}",
              placeholder: 'Frase corta que resume tu proyecto',
              required: true %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div>
        <%= translations_form.text_area :summary,
                                        rows: 4, maxlength: 200,
                                        hint: t("proposals.form.proposal_summary_note"),
                                        label: "Resumen de la #{@type_name}",
                                        class: 'custom-textarea',
                                        placeholder: 'Describe tu idea',
                                        required: true %>
      </div>

      <div>
        <%= translations_form.text_area :description,
                                        maxlength: Proposal.description_max_length,
                                        label: "Texto desarrollado de la #{@type_name}",
                                        class: "html-area",
                                        required: true %>
      </div>
    <% end %>
  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <fieldset>

    <div>
      <%= f.text_field :video_url, hint: t("proposals.form.proposal_video_url_note"), class: 'custom-input' %>
    </div>

    <% if feature?(:allow_images) %>
      <div class="images">
        <%= render "images/nested_image", f: f %>
      </div>
    <% end %>

    <% if feature?(:allow_attached_documents) %>
      <div class="documents">
        <%= render "documents/nested_documents", f: f %>
      </div>
    <% end %>

    <% if feature?(:map) %>
      <div id="leaflet-container">
        <div style="display: none;">
          <%= f.collection_check_boxes :sector_ids, Sector.all, :name, :name, include_hidden: false, id: 'sector_ids' %>
        </div>
        <%= label_tag 'leaflet', "Elige los sectores de la comuna en los que estará enfocada la #{@type_name}. Si no eliges alguno quedará abierta para todos los usuarios." %>
        <p class="help-text" id="tag-list-help-text">
          Sectores seleccionados: <strong><span id="selected-sectors">Ninguno</span></strong><br>
          <% if @proposals_theme and @proposals_theme.sectors.any? %>
            Sectores disponibles según Tema seleccionado: <strong><%= @proposals_theme.sectors.pluck(:name).join(', ') %></strong><br>
            <div id="leaflet-error" class="error-message">
              <strong>Aviso:</strong> Debes seleccionar, como mínimo, 1 sector.
            </div>
          <% end %>
        </p>
        <div id="leaflet"></div>
      </div>
    <% end %>

    <div class="mt-2">
      <%=
        f.collection_select :main_theme_id,
        MainTheme.all,
        :id,
        :name,
        {prompt: 'Elige un eje temático', label: 'Eje Temático'},
        {class: 'custom-input', style: 'width: 100%;', required: true}
      %>
    </div>
  </fieldset>

  <div class="actions" style="border: none;">
    <% if proposal.new_record? %>
      <div>
        <%= f.check_box :terms_of_service,
          title: t("form.accept_terms_title"),
          label: t("form.accept_terms",
                   policy: link_to(t("form.policy"), "/privacy", target: "blank"),
                   conditions: link_to(t("form.conditions"), "/condiciones", target: "blank")
                  ),
          required: true
         %>
      </div>
    <% end %>

    <%= f.submit(class: "#{@is_initiative ? 'create-iniciativa' : 'create-button'}", value: 'Enviar') %>
  </div>
<% end %>

<script>
// MAP
var map = new L.Map('leaflet')
<% if @proposals_theme %>
$('#proposal_sector_ids_c1')[0].setCustomValidity('error')
$('#leaflet-error').show()
<% end %>

$.getJSON('/UV_KML.geojson', function(lasCondesSectors) {
  const osm = new L.TileLayer.BoundaryCanvas("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    boundary: lasCondesSectors,
  });
  map.addLayer(osm)

  // Variables for map
  var selectedFeatures = []
  var defaultStyle = {
      color: 'gray',
      fillOpacity: 0,
      weight: 2,
  }
  <% if @proposals_theme %>
  var availableSectors = <%= raw(@proposals_theme.sectors.pluck(:name)) %>
  <% end %>

  // Actions
  function colorlayer(feature, layer) {

    <% if @proposals_theme %>
    if (availableSectors.includes(feature.properties.name.replace('-', ''))) {
      map.removeLayer(layer)
    } else {
      layer.setStyle(defaultStyle)
    }
    <% else %>
    layer.setStyle(defaultStyle)
    <% end %>

    layer.on('click', function(e) {
      var name = feature.properties.name.replaceAll('-', '')

      if (selectedFeatures.includes(name)) {
        <% if @proposals_theme %>
        layer.setStyle({
          color: "#3388ff",
          opacity: 1,
          fillOpacity: 0.2
        })
        <% else %>
        layer.setStyle(defaultStyle)
        <% end %>
        selectedFeatures = selectedFeatures.filter(sf => sf !== name)
      } else {
        <% if @proposals_theme %>
          if (availableSectors.includes(name)) {
            selectedFeatures.push(name)
            layer.setStyle({
              color: "#00a000",
              opacity: 1,
              fillOpacity: 0.5
            })
          }
        <% else %>
        selectedFeatures.push(name)
        layer.setStyle({
          color: "#00008c",
          opacity: 0.6,
          fillOpacity: 0.5
        })
        <% end %>
      }

      Array.from(Array(25).keys()).forEach(function(n) {
        $('#proposal_sector_ids_c' + (n + 1)).prop('checked', false)
      })

      selectedFeatures.forEach(function(sf) {
        $('#proposal_sector_ids_' + sf.toLowerCase()).prop('checked', true)
      })
      $('#selected-sectors').text(selectedFeatures.length ? selectedFeatures.join(', ') : 'Ninguno')

      <% if @proposals_theme %>
      if (!selectedFeatures.length) {
        $('#proposal_sector_ids_c1')[0].setCustomValidity('error')
        $('#leaflet-error').show()
      } else {
        $('#proposal_sector_ids_c1')[0].setCustomValidity('')
        $('#leaflet-error').hide()
      }
      <% end %>
    })
  }

  // Bounds
  var gjLayer = L.geoJSON(lasCondesSectors);
  map.fitBounds(gjLayer.getBounds());

  // Load features
  L.geoJSON(lasCondesSectors, {
      onEachFeature: colorlayer
  }).addTo(map)

  // Map config
  map.dragging.disable()
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.boxZoom.disable();
  map.keyboard.disable();
})

</script>
