<main class="proposal-new">
  <% if !@is_initiative %>
  <aside>
    <h2><%= t("proposals.new.recommendations_title") %></h2>

    <ul class="recommendations">
      <li><%= t("proposals.new.recommendation_one") %></li>
      <li><%= t("proposals.new.recommendation_two") %></li>
      <li><%= t("proposals.new.recommendation_three") %></li>
    </ul>
  </aside>
  <% end %>

  <%= render Proposals::FormComponent.new(proposal, @is_initiative, url: proposals_path) %>
</main>
