<div class="supports text-center">
  <%= render "proposals/supports", proposal: proposal %>

  <div class="in-favor">
    <% if proposal.proposal_topic.is_expired? %>
      <div class="callout warning">
        Convocatoria finalizada.
      </div>
    <% else %>
      <% if voted? %>
        <div class="supported callout success">
          <%= t("proposals.proposal.already_supported") %>
        </div>
      <% else %>
        <%= button_to vote_url,
            class: "button button-support small expanded",
            title: t("proposals.proposal.support_title"),
            method: "post",
            remote: true,
            "aria-label": support_aria_label do %>
          <%= t("proposals.proposal.support") %>
        <% end %>
      <% end %>

      <% if current_user and current_user.manager? %>
        <%= link_to vote_manager_form_proposal_path(proposal.id),
            class: "button button-support small expanded" do %>
          Apoyar a nombre de otra persona
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= render Shared::ParticipationNotAllowedComponent.new(proposal, cannot_vote_text: cannot_vote_text) %>

  <% if voted? && setting["twitter_handle"] %>
    <div class="share-supported">
      <%= render "proposals/social_share", proposal: proposal, share_title: false %>
    </div>
  <% end %>
</div>
