<div class="supports text-center margin-top">

  <div class="in-favor">
    <% if proposal.proposal_topic.is_expired? %>
      <div class="callout warning">
        Convocatoria finalizada.
      </div>
    <% else %>
      <% if voted? %>
        <div class="supported callout success">
          <%= t("proposals.proposal.already_supported") %>
        </div>
      <% else %>
        <%= link_to current_user.present? ? vote_url : nil,
            title: t("proposals.proposal.support_title"),
            method: "post",
            remote: true,
            "aria-label": support_aria_label do %>
          <%= image_tag '/images/proposals/support.svg', class: 'support-image' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= render "proposals/supports", proposal: proposal %>

  <% if current_user.nil? %>
    <p><strong>Debes <%= link_to 'iniciar sesión o registrarte', new_user_session_path %> para participar</strong></p>
  <% end %>

  <%= render Shared::ParticipationNotAllowedComponent.new(proposal, cannot_vote_text: cannot_vote_text) %>

</div>
