<table>
  <thead>
    <tr>
      <th>Grupo</th>
      <th>Pagina 1</th>
      <th>Pagina 2</th>
      <th>Pagina 3</th>
      <th>Pagina 4</th>
    </tr>
  </thead>
  <tbody>
    <% Quiz.where.not(group_id: nil).each do |quiz| %>
    <tr>
      <td>
        <% Group.find(quiz.group_id).users.each do |user| %>
          <li><%= user[:name] %></li>
        <% end %>
      </td>
      <td>
        <% eval(quiz.q1).each do |key, value| %>
          <strong><%= 'Pregunta ' + key.gsub(/\D/, '') %></strong><br/>
          <% if value.is_a?(Array) %>
            <% value.each do |v| %>
              <li><%= v %></li>
            <% end %><br/>
          <% else %>
            <%= value %><br/><br/>
          <% end %>
        <% end %>
      </td>
      <td>
        <% eval(quiz.q2).each do |key, value| %>
          <strong><%= 'Pregunta ' + key.gsub(/\D/, '') %></strong><br/>
          <% if value.is_a?(Array) %>
            <% value.each do |v| %>
              <li><%= v %></li>
            <% end %><br/>
          <% else %>
            <%= value %><br/><br/>
          <% end %>
        <% end %>
      </td>
      <td>
        <% eval(quiz.q3).each do |key, value| %>
          <strong><%= 'Pregunta ' + key.gsub(/\D/, '') %></strong><br/>
          <% if value.is_a?(Array) %>
            <% value.each do |v| %>
              <li><%= v %></li>
            <% end %><br/>
          <% else %>
            <%= value %><br/><br/>
          <% end %>
        <% end %>
      </td>
      <td>
        <% eval(quiz.q4).each do |key, value| %>
          <strong><%= 'Pregunta ' + (key.split('_').size > 1 ? key.split('_')[0].gsub(/\D/, '') + ': ' + key.split('_')[1] : key.split('_')[0].gsub(/\D/, '')) %></strong><br/>
          <% if value.is_a?(Array) %>
            <% value.each do |v| %>
              <li><%= v %></li>
            <% end %><br/>
          <% else %>
            <%= value %><br/><br/>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>