<div class="row">
  <div class="small-12 column">
    <%= back_link_to budgets_admin_stats_path %>
  </div>
  <div class="small-12 column">
    <h3>
      <%= @record.name %>
    </h3>
  </div>
</div>

<div class="row stats-numbers">
  <div class="small-12 medium-3 column">
    <p class="featured">
      Participantes <br>
      <span class="number"><%= number_with_delimiter(@users[:count]) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p class="featured">
      Proyectos <br>
      <span class="number"><%= number_with_delimiter(@record.investments.count) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p class="featured">
      Apoyos <br>
      <span class="number"><%= number_with_delimiter(@votes.count) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p class="featured">
      Comentarios <br>
      <span class="number"><%= number_with_delimiter(@comments.count) %></span>
    </p>
  </div>
</div>

<div class="row margin">
  <div class="small-12 medium-6 column">
      <h3 class="text-center">Participantes por género<h3>
      <%= pie_chart [
        ["Masculino", @users[:males]],
        ["Femenino", @users[:females]],
        ["Otro", @users[:other_genders]]
      ]%>
  </div>
  <div class="small-12 medium-6 column">
      <h3 class="text-center">Participantes por rango etario<h3>
      <%= column_chart @users[:by_age_range].map { |k, v| [k, v[:count]] } %>
  </div>
</div>
