<div class="row">
  <div class="small-12 column">
    <%= back_link_to prp_admin_stats_path %>
  </div>
  <div class="small-12 column">
    <h3>
      <%= @record.title %>
    </h3>
  </div>
</div>

<div class="row stats-numbers">
  <div class="small-12 medium-3 column">
    <p class="featured">
      Participantes <br>
      <span class="number"><%= number_with_delimiter(@users[:count]) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p class="featured">
      Votos positivos <br>
      <span class="number"><%= number_with_delimiter(@record.cached_votes_up) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p class="featured">
      Votos negativos <br>
      <span class="number"><%= number_with_delimiter(@record.cached_votes_down) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p class="featured">
      Comentarios <br>
      <span class="number"><%= number_with_delimiter(@record.comments_count) %></span>
    </p>
  </div>
</div>

<div class="row margin">
  <div class="small-12 medium-6 column">
      <h3 class="text-center">Participantes por género<h3>
      <%= pie_chart [
        [User::GENDER_MALE, @users[:males]],
        [User::GENDER_FEMALE, @users[:females]],
        [User::GENDER_OTHER, @users[:other_genders]]
      ]%>
  </div>
  <div class="small-12 medium-6 column">
      <h3 class="text-center">Participantes por rango etario<h3>
      <%= column_chart @users[:by_age_range].map { |k, v| [k, v[:count]] } %>
  </div>
</div>
