<%= render 'header' %>

<div class="row">
  <div class="small-12 column">
    <%= link_to 'Descargar reporte', download_report_admin_stats_path('general'), class: 'button' %>
  </div>
</div>

<div class="row stats-numbers">
  <div class="small-12 medium-3 column">
    <p class="featured">
      Procesos realizados <br>
      <span class="number"><%= number_with_delimiter(@general[:total_count]) %></span>
    </p>
    <p>
      Consultas <br>
      <span class="number"><%= number_with_delimiter(@general[:polls_count]) %></span>
    </p>
    <p>
      Propuestas <br>
      <span class="number"><%= number_with_delimiter(@general[:proposals_count]) %></span>
    </p>
    <p>
      Encuestas <br>
      <span class="number"><%= number_with_delimiter(@general[:surveys_count]) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <p class="featured">
      Usuarios registrados<br>
      <span class="number"><%= number_with_delimiter(@users.count) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
  </div>
</div>

<%= render Admin::Stats::ParticipantsComponent.new(@users) %>

<div class="row margin">
  <div class="small-12 medium-6 column">
      <h3 class="text-center">Participantes por organización<h3>
      <%= pie_chart @users_by_organization, id: 'users-by-organizations-chart' %>
  </div>
</div>
