<%= render 'header' %>

<div class="row stats-numbers">
  <div class="small-12 medium-3 column">
    <p class="featured">
      Procesos realizados <br>
      <span class="number"><%= number_with_delimiter(@general[:total_count]) %></span>
    </p>
    <p>
      Cuentas Públicas Participativas <br>
      <span class="number"><%= number_with_delimiter(@general[:ppa_count]) %></span>
    </p>
    <p>
      Planes Reguladores Participativos <br>
      <span class="number"><%= number_with_delimiter(@general[:prp_count]) %></span>
    </p>
    <p>
      Consultas <br>
      <span class="number"><%= number_with_delimiter(@general[:polls_count]) %></span>
    </p>
    <p>
      Propuestas <br>
      <span class="number"><%= number_with_delimiter(@general[:proposals_count]) %></span>
    </p>
    <% if feature?(:budgets) %>
      <p>
        <%= t "admin.stats.show.summary.budgets" %> <br>
        <span class="number"><%= number_with_delimiter(@general[:budgets_count]) %></span>
      </p>
    <% end %>
  </div>
  <div class="small-12 medium-3 column">
    <p class="featured">
      Usuarios registrados<br>
      <span class="number"><%= number_with_delimiter(@users[:count]) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
  </div>
</div>

<div class="row margin">
  <div class="small-12 medium-6 column">
      <h3 class="text-center">Usuarios por género<h3>
      <%= pie_chart [
        ["Masculino", @users[:males]],
        ["Femenino", @users[:females]],
        ["Otro", @users[:other_genders]]
      ]%>
  </div>
  <div class="small-12 medium-6 column">
      <h3 class="text-center">Usuarios por rango etario<h3>
      <%= column_chart @users[:by_age_range].map { |k, v| [k, v[:count]] } %>
  </div>
</div>
