<%= javascript_include_tag "stat_graphs", "data-turbolinks-track" => "reload" %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

<div id="stats" class="stats">
  <div class="row">
    <div class="small-12 column">
      <h1 class="inline-block"><%= t "admin.stats.show.stats_title" %></h1>

      <div class="float-right clear">
        <%= link_to t("admin.stats.show.polls"),
                    polls_admin_stats_path, class: "button" %>
        <%= link_to t("admin.stats.show.participatory_budgets"),
                    budgets_admin_stats_path, class: "button" %>
        <% if true == false %>
        <%= link_to t("admin.stats.show.proposal_notifications"),
                    proposal_notifications_admin_stats_path, class: "button" %>
        <% end %>
        <%= link_to t("admin.stats.show.sdg"),
                     sdg_admin_stats_path, class: "button" if feature?(:sdg) %>
      </div>

      <div class="clear"></div>
      <div class="small-12 callout">
        <h5>Descarga de reportes</h5>
        <%= link_to 'Descargar propuestas',
          generate_report_admin_stats_path('proposals'),
          class: 'button success small',
          style: 'margin-left: 0'
        %>
        <%= link_to 'Descargar consultas',
          generate_report_admin_stats_path('polls'),
          class: 'button success small'
        %>
        <%= link_to 'Descargar eventos',
          generate_report_admin_stats_path('events'),
          class: 'button success small'
        %>
      </div>

      <div id="content">
        <div class="row">
          <div class="small-12 column">
            <h2>Consultas</h2>
            <div class="small-12 medium-4 column text-center">
              <h4>Consultas creadas por sector</h4>
              <canvas id="polls-by-sector-chart"></canvas>
            </div>

            <div class="small-12 medium-4 column text-center">
              <h4>Consultas votadas por sector</h4>
              <canvas id="polls-answers-by-sector-chart"></canvas>
            </div>

            <div class="small-12 medium-4 column text-center">
              <h4>Consultas votadas por género</h4>
              <canvas id="polls-answers-by-gender-chart"></canvas>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-12 column">
            <h2>Propuestas</h2>
            <div class="small-12 medium-4 column text-center">
              <h4>Propuestas creadas por sector</h4>
              <canvas id="proposals-by-sector-chart"></canvas>
            </div>

            <div class="small-12 medium-4 column text-center">
              <h4>Propuestas votadas por sector</h4>
              <canvas id="proposals-votes-by-sector-chart"></canvas>
            </div>

            <div class="small-12 medium-4 column text-center">
              <h4>Propuestas votadas por género</h4>
              <canvas id="proposals-votes-by-gender-chart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row stats-numbers">
        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= link_to t("admin.stats.show.summary.visits"),
                        graph_admin_stats_path(id: "visits", count: @visits) %> <br>
            <span class="number"><%= number_with_delimiter(@visits) %></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.debates" %> <br>
            <span class="number"><%= number_with_delimiter(@debates) %></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.proposals" %> <br>
            <span class="number"><%= number_with_delimiter(@proposals) %></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.comments" %> <br>
            <span class="number"><%= number_with_delimiter(@comments) %></span>
          </p>
          <% if feature?(:budgets) %>
            <p>
              <%= t "admin.stats.show.summary.budgets" %> <br>
              <span class="number"><%= number_with_delimiter(@budgets) %></span>
            </p>
            <p class="featured">
              <%= t "admin.stats.show.summary.budget_investments" %> <br>
              <span class="number"><%= number_with_delimiter(@investments) %></span>
            </p>
          <% end %>
        </div>

        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t "admin.stats.show.summary.proposal_votes" %> <br>
            <span class="number"><%= number_with_delimiter(@proposal_votes) %> <br></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.debate_votes" %> <br>
            <span class="number"><%= number_with_delimiter(@debate_votes) %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.comment_votes" %> <br>
            <span class="number"><%= number_with_delimiter(@comment_votes) %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.votes" %> <br>
            <span class="number"><%= number_with_delimiter(@votes) %></span>
          </p>
        </div>

        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t "admin.stats.show.summary.verified_users" %> <br>
            <span class="number"><%= number_with_delimiter(@verified_users) %></span>
          </p>

          <p class="featured">
            <%= t "admin.stats.show.summary.unverified_users" %> <br>
            <span class="number"><%= number_with_delimiter(@unverified_users) %></span>
          </p>
        </div>

        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t "admin.stats.show.summary.users" %> <br>
            <span class="number"><%= number_with_delimiter(@users) %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.user_level_two" %> <br>
            <span class="number"><%= number_with_delimiter(@user_level_two) %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.user_level_three" %> <br>
            <span class="number"><%= number_with_delimiter(@user_level_three) %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.verified_users_who_didnt_vote_proposals" %> <br>
            <span class="number">
              <%= number_with_delimiter(@user_ids_who_didnt_vote_proposals) %>
            </span>
          </p>
        </div>

      </div>

      <div class="small-12 column">
        <% @event_types.each do |event| %>
          <h3>
            <%= link_to graph_link_text(event),
                        graph_admin_stats_path(event: event) %>
          </h3>
        <% end %>
      </div>

      <% if feature?(:budgets) %>
        <div class="small-12 column">
          <h2><%= t "admin.stats.show.budgets_title" %></h2>
          <%= budget_investments_chart_tag id: "budget_investments" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<% if current_page?(admin_stats_path) %>
  <%= javascript_tag do %>
    const dataPollsAnswersByGender = {
      labels: [
        'Masculino',
        'Femenino',
        'Otro'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count('male') + Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count('Masculino') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count('female') + Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count('Femenino') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count {|x| not ['male', 'female', 'Masculino', 'Femenino'].include?(x)} %>
        ],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    };

    const dataPollsAnswersBySector = {
      labels: [
        'C1',
        'C2',
        'C3',
        'C4',
        'C5',
        'C6',
        'C7',
        'C8',
        'C9',
        'C10',
        'C11',
        'C12',
        'C13',
        'C14',
        'C15',
        'C16',
        'C17',
        'C18',
        'C19',
        'C20',
        'C21',
        'C22',
        'C23',
        'C24',
        'C25',
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C1') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C2') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C3') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C4') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C5') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C6') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C7') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C8') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C9') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C10') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C11') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C12') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C13') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C14') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C15') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C16') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C17') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C18') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C19') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C20') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C21') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C22') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C23') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C24') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C25') %>,
        ],
        backgroundColor: [
          'rgb(54, 162, 235)',
        ],
        hoverOffset: 4
      }]
    };

    const dataPollsBySectors = {
      labels: [
        'C1',
        'C2',
        'C3',
        'C4',
        'C5',
        'C6',
        'C7',
        'C8',
        'C9',
        'C10',
        'C11',
        'C12',
        'C13',
        'C14',
        'C15',
        'C16',
        'C17',
        'C18',
        'C19',
        'C20',
        'C21',
        'C22',
        'C23',
        'C24',
        'C25',
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C1') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C2') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C3') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C4') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C5') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C6') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C7') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C8') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C9') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C10') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C11') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C12') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C13') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C14') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C15') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C16') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C17') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C18') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C19') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C20') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C21') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C22') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C23') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C24') %>,
          <%= Poll.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C25') %>,
        ],
        backgroundColor: [
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    };

    const dataProposalsBySectors = {
      labels: [
        'C1',
        'C2',
        'C3',
        'C4',
        'C5',
        'C6',
        'C7',
        'C8',
        'C9',
        'C10',
        'C11',
        'C12',
        'C13',
        'C14',
        'C15',
        'C16',
        'C17',
        'C18',
        'C19',
        'C20',
        'C21',
        'C22',
        'C23',
        'C24',
        'C25',
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C1') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C2') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C3') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C4') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C5') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C6') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C7') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C8') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C9') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C10') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C11') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C12') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C13') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C14') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C15') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C16') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C17') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C18') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C19') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C20') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C21') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C22') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C23') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C24') %>,
          <%= Proposal.all.map{|x| x.sectors.pluck(:name)}.flatten.count('C25') %>,
        ],
        backgroundColor: [
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    };

    const dataProposalsAnswersBySector = {
      labels: [
        'C1',
        'C2',
        'C3',
        'C4',
        'C5',
        'C6',
        'C7',
        'C8',
        'C9',
        'C10',
        'C11',
        'C12',
        'C13',
        'C14',
        'C15',
        'C16',
        'C17',
        'C18',
        'C19',
        'C20',
        'C21',
        'C22',
        'C23',
        'C24',
        'C25',
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C1') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C2') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C3') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C4') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C5') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C6') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C7') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C8') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C9') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C10') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C11') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C12') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C13') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C14') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C15') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C16') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C17') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C18') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C19') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C20') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C21') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C22') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C23') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C24') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:sector_id).filter{|x| not x.nil? }.map{|x| Sector.find(x).name }.count('C25') %>,
        ],
        backgroundColor: [
          'rgb(54, 162, 235)',
        ],
        hoverOffset: 4
      }]
    };

    const dataProposalsAnswersByGender = {
      labels: [
        'Masculino',
        'Femenino',
        'Otro'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count('male') + Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count('Masculino') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count('female') + Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count('Femenino') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count {|x| not ['male', 'female', 'Masculino', 'Femenino'].include?(x)} %>
        ],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    };

    // Configs
    const pollsAnswersByGenderConfig = {
      type: 'pie',
      data: dataPollsAnswersByGender
    };

    const pollsAnswersBySectorConfig = {
      type: 'pie',
      data: dataPollsAnswersBySector
    };

    const pollsBySectorConfig = {
      type: 'pie',
      data: dataPollsBySectors
    };

    const proposalsBySectorConfig = {
      type: 'pie',
      data: dataProposalsBySectors
    };

    const proposalsAnswersBySectorConfig = {
      type: 'pie',
      data: dataProposalsAnswersBySector
    }

    const proposalsAnswersByGenderConfig = {
      type: 'pie',
      data: dataProposalsAnswersByGender
    }

    // Charts
    const pollsAnswersByGenderChart = new Chart(
      document.getElementById('polls-answers-by-gender-chart'),
      pollsAnswersByGenderConfig
    );

    const pollsAnswersBySectorChart = new Chart(
      document.getElementById('polls-answers-by-sector-chart'),
      pollsAnswersBySectorConfig
    );

    const pollsBySectorChart = new Chart(
      document.getElementById('polls-by-sector-chart'),
      pollsBySectorConfig
    );

    const proposalsBySectorChart = new Chart(
      document.getElementById('proposals-by-sector-chart'),
      proposalsBySectorConfig
    );

    const proposalsAnswersBySectorChart = new Chart(
      document.getElementById('proposals-votes-by-sector-chart'),
      proposalsAnswersBySectorConfig
    );

    const proposalsAnswersByGenderrChart = new Chart(
      document.getElementById('proposals-votes-by-gender-chart'),
      proposalsAnswersByGenderConfig
    );
  <% end %>
<% end %>