<div id="stats" class="stats">
  <div class="row">
    <div class="small-12 column">
      <h1 class="inline-block"><%= t "admin.stats.show.stats_title" %></h1>

      <div class="clear"></div>

      <ul class="tabs" data-tabs id="stats-tabs">
        <li class="tabs-title is-active"><a href="#general-tab" aria-selected="true">General</a></li>
        <li class="tabs-title">
          <a data-tabs-target="ppa-tab" href="#ppa-tab">
            Cuentas Públicas Participativas
          </a>
        </li>
        <li class="tabs-title">
          <a data-tabs-target="prp-tab" href="#prp-tab">
            Planes Reguladores Participativos
          </a>
        </li>
        <li class="tabs-title">
          <a data-tabs-target="polls-tab" href="#polls-tab">
            Consultas
          </a>
        </li>
        <li class="tabs-title">
          <a data-tabs-target="proposals-tab" href="#proposals-tab">
            Propuestas
          </a>
        </li>
        <li class="tabs-title">
          <a data-tabs-target="budgets-tab" href="#budgets-tab">
            Presupuestos Participativos
          </a>
        </li>
      </ul>

      <div class="tabs-content" data-tabs-content="stats-tabs">
        <div class="tabs-panel is-active" id="general-tab">
          <%= render 'stats_general' %>
        </div>
        <div class="tabs-panel" id="ppa-tab">
          <%= render 'stats_ppa' %>
        </div>
        <div class="tabs-panel" id="prp-tab">
          <%= render 'stats_prp' %>
        </div>
        <div class="tabs-panel" id="polls-tab">
          <%= render 'stats_polls' %>
        </div>
        <div class="tabs-panel" id="proposals-tab">
          <%= render 'stats_proposals' %>
        </div>
        <div class="tabs-panel" id="budgets-tab">
          <%= render 'stats_budgets' %>
        </div>
      </div>
    </div>
  </div>
</div>
