<%= javascript_include_tag "stat_graphs", "data-turbolinks-track" => "reload" %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

<div id="stats" class="stats">
  <div class="row">
    <div class="small-12 column">
      <h1 class="inline-block"><%= t "admin.stats.show.stats_title" %></h1>

      <div class="float-right clear">
        <%= link_to t("admin.stats.show.polls"),
                    polls_admin_stats_path, class: "button" %>
        <%= link_to t("admin.stats.show.participatory_budgets"),
                    budgets_admin_stats_path, class: "button" %>
        <% if true == false %>
        <%= link_to t("admin.stats.show.proposal_notifications"),
                    proposal_notifications_admin_stats_path, class: "button" %>
        <% end %>
        <%= link_to t("admin.stats.show.sdg"),
                     sdg_admin_stats_path, class: "button" if feature?(:sdg) %>
      </div>

      <div class="clear"></div>
      <div class="small-12 callout">
        <h5>Descarga de reportes</h5>
        <%= link_to 'Descargar propuestas',
          generate_report_admin_stats_path('proposals'),
          class: 'button success small',
          style: 'margin-left: 0'
        %>
        <%= link_to 'Descargar consultas',
          generate_report_admin_stats_path('polls'),
          class: 'button success small'
        %>
        <%= link_to 'Descargar eventos',
          generate_report_admin_stats_path('events'),
          class: 'button success small'
        %>
      </div>

      <button onclick="saveAsPDF();" class="button">Exportar gráficos como PDF</button>
      <div id="chart-container">
        <div class="row">
          <div class="small-12 column">
            <h2>Consultas</h2>
            <div>
              <div class="small-12 medium-4 column text-center">
                <h4>Cantidad de votos por género</h4>
                <canvas id="polls-answers-by-gender-chart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-12 column">
            <h2>Propuestas</h2>
            <div>
              <div class="small-12 medium-4 column text-center">
                <h4>Cantidad de apoyos por género</h4>
                <canvas id="proposals-votes-by-gender-chart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row stats-numbers">
        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= link_to t("admin.stats.show.summary.visits"),
                        graph_admin_stats_path(id: "visits", count: @visits) %> <br>
            <span class="number"><%= number_with_delimiter(@visits) %></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.debates" %> <br>
            <span class="number"><%= number_with_delimiter(@debates) %></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.proposals" %> <br>
            <span class="number"><%= number_with_delimiter(@proposals) %></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.comments" %> <br>
            <span class="number"><%= number_with_delimiter(@comments) %></span>
          </p>
          <% if feature?(:budgets) %>
            <p>
              <%= t "admin.stats.show.summary.budgets" %> <br>
              <span class="number"><%= number_with_delimiter(@budgets) %></span>
            </p>
            <p class="featured">
              <%= t "admin.stats.show.summary.budget_investments" %> <br>
              <span class="number"><%= number_with_delimiter(@investments) %></span>
            </p>
          <% end %>
        </div>

        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t "admin.stats.show.summary.proposal_votes" %> <br>
            <span class="number"><%= number_with_delimiter(@proposal_votes) %> <br></span>
          </p>
          <p>
            <%= t "admin.stats.show.summary.debate_votes" %> <br>
            <span class="number"><%= number_with_delimiter(@debate_votes) %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.comment_votes" %> <br>
            <span class="number"><%= number_with_delimiter(@comment_votes) %></span>
          </p>

          <p>
            <%= t "admin.stats.show.summary.votes" %> <br>
            <span class="number"><%= number_with_delimiter(@votes) %></span>
          </p>
        </div>

        <div class="small-12 medium-3 column">
          <p class="featured">
            <%= t "admin.stats.show.summary.users" %> <br>
            <span class="number"><%= number_with_delimiter(@users) %></span>
          </p>
        </div>
  
        <div class="small-12 medium-3 column">
        </div>

      </div>

      <div class="small-12 column">
        <% @event_types.each do |event| %>
          <h3>
            <%= link_to graph_link_text(event),
                        graph_admin_stats_path(event: event) %>
          </h3>
        <% end %>
      </div>

      <% if feature?(:budgets) %>
        <div class="small-12 column">
          <h2><%= t "admin.stats.show.budgets_title" %></h2>
          <%= budget_investments_chart_tag id: "budget_investments" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<% if current_page?(admin_stats_path) %>
  <%= javascript_tag do %>
    const dataPollsAnswersByGender = {
      labels: [
        'Masculino',
        'Femenino',
        'Otro'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count('male') + Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count('Masculino') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count('female') + Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count('Femenino') %>,
          <%= Poll::Answer.all.joins('JOIN users ON users.id = poll_answers.author_id').select('users.*').pluck(:gender).count {|x| not ['male', 'female', 'Masculino', 'Femenino'].include?(x)} %>
        ],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    };

    const dataProposalsAnswersByGender = {
      labels: [
        'Masculino',
        'Femenino',
        'Otro'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count('male') + Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count('Masculino') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count('female') + Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count('Femenino') %>,
          <%= Vote.where(votable_type: 'Proposal').joins('JOIN users ON users.id = votes.voter_id').select('users.*').pluck(:gender).count {|x| not ['male', 'female', 'Masculino', 'Femenino'].include?(x)} %>
        ],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4,
      }]
    };

    // Configs
    const pollsAnswersByGenderConfig = {
      type: 'pie',
      data: dataPollsAnswersByGender
    };

    const proposalsAnswersByGenderConfig = {
      type: 'pie',
      data: dataProposalsAnswersByGender
    }

    // Charts
    const pollsAnswersByGenderChart = new Chart(
      document.getElementById('polls-answers-by-gender-chart'),
      pollsAnswersByGenderConfig
    );

    const proposalsAnswersByGenderrChart = new Chart(
      document.getElementById('proposals-votes-by-gender-chart'),
      proposalsAnswersByGenderConfig
    );

    function saveAsPDF() {
      html2canvas(document.getElementById("chart-container"), {
          dpi: 144,
          onrendered: function(canvas) {
            const img = canvas.toDataURL()
            const doc = new jsPDF('p', 'px', 'a4');
            doc.addImage(img,'PNG',15,15,canvas.width * 0.3,canvas.height * 0.3,"a","SLOW")
            doc.save('Gráficos de Consultas y Propuestas.pdf')
          },
      });
    }
  <% end %>
<% end %>
