<%= render 'header' %>

<div class="row">
  <div class="small-12 column">
    <%= link_to 'Descargar reporte', download_report_admin_stats_path('general'), class: 'button' %>
  </div>
</div>

<div class="row stats-numbers">
  <div class="small-12 medium-3 column">
    <p class="featured">
      Procesos realizados <br>
      <span class="number"><%= number_with_delimiter(@general[:total_count]) %></span>
    </p>
    <p>
      Cuentas Públicas <br>
      <span class="number"><%= number_with_delimiter(@general[:ppa_count]) %></span>
    </p>
    <p>
      Planes Reguladores <br>
      <span class="number"><%= number_with_delimiter(@general[:prp_count]) %></span>
    </p>
    <p>
      Consultas <br>
      <span class="number"><%= number_with_delimiter(@general[:polls_count]) %></span>
    </p>
    <p>
      Propuestas <br>
      <span class="number"><%= number_with_delimiter(@general[:proposals_count]) %></span>
    </p>
    <% if feature?(:budgets) %>
      <p>
        <%= t "admin.stats.show.summary.budgets" %> <br>
        <span class="number"><%= number_with_delimiter(@general[:budgets_count]) %></span>
      </p>
    <% end %>
  </div>
  <div class="small-12 medium-3 column">
    <p class="featured">
      Usuarios registrados<br>
      <span class="number"><%= number_with_delimiter(@users.count) %></span>
    </p>
  </div>
  <div class="small-12 medium-3 column">
  </div>
</div>

<%= render Admin::Stats::ParticipantsComponent.new(@users) %>
