<footer>
	<div class="row">

    <div class="footer-sections small-12 large-12 column">

      <div class="small-12 medium-2 column mt20">
        <%= image_tag('pndhe-16.png', width: 172) %>
      </div>

      <div class="small-12 medium-4 column mt20">
        <h5>
          SITIOS DE INTERÉS
        </h5>
        <p class="texto-footer">
          <i class="fas fa-link icono-contacto-footer"></i>
          <span class="texto-footer">
            <a target="blank" href="https://www.minjusticia.gob.cl/">Ministerio de Justicia y Derechos Humanos</a>
          </span><br/>
          <i class="fas fa-link icono-contacto-footer"></i>
          <span class="texto-footer">
            <a target="blank" href="https://ddhh.minjusticia.gob.cl/">Subsecretaría de Derechos Humanos</a>
          </span><br/>
          <i class="fas fa-link icono-contacto-footer"></i>
          <span class="texto-footer">
            <a target="blank" href="https://planderechoshumanos.gob.cl/">Plan Nacional de Derechos Humanos</a>
          </span><br/>
        </p>
      </div>

      

      <div class="small-12 medium-4 column mt20">
        <h5>
          MESA DE AYUDA
        </h5>
        <p class="contact-info etepa-creacion2">
          Si tienes problemas técnicos al usar la plataforma, escríbenos a: <br>
          <i class="fas fa-envelope icono-contacto-footer"></i> <a href="mailto:planddhhyempresas@minjusticia.cl">planddhhyempresas@minjusticia.cl</a>
        </p>
      </div>

      <div class="small-12 medium-2 column mt20 social">
        <h5>
          REDES SOCIALES
        </h5>
        <ul>
        <% if setting["twitter_handle"] %>
          <li class="inline-block">
            <%= link_to "https://twitter.com/#{setting["twitter_handle"]}", target: "_blank",
                         title: t("shared.go_to_page") + t("social.twitter", org: setting["org_name"]) + t("shared.target_blank") do %>
                            <span class="show-for-sr"><%= t("social.twitter", org: setting["org_name"]) %></span>
                            <span class="icon-twitter icono-footer" aria-hidden="true"></span>
            <% end %>
          </li>
        <% end %>
        <% if setting["facebook_handle"] %>
          <li class="inline-block">
            <%= link_to "https://www.facebook.com/#{setting["facebook_handle"]}/", target: "_blank",
                        title: t("shared.go_to_page") + t("social.facebook", org: setting["org_name"]) + t("shared.target_blank") do %>
                        <span class="show-for-sr"><%= t("social.facebook", org: setting["org_name"]) %></span>
                        <span class="icon-facebook icono-footer" aria-hidden="true"></span>
            <% end %>
          </li>
        <% end %>
        <% if setting["youtube_handle"] %>
          <li class="inline-block">
            <%= link_to "https://www.youtube.com/#{setting["youtube_handle"]}", target: "_blank",
                        title: t("shared.go_to_page") + t("social.youtube", org: setting["org_name"]) + t("shared.target_blank") do %>
                        <span class="show-for-sr"><%= t("social.youtube", org: setting["org_name"]) %></span>
                        <span class="icon-youtube icono-footer" aria-hidden="true"></span>
            <% end %>
          </li>
        <% end %>
        <% if setting["instagram_handle"] %>
          <li class="inline-block">
            <%= link_to "https://www.instagram.com/#{setting["instagram_handle"]}", target: "_blank",
                        title: t("shared.go_to_page") + t("social.instagram", org: setting["org_name"]) + t("shared.target_blank") do %>
                        <span class="show-for-sr"><%= t("social.instagram", org: setting["org_name"]) %></span>
                        <span class="icon-instagram icono-footer" aria-hidden="true"></span>
            <% end %>
          </li>
        <% end %>
        <!-- LinkedIn -->
        <% if setting["telegram_handle"] %>
          <li class="inline-block">
            <%= link_to "https://www.linkedin.com/company/#{setting["telegram_handle"]}", target: "_blank",
                        title: t("shared.go_to_page") + t("social.linkedin", org: setting["org_name"]) + t("shared.target_blank") do %>
                        <span class="show-for-sr"><%= t("social.linkedin", org: setting["org_name"]) %></span>
                        <span class="fab fa-linkedin icono-footer" aria-hidden="true"></span>
            <% end %>
          </li>
        <% end %>
        <%= raw content_block("footer", I18n.locale) %>
      </ul>
      </div>
    </div>
  </div>

  <div class="subfooter row texto-footer" style="font-size: 0.7em;">
    <div class="small-12 column">
      Ministerio de Justicia y Derechos Humanos, <%= Time.now.year %> | Morandé 107, Santiago - Teléfonos (56-2) 26473100
    </div>
    <div class="small-12 column">
      Involúcrate Crea Decide, <%= Time.now.year %> | 
      <ul class="no-bullet inline-block">
        <li class="inline-block"><a href="/condiciones">Condiciones de uso</a>&nbsp;|</li>
        <li class="inline-block"><a href="/accesibilidad">Accesibilidad</a></li>
      </ul>
    </div>
  </div>
</footer>