<footer>
  <div class="row">
    <%= link_to 'https://www.goreantofagasta.cl/', class: 'logo' do %>
      <%= image_tag '/images/global/logo-full.png' %>
    <% end %>
    <div class="footer-column">
      <h4>Sitios de interés</h4>
      <ul>
        <li><a href="https://www.goreantofagasta.cl/">Gobierno Regional de Antofagasta</a></li>
        <li><a href="https://www.subdere.gov.cl/">Subsecretaría de Desarrollo Regional y Administrativo</a></li>
        <li><a href="https://dos.gob.cl/">División de Organizaciones Sociales</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <%= image_tag '/images/global/logo-ugpc-full.png', class: 'logo-ugpc' %>
      <p>
        <strong>Dirección:</strong> Prat 384, piso 2, Antofagasta.<br>
        <strong>Teléfono:</strong> (56 55) 2357500<br>
        <strong>Mail:</strong> contacto@goreantofagasta.cl
      </p>
    </div>
    <div class="footer-column">
      <h4>Redes Sociales</h4>
      <%= render Layout::SocialComponent.new %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 column post-footer" style="color: white;">
      Gobierno Regional de Antofagasta, <%= Time.current.year %> |
      <a href="/condiciones">Términos y Condiciones</a>
    </div>
  </div>
</footer>
