<%
  @bg_paths = [
    '/account',
    '/users',
    '/comments',
  ]
%>

<header class="main-header" style="background-color: <%= defined?(bg) ? bg : @bg_paths.any? { |p| request.fullpath.start_with?(p) } ? '#568ade' : 'transparent' %>">
  <% if display_remote_translation_info?(@remote_translations, I18n.locale) %>
    <%= render "shared/remote_translations_button", remote_translations: @remote_translations %>
  <% end %>

  <div class="row">
    <div class="top-bar">

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon" data-toggle></span>
      </span>

      <h1 class="top-bar-title desktop-view">
        <%= link_to root_path, accesskey: "0" do %>
          <%= image_tag(image_path_for("logo_header.png"), class: "float-left", alt: setting["org_name"]) %>
        <% end %>
      </h1>

      <div class="margin-left desktop-view"></div>

      <div id="navigation_bar" class="subnavigation expanded">
        <div class="row">
          <div class="hide-for-small-only">
            <%= render "shared/subnavigation" %>
          </div>
        </div>
      </div>
      <%= yield :header_addon %>

      <h1 class="top-bar-title mobile-view">
        <%= link_to root_path, accesskey: "0" do %>
          <%= image_tag(image_path_for("logo_header.png"), class: "float-left", alt: setting["org_name"]) %>
        <% end %>
      </h1>


      <div id="responsive-menu">
        <div class="show-for-small-only">
          <div class="subnavigation row">
            <%= render "shared/subnavigation" %>
            <div class="small-12 column">
              <%= render "shared/top_links" %>
            </div>
          </div>
        </div>
        <div class="top-bar-right">
          <ul class="menu" data-responsive-menu="medium-dropdown">
            <%= render "devise/menu/login_items" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
