<header>
  <% if display_remote_translation_info?(@remote_translations, I18n.locale) %>
    <%= render "shared/remote_translations_button", remote_translations: @remote_translations %>
  <% end %>

  <div class="top-links">
    <%= render "shared/locale_switcher" %>
    <div class="hide-for-small-only">
      <%= render "shared/top_links" %>
    </div>
  </div>

  <div class="custom-menu">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button type="button" class="menu-button" data-toggle>
        <span class="menu-icon"></span>
      </button>
    </span>

    <h1 class="top-bar-title">
      <%= link_to root_path, accesskey: "0" do %>
        <%= image_tag(image_path_for("logo_header.png"), alt: setting["org_name"]) %>
      <% end %>
    </h1>

    <div class="custom-menu-desktop hide-for-small-only">
      <nav>
        <ul>
          <%= render "shared/subnavigation" %>

          <% if current_user %>
            <div class="custom-menu-account">
              <a class="login-button" rel="nofollow" title="Mostrar menú de usuario">
                Mi cuenta
              </a>
              <div class="custom-menu-account-content">
                <%= render "shared/admin_login_items_alt" %>
                <%= render "devise/menu/login_items" %>
              </div>
            </div>
          <% else %>
            <%= render "devise/menu/login_items" %>
          <% end %>
        </ul>
      </nav>
    </div>

    <div id="responsive-menu" class="custom-menu-mobile show-for-small-only">
      <nav>
        <ul>
          <%= render "shared/subnavigation" %>
          <%= render "shared/admin_login_items_alt" %>
          <%= render "devise/menu/login_items" %>
        </ul>
      </nav>
    </div>
  </div>
</header>
