<!DOCTYPE html>
<html <%= "dir=rtl" if rtl? %> lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= raw setting["html.per_page_code_head"] %>
  </head>

  <body class="auth-page" style="color: white;">
    <div class="wrapper <%= yield(:wrapper_class) %> custom-auth">
      <%= render "layouts/header", with_subnavigation: true %>
      <%= render "layouts/flash" %>
      <%= image_tag "/images/banner-cloud.svg", class: 'banner-cloud-1' %>
      <%= image_tag "/images/banner-cloud.svg", class: 'banner-cloud-2' %>
      <%= image_tag "/images/banner-cloud.svg", class: 'banner-cloud-3' %>
      <div class="custom-auth-content">
        <div class="custom-auth-box">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
