<!DOCTYPE html>
<html <%= common_html_attributes %>>
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= raw setting["html.per_page_code_head"] %>
  </head>

  <body>
    <%= raw setting["html.per_page_code_body"] %>
    <%= render 'layouts/header' %>

    <div class="auth-container">
      <div class="row">
        <div class="small-12 column">
          <div class="auth-box">
            <%= render "layouts/flash" %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
