<div class="margin-top">
  <%= form_with(model: [:admin, @proposal_topic], local: true) do |form| %>

    <div class="field">
      <%= form.text_field :title, label: 'Título', required: true %>
    </div>

    <div class="field">
      <%= form.text_area :description, label: 'Descripción' %>
    </div>

    <div class="field">
      <%= form.date_field :start_date, label: 'Fecha de inicio', required: true %>
    </div>

    <div class="field">
      <%= form.date_field :end_date, label: 'Fecha de termino', required: true %>
    </div>

    <%= render Shared::ImageFieldComponent.new(@proposal_topic, form, true) %>

    <div class="field">
      <%= render Segmentation::FormComponent.new(
        Segmentation.find_by(entity_name: @proposal_topic.class.name, entity_id: @proposal_topic.id)
      ) %>
    </div>

    <div class="actions">
      <% if action_name == 'edit' %>
        <%= form.submit 'Editar convocatoria', class: 'button' %>
      <% else %>
        <%= form.submit 'Crear convocatoria', class: 'button' %>
      <% end %>
    </div>
  <% end %>
</div>
