<%= back_link_to %>

<h2><%= t("devise_views.users.registrations.edit.edit") %></h2>
<small>Modifica solamente los campos que quieras actualizar</small>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "shared/errors", resource: resource %>
  <div class="row">
    <div class="small-12 column">
      <%= f.text_field :username,
        maxlength: User.username_max_length,
        autofocus: true,
        placeholder: t("account.show.username_label")
      %>
    </div>

    <div class="small-12 column">
      <%= f.email_field :email,
        label: t("devise_views.users.registrations.edit.email_label"),
        placeholder: t("devise_views.users.registrations.edit.email_label") %>
    </div>

    <div class="small-12 column">
      <%= f.text_field :phone_number,
        label: 'Número de teléfono',
        placeholder: 'Número de teléfono' %>
    </div>


    <div class="small-12 column">
      <%= f.select :town, 
        options_for_select(
          @towns,
          :selected => current_user.town || nil
        ),
        label: 'Comuna' %>
    </div>

    <div class="small-12 column">
      <%= f.select :gender,
        options_for_select(
          [
            'Masculino',
            'Femenino',
            'Otro'
          ],
          :selected => current_user.gender || nil
        ),
        label: 'Género' %>
    </div>

    <div class="small-12 column">
      <%= f.date_field :date_of_birth,
        label: 'Fecha de nacimiento' %>
    </div>

    <div class="small-12 column">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t("devise_views.users.registrations.edit.waiting_for") %> <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="small-12 column">
      <%= f.submit t("devise_views.users.registrations.edit.update_submit"), class: "button" %>
    </div>
  </div>
<% end %>
