<%= back_link_to %>

<% @indigenous_options = [
  'Mapuche',
  'Aymara',
  'Rapa Nui',
  'Quechua',
  'Colla',
  'Diaguita',
  'Chango',
  'Kawashkar',
  'Licanantay',
  'Yámana o Yagán',
  'Afrodescendiente',
  'No pertenezco a ningún pueblo indígena ni tribal',
  'Prefiero no decir',
] %>

<% @where_do_you_live_options = [
  'En un hospital, por tratamiento médico prolongado.',
  'En casa de mi familia o familiares En un centro privativo de libertad',
  'En el internado de mi escuela',
  'En una residencia de protección',
  'Otro',
] %>

<% @sexual_orientation_options = [
  'Homosexual (Lesbiana, gay)',
  'Heterosexual',
  'Bisexual',
  'Otra',
  'No sé',
  'Prefiero no decir',
] %>

<% uri = URI('https://restcountries.eu/rest/v2/all') %>
<% res = Net::HTTP.get_response(uri) %>
<% @countries = JSON.parse(res.body.to_s.force_encoding('UTF-8')).map{|c| c['name']} %>

<% uri = URI('https://apis.digital.gob.cl/dpa/regiones') %>
<% res = Net::HTTP.get_response(uri) %>
<% @regions = JSON.parse(res.body).map{|c| [c['codigo'], c['nombre']]} %>

<% @regions_for_select = @regions.map{|r| r[1] } %>

<h2>Mi perfil</h2>
<p>Te invitamos a que completes la siguiente información, que nos permitirá contar con información relevante de las personas participantes, desde una perspectiva de derechos humanos. Responderlas es completamente voluntario, y el uso de esta información será solo para un análisis estadístico general, pues esta información no quedará asociada a las sugerencias que hayas realizado, tal como se indica en los <a href="/condiciones" target="_blank">“Términos y condiciones”</a> de este proceso.</p>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "shared/errors", resource: resource %>
  <div class="row">
    <div class="small-12 column">
      <%= f.select :gender,
        options_for_select(['Femenino', 'Masculino', 'Transgénero', 'Otro', 'No sé', 'Prefiero no decir'], @user.gender),
        prompt: @user.gender ? @user.gender : 'Elige una opción',
        label: '¿Con cuál género te identificas?' %>
    </div>

    <div class="small-12 column">
      <%= f.select :country,
        options_for_select(@countries, current_user.country),
        prompt: 'Elige una opción',
        label: '¿En qué país naciste?' %>
    </div>

    <div class="small-12 column">
      <%= f.number_field :current_age, min: 0, max: 100, label: 'Edad' %>
    </div>

    <div class="small-12 column">
      <%= f.select :has_disability,
        options_for_select([['Si', true], ['No', false]], selected: @user.has_disability),
        label: '¿Tienes algún tipo de discapacidad?',
        prompt: 'Elige una opción' %>
    </div>

    <div class="small-12 column">
      <%= f.select :indigenous_town,
        options_for_select(@indigenous_options, @user.indigenous_town),
        prompt: 'Elige una opción',
        label: '¿Perteneces a algún pueblo indígena?' %>
    </div>

    <div class="small-12 column">
      <%= f.select :sexual_orientation, options_for_select(@sexual_orientation_options, @user.sexual_orientation), prompt: 'Elige una opción', label: '¿Cuál es tu orientación sexual?' %>
    </div>

    <div class="small-12 column">
      <%= f.select :region,
        options_for_select(@regions_for_select, @user.region),
        prompt: 'Elige una opción',
        label: 'Región' %>
    </div>

    <div class="small-12 column">
      <%= f.select :town,
        options_for_select([], @user.town),
        prompt: 'Elige una opción',
        label: 'Comuna' %>
    </div>

    <div class="small-12 column">
      <%= f.email_field :email,
        label: t("devise_views.users.registrations.edit.email_label"),
        placeholder: t("devise_views.users.registrations.edit.email_label") %>
    </div>

    <div class="small-12 column">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t("devise_views.users.registrations.edit.waiting_for") %> <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="small-12 column">
      <button type="button" style="background: #36bf9b !important;" class="button" onclick="showPasswordEdit();">Actualizar contraseña</button>
    </div>
  
    <div class="small-12 column show-password-edit" style="display: none;">
      <%= f.password_field :password,
        autocomplete: "off",
        label: t("devise_views.users.registrations.edit.password_label"),
        placeholder: t("devise_views.users.registrations.edit.password_label"),
        hint: t("devise_views.users.registrations.edit.leave_blank") %>
    </div>

    <div class="small-12 column show-password-edit" style="display: none;">
      <%= f.password_field :password_confirmation,
        label: t("devise_views.users.registrations.edit.password_confirmation_label"),
        autocomplete: "off",
        placeholder: t("devise_views.users.registrations.edit.password_confirmation_label") %>
    </div>

    <div class="small-12 column">
      <%= f.password_field :current_password,
        label: t("devise_views.users.registrations.edit.current_password_label"),
        autocomplete: "off",
        placeholder: t("devise_views.users.registrations.edit.current_password_label"),
        hint: t("devise_views.users.registrations.edit.need_current") %>
    </div>

    <div class="small-12 column">
      <%= f.submit t("devise_views.users.registrations.edit.update_submit"), class: "button" %>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('#user_town').attr('disabled', 'disabled')

  if ($('#user_region').val() != '') {
    $('#user_town').attr('disabled', 'disabled')
    $('.temp-value').remove()
    let comunas = []
    $.ajax({
      url: 'https://apis.digital.gob.cl/dpa/regiones',
      dataType: 'jsonp',
      success: function(regiones) {
        let regionActual = regiones.find(r => r.nombre == $('#user_region').val())
        $.ajax({
          url: 'http://apis.digital.gob.cl/dpa/regiones/' + regionActual.codigo + '/comunas',
          dataType: 'jsonp',
          success: function(response) {
            $('#user_town').attr('disabled', false)
            comunas = response.map(c => c.nombre)
            comunas.forEach(c => {
              if (c == '<%= @user.town %>') {
                $('#user_town').append(`<option class="temp-value" value="${c}" selected>${c}</option>`)
              } else {
                $('#user_town').append(`<option class="temp-value" value="${c}">${c}</option>`)
              }
            })
          }
        })
      }
    })
  } else {
    $('#user_town').attr('disabled', 'disabled')
  }

  if ($('#user_country').val() === 'Otro país') {
    $('#custom-country').css('display', 'block');
    $('#label-country').css('display', 'block');
    $('option:contains("Otro país")').val($('#custom-country').val())
  } else {
    $('#custom-country').css('display', 'none');
    $('#label-country').css('display', 'none');
  }
})

$('#user_country').on('change', function() {
  if (this.value === 'Otro país' || this.value === 'otro país') {
    $('#custom-country').css('display', 'block');
    $('#label-country').css('display', 'block');
  } else {
    $('#custom-country').css('display', 'none');
    $('#label-country').css('display', 'none');
  }
})

$('#custom-country').on('change', function(e) {
  $('option:contains("Otro país")').val(e.target.value)
})


$('#user_region').on('change', function(e) {
  if ($('#user_region').val() != '') {
    $('#user_town').attr('disabled', 'disabled')
    $('.temp-value').remove()
    let comunas = []
    $.ajax({
      url: 'https://apis.digital.gob.cl/dpa/regiones',
      dataType: 'jsonp',
      success: function(regiones) {
        let regionActual = regiones.find(r => r.nombre == $('#user_region').val())
        $.ajax({
          url: 'http://apis.digital.gob.cl/dpa/regiones/' + regionActual.codigo + '/comunas',
          dataType: 'jsonp',
          success: function(response) {
            $('#user_town').attr('disabled', false)
            comunas = response.map(c => c.nombre)
            comunas.forEach(c => {
              $('#user_town').append(`<option class="temp-value" value="${c}">${c}</option>`)
            })
          }
        })
      }
    })
  } else {
    $('#user_town').attr('disabled', 'disabled')
  }
})

function showPasswordEdit() {
  if ($('.show-password-edit').css('display') == 'none') {
    $('.show-password-edit').css('display', 'block')
  } else {
    $('.show-password-edit').css('display', 'none')
  }
}
</script>