<% provide :title do %><%= t("devise_views.users.registrations.new.title") %><% end %>
<h2><%= t("devise_views.users.registrations.new.title") %></h2>

<%= render "devise/omniauth_form", action: "sign_up" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/errors", resource: resource %>

  <div class="row">
    <%= f.hidden_field :use_redeemable_code %>
    <%= f.hidden_field :locale, value: I18n.locale %>
    <%= f.hidden_field :username %>
    <%= f.hidden_field :nationality %>
    <%= f.hidden_field :profession %>
    <%= f.hidden_field :civil_status %>
    <%= f.hidden_field :date_of_birth %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :long %>

    <%= hidden_field_tag 'sector' %>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.text_field :document_number, 
            maxlength: 10,
            label: 'RUT',
            readonly: true,
            required: true,
            class: 'custom-input'
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.text_field :first_name, 
            maxlength: 24,
            label: 'Nombre',
            readonly: true,
            required: true,
            class: 'custom-input'
        %>
      </div>
    </div>


    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.text_field :last_name, 
            maxlength: 24,
            label: 'Apellido paterno',
            readonly: true,
            required: true,
            class: 'custom-input'
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.text_field :maiden_name, 
            maxlength: 24,
            label: 'Apellido materno',
            readonly: true,
            class: 'custom-input'
        %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.email_field :email,
          required: true,
          class: 'custom-input',
          placeholder: 'ejemplo@correo.com'
        %>
        <span class="error-input-message" id="email-exists-message">
          El email ya está registrado
        </span>
      </div>

      <div class="small-12 medium-6 column">
        <label for="email_verification">Validar email</label>
        <%= email_field_tag 'email_verification',
          nil,
          class: 'custom-input',
          required: true,
          onpaste: 'return false;',
          autocomplete: 'off',
          placeholder: 'Repite el email anterior'
        %>
        <span class="error-input-message" id="email-verification-message">
          El email no coincide
        </span>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.select :gender,
            [
              'Masculino',
              'Femenino',
              'Otro'
            ],
            {
              include_blank: 'Elija una opción',
              label: 'Género'
            },
            {
              class: 'custom-input',
              required: true
            }
        %>

        <%= f.text_field :gender,
          id: 'custom_gender',
          style: 'display: none;',
          class: 'custom-input',
          placeholder: 'Ingresa tu género',
          onkeydown: 'return /[a-zA-ZáéíóúÁÉÍÓÚ ]/i.test(event.key)',
          maxlength: 20,
          label: false
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.label :phone_number, 'Teléfono de contacto' %>
        <div class="input-group">
          <span style="height: 3rem; user-select: none; display: flex; align-items: center; color: black;">
            +56
          </span>
          <%= f.number_field :phone_number, 
              label: 'Teléfono de contacto',
              max: 999999999,
              min: 100000000,
              onpaste: 'return false;',
              required: true,
              class: 'custom-input',
              label: false,
              placeholder: '912345678'
          %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.select :comuna,
            ['Las Condes'] + @comunas.sort,
            {
              include_blank: 'Elija una opción',
              label: 'Comuna'
            },
            {
              class: 'custom-input',
              required: true
            }
        %>
      </div>
      <div class="small-12 medium-6 column">
        <%= f.text_field :address, 
            maxlength: 24,
            label: 'Dirección',
            required: true,
            class: 'custom-input',
            placeholder: 'Ingresa por ej. APOQUINDO 3400 (Sin “Avenida” o “Av.”)',
            maxlength: 58
        %>
        <div id="alternative-address">
          <p class="help-text">
            No se ha encontrado tu dirección, por favor escribe abajo tu calle y número.
          </p>
          <label>Calle</label>
          <%= text_field_tag 'alt-street', nil, class: 'custom-input', placeholder: 'Ingresa por ej. APOQUINDO (Sin “Avenida” o “Av.”)' %>
          <label>Número</label>
          <%= number_field_tag 'alt-number', nil, class: 'custom-input', maxlength: 8 %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.select :house_type,
            [
              'Casa',
              'Departamento',
              'Oficina'
            ],
            {
              include_blank: 'Elija una opción',
              label: 'Casa/Depto/Oficina'
            },
            {
              class: 'custom-input',
            }
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.text_field :house_reference, 
            maxlength: 128,
            label: 'Aclaratoria',
            class: 'custom-input',
            placeholder: 'Nro. Depto. | Nro. Casa | Otra aclaración del lugar'
        %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 column">
        <%= f.select :education,
            [
              'Enseñanza Básica',
              'Enseñanza Media',
              'Técnico Profesional',
              'Técnico Superior',
              'Profesional',
              'Postgrado'
            ],
            {
              include_blank: 'Elija una opción',
              label: 'Nivel Educacional'
            },
            {
              class: 'custom-input',
              required: true
            }
        %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.number_field :children_amount, 
            min: 0,
            max: 20,
            label: 'Nº de Hijos',
            value: 0,
            required: true,
            class: 'custom-input'
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.number_field :pets_amount, 
            min: 0,
            max: 100,
            label: 'Nº de Mascotas',
            value: 0,
            required: true,
            class: 'custom-input'
        %>
      </div>
    </div>

    <div class="small-12 column">
      <%= f.check_box :terms_of_service,
        title: t("devise_views.users.registrations.new.terms_title"),
        label: t("devise_views.users.registrations.new.terms",
                 terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/condiciones",
                                title: t("shared.target_blank"),
                                target: "_blank")
                ),
        required: true
      %>
    </div>

      <div class="small-12 text-center">
        <%= f.submit t("devise_views.users.registrations.new.submit"), class: "solid-button rounded-xl" %>
      </div>

      <div class="small-12 text-center mt-2">
        Si tienes problema al registrarte, por favor <a href="/help#contacto" target="_blank">contáctanos aquí</a>
      </div>
      
      <div class="small-12 text-center mt-2" style="font-size: 0.8em; font-style: italic;">
        * Aquí puedes llenar tus datos voluntariamente, con el fin de ser parte de Participa Las Condes. 
        Te dará la posibilidad de entrar a la página y participar en: Consultas Ciudadanas, Encuestas, 
        Propuestas Ciudadanas, Iniciativas Municipales, Debates y Presupuestos Participativos. 
        Recuerda que cada proceso está sujeto a sus respectivas bases.<br>
        * La Municipalidad de Las Condes protege los datos de carácter personal de los participantes del sitio web, 
        asegurando la confidencialidad de los mismos, y que bajo ninguna circunstancia transferirá o publicará dichos 
        datos a persona alguna, salvo que ello sea ordenado por un tribunal de justicia o autoridad administrativa, 
        de acuerdo a la legislación vigente o que el participante mismo lo autorice.
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<%= javascript_tag do %>
  $(document).ready(function () {
    var streets = []
    var streetsRequest = $.get("/las-condes/streets");
    streetsRequest.done(function(response) {
      streets = response
    })

    $('#user_phone_number').on('keyup', function(e) {
      if (this.value.length !== 9) {
        this.setCustomValidity('Deben ser 9 dígitos.')

        if (this.value.length > 9) {
          this.value = this.value.substring(0, 9)
          this.setCustomValidity('')
        }
      } else {
        this.setCustomValidity('')
      }
    })

    $('#alternative-address').hide()
    $('a[href="/condiciones"]').attr('target', '_blank')

    function showAltAddress() {
      $('#user_address').val('No se ha encontrado tu dirección')
      $('#alternative-address').show()
      $('#alt-street').attr('required', true)
      $('#alt-number').attr('required', true)
      $('#alt-street').autocomplete({
        source: function(request, response) {
          var results = $.ui.autocomplete.filter(streets, request.term)
          response(results.slice(0, 10))
        },
        change: function(event, ui) {
          if (!ui.item) {
            $('#alt-street').val('')
          }
        }
      })
    }

    function hideAltAddress() {
      $('#alternative-address').hide()
      $('#alt-street').attr('required', false)
      $('#alt-street').val('')
      $('#alt-number').attr('required', false)
      $('#alt-number').val('')

      try {
        $('#alt-street').autocomplete("destroy");
      } catch (error) { }
    }

    $('#user_gender').on('change', function() {
      if (this.value == 'Otro') {
        $('#custom_gender').val('')
        $('#custom_gender').css('display', 'block')
        $('#custom_gender').attr('required', true)
      } else {
        $('#custom_gender').val(this.value)
        $('#custom_gender').css('display', 'none')
        $('#custom_gender').attr('required', false)
      }
    })

    $('#email_verification').on('keyup', function() {
      if (this.value !== $('#user_email').val()) {
        this.setCustomValidity('Los email no coinciden.')
        $('#email_verification').addClass('error-input');
        $('#email-verification-message').show();
      } else {
        this.setCustomValidity('')
        $('#email_verification').removeClass('error-input');
        $('#email-verification-message').hide();
      }
    })

    $('#user_email').on('change', function() {
      var request = $.get("/user/registrations/check_email?email=" + this.value);
      request.done(function(response) {
        if (!response.available) {
          $('#user_email')[0].setCustomValidity('El email ya está registrado.')
          $('#user_email').addClass('error-input');
          $('#email-exists-message').show();
        } else {
          $('#user_email')[0].setCustomValidity('')
          $('#user_email').removeClass('error-input');
          $('#email-exists-message').hide();
        }
      });
    })

    $('#user_comuna').on('change', function() {
      if (this.value === 'Las Condes') {
        if ($('#user_address').val()) {
          $('#user_address').val('')
        }

        $('#user_address').autocomplete({
          source: function(request, response) {
            $.ajax({
              dataType: 'json',
              type: 'get',
              url: `<%= user_registrations_search_path %>?search=${request.term}`,
              success: function(data) {
                response(data.map(function(record) {
                  return {
                    label: record.nm_direccion,
                    value: record.nm_direccion,
                    sector: record.cod_unidadvecinal,
                    lat: record.str_latitud,
                    long: record.str_longitud
                  }
                }).slice(0, 10));
              }
            })
          },
          response: function(event, ui) {
            if (!ui.content.length) {
              showAltAddress()
            } else {
              hideAltAddress()
            }
          },
          change: function(event, ui) {
            if (!ui.item) {
              $('#sector').val('')
              $('#user_lat').val('')
              $('#user_long').val('')
              showAltAddress()
            } else {
              $('#sector').val(ui.item.sector)
              $('#user_lat').val(parseFloat(ui.item.lat.replace(',', '.')))
              $('#user_long').val(parseFloat(ui.item.long.replace(',', '.')))
              hideAltAddress()
            }
          },
          search: function(event, ui) {
            var value = $('#user_address').val()

            if (value.length < 5) {
              event.preventDefault()
            }
          }
        })
      } else {
        try {
          $('#user_address').autocomplete('destroy')
        } catch (error) {}
        hideAltAddress()
      }
    })
  })
<% end %>
