<% provide :title do %><%= t("devise_views.users.registrations.new.title") %><% end %>
<h2><%= t("devise_views.users.registrations.new.title") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/errors", resource: resource %>

  <div class="row">
    <div class="small-12 column">

      <%= f.hidden_field :use_redeemable_code %>
      <%= f.hidden_field :locale, value: I18n.locale %>

      <%= f.text_field :first_name, autofocus: true, label: 'Nombre', required: true %>
      <%= f.text_field :last_name, label: 'Apellido', required: true %>

      <%= f.text_field :document_number, label: 'RUT', required: true, hint: 'Ingrese RUT con guión y sin puntos' %>

      <%= f.invisible_captcha :address %>

      <%= f.email_field :email, required: true %>
      <%= f.email_field :email_confirmation, label: 'Repite el email anterior', required: true, onpaste: 'return false;' %>

      <% if true == false %>
        <%= f.select :commune,
          User::COMMUNES,
          {
            include_blank: 'Elige una comuna',
            label: 'Comuna',
          },
          {
            required: true
          }
        %>
        <%= f.text_field :commune,
          id: 'custom_commune',
          style: 'display: none;',
          placeholder: 'Ingresa tu comuna',
          onkeydown: 'return /[a-zA-ZáéíóúÁÉÍÓÚ ]/i.test(event.key)',
          maxlength: 20,
          label: false
        %>
      <% end %>

      <div style="margin-bottom: 1rem;">
        <label for="user[street_name]">Calle</label>
        <select name="user[street_name]" id="user_street_name" required>
          <% @street_names.each do |street_name| %>
            <option></option>
            <option value="<%= street_name %>"><%= street_name %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="user[house_number]">Número</label>
        <select name="user[house_number]" id="user_house_number" disabled required>
          <option value="" hidden>Elige un número</option>
        </select>
      </div>

      <%= f.select :gender,
        User::GENDER_CHOICES,
        {
          include_blank: 'Elige un género',
          label: 'Género',
        },
        {
          required: true
        }
      %>
      <%= f.text_field :gender,
        id: 'custom_gender',
        style: 'display: none;',
        placeholder: 'Ingresa tu género',
        onkeydown: 'return /[a-zA-ZáéíóúÁÉÍÓÚ ]/i.test(event.key)',
        maxlength: 20,
        label: false
      %>

      <%=
        f.date_field :date_of_birth,
        label: 'Fecha de nacimiento',
        required: true
      %>

      <%= f.password_field :password, autocomplete: "off" %>

      <%= f.password_field :password_confirmation, autocomplete: "off",
                           label: t("devise_views.users.registrations.new.password_confirmation_label") %>

      <% if resource.use_redeemable_code %>
        <%= f.text_field :redeemable_code %>
      <% end %>

      <%= f.check_box :terms_of_service,
        title: t("devise_views.users.registrations.new.terms_title"),
        label: t("devise_views.users.registrations.new.terms",
                 terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/condiciones",
                                title: t("shared.target_blank"),
                                target: "_blank")
                ) %>

      <div class="small-12 medium-6 small-centered">
        <%= f.submit t("devise_views.users.registrations.new.submit"), class: "button expanded" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
$(document).ready(function() {
   $('#user_street_name').select2({
    placeholder: "Elige una calle"
  });
});

const validarRUT = (rut) => {
  if (typeof rut === 'string' || typeof rut === 'number') {
    const rutSinFormato = limpiarRUT(rut);
    const rutSinDv = rutSinFormato.slice(0, -1);
    const rutDv = rutSinFormato.length > 0 ? rutSinFormato.split('').pop().toLowerCase() : undefined

    return calcularDv(rutSinDv) === rutDv;
  }
  else {
    return false;
  }
};

const limpiarRUT = rut => {
  let cleanRut = String(rut).replace(/[^0-9a-z]/gi, '');

  if (cleanRut.length > 9) {
    cleanRut = cleanRut.substring(0, cleanRut.length - (cleanRut.length - 9))
  }

  return String(rut).replace(/[^0-9a-z]/gi, '');
}

const calcularDv = rut => {
  let suma = 0;
  let rutReversa = limpiarRUT(rut).split('').reverse();

  for (let i = 0, j = 2; i < rutReversa.length; i++, j < 7 ? j++ : j = 2) {
    suma += rutReversa[i] * j;
  }

  let resultado = 11 - (suma % 11)
  if (resultado === 11) return '0';
  if (resultado === 10) return 'k';
  return String(resultado);
};

$('#user_document_number').keyup(function() {
  let rutElement = document.getElementById('user_document_number');
  if (!validarRUT(rutElement.value)) {
    rutElement.setCustomValidity('El RUT no es válido.')
  } else {
    rutElement.setCustomValidity('')
  }
})

$("#user_gender").on("change", function () {
  if (this.value == "Otro") {
    $("#custom_gender").val("");
    $("#custom_gender").css("display", "block");
    $("#custom_gender").attr("required", true);
  } else {
    $("#custom_gender").val(this.value);
    $("#custom_gender").css("display", "none");
    $("#custom_gender").attr("required", false);
  }
});

$("#user_commune").on("change", function () {
  if (this.value == "Otra") {
    $("#custom_commune").val("");
    $("#custom_commune").css("display", "block");
    $("#custom_commune").attr("required", true);
  } else {
    $("#custom_commune").val(this.value);
    $("#custom_commune").css("display", "none");
    $("#custom_commune").attr("required", false);
  }
});

$('#user_street_name').on('change', function() {
  $('#user_house_number').prop('disabled', true);

  if (this.value) {
    $.ajax({
      url: "/geo/get_street_numbers?q=" + this.value,
      success: function(data) {
        $('#user_house_number').prop('disabled', false);
        $('#user_house_number').empty();
        $('#user_house_number').append('<option value="" hidden>Elige un número</option>');

        data.forEach((record) => {
          $('#user_house_number').append(`<option value="${record}">${record}</option>`);
        })
      }
    })
  }
});
</script>
