<% provide :title do %><%= t("devise_views.users.registrations.new.title") %><% end %>
<h2><%= t("devise_views.users.registrations.new.title") %></h2>

<%= render "devise/omniauth_form", action: "sign_up" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/errors", resource: resource %>

  <div class="row">
    <div class="small-12 column">

      <%= f.hidden_field :use_redeemable_code %>
      <%= f.hidden_field :locale, value: I18n.locale %>

      <%= f.text_field :username,  autofocus: true, maxlength: User.username_max_length,
                                   pattern: '^[a-zA-Z\u00C0-\u00FF ]*$', title: 'Solo letras.',
                                   hint: 'Puedes inventar uno. El nombre de usuario no será visible en aquellas respuestas que decidas hacer públicas.',
                                   placeholder: t("devise_views.users.registrations.new.username_label") %>

      <%= f.invisible_captcha :address %>

      <%= f.email_field :email, placeholder: t("devise_views.users.registrations.new.email_label") %>

      <%= f.password_field :password, autocomplete: "off",
                           placeholder: t("devise_views.users.registrations.new.password_label") %>

      <%= f.password_field :password_confirmation, autocomplete: "off",
                           label: t("devise_views.users.registrations.new.password_confirmation_label"),
                           placeholder: t("devise_views.users.registrations.new.password_confirmation_label") %>

      <% if resource.use_redeemable_code %>
        <%= f.text_field :redeemable_code, placeholder: t("devise_views.users.registrations.new.redeemable_code") %>
      <% end %>
      
      <label style="font-size: 0.875rem; font-weight: normal;">
        <input type="checkbox" value="0" onclick="showPassword();">Mostrar contraseña
      </label>

      <%= f.check_box :terms_of_service,
        title: t("devise_views.users.registrations.new.terms_title"),
        label: t("devise_views.users.registrations.new.terms",
                 terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/condiciones",
                                title: t("shared.target_blank"),
                                target: "_blank")
                ) %>

      <div class="small-12 medium-6 small-centered">
        <%= f.submit t("devise_views.users.registrations.new.submit"), class: "button expanded" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
const validarRUT = (rut) => {
  if (typeof rut === 'string' || typeof rut === 'number') {
    const rutSinFormato = limpiarRUT(rut);
    const rutSinDv = rutSinFormato.slice(0, -1);
    const rutDv = rutSinFormato.length > 0 ? rutSinFormato.split('').pop().toLowerCase() : undefined

    return calcularDv(rutSinDv) === rutDv;
  }
  else {
    return false;
  }
};

const limpiarRUT = rut => {
  let cleanRut = String(rut).replace(/[^0-9a-z]/gi, '');
  
  if (cleanRut.length > 9) {
    cleanRut = cleanRut.substring(0, cleanRut.length - (cleanRut.length - 9))
  }

  return String(rut).replace(/[^0-9a-z]/gi, '');
}

const calcularDv = rut => {
  let suma = 0;
  let rutReversa = limpiarRUT(rut).split('').reverse();

  for (let i = 0, j = 2; i < rutReversa.length; i++, j < 7 ? j++ : j = 2) {
    suma += rutReversa[i] * j;
  }

  let resultado = 11 - (suma % 11)
  if (resultado === 11) return '0';
  if (resultado === 10) return 'k';
  return String(resultado);
};

$('#user_document_number').keyup(function() {
  let rutElement = document.getElementById('user_document_number');
  if (!validarRUT(rutElement.value)) {
    rutElement.setCustomValidity('El RUT no es válido.')
  } else {
    rutElement.setCustomValidity('')
  }
})

function showPassword() {
  if ($("#user_password").attr('type') === 'password') {
    $("#user_password").attr('type', 'text');
  } else {
    $("#user_password").attr('type', 'password');
  }
  if ($("#user_password_confirmation").attr('type') === 'password') {
    $("#user_password_confirmation").attr('type', 'text');
  } else {
    $("#user_password_confirmation").attr('type', 'password');
  }
}

</script>