<% provide :title do %><%= t("devise_views.users.registrations.new.title") %><% end %>
<h2><%= t("devise_views.users.registrations.new.title") %></h2>

<%= render "devise/omniauth_form", action: "sign_up" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/errors", resource: resource %>

  <div class="row">
    <%= f.hidden_field :use_redeemable_code %>
    <%= f.hidden_field :locale, value: I18n.locale %>
    <%= f.hidden_field :username %>
    <%= f.hidden_field :nationality %>
    <%= f.hidden_field :profession %>
    <%= f.hidden_field :civil_status %>
    <%= f.hidden_field :date_of_birth %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :long %>

    <%= hidden_field_tag 'sector' %>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.text_field :document_number, 
            maxlength: 10,
            label: 'RUT',
            readonly: true,
            required: true,
            class: 'custom-input'
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.text_field :first_name, 
            maxlength: 24,
            label: 'Nombre',
            readonly: true,
            required: true,
            class: 'custom-input'
        %>
      </div>
    </div>


    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.text_field :last_name, 
            maxlength: 24,
            label: 'Apellido paterno',
            readonly: true,
            required: true,
            class: 'custom-input'
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.text_field :maiden_name, 
            maxlength: 24,
            label: 'Apellido materno',
            readonly: true,
            required: true,
            class: 'custom-input'
        %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.email_field :email,
          required: true,
          class: 'custom-input'
        %>
      </div>

      <div class="small-12 medium-6 column">
        <label for="email_verification">Validar email</label>
        <%= email_field_tag 'email_verification',
          nil,
          class: 'custom-input',
          required: true,
          onpaste: 'return false;',
          autocomplete: 'off'
        %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.select :gender,
            [
              'Masculino',
              'Femenino',
              'Otro'
            ],
            {
              include_blank: 'Elija una opción',
              label: 'Género'
            },
            {
              class: 'custom-input',
              required: true
            }
        %>

        <%= f.text_field :gender,
          id: 'custom_gender',
          style: 'display: none;',
          class: 'custom-input',
          placeholder: 'Ingresa tu género',
          label: false
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.label :phone_number, 'Teléfono de contacto' %>
        <div class="input-group">
          <span style="height: 3rem; user-select: none; display: flex; align-items: center; color: black;">
            +56
          </span>
          <%= f.text_field :phone_number, 
              label: 'Teléfono de contacto',
              maxlength: 12,
              required: true,
              class: 'custom-input',
              label: false
          %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.text_field :comuna,
            maxlength: 24,
            label: 'Comuna',
            required: true,
            class: 'custom-input'
        %>
      </div>
      <div class="small-12 medium-6 column">
        <%= f.text_field :address, 
            maxlength: 24,
            label: 'Dirección',
            required: true,
            class: 'custom-input'
        %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.text_field :house_number, 
            maxlength: 24,
            label: 'Casa/Depto/Oficina',
            class: 'custom-input'
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.text_field :house_reference, 
            maxlength: 128,
            label: 'Aclaratoria',
            class: 'custom-input'
        %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 column">
        <%= f.select :education,
            [
              'Enseñanza Básica',
              'Enseñanza Media',
              'Técnico',
              'Profesional',
            ],
            {
              include_blank: 'Elija una opción',
              label: 'Nivel Educacional'
            },
            {
              class: 'custom-input',
              required: true
            }
        %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.number_field :children_amount, 
            min: 0,
            max: 20,
            label: 'Nº de Hijos',
            value: 0,
            required: true,
            class: 'custom-input'
        %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.number_field :pets_amount, 
            min: 0,
            max: 100,
            label: 'Nº de Mascotas',
            value: 0,
            required: true,
            class: 'custom-input'
        %>
      </div>
    </div>

    <div class="small-12 column">
      <%= f.check_box :terms_of_service,
        title: t("devise_views.users.registrations.new.terms_title"),
        label: t("devise_views.users.registrations.new.terms",
                 terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/condiciones",
                                title: t("shared.target_blank"),
                                target: "_blank")
                ) %>
    </div>

      <div class="small-12 text-center">
        <%= f.submit t("devise_views.users.registrations.new.submit"), class: "solid-button rounded-xl" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<%= javascript_tag do %>
  $(document).ready(function () {
    $('#user_gender').on('change', function() {
      if (this.value == 'Otro') {
        $('#custom_gender').val('')
        $('#custom_gender').css('display', 'block')
        $('#custom_gender').attr('required', true)
      } else {
        $('#custom_gender').val(this.value)
        $('#custom_gender').css('display', 'none')
        $('#custom_gender').attr('required', false)
      }
    })

    $('#email_verification').on('keyup', function() {
      if (this.value !== $('#user_email').val()) {
        this.setCustomValidity('Los email no coinciden.')
      } else {
        this.setCustomValidity('')
      }
    })

    $('#user_comuna').autocomplete({
      source: <%= raw(@comunas.pluck('name')) %>,
      change: function(event, ui) {
        if (!ui.item) {
          $('#user_comuna').val('')
        }
      }
    })

    $('#user_comuna').on('change', function() {
      if (this.value === 'Las Condes') {
        if ($('#user_address').val()) {
          $('#user_address').val('')
        }

        $('#user_address').autocomplete({
          source: function(request, response) {
            $.ajax({
              dataType: 'json',
              type: 'get',
              url: `<%= user_registrations_search_path %>?search=${request.term}`,
              success: function(data) {
                response(data.map(function(record) {
                  return {
                    label: record.nm_direccion,
                    value: record.nm_direccion,
                    sector: record.cod_unidadvecinal,
                    lat: record.str_latitud,
                    long: record.str_longitud
                  }
                }).slice(0, 10));
              }
            })
          },
          change: function(event, ui) {
            if (!ui.item) {
              $('#user_address').val('')
              $('#sector').val('')
              $('#user_lat').val('')
              $('#user_long').val('')
            } else {
              $('#sector').val(ui.item.sector)
              $('#user_lat').val(parseFloat(ui.item.lat.replace(',', '.')))
              $('#user_long').val(parseFloat(ui.item.long.replace(',', '.')))
            }
          },
          search: function(event, ui) {
            var value = $('#user_address').val()

            if (value.length < 5) {
              event.preventDefault()
            }
          }
        })
      } else {
        $('#user_address').autocomplete('destroy')
      }
    })
  })
<% end %>
